
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>101</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{67}x^{160} + g^{102}x^{144} + g^{208}x^{136} + g^{41}x^{132} + g^{119}x^{130} + g^{130}x^{129} + g^{88}x^{96} + g^{52}x^{80} + g^{220}x^{72} + g^{178}x^{68} + g^{173}x^{66} + g^{75}x^{65} + g^{73}x^{48} + g^{111}x^{40} + g^{49}x^{36} + g^{68}x^{34} + g^{120}x^{33} + g^{156}x^{24} + g^{39}x^{20} + g^{150}x^{18} + g^{45}x^{17} + g^{21}x^{12} + g^{21}x^{10} + g^{23}x^{9} + g^{148}x^{6} + g^{196}x^{5} + g^{195}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>102</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{60}x^{192} + g^{251}x^{160} + g^{143}x^{144} + g^{106}x^{136} + g^{64}x^{132} + g^{3}x^{130} + g^{151}x^{129} + g^{171}x^{96} + g^{61}x^{80} + g^{72}x^{72} + g^{156}x^{68} + g^{250}x^{66} + g^{7}x^{65} + g^{199}x^{48} + g^{115}x^{40} + g^{181}x^{36} + g^{88}x^{34} + g^{17}x^{33} + g^{251}x^{24} + g^{80}x^{20} + g^{165}x^{18} + g^{217}x^{17} + g^{235}x^{12} + g^{82}x^{10} + g^{234}x^{9} + g^{214}x^{6} + g^{149}x^{5} + g^{194}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>103</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{192} + g^{222}x^{160} + g^{120}x^{144} + g^{194}x^{136} + g^{68}x^{132} + g^{89}x^{130} + g^{15}x^{129} + g^{35}x^{96} + g^{5}x^{80} + g^{170}x^{72} + g^{213}x^{68} + g^{171}x^{66} + g^{10}x^{65} + g^{162}x^{48} + g^{122}x^{40} + g^{229}x^{36} + g^{188}x^{34} + g^{93}x^{33} + g^{226}x^{24} + g^{177}x^{20} + g^{181}x^{18} + g^{108}x^{17} + g^{56}x^{12} + g^{226}x^{10} + g^{253}x^{9} + g^{219}x^{6} + g^{175}x^{5} + g^{192}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>104</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{87}x^{160} + g^{64}x^{144} + g^{233}x^{136} + g^{132}x^{132} + g^{188}x^{130} + g^{96}x^{129} + g^{190}x^{96} + g^{189}x^{80} + g^{67}x^{72} + g^{216}x^{68} + g^{101}x^{66} + g^{96}x^{65} + g^{166}x^{48} + g^{195}x^{40} + g^{75}x^{36} + g^{229}x^{34} + g^{99}x^{33} + g^{82}x^{24} + g^{6}x^{20} + g^{139}x^{18} + g^{167}x^{17} + g^{247}x^{12} + g^{108}x^{10} + g^{43}x^{9} + g^{161}x^{6} + g^{238}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>105</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{103}x^{192} + g^{199}x^{160} + g^{128}x^{144} + g^{138}x^{136} + g^{241}x^{132} + g^{133}x^{130} + g^{176}x^{129} + g^{16}x^{96} + g^{85}x^{80} + g^{7}x^{72} + g^{113}x^{68} + g^{50}x^{66} + g^{237}x^{65} + g^{2}x^{48} + g^{34}x^{40} + g^{26}x^{36} + g^{190}x^{34} + g^{155}x^{33} + g^{177}x^{24} + g^{59}x^{20} + g^{231}x^{18} + g^{107}x^{17} + g^{243}x^{12} + g^{114}x^{10} + g^{234}x^{9} + g^{77}x^{6} + g^{115}x^{5} + g^{155}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>106</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{147}x^{192} + g^{124}x^{160} + g^{95}x^{144} + g^{200}x^{136} + g^{227}x^{132} + g^{58}x^{130} + g^{210}x^{129} + g^{254}x^{96} + g^{194}x^{80} + g^{15}x^{72} + g^{22}x^{68} + g^{148}x^{66} + g^{210}x^{65} + g^{200}x^{48} + g^{93}x^{40} + g^{220}x^{36} + g^{186}x^{34} + g^{227}x^{33} + g^{10}x^{24} + g^{187}x^{20} + g^{137}x^{18} + g^{130}x^{17} + g^{104}x^{12} + g^{239}x^{10} + g^{230}x^{9} + g^{143}x^{6} + g^{108}x^{5} + g^{212}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>107</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{231}x^{192} + g^{172}x^{160} + g^{108}x^{144} + g^{87}x^{136} + g^{98}x^{132} + g^{172}x^{130} + g^{67}x^{129} + g^{189}x^{96} + g^{230}x^{80} + g^{184}x^{72} + g^{123}x^{68} + g^{231}x^{66} + g^{167}x^{65} + g^{191}x^{48} + g^{176}x^{40} + g^{92}x^{36} + g^{151}x^{34} + g^{121}x^{33} + g^{147}x^{24} + g^{14}x^{20} + g^{97}x^{18} + g^{54}x^{17} + g^{158}x^{12} + g^{83}x^{10} + g^{70}x^{9} + g^{207}x^{6} + g^{18}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>108</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{175}x^{192} + g^{181}x^{160} + g^{22}x^{144} + g^{68}x^{136} + g^{13}x^{132} + g^{221}x^{130} + g^{96}x^{129} + g^{197}x^{96} + g^{158}x^{80} + g^{98}x^{72} + g^{250}x^{68} + g^{202}x^{66} + g^{91}x^{65} + g^{104}x^{48} + g^{125}x^{40} + g^{140}x^{36} + gx^{34} + g^{7}x^{33} + g^{151}x^{24} + g^{182}x^{20} + g^{49}x^{18} + g^{108}x^{17} + g^{91}x^{12} + g^{90}x^{10} + g^{21}x^{9} + g^{78}x^{6} + g^{170}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>109</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{192} + g^{91}x^{160} + g^{226}x^{144} + g^{47}x^{136} + g^{253}x^{132} + g^{254}x^{130} + g^{161}x^{129} + g^{219}x^{96} + g^{92}x^{80} + g^{230}x^{72} + g^{175}x^{68} + g^{206}x^{66} + g^{97}x^{65} + g^{84}x^{48} + g^{177}x^{40} + g^{133}x^{36} + g^{23}x^{34} + g^{237}x^{33} + g^{35}x^{24} + g^{103}x^{20} + g^{190}x^{18} + g^{30}x^{17} + g^{135}x^{12} + g^{6}x^{10} + g^{53}x^{9} + g^{40}x^{6} + g^{51}x^{5} + g^{157}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>110</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{234}x^{192} + g^{20}x^{160} + g^{71}x^{144} + g^{184}x^{136} + g^{38}x^{132} + g^{138}x^{130} + g^{243}x^{129} + g^{193}x^{96} + g^{177}x^{80} + g^{240}x^{72} + g^{83}x^{68} + g^{211}x^{66} + g^{168}x^{65} + g^{248}x^{48} + g^{82}x^{40} + g^{209}x^{36} + g^{187}x^{34} + g^{192}x^{33} + g^{37}x^{24} + g^{47}x^{20} + g^{145}x^{18} + g^{251}x^{17} + g^{63}x^{12} + g^{208}x^{10} + g^{6}x^{9} + g^{62}x^{6} + g^{103}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>111</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{192} + g^{177}x^{160} + g^{47}x^{144} + g^{163}x^{136} + g^{119}x^{132} + g^{73}x^{130} + g^{44}x^{129} + g^{249}x^{96} + g^{94}x^{80} + g^{146}x^{72} + g^{109}x^{68} + g^{200}x^{66} + g^{241}x^{65} + g^{161}x^{48} + g^{243}x^{40} + g^{147}x^{36} + g^{212}x^{34} + g^{215}x^{33} + g^{34}x^{24} + g^{250}x^{20} + g^{129}x^{18} + g^{164}x^{17} + g^{64}x^{12} + g^{51}x^{10} + g^{107}x^{9} + g^{244}x^{6} + g^{132}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>112</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{122}x^{192} + g^{244}x^{160} + g^{244}x^{144} + g^{248}x^{136} + g^{41}x^{132} + g^{63}x^{130} + g^{154}x^{129} + g^{62}x^{96} + g^{161}x^{80} + g^{20}x^{72} + g^{180}x^{68} + g^{155}x^{66} + g^{84}x^{65} + g^{99}x^{48} + g^{64}x^{40} + g^{204}x^{36} + g^{162}x^{34} + g^{122}x^{33} + g^{199}x^{24} + g^{103}x^{20} + g^{150}x^{18} + g^{242}x^{17} + g^{138}x^{12} + g^{188}x^{10} + g^{85}x^{9} + g^{147}x^{6} + g^{235}x^{5} + g^{107}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>113</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{70}x^{192} + g^{105}x^{160} + g^{107}x^{144} + g^{27}x^{136} + g^{224}x^{132} + g^{178}x^{130} + g^{38}x^{129} + g^{56}x^{96} + g^{202}x^{80} + g^{70}x^{72} + g^{128}x^{68} + g^{216}x^{66} + g^{131}x^{65} + g^{226}x^{48} + g^{26}x^{40} + g^{66}x^{36} + g^{74}x^{34} + g^{103}x^{33} + g^{95}x^{24} + g^{108}x^{20} + g^{222}x^{18} + g^{29}x^{17} + g^{135}x^{12} + g^{51}x^{10} + g^{87}x^{9} + g^{192}x^{6} + g^{28}x^{5} + g^{194}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>114</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{159}x^{192} + g^{31}x^{160} + g^{241}x^{144} + g^{133}x^{136} + g^{243}x^{132} + g^{186}x^{130} + g^{12}x^{129} + g^{167}x^{96} + g^{234}x^{80} + g^{244}x^{72} + g^{146}x^{68} + g^{207}x^{66} + g^{231}x^{65} + g^{225}x^{48} + g^{17}x^{40} + g^{219}x^{36} + g^{32}x^{34} + g^{235}x^{33} + g^{134}x^{24} + g^{20}x^{20} + g^{30}x^{18} + g^{166}x^{17} + g^{163}x^{12} + g^{2}x^{10} + g^{16}x^{9} + g^{129}x^{6} + g^{61}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>115</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{94}x^{192} + g^{50}x^{160} + g^{121}x^{144} + g^{130}x^{136} + x^{132} + g^{84}x^{130} + g^{163}x^{129} + g^{153}x^{96} + g^{247}x^{80} + g^{205}x^{72} + g^{158}x^{68} + g^{46}x^{66} + g^{21}x^{65} + g^{191}x^{48} + g^{28}x^{40} + g^{74}x^{36} + g^{138}x^{34} + g^{123}x^{33} + g^{229}x^{24} + g^{12}x^{20} + g^{180}x^{18} + g^{44}x^{17} + g^{153}x^{12} + g^{117}x^{10} + g^{95}x^{9} + gx^{6} + g^{192}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>116</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{192} + g^{147}x^{160} + g^{12}x^{144} + g^{48}x^{136} + g^{224}x^{132} + g^{91}x^{130} + g^{33}x^{129} + g^{7}x^{96} + g^{91}x^{80} + g^{40}x^{72} + g^{241}x^{68} + g^{63}x^{66} + g^{242}x^{65} + g^{59}x^{48} + g^{7}x^{40} + g^{184}x^{36} + g^{78}x^{34} + g^{14}x^{33} + g^{39}x^{24} + g^{242}x^{20} + g^{223}x^{18} + g^{121}x^{17} + g^{160}x^{12} + g^{171}x^{10} + g^{172}x^{9} + g^{161}x^{6} + gx^{5} + g^{206}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>117</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{58}x^{192} + g^{11}x^{160} + g^{122}x^{144} + g^{93}x^{136} + g^{58}x^{132} + g^{63}x^{130} + g^{216}x^{129} + g^{97}x^{96} + g^{124}x^{80} + g^{165}x^{72} + g^{207}x^{68} + g^{76}x^{66} + g^{95}x^{65} + g^{151}x^{48} + g^{77}x^{40} + g^{143}x^{36} + g^{84}x^{34} + g^{55}x^{33} + g^{14}x^{24} + g^{194}x^{20} + g^{81}x^{18} + g^{34}x^{17} + g^{192}x^{12} + g^{59}x^{10} + g^{52}x^{9} + g^{23}x^{6} + g^{199}x^{5} + g^{74}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>118</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{150}x^{192} + g^{72}x^{160} + g^{16}x^{144} + g^{149}x^{136} + g^{61}x^{132} + g^{154}x^{130} + gx^{129} + g^{196}x^{96} + g^{193}x^{80} + g^{165}x^{72} + g^{19}x^{68} + g^{138}x^{66} + x^{65} + g^{80}x^{48} + g^{141}x^{40} + g^{244}x^{36} + g^{141}x^{34} + g^{56}x^{33} + g^{216}x^{24} + g^{13}x^{20} + g^{72}x^{18} + g^{217}x^{17} + x^{12} + g^{166}x^{10} + g^{215}x^{9} + g^{141}x^{6} + g^{167}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>119</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{41}x^{192} + g^{9}x^{160} + g^{124}x^{144} + g^{28}x^{136} + g^{253}x^{132} + g^{172}x^{130} + g^{230}x^{129} + g^{8}x^{96} + g^{3}x^{80} + g^{15}x^{72} + g^{76}x^{68} + g^{221}x^{66} + g^{95}x^{65} + g^{218}x^{48} + g^{93}x^{40} + g^{81}x^{36} + g^{43}x^{34} + g^{132}x^{33} + g^{176}x^{24} + g^{42}x^{20} + g^{200}x^{18} + g^{38}x^{17} + g^{237}x^{12} + g^{233}x^{10} + g^{84}x^{9} + g^{226}x^{6} + g^{86}x^{5} + g^{231}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>120</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{85}x^{192} + g^{121}x^{160} + g^{237}x^{144} + g^{164}x^{136} + g^{95}x^{132} + g^{211}x^{130} + g^{238}x^{129} + g^{137}x^{96} + g^{75}x^{80} + g^{149}x^{72} + g^{35}x^{68} + g^{251}x^{66} + g^{246}x^{65} + g^{75}x^{48} + g^{23}x^{40} + g^{91}x^{36} + g^{192}x^{34} + g^{4}x^{33} + g^{36}x^{24} + g^{94}x^{20} + g^{70}x^{18} + g^{91}x^{17} + g^{55}x^{12} + g^{223}x^{10} + g^{163}x^{9} + g^{218}x^{6} + g^{209}x^{5} + g^{220}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>121</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{164}x^{160} + g^{230}x^{144} + g^{8}x^{136} + g^{200}x^{132} + g^{220}x^{130} + g^{52}x^{129} + g^{42}x^{96} + g^{86}x^{80} + g^{5}x^{72} + g^{60}x^{68} + g^{125}x^{66} + g^{219}x^{65} + g^{155}x^{48} + g^{23}x^{40} + g^{42}x^{36} + g^{38}x^{34} + g^{72}x^{33} + g^{15}x^{24} + g^{117}x^{20} + g^{220}x^{18} + g^{14}x^{17} + g^{109}x^{12} + g^{20}x^{10} + g^{175}x^{9} + g^{164}x^{6} + g^{115}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>122</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{13}x^{192} + g^{67}x^{160} + g^{183}x^{144} + g^{50}x^{136} + g^{251}x^{132} + g^{120}x^{130} + g^{99}x^{129} + x^{96} + g^{86}x^{80} + g^{59}x^{72} + g^{236}x^{68} + g^{205}x^{66} + g^{48}x^{65} + g^{32}x^{48} + g^{234}x^{40} + g^{131}x^{36} + g^{108}x^{34} + g^{208}x^{33} + g^{165}x^{24} + g^{33}x^{20} + g^{110}x^{18} + g^{186}x^{17} + g^{65}x^{12} + g^{18}x^{10} + g^{167}x^{9} + g^{226}x^{6} + g^{124}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>123</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{192} + g^{97}x^{160} + g^{69}x^{144} + x^{136} + g^{227}x^{132} + g^{142}x^{130} + g^{58}x^{129} + g^{23}x^{96} + g^{30}x^{80} + g^{134}x^{72} + g^{116}x^{68} + g^{72}x^{66} + g^{52}x^{65} + g^{71}x^{48} + g^{151}x^{40} + g^{73}x^{36} + g^{99}x^{34} + g^{154}x^{33} + g^{64}x^{24} + g^{180}x^{20} + g^{203}x^{18} + g^{120}x^{17} + g^{108}x^{12} + g^{202}x^{10} + g^{120}x^{9} + g^{125}x^{6} + g^{54}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>124</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{192} + g^{47}x^{160} + g^{189}x^{144} + g^{188}x^{136} + g^{159}x^{132} + g^{152}x^{130} + g^{200}x^{129} + g^{91}x^{96} + g^{36}x^{80} + g^{172}x^{72} + g^{210}x^{68} + g^{174}x^{66} + g^{247}x^{65} + g^{247}x^{48} + g^{67}x^{40} + g^{72}x^{36} + g^{69}x^{34} + g^{103}x^{33} + g^{126}x^{24} + g^{115}x^{20} + g^{108}x^{18} + g^{70}x^{17} + g^{152}x^{12} + g^{179}x^{10} + g^{142}x^{9} + g^{70}x^{6} + g^{157}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>125</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{171}x^{192} + g^{2}x^{160} + g^{93}x^{144} + g^{74}x^{136} + g^{24}x^{132} + g^{114}x^{130} + g^{198}x^{129} + g^{100}x^{96} + g^{161}x^{80} + g^{243}x^{72} + g^{23}x^{68} + g^{85}x^{66} + g^{66}x^{65} + g^{154}x^{48} + g^{31}x^{40} + g^{178}x^{36} + g^{57}x^{34} + g^{211}x^{33} + g^{146}x^{24} + g^{121}x^{20} + g^{84}x^{18} + g^{171}x^{17} + g^{160}x^{12} + g^{149}x^{10} + g^{218}x^{9} + g^{75}x^{6} + g^{224}x^{5} + g^{224}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>126</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{212}x^{192} + g^{171}x^{160} + g^{189}x^{144} + g^{77}x^{136} + g^{25}x^{132} + g^{177}x^{130} + g^{180}x^{129} + g^{229}x^{96} + g^{33}x^{80} + g^{95}x^{72} + g^{135}x^{68} + g^{137}x^{66} + g^{193}x^{65} + g^{246}x^{48} + g^{7}x^{40} + g^{141}x^{36} + g^{18}x^{34} + g^{209}x^{33} + g^{41}x^{24} + g^{230}x^{20} + g^{17}x^{18} + g^{250}x^{17} + g^{67}x^{12} + g^{236}x^{10} + g^{50}x^{9} + g^{2}x^{6} + g^{107}x^{5} + g^{15}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>127</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{112}x^{192} + g^{170}x^{160} + g^{203}x^{144} + g^{12}x^{136} + g^{142}x^{132} + g^{135}x^{130} + g^{154}x^{129} + g^{199}x^{96} + g^{78}x^{80} + g^{62}x^{72} + g^{24}x^{68} + g^{168}x^{66} + g^{16}x^{65} + g^{176}x^{48} + g^{187}x^{40} + g^{89}x^{36} + g^{167}x^{34} + g^{104}x^{33} + g^{247}x^{24} + g^{244}x^{20} + g^{61}x^{18} + g^{15}x^{17} + g^{241}x^{12} + g^{110}x^{10} + g^{227}x^{9} + g^{47}x^{6} + g^{154}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>128</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{127}x^{192} + g^{99}x^{160} + g^{13}x^{144} + g^{244}x^{136} + g^{112}x^{132} + g^{65}x^{130} + g^{84}x^{129} + g^{20}x^{96} + g^{250}x^{80} + g^{202}x^{72} + g^{117}x^{68} + g^{213}x^{66} + g^{190}x^{65} + g^{176}x^{48} + g^{173}x^{40} + g^{236}x^{36} + g^{28}x^{34} + g^{233}x^{33} + g^{196}x^{24} + g^{87}x^{20} + g^{159}x^{18} + g^{136}x^{17} + g^{206}x^{12} + g^{180}x^{10} + g^{15}x^{9} + g^{213}x^{6} + g^{140}x^{5} + g^{175}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>129</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{173}x^{160} + g^{146}x^{144} + g^{81}x^{136} + g^{231}x^{132} + g^{62}x^{130} + g^{203}x^{129} + g^{253}x^{96} + g^{148}x^{80} + g^{75}x^{72} + g^{231}x^{68} + g^{77}x^{66} + g^{15}x^{65} + g^{219}x^{48} + g^{155}x^{40} + g^{162}x^{36} + g^{174}x^{34} + g^{221}x^{33} + g^{164}x^{24} + g^{67}x^{20} + g^{174}x^{18} + g^{44}x^{17} + g^{24}x^{12} + g^{220}x^{10} + g^{216}x^{9} + g^{71}x^{6} + g^{173}x^{5} + g^{151}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>130</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{135}x^{192} + g^{35}x^{160} + g^{123}x^{144} + g^{84}x^{136} + g^{21}x^{132} + g^{240}x^{130} + g^{127}x^{129} + g^{83}x^{96} + g^{108}x^{80} + g^{49}x^{72} + x^{68} + g^{157}x^{66} + g^{233}x^{65} + g^{25}x^{48} + g^{90}x^{40} + g^{162}x^{36} + g^{80}x^{34} + g^{13}x^{33} + g^{4}x^{24} + g^{133}x^{20} + g^{182}x^{18} + g^{246}x^{17} + g^{202}x^{12} + g^{201}x^{10} + g^{128}x^{9} + g^{64}x^{6} + g^{205}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>131</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{140}x^{192} + g^{169}x^{160} + g^{104}x^{144} + g^{213}x^{136} + g^{11}x^{132} + g^{104}x^{130} + g^{161}x^{129} + g^{210}x^{96} + g^{132}x^{80} + g^{125}x^{72} + g^{233}x^{68} + g^{253}x^{66} + g^{70}x^{65} + g^{8}x^{48} + g^{253}x^{40} + g^{128}x^{36} + g^{53}x^{34} + g^{22}x^{33} + g^{188}x^{24} + g^{88}x^{20} + g^{117}x^{18} + g^{102}x^{17} + g^{234}x^{12} + g^{218}x^{10} + g^{150}x^{9} + g^{186}x^{6} + g^{23}x^{5} + g^{97}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>132</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{204}x^{192} + g^{200}x^{160} + g^{57}x^{144} + g^{171}x^{136} + g^{90}x^{132} + g^{246}x^{130} + g^{115}x^{129} + g^{66}x^{96} + g^{161}x^{80} + g^{162}x^{72} + g^{63}x^{68} + g^{169}x^{66} + g^{104}x^{65} + g^{164}x^{48} + g^{30}x^{40} + g^{26}x^{36} + g^{160}x^{34} + g^{117}x^{33} + g^{37}x^{24} + g^{143}x^{20} + g^{79}x^{18} + g^{13}x^{17} + g^{56}x^{12} + g^{65}x^{10} + g^{47}x^{9} + g^{209}x^{6} + g^{123}x^{5} + g^{83}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>133</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{242}x^{160} + g^{242}x^{144} + g^{134}x^{136} + g^{238}x^{132} + g^{220}x^{130} + g^{37}x^{129} + g^{121}x^{96} + g^{170}x^{80} + g^{38}x^{72} + g^{117}x^{68} + g^{234}x^{66} + g^{86}x^{65} + g^{164}x^{48} + g^{76}x^{40} + g^{252}x^{36} + g^{211}x^{34} + g^{133}x^{33} + g^{144}x^{24} + g^{18}x^{20} + g^{94}x^{18} + g^{236}x^{17} + g^{245}x^{12} + g^{26}x^{10} + g^{137}x^{9} + g^{11}x^{6} + g^{189}x^{5} + g^{215}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>134</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{145}x^{192} + g^{122}x^{160} + g^{74}x^{144} + g^{182}x^{136} + g^{97}x^{132} + g^{14}x^{130} + g^{157}x^{129} + g^{183}x^{96} + g^{12}x^{80} + g^{137}x^{72} + g^{221}x^{68} + g^{182}x^{66} + g^{245}x^{65} + g^{156}x^{48} + g^{139}x^{40} + g^{253}x^{36} + g^{166}x^{34} + g^{5}x^{33} + g^{102}x^{24} + g^{219}x^{20} + g^{112}x^{18} + g^{125}x^{17} + g^{30}x^{12} + g^{193}x^{10} + g^{224}x^{9} + g^{134}x^{6} + g^{202}x^{5} + g^{177}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>135</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{86}x^{160} + g^{142}x^{144} + g^{233}x^{136} + g^{127}x^{132} + g^{5}x^{130} + g^{136}x^{129} + g^{241}x^{96} + g^{57}x^{80} + g^{123}x^{72} + g^{236}x^{68} + g^{36}x^{66} + g^{34}x^{65} + g^{131}x^{48} + g^{217}x^{40} + g^{8}x^{36} + g^{198}x^{34} + g^{254}x^{33} + g^{105}x^{24} + g^{115}x^{20} + g^{54}x^{18} + g^{75}x^{17} + g^{81}x^{12} + g^{230}x^{10} + g^{144}x^{9} + g^{20}x^{6} + g^{130}x^{5} + g^{240}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>136</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{18}x^{160} + g^{93}x^{144} + x^{136} + g^{176}x^{132} + g^{226}x^{130} + g^{35}x^{129} + g^{154}x^{96} + g^{142}x^{80} + g^{193}x^{72} + g^{203}x^{68} + g^{127}x^{66} + g^{253}x^{65} + g^{118}x^{48} + g^{30}x^{40} + g^{21}x^{36} + g^{59}x^{34} + g^{242}x^{33} + g^{152}x^{24} + g^{113}x^{20} + g^{116}x^{18} + g^{25}x^{17} + g^{37}x^{12} + g^{71}x^{10} + g^{130}x^{9} + g^{21}x^{6} + g^{194}x^{5} + g^{234}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>137</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{72}x^{192} + g^{130}x^{160} + g^{135}x^{144} + g^{176}x^{136} + g^{218}x^{132} + g^{145}x^{130} + g^{240}x^{129} + g^{134}x^{96} + g^{219}x^{80} + g^{74}x^{72} + g^{188}x^{68} + g^{10}x^{66} + g^{199}x^{65} + g^{139}x^{48} + g^{135}x^{40} + g^{76}x^{36} + g^{122}x^{34} + g^{246}x^{33} + g^{222}x^{24} + g^{185}x^{20} + g^{189}x^{18} + g^{119}x^{17} + g^{181}x^{12} + g^{115}x^{10} + g^{199}x^{9} + g^{193}x^{6} + g^{109}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>138</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{41}x^{192} + g^{76}x^{144} + g^{62}x^{136} + g^{58}x^{132} + g^{7}x^{130} + g^{59}x^{129} + g^{35}x^{96} + g^{35}x^{80} + g^{220}x^{72} + g^{57}x^{68} + g^{96}x^{66} + g^{239}x^{65} + g^{77}x^{48} + g^{234}x^{40} + g^{170}x^{36} + g^{122}x^{34} + g^{59}x^{33} + g^{17}x^{24} + g^{125}x^{20} + g^{28}x^{18} + g^{175}x^{17} + g^{122}x^{12} + g^{103}x^{10} + g^{226}x^{9} + g^{213}x^{6} + g^{47}x^{5} + g^{18}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>139</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{25}x^{160} + g^{66}x^{144} + g^{231}x^{136} + g^{146}x^{132} + g^{165}x^{130} + g^{209}x^{129} + g^{183}x^{96} + g^{167}x^{80} + g^{153}x^{72} + g^{128}x^{68} + g^{195}x^{66} + g^{39}x^{65} + g^{146}x^{48} + g^{107}x^{40} + g^{56}x^{36} + g^{74}x^{33} + g^{131}x^{24} + g^{103}x^{20} + g^{246}x^{18} + g^{211}x^{17} + g^{63}x^{12} + g^{239}x^{10} + g^{178}x^{9} + g^{169}x^{6} + g^{111}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>140</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{86}x^{192} + g^{118}x^{160} + g^{59}x^{144} + g^{234}x^{136} + g^{45}x^{132} + g^{237}x^{130} + g^{13}x^{129} + g^{104}x^{96} + g^{173}x^{80} + g^{16}x^{72} + g^{2}x^{68} + g^{134}x^{66} + g^{63}x^{65} + g^{219}x^{48} + g^{112}x^{40} + g^{236}x^{36} + g^{32}x^{34} + g^{201}x^{33} + g^{227}x^{24} + g^{30}x^{20} + g^{45}x^{18} + g^{40}x^{17} + g^{44}x^{12} + g^{30}x^{10} + g^{11}x^{9} + g^{45}x^{6} + g^{113}x^{5} + g^{86}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>141</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{192} + g^{128}x^{160} + g^{22}x^{144} + g^{86}x^{136} + g^{113}x^{132} + g^{167}x^{130} + g^{180}x^{129} + g^{215}x^{96} + g^{95}x^{80} + g^{44}x^{72} + g^{215}x^{68} + g^{147}x^{66} + g^{171}x^{65} + g^{16}x^{48} + g^{149}x^{40} + g^{113}x^{36} + g^{136}x^{34} + g^{84}x^{33} + g^{86}x^{24} + g^{179}x^{20} + g^{216}x^{18} + g^{122}x^{17} + g^{175}x^{12} + g^{154}x^{10} + g^{18}x^{9} + g^{244}x^{6} + g^{81}x^{5} + g^{239}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>142</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{69}x^{192} + g^{114}x^{160} + g^{25}x^{144} + g^{131}x^{136} + g^{141}x^{132} + g^{11}x^{130} + g^{46}x^{129} + g^{101}x^{96} + g^{232}x^{80} + g^{19}x^{72} + g^{122}x^{68} + g^{130}x^{66} + g^{4}x^{65} + g^{202}x^{48} + g^{232}x^{40} + g^{76}x^{36} + g^{144}x^{34} + g^{209}x^{33} + g^{17}x^{24} + g^{164}x^{20} + g^{102}x^{18} + g^{14}x^{17} + g^{246}x^{12} + g^{235}x^{10} + g^{216}x^{9} + g^{164}x^{6} + g^{176}x^{5} + g^{127}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>143</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{192} + g^{219}x^{160} + g^{133}x^{144} + g^{15}x^{136} + g^{92}x^{132} + g^{45}x^{130} + g^{157}x^{129} + g^{117}x^{96} + g^{192}x^{80} + g^{157}x^{72} + g^{152}x^{68} + g^{138}x^{66} + g^{80}x^{65} + g^{168}x^{48} + g^{77}x^{40} + g^{202}x^{36} + g^{18}x^{34} + g^{253}x^{33} + g^{48}x^{24} + g^{240}x^{20} + g^{174}x^{18} + g^{165}x^{17} + g^{110}x^{12} + g^{135}x^{10} + g^{209}x^{9} + g^{181}x^{6} + g^{233}x^{5} + g^{141}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>144</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{244}x^{192} + g^{147}x^{160} + g^{95}x^{144} + g^{71}x^{136} + g^{44}x^{132} + g^{198}x^{130} + g^{190}x^{129} + g^{72}x^{96} + g^{40}x^{80} + g^{161}x^{72} + g^{60}x^{68} + g^{52}x^{66} + g^{177}x^{65} + g^{43}x^{48} + g^{151}x^{40} + g^{196}x^{36} + g^{57}x^{34} + g^{134}x^{33} + g^{144}x^{24} + g^{214}x^{20} + g^{147}x^{18} + g^{122}x^{17} + g^{206}x^{12} + g^{93}x^{10} + g^{136}x^{9} + g^{123}x^{6} + g^{242}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>145</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{29}x^{160} + g^{199}x^{144} + g^{103}x^{136} + g^{250}x^{132} + g^{153}x^{130} + g^{214}x^{129} + g^{66}x^{96} + g^{152}x^{80} + g^{3}x^{72} + g^{83}x^{68} + g^{206}x^{65} + g^{65}x^{48} + g^{118}x^{40} + g^{83}x^{36} + g^{132}x^{34} + g^{81}x^{33} + g^{18}x^{24} + g^{181}x^{20} + g^{243}x^{18} + g^{83}x^{17} + g^{146}x^{12} + g^{44}x^{10} + g^{246}x^{9} + g^{33}x^{6} + g^{75}x^{5} + g^{187}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>146</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{17}x^{192} + g^{31}x^{160} + g^{82}x^{144} + g^{177}x^{136} + g^{134}x^{132} + g^{62}x^{130} + g^{192}x^{129} + g^{118}x^{96} + g^{27}x^{80} + g^{141}x^{72} + g^{53}x^{68} + g^{98}x^{66} + g^{47}x^{65} + g^{93}x^{48} + g^{25}x^{40} + g^{74}x^{36} + g^{237}x^{34} + g^{21}x^{33} + g^{17}x^{24} + g^{45}x^{20} + g^{57}x^{18} + g^{253}x^{17} + g^{94}x^{12} + g^{150}x^{10} + g^{198}x^{9} + g^{74}x^{6} + g^{132}x^{5} + g^{65}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>147</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{237}x^{192} + g^{31}x^{160} + g^{48}x^{144} + g^{98}x^{136} + g^{223}x^{132} + g^{225}x^{130} + g^{204}x^{129} + g^{37}x^{96} + g^{110}x^{80} + g^{13}x^{72} + g^{40}x^{68} + g^{3}x^{66} + g^{116}x^{65} + g^{82}x^{48} + g^{104}x^{40} + g^{146}x^{36} + g^{102}x^{34} + g^{21}x^{33} + g^{250}x^{24} + g^{147}x^{20} + g^{190}x^{18} + g^{78}x^{17} + g^{50}x^{12} + g^{2}x^{10} + g^{188}x^{9} + g^{138}x^{6} + g^{53}x^{5} + g^{130}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>148</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{142}x^{160} + g^{209}x^{144} + g^{232}x^{136} + g^{118}x^{132} + g^{88}x^{130} + g^{2}x^{129} + g^{208}x^{96} + g^{21}x^{80} + g^{147}x^{72} + g^{228}x^{68} + g^{30}x^{66} + g^{35}x^{65} + g^{217}x^{48} + g^{36}x^{40} + g^{133}x^{36} + g^{191}x^{34} + g^{202}x^{33} + g^{144}x^{24} + g^{216}x^{20} + g^{183}x^{18} + g^{13}x^{17} + g^{14}x^{12} + g^{134}x^{10} + g^{102}x^{9} + g^{187}x^{6} + g^{253}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>149</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{192} + g^{216}x^{160} + g^{112}x^{144} + g^{58}x^{136} + g^{198}x^{132} + g^{254}x^{130} + g^{78}x^{129} + g^{151}x^{96} + g^{4}x^{80} + g^{250}x^{72} + g^{234}x^{68} + g^{157}x^{66} + g^{186}x^{65} + g^{247}x^{48} + g^{117}x^{40} + g^{200}x^{36} + g^{145}x^{34} + g^{168}x^{33} + g^{36}x^{24} + g^{129}x^{20} + g^{228}x^{18} + g^{174}x^{17} + g^{184}x^{12} + g^{210}x^{10} + g^{16}x^{9} + g^{191}x^{6} + g^{61}x^{5} + g^{228}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>150</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{40}x^{160} + gx^{144} + g^{40}x^{136} + g^{211}x^{132} + g^{15}x^{130} + g^{41}x^{129} + g^{202}x^{96} + g^{191}x^{80} + g^{172}x^{72} + g^{215}x^{68} + g^{122}x^{66} + g^{150}x^{65} + g^{10}x^{48} + g^{109}x^{40} + g^{59}x^{36} + g^{105}x^{34} + g^{199}x^{33} + g^{34}x^{24} + g^{42}x^{20} + g^{98}x^{18} + g^{175}x^{17} + g^{124}x^{12} + g^{195}x^{10} + g^{232}x^{9} + g^{177}x^{6} + g^{112}x^{5} + g^{22}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>151</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{223}x^{160} + g^{100}x^{144} + g^{115}x^{136} + g^{126}x^{132} + g^{52}x^{130} + g^{52}x^{129} + g^{40}x^{96} + g^{145}x^{80} + g^{25}x^{72} + g^{248}x^{68} + g^{104}x^{66} + g^{114}x^{65} + g^{92}x^{48} + g^{56}x^{40} + g^{227}x^{36} + g^{62}x^{34} + g^{224}x^{33} + g^{21}x^{24} + g^{61}x^{20} + g^{100}x^{18} + g^{75}x^{17} + g^{46}x^{12} + g^{38}x^{10} + g^{184}x^{9} + g^{243}x^{6} + g^{154}x^{5} + g^{128}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>152</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{123}x^{192} + g^{29}x^{160} + g^{148}x^{144} + g^{139}x^{136} + g^{227}x^{132} + g^{54}x^{130} + g^{103}x^{129} + g^{234}x^{96} + g^{120}x^{80} + g^{198}x^{72} + g^{116}x^{68} + g^{194}x^{66} + g^{68}x^{65} + g^{199}x^{48} + g^{3}x^{40} + g^{154}x^{36} + g^{138}x^{34} + g^{40}x^{33} + g^{153}x^{24} + g^{201}x^{20} + g^{121}x^{18} + g^{97}x^{17} + g^{107}x^{12} + g^{218}x^{10} + g^{215}x^{9} + g^{147}x^{6} + g^{230}x^{5} + g^{81}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>153</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{233}x^{192} + g^{116}x^{160} + g^{37}x^{144} + g^{65}x^{136} + g^{148}x^{132} + g^{108}x^{130} + g^{119}x^{129} + g^{252}x^{96} + g^{89}x^{80} + g^{127}x^{72} + g^{224}x^{68} + g^{173}x^{66} + g^{94}x^{65} + g^{85}x^{48} + g^{68}x^{40} + g^{243}x^{36} + g^{42}x^{34} + g^{207}x^{33} + g^{116}x^{24} + g^{133}x^{20} + g^{36}x^{18} + g^{221}x^{17} + g^{67}x^{12} + g^{220}x^{10} + g^{108}x^{9} + x^{6} + g^{229}x^{5} + g^{166}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>154</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{189}x^{192} + g^{137}x^{160} + g^{136}x^{144} + g^{201}x^{136} + g^{82}x^{132} + g^{209}x^{130} + g^{144}x^{129} + g^{2}x^{96} + g^{245}x^{80} + g^{179}x^{72} + g^{236}x^{68} + g^{107}x^{66} + g^{76}x^{65} + g^{245}x^{48} + g^{136}x^{40} + g^{112}x^{36} + g^{245}x^{34} + g^{97}x^{33} + g^{44}x^{24} + g^{252}x^{20} + g^{100}x^{18} + g^{5}x^{17} + g^{182}x^{12} + g^{40}x^{10} + g^{179}x^{9} + g^{38}x^{6} + g^{38}x^{5} + g^{87}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>155</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{215}x^{160} + g^{33}x^{144} + g^{184}x^{136} + g^{248}x^{132} + g^{128}x^{130} + g^{23}x^{129} + g^{8}x^{96} + g^{166}x^{80} + g^{89}x^{72} + g^{15}x^{68} + g^{32}x^{66} + g^{143}x^{65} + g^{248}x^{48} + g^{41}x^{40} + g^{212}x^{36} + g^{120}x^{34} + g^{4}x^{33} + g^{151}x^{24} + g^{169}x^{20} + g^{167}x^{18} + g^{104}x^{17} + g^{155}x^{12} + g^{167}x^{10} + g^{226}x^{9} + g^{136}x^{6} + g^{74}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>156</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{241}x^{192} + g^{204}x^{160} + g^{60}x^{144} + g^{166}x^{136} + g^{145}x^{132} + g^{12}x^{130} + g^{103}x^{129} + g^{158}x^{96} + g^{193}x^{80} + g^{7}x^{72} + g^{87}x^{68} + g^{74}x^{66} + g^{228}x^{65} + g^{163}x^{48} + g^{11}x^{40} + g^{204}x^{36} + g^{195}x^{34} + g^{207}x^{33} + g^{134}x^{24} + g^{95}x^{20} + g^{235}x^{18} + g^{67}x^{17} + g^{185}x^{12} + g^{118}x^{10} + g^{247}x^{9} + g^{40}x^{6} + g^{121}x^{5} + g^{80}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>157</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{194}x^{160} + g^{200}x^{144} + g^{123}x^{136} + g^{204}x^{132} + g^{208}x^{130} + g^{185}x^{129} + g^{31}x^{96} + g^{200}x^{80} + g^{213}x^{72} + g^{40}x^{68} + g^{202}x^{66} + g^{83}x^{65} + g^{106}x^{48} + g^{188}x^{40} + g^{32}x^{36} + g^{72}x^{34} + g^{194}x^{33} + g^{135}x^{24} + g^{76}x^{20} + g^{124}x^{18} + g^{235}x^{17} + g^{173}x^{12} + g^{44}x^{10} + g^{237}x^{9} + g^{128}x^{6} + g^{113}x^{5} + g^{177}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>158</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{145}x^{192} + g^{148}x^{160} + g^{95}x^{144} + g^{48}x^{136} + g^{57}x^{132} + g^{136}x^{130} + g^{7}x^{129} + g^{158}x^{96} + g^{210}x^{80} + g^{216}x^{72} + g^{140}x^{68} + g^{253}x^{66} + g^{152}x^{65} + g^{173}x^{48} + g^{114}x^{40} + g^{133}x^{36} + g^{24}x^{34} + g^{189}x^{33} + g^{22}x^{24} + g^{246}x^{20} + g^{201}x^{18} + g^{68}x^{17} + g^{99}x^{12} + g^{14}x^{10} + g^{248}x^{9} + g^{75}x^{6} + g^{147}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>159</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{165}x^{192} + g^{193}x^{160} + g^{101}x^{144} + g^{227}x^{136} + g^{240}x^{132} + g^{57}x^{130} + g^{49}x^{129} + g^{244}x^{96} + g^{147}x^{80} + g^{159}x^{72} + g^{107}x^{68} + g^{56}x^{66} + g^{33}x^{65} + g^{218}x^{48} + g^{35}x^{40} + g^{235}x^{36} + g^{107}x^{34} + g^{218}x^{33} + g^{213}x^{24} + g^{225}x^{20} + g^{14}x^{18} + g^{100}x^{17} + g^{157}x^{12} + g^{192}x^{10} + g^{48}x^{9} + g^{150}x^{6} + g^{12}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>160</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{48}x^{192} + g^{105}x^{160} + g^{163}x^{144} + g^{231}x^{136} + g^{85}x^{132} + g^{71}x^{130} + g^{33}x^{129} + g^{109}x^{96} + g^{191}x^{80} + g^{18}x^{72} + g^{77}x^{68} + g^{201}x^{66} + g^{215}x^{65} + g^{248}x^{48} + g^{210}x^{40} + g^{135}x^{36} + g^{211}x^{34} + g^{218}x^{33} + g^{56}x^{24} + g^{102}x^{20} + g^{34}x^{18} + g^{51}x^{17} + g^{241}x^{12} + g^{180}x^{10} + g^{102}x^{9} + g^{40}x^{6} + g^{167}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>161</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{106}x^{160} + g^{169}x^{144} + g^{102}x^{136} + g^{240}x^{132} + g^{230}x^{130} + g^{203}x^{129} + g^{235}x^{96} + g^{112}x^{80} + g^{54}x^{72} + g^{146}x^{68} + g^{232}x^{66} + g^{48}x^{65} + g^{246}x^{48} + g^{195}x^{40} + g^{162}x^{36} + g^{222}x^{34} + g^{213}x^{33} + g^{232}x^{24} + g^{35}x^{20} + g^{35}x^{18} + g^{228}x^{17} + g^{118}x^{12} + g^{120}x^{10} + g^{106}x^{9} + g^{162}x^{6} + g^{90}x^{5} + g^{148}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>162</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{166}x^{192} + g^{150}x^{160} + g^{68}x^{144} + g^{155}x^{136} + x^{132} + g^{54}x^{130} + g^{159}x^{129} + g^{236}x^{96} + g^{10}x^{80} + g^{179}x^{72} + g^{235}x^{68} + g^{29}x^{66} + g^{11}x^{65} + g^{230}x^{48} + g^{205}x^{40} + g^{66}x^{36} + g^{188}x^{34} + g^{118}x^{33} + g^{117}x^{24} + g^{60}x^{20} + g^{165}x^{18} + g^{168}x^{17} + g^{55}x^{12} + g^{152}x^{10} + g^{147}x^{9} + g^{86}x^{6} + g^{44}x^{5} + g^{192}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>163</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{21}x^{192} + g^{51}x^{160} + g^{228}x^{144} + g^{81}x^{136} + g^{7}x^{132} + g^{85}x^{130} + g^{25}x^{129} + g^{23}x^{96} + g^{18}x^{80} + g^{103}x^{72} + g^{49}x^{68} + g^{33}x^{66} + g^{2}x^{65} + g^{74}x^{48} + g^{86}x^{40} + g^{52}x^{36} + g^{104}x^{34} + g^{170}x^{33} + g^{38}x^{24} + g^{43}x^{20} + g^{93}x^{18} + g^{64}x^{17} + g^{202}x^{12} + g^{100}x^{10} + g^{218}x^{9} + g^{229}x^{6} + g^{11}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>164</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{131}x^{192} + g^{230}x^{160} + g^{163}x^{144} + g^{69}x^{136} + g^{209}x^{132} + g^{194}x^{130} + g^{46}x^{129} + g^{179}x^{96} + g^{145}x^{80} + g^{11}x^{72} + g^{122}x^{68} + g^{106}x^{66} + g^{202}x^{65} + g^{167}x^{48} + g^{243}x^{40} + g^{104}x^{36} + g^{145}x^{34} + g^{153}x^{33} + g^{94}x^{24} + g^{113}x^{20} + g^{98}x^{18} + g^{21}x^{17} + g^{4}x^{12} + g^{133}x^{10} + g^{109}x^{9} + g^{244}x^{6} + g^{191}x^{5} + g^{180}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>165</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + g^{35}x^{160} + g^{251}x^{144} + g^{194}x^{136} + g^{105}x^{132} + g^{201}x^{130} + g^{91}x^{129} + g^{250}x^{96} + g^{231}x^{80} + g^{52}x^{72} + g^{65}x^{68} + g^{31}x^{66} + g^{134}x^{65} + g^{113}x^{48} + g^{153}x^{40} + g^{161}x^{36} + g^{62}x^{34} + g^{101}x^{33} + g^{223}x^{24} + g^{47}x^{20} + g^{139}x^{18} + g^{227}x^{17} + g^{29}x^{12} + g^{136}x^{10} + g^{129}x^{9} + g^{199}x^{6} + g^{198}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>166</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{192}x^{192} + g^{146}x^{160} + g^{220}x^{144} + g^{120}x^{136} + g^{138}x^{132} + g^{135}x^{130} + g^{47}x^{129} + g^{213}x^{96} + g^{102}x^{80} + g^{108}x^{72} + g^{77}x^{68} + g^{51}x^{66} + g^{80}x^{65} + g^{154}x^{48} + g^{33}x^{40} + g^{80}x^{36} + g^{51}x^{34} + g^{164}x^{33} + g^{141}x^{24} + g^{63}x^{20} + g^{67}x^{18} + g^{42}x^{17} + g^{26}x^{12} + g^{136}x^{10} + g^{139}x^{9} + g^{74}x^{6} + g^{13}x^{5} + g^{203}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>167</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{54}x^{160} + g^{207}x^{144} + g^{223}x^{136} + g^{76}x^{132} + g^{240}x^{130} + g^{120}x^{129} + g^{137}x^{96} + g^{230}x^{80} + g^{245}x^{72} + g^{179}x^{68} + g^{171}x^{66} + g^{162}x^{65} + g^{169}x^{48} + g^{156}x^{40} + g^{76}x^{36} + g^{193}x^{34} + g^{119}x^{33} + g^{209}x^{24} + g^{229}x^{20} + g^{131}x^{18} + g^{210}x^{17} + g^{138}x^{12} + g^{86}x^{10} + g^{91}x^{9} + g^{207}x^{5} + g^{9}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>168</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{19}x^{192} + g^{197}x^{160} + g^{34}x^{144} + g^{241}x^{136} + g^{201}x^{132} + g^{142}x^{130} + g^{244}x^{129} + g^{6}x^{96} + g^{196}x^{80} + g^{168}x^{72} + g^{70}x^{68} + g^{73}x^{66} + g^{133}x^{65} + g^{54}x^{48} + g^{122}x^{40} + g^{47}x^{36} + g^{146}x^{34} + g^{89}x^{33} + g^{24}x^{24} + g^{59}x^{20} + g^{118}x^{18} + g^{134}x^{17} + g^{98}x^{12} + g^{197}x^{10} + g^{8}x^{9} + g^{95}x^{6} + g^{94}x^{5} + g^{220}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>169</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{192} + g^{71}x^{160} + g^{138}x^{144} + g^{196}x^{136} + g^{235}x^{132} + g^{117}x^{130} + g^{31}x^{129} + g^{182}x^{96} + g^{51}x^{80} + g^{162}x^{72} + x^{68} + g^{41}x^{66} + g^{92}x^{65} + g^{229}x^{48} + g^{139}x^{40} + g^{27}x^{36} + g^{119}x^{34} + g^{123}x^{33} + g^{167}x^{24} + g^{52}x^{20} + g^{163}x^{18} + g^{171}x^{17} + g^{55}x^{12} + g^{9}x^{10} + g^{68}x^{9} + g^{12}x^{6} + g^{190}x^{5} + g^{231}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>170</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{177}x^{192} + g^{193}x^{160} + g^{42}x^{144} + g^{154}x^{136} + g^{58}x^{132} + g^{76}x^{130} + g^{87}x^{129} + g^{131}x^{96} + g^{36}x^{80} + g^{47}x^{72} + g^{103}x^{68} + g^{99}x^{66} + g^{202}x^{65} + g^{93}x^{48} + g^{126}x^{40} + g^{113}x^{36} + g^{154}x^{34} + g^{36}x^{33} + g^{89}x^{24} + g^{144}x^{20} + g^{130}x^{18} + g^{15}x^{17} + g^{137}x^{12} + g^{157}x^{10} + g^{11}x^{9} + g^{2}x^{6} + g^{252}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>171</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{192} + g^{192}x^{160} + g^{186}x^{144} + g^{217}x^{136} + g^{114}x^{132} + g^{65}x^{130} + g^{118}x^{129} + g^{165}x^{96} + g^{163}x^{80} + g^{219}x^{72} + g^{84}x^{68} + g^{170}x^{66} + g^{135}x^{65} + g^{40}x^{48} + g^{149}x^{40} + g^{8}x^{36} + g^{170}x^{34} + g^{216}x^{33} + g^{141}x^{24} + g^{103}x^{20} + g^{13}x^{18} + g^{51}x^{17} + g^{79}x^{12} + g^{49}x^{10} + g^{130}x^{9} + g^{30}x^{6} + g^{248}x^{5} + g^{8}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>172</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{141}x^{192} + g^{194}x^{160} + g^{220}x^{144} + g^{57}x^{136} + g^{61}x^{132} + g^{238}x^{130} + g^{236}x^{129} + g^{170}x^{96} + g^{31}x^{80} + g^{121}x^{72} + g^{57}x^{68} + g^{9}x^{66} + g^{207}x^{65} + g^{17}x^{48} + g^{196}x^{40} + g^{115}x^{36} + g^{103}x^{34} + g^{180}x^{33} + g^{173}x^{24} + g^{13}x^{20} + g^{7}x^{18} + g^{119}x^{17} + g^{185}x^{12} + g^{107}x^{10} + g^{247}x^{9} + g^{183}x^{6} + g^{59}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>173</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{192} + g^{52}x^{160} + g^{27}x^{144} + g^{138}x^{136} + g^{84}x^{132} + g^{6}x^{130} + g^{146}x^{129} + g^{93}x^{96} + g^{137}x^{80} + g^{134}x^{72} + g^{30}x^{68} + g^{118}x^{66} + g^{67}x^{65} + g^{11}x^{48} + g^{116}x^{40} + g^{251}x^{36} + g^{226}x^{34} + g^{131}x^{33} + g^{133}x^{24} + g^{127}x^{20} + g^{162}x^{18} + g^{162}x^{17} + g^{165}x^{12} + g^{8}x^{10} + g^{83}x^{9} + g^{18}x^{6} + g^{91}x^{5} + g^{109}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>174</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{158}x^{192} + g^{97}x^{160} + g^{139}x^{144} + g^{173}x^{136} + g^{15}x^{132} + g^{45}x^{130} + g^{235}x^{129} + g^{32}x^{96} + g^{89}x^{80} + g^{95}x^{72} + g^{168}x^{68} + g^{232}x^{66} + g^{173}x^{65} + g^{243}x^{48} + g^{110}x^{40} + g^{166}x^{36} + g^{128}x^{34} + g^{239}x^{33} + g^{8}x^{24} + g^{192}x^{20} + g^{214}x^{18} + g^{237}x^{17} + g^{202}x^{12} + g^{250}x^{10} + g^{247}x^{9} + g^{120}x^{6} + g^{207}x^{5} + g^{117}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>175</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{192} + g^{102}x^{144} + g^{150}x^{136} + x^{132} + g^{111}x^{130} + g^{64}x^{129} + g^{32}x^{96} + g^{113}x^{80} + g^{225}x^{72} + g^{125}x^{68} + g^{121}x^{66} + g^{133}x^{65} + g^{20}x^{48} + g^{243}x^{40} + g^{202}x^{36} + g^{61}x^{34} + g^{97}x^{33} + g^{219}x^{24} + g^{234}x^{20} + g^{186}x^{18} + g^{167}x^{17} + g^{96}x^{12} + g^{25}x^{10} + g^{161}x^{9} + g^{73}x^{6} + g^{243}x^{5} + g^{154}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>176</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{183}x^{192} + g^{219}x^{160} + g^{196}x^{144} + g^{94}x^{136} + g^{234}x^{132} + g^{202}x^{130} + g^{60}x^{129} + g^{59}x^{96} + g^{47}x^{80} + g^{242}x^{72} + g^{93}x^{68} + g^{58}x^{66} + g^{114}x^{65} + g^{110}x^{48} + g^{2}x^{40} + g^{40}x^{36} + x^{34} + g^{5}x^{33} + g^{26}x^{24} + g^{109}x^{20} + g^{118}x^{18} + g^{29}x^{17} + g^{214}x^{12} + g^{166}x^{10} + g^{140}x^{9} + g^{36}x^{6} + g^{164}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>177</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{67}x^{192} + g^{124}x^{160} + g^{109}x^{144} + g^{177}x^{136} + g^{252}x^{132} + g^{105}x^{130} + g^{200}x^{129} + g^{237}x^{96} + g^{228}x^{80} + g^{80}x^{72} + g^{40}x^{68} + g^{139}x^{66} + g^{33}x^{65} + g^{143}x^{48} + g^{212}x^{40} + g^{229}x^{36} + g^{247}x^{34} + g^{8}x^{33} + g^{219}x^{24} + g^{84}x^{20} + g^{159}x^{18} + g^{74}x^{17} + g^{182}x^{12} + g^{11}x^{10} + g^{47}x^{9} + g^{160}x^{6} + g^{133}x^{5} + g^{199}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>178</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{29}x^{192} + g^{99}x^{160} + g^{49}x^{144} + g^{55}x^{136} + g^{117}x^{132} + g^{136}x^{130} + g^{60}x^{129} + g^{153}x^{96} + g^{253}x^{80} + g^{24}x^{72} + g^{87}x^{68} + g^{18}x^{66} + g^{215}x^{65} + g^{131}x^{48} + g^{71}x^{36} + g^{147}x^{34} + g^{237}x^{33} + g^{135}x^{24} + g^{45}x^{20} + g^{83}x^{18} + g^{94}x^{17} + g^{145}x^{12} + g^{64}x^{10} + g^{61}x^{9} + g^{145}x^{6} + g^{212}x^{5} + g^{55}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>179</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{221}x^{192} + g^{40}x^{160} + g^{69}x^{144} + g^{33}x^{136} + g^{134}x^{132} + g^{139}x^{130} + g^{162}x^{129} + g^{180}x^{96} + g^{140}x^{80} + g^{161}x^{72} + g^{158}x^{68} + g^{95}x^{66} + g^{10}x^{65} + g^{195}x^{48} + g^{83}x^{40} + g^{83}x^{36} + g^{213}x^{34} + g^{114}x^{33} + g^{141}x^{24} + g^{179}x^{20} + g^{74}x^{18} + g^{139}x^{17} + x^{12} + g^{194}x^{10} + g^{237}x^{9} + g^{54}x^{6} + g^{137}x^{5} + g^{140}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>180</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{135}x^{192} + g^{105}x^{160} + g^{246}x^{144} + g^{182}x^{136} + g^{157}x^{132} + g^{205}x^{130} + g^{200}x^{129} + g^{37}x^{96} + g^{37}x^{80} + g^{229}x^{72} + g^{182}x^{68} + g^{149}x^{66} + g^{29}x^{65} + g^{123}x^{40} + g^{120}x^{36} + g^{186}x^{34} + g^{153}x^{33} + g^{244}x^{24} + g^{36}x^{20} + g^{114}x^{18} + g^{67}x^{17} + g^{81}x^{12} + g^{199}x^{10} + g^{4}x^{9} + g^{41}x^{6} + g^{234}x^{5} + g^{70}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>181</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{192} + g^{94}x^{160} + g^{114}x^{144} + g^{96}x^{136} + g^{30}x^{132} + g^{213}x^{130} + g^{227}x^{129} + g^{211}x^{96} + g^{183}x^{80} + g^{231}x^{72} + g^{9}x^{68} + g^{102}x^{66} + g^{106}x^{65} + g^{248}x^{48} + g^{17}x^{40} + g^{12}x^{36} + g^{39}x^{34} + g^{183}x^{33} + g^{104}x^{24} + g^{141}x^{20} + g^{168}x^{18} + g^{126}x^{17} + g^{102}x^{12} + g^{5}x^{10} + g^{208}x^{9} + g^{236}x^{6} + g^{89}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>182</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{26}x^{160} + g^{231}x^{144} + g^{243}x^{136} + g^{142}x^{132} + g^{111}x^{130} + g^{109}x^{129} + g^{194}x^{96} + g^{21}x^{80} + g^{41}x^{72} + g^{248}x^{68} + g^{153}x^{66} + g^{79}x^{65} + g^{138}x^{48} + g^{27}x^{40} + g^{3}x^{36} + g^{12}x^{34} + g^{20}x^{33} + g^{20}x^{24} + g^{232}x^{20} + g^{47}x^{18} + g^{194}x^{17} + g^{54}x^{12} + g^{183}x^{10} + g^{188}x^{9} + g^{52}x^{6} + g^{106}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>183</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{141}x^{192} + g^{167}x^{160} + g^{38}x^{144} + g^{57}x^{136} + g^{68}x^{132} + g^{218}x^{130} + g^{70}x^{129} + g^{237}x^{96} + g^{149}x^{80} + g^{234}x^{72} + g^{130}x^{68} + g^{193}x^{66} + g^{144}x^{65} + g^{228}x^{48} + g^{132}x^{40} + g^{69}x^{36} + g^{244}x^{34} + g^{7}x^{33} + g^{39}x^{24} + g^{158}x^{20} + g^{217}x^{18} + g^{246}x^{17} + g^{125}x^{12} + g^{42}x^{10} + g^{192}x^{9} + g^{202}x^{6} + g^{42}x^{5} + g^{162}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>184</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{206}x^{192} + g^{227}x^{160} + g^{240}x^{144} + g^{248}x^{136} + g^{155}x^{132} + g^{207}x^{130} + g^{168}x^{129} + g^{90}x^{96} + g^{204}x^{80} + g^{167}x^{72} + g^{229}x^{68} + g^{78}x^{66} + g^{184}x^{65} + g^{53}x^{48} + g^{122}x^{40} + g^{89}x^{36} + g^{106}x^{34} + g^{166}x^{33} + g^{175}x^{24} + g^{182}x^{20} + g^{154}x^{18} + g^{210}x^{17} + g^{236}x^{12} + g^{49}x^{10} + g^{183}x^{9} + g^{89}x^{6} + g^{226}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>185</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{44}x^{192} + g^{248}x^{160} + g^{183}x^{144} + g^{67}x^{136} + g^{250}x^{132} + g^{104}x^{130} + g^{87}x^{129} + g^{149}x^{96} + g^{208}x^{80} + g^{2}x^{72} + g^{37}x^{68} + g^{230}x^{66} + g^{110}x^{65} + g^{168}x^{48} + g^{241}x^{40} + g^{5}x^{36} + g^{251}x^{34} + g^{5}x^{33} + g^{103}x^{24} + g^{183}x^{20} + g^{198}x^{18} + g^{166}x^{17} + g^{185}x^{12} + g^{89}x^{10} + g^{104}x^{9} + g^{160}x^{6} + g^{71}x^{5} + g^{249}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>186</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{103}x^{192} + g^{66}x^{160} + g^{240}x^{144} + g^{199}x^{136} + g^{187}x^{132} + g^{201}x^{130} + g^{193}x^{129} + g^{235}x^{96} + g^{51}x^{80} + g^{187}x^{72} + g^{232}x^{68} + g^{132}x^{66} + g^{76}x^{65} + g^{99}x^{48} + g^{202}x^{40} + g^{147}x^{36} + g^{226}x^{34} + g^{216}x^{33} + g^{31}x^{24} + g^{185}x^{20} + g^{60}x^{18} + g^{215}x^{17} + g^{74}x^{12} + g^{226}x^{10} + g^{149}x^{9} + g^{249}x^{6} + g^{173}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>187</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{240}x^{192} + g^{5}x^{160} + g^{44}x^{144} + g^{91}x^{136} + g^{218}x^{132} + g^{5}x^{130} + g^{45}x^{129} + g^{74}x^{96} + g^{222}x^{80} + g^{106}x^{72} + g^{153}x^{68} + g^{121}x^{66} + g^{154}x^{65} + g^{117}x^{48} + g^{197}x^{40} + g^{208}x^{36} + g^{42}x^{34} + g^{43}x^{33} + g^{118}x^{24} + g^{125}x^{20} + g^{57}x^{18} + g^{247}x^{17} + g^{238}x^{12} + g^{65}x^{10} + g^{174}x^{9} + g^{155}x^{6} + g^{50}x^{5} + g^{195}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>188</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{152}x^{192} + g^{236}x^{160} + g^{130}x^{144} + g^{201}x^{136} + g^{49}x^{132} + g^{183}x^{130} + g^{28}x^{129} + g^{149}x^{96} + g^{32}x^{80} + g^{113}x^{72} + g^{222}x^{68} + g^{18}x^{66} + g^{138}x^{65} + g^{59}x^{48} + g^{215}x^{40} + g^{31}x^{36} + g^{19}x^{34} + g^{167}x^{33} + g^{80}x^{24} + g^{140}x^{20} + g^{19}x^{18} + g^{6}x^{17} + g^{94}x^{12} + g^{217}x^{10} + g^{87}x^{9} + g^{214}x^{6} + g^{139}x^{5} + g^{11}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>189</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{72}x^{160} + g^{162}x^{144} + g^{241}x^{136} + g^{108}x^{132} + g^{170}x^{130} + g^{154}x^{129} + g^{198}x^{96} + g^{248}x^{80} + g^{48}x^{72} + g^{209}x^{68} + g^{69}x^{66} + g^{55}x^{65} + g^{117}x^{48} + g^{43}x^{40} + g^{79}x^{36} + g^{43}x^{34} + g^{113}x^{33} + g^{238}x^{24} + g^{113}x^{20} + g^{82}x^{18} + g^{151}x^{17} + g^{191}x^{12} + g^{38}x^{10} + g^{179}x^{9} + g^{130}x^{6} + g^{172}x^{5} + g^{7}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>190</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{12}x^{192} + g^{247}x^{160} + g^{45}x^{144} + g^{124}x^{136} + g^{79}x^{132} + g^{186}x^{130} + g^{83}x^{129} + g^{102}x^{96} + g^{68}x^{80} + g^{252}x^{72} + g^{100}x^{68} + g^{246}x^{66} + g^{21}x^{65} + g^{186}x^{48} + g^{66}x^{40} + g^{130}x^{36} + g^{138}x^{34} + g^{206}x^{33} + g^{107}x^{24} + g^{2}x^{20} + g^{221}x^{18} + g^{251}x^{17} + g^{124}x^{12} + g^{20}x^{10} + g^{22}x^{9} + g^{186}x^{6} + g^{247}x^{5} + g^{144}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>191</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{254}x^{192} + g^{222}x^{160} + g^{136}x^{144} + g^{140}x^{136} + g^{197}x^{132} + g^{152}x^{130} + g^{197}x^{129} + g^{86}x^{96} + g^{48}x^{80} + g^{81}x^{72} + g^{11}x^{68} + g^{119}x^{66} + g^{184}x^{65} + g^{45}x^{48} + g^{176}x^{40} + g^{241}x^{36} + g^{35}x^{34} + g^{242}x^{33} + g^{166}x^{24} + g^{24}x^{20} + g^{239}x^{18} + g^{152}x^{17} + g^{22}x^{12} + g^{201}x^{10} + g^{95}x^{9} + g^{232}x^{6} + g^{162}x^{5} + g^{211}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>192</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{239}x^{160} + g^{79}x^{144} + g^{171}x^{136} + g^{156}x^{132} + g^{166}x^{130} + g^{113}x^{129} + g^{218}x^{96} + g^{96}x^{80} + g^{55}x^{72} + g^{67}x^{68} + g^{18}x^{66} + g^{10}x^{65} + g^{104}x^{48} + g^{20}x^{40} + g^{25}x^{36} + g^{191}x^{34} + g^{207}x^{33} + g^{124}x^{24} + g^{164}x^{20} + g^{17}x^{18} + g^{132}x^{17} + g^{91}x^{12} + g^{188}x^{10} + g^{23}x^{9} + g^{13}x^{6} + g^{37}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>193</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{171}x^{192} + g^{109}x^{160} + g^{221}x^{144} + g^{180}x^{136} + g^{72}x^{132} + g^{57}x^{130} + g^{233}x^{129} + g^{11}x^{96} + g^{2}x^{80} + g^{67}x^{72} + g^{128}x^{68} + g^{71}x^{66} + g^{173}x^{65} + g^{207}x^{48} + g^{104}x^{40} + g^{104}x^{36} + g^{27}x^{34} + g^{219}x^{33} + g^{232}x^{24} + g^{117}x^{20} + g^{191}x^{18} + g^{29}x^{17} + g^{152}x^{12} + g^{100}x^{10} + g^{221}x^{9} + g^{4}x^{6} + g^{9}x^{5} + g^{97}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>194</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{165}x^{192} + g^{170}x^{160} + g^{225}x^{144} + g^{190}x^{136} + g^{132}x^{132} + g^{2}x^{130} + g^{153}x^{129} + g^{169}x^{96} + g^{243}x^{80} + g^{50}x^{72} + g^{57}x^{68} + g^{183}x^{66} + g^{194}x^{65} + g^{66}x^{48} + g^{72}x^{40} + g^{102}x^{36} + g^{231}x^{34} + g^{106}x^{33} + g^{219}x^{24} + g^{68}x^{20} + g^{83}x^{18} + g^{72}x^{17} + g^{215}x^{12} + g^{28}x^{10} + g^{251}x^{9} + g^{122}x^{6} + g^{196}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>195</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{189}x^{160} + g^{177}x^{144} + g^{134}x^{136} + g^{55}x^{132} + g^{10}x^{130} + g^{30}x^{129} + g^{153}x^{96} + g^{111}x^{80} + g^{70}x^{72} + g^{56}x^{68} + g^{61}x^{66} + g^{92}x^{65} + x^{48} + g^{244}x^{40} + g^{67}x^{36} + g^{177}x^{34} + g^{110}x^{33} + g^{150}x^{24} + g^{174}x^{20} + g^{194}x^{18} + g^{132}x^{17} + g^{169}x^{12} + g^{152}x^{10} + g^{175}x^{9} + g^{121}x^{6} + g^{241}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>196</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{235}x^{192} + g^{25}x^{160} + g^{107}x^{144} + g^{52}x^{136} + g^{112}x^{132} + g^{110}x^{130} + g^{145}x^{129} + g^{131}x^{96} + g^{198}x^{80} + g^{112}x^{72} + g^{98}x^{68} + g^{13}x^{66} + g^{180}x^{65} + g^{58}x^{48} + g^{55}x^{40} + g^{97}x^{36} + g^{50}x^{34} + g^{153}x^{33} + g^{237}x^{24} + g^{252}x^{20} + g^{15}x^{18} + g^{98}x^{17} + g^{89}x^{12} + g^{143}x^{9} + g^{79}x^{6} + g^{243}x^{5} + g^{216}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>197</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{131}x^{192} + g^{30}x^{160} + g^{139}x^{144} + g^{29}x^{136} + g^{198}x^{132} + g^{56}x^{130} + g^{174}x^{129} + g^{103}x^{96} + g^{251}x^{80} + g^{28}x^{72} + g^{243}x^{68} + g^{236}x^{66} + g^{29}x^{65} + g^{230}x^{48} + g^{164}x^{40} + g^{76}x^{36} + g^{187}x^{34} + g^{121}x^{33} + g^{141}x^{24} + g^{177}x^{20} + g^{114}x^{18} + g^{126}x^{17} + g^{10}x^{12} + g^{205}x^{10} + g^{157}x^{9} + g^{44}x^{6} + g^{223}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>198</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{141}x^{192} + g^{79}x^{160} + g^{174}x^{144} + g^{146}x^{136} + g^{18}x^{132} + g^{44}x^{130} + g^{71}x^{129} + g^{104}x^{96} + g^{149}x^{80} + g^{241}x^{72} + g^{87}x^{68} + g^{230}x^{66} + g^{57}x^{65} + g^{241}x^{48} + g^{81}x^{40} + g^{38}x^{36} + g^{114}x^{34} + g^{202}x^{33} + g^{51}x^{24} + g^{42}x^{20} + g^{232}x^{18} + g^{182}x^{17} + g^{90}x^{12} + g^{241}x^{10} + g^{31}x^{9} + g^{227}x^{6} + g^{145}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>199</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{137}x^{192} + g^{77}x^{160} + g^{143}x^{144} + g^{194}x^{136} + g^{85}x^{132} + g^{202}x^{130} + g^{245}x^{129} + g^{126}x^{96} + g^{26}x^{80} + g^{57}x^{72} + g^{96}x^{68} + g^{233}x^{66} + g^{32}x^{65} + g^{56}x^{48} + g^{151}x^{40} + g^{217}x^{34} + g^{93}x^{33} + g^{62}x^{24} + g^{130}x^{20} + g^{68}x^{18} + g^{138}x^{17} + g^{184}x^{12} + g^{231}x^{10} + g^{164}x^{9} + g^{95}x^{6} + g^{122}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>200</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{164}x^{192} + g^{98}x^{160} + g^{160}x^{144} + g^{86}x^{136} + g^{247}x^{132} + g^{57}x^{130} + g^{228}x^{129} + g^{145}x^{96} + g^{221}x^{80} + g^{74}x^{72} + g^{58}x^{68} + g^{228}x^{66} + g^{84}x^{65} + g^{95}x^{48} + g^{112}x^{40} + g^{146}x^{36} + g^{166}x^{34} + g^{28}x^{33} + g^{233}x^{24} + g^{119}x^{20} + g^{87}x^{18} + g^{202}x^{17} + g^{248}x^{12} + g^{220}x^{10} + g^{22}x^{9} + g^{174}x^{6} + g^{82}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/001_500/101_200.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>