
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>2201</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{42}x^{192} + g^{102}x^{160} + g^{118}x^{144} + g^{90}x^{136} + g^{161}x^{132} + g^{55}x^{130} + g^{162}x^{129} + g^{185}x^{96} + g^{99}x^{80} + g^{27}x^{72} + g^{173}x^{68} + g^{175}x^{66} + g^{142}x^{65} + g^{67}x^{48} + g^{250}x^{40} + g^{175}x^{36} + g^{138}x^{34} + g^{126}x^{33} + g^{53}x^{24} + g^{28}x^{20} + g^{201}x^{18} + g^{14}x^{17} + g^{227}x^{12} + g^{175}x^{10} + g^{197}x^{9} + g^{249}x^{6} + g^{216}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2202</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{58}x^{192} + g^{118}x^{160} + g^{7}x^{144} + g^{23}x^{136} + g^{213}x^{132} + g^{122}x^{130} + g^{100}x^{129} + g^{119}x^{96} + g^{87}x^{80} + g^{63}x^{72} + g^{144}x^{68} + g^{99}x^{66} + g^{70}x^{65} + g^{10}x^{48} + g^{141}x^{40} + g^{112}x^{36} + g^{215}x^{34} + g^{122}x^{33} + g^{93}x^{24} + g^{40}x^{20} + g^{164}x^{18} + g^{120}x^{17} + g^{242}x^{12} + g^{42}x^{10} + g^{134}x^{9} + g^{177}x^{6} + g^{234}x^{5} + g^{132}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2203</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{115}x^{192} + g^{92}x^{160} + g^{170}x^{144} + g^{102}x^{136} + g^{52}x^{132} + g^{10}x^{130} + g^{67}x^{129} + g^{7}x^{96} + g^{150}x^{80} + g^{177}x^{72} + g^{19}x^{68} + g^{85}x^{66} + g^{133}x^{65} + g^{135}x^{48} + g^{251}x^{40} + g^{19}x^{36} + g^{60}x^{34} + g^{116}x^{33} + g^{66}x^{24} + g^{43}x^{20} + g^{122}x^{18} + g^{23}x^{17} + g^{182}x^{12} + g^{85}x^{10} + g^{185}x^{9} + x^{6} + g^{114}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2204</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{122}x^{192} + g^{62}x^{160} + g^{116}x^{144} + g^{13}x^{136} + g^{12}x^{132} + g^{28}x^{130} + g^{94}x^{129} + g^{204}x^{96} + g^{149}x^{80} + g^{188}x^{68} + g^{117}x^{66} + g^{62}x^{65} + g^{83}x^{48} + g^{2}x^{40} + g^{219}x^{34} + g^{114}x^{33} + g^{148}x^{24} + g^{160}x^{20} + g^{32}x^{18} + x^{17} + g^{72}x^{12} + gx^{10} + g^{164}x^{9} + g^{21}x^{6} + g^{152}x^{5} + g^{56}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2205</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{192} + g^{175}x^{160} + g^{172}x^{144} + g^{38}x^{136} + g^{254}x^{132} + g^{228}x^{130} + g^{121}x^{129} + g^{35}x^{96} + g^{137}x^{80} + g^{241}x^{72} + g^{186}x^{68} + g^{109}x^{66} + g^{70}x^{65} + g^{140}x^{48} + g^{50}x^{40} + g^{188}x^{36} + g^{141}x^{34} + g^{58}x^{33} + g^{107}x^{24} + g^{68}x^{20} + g^{251}x^{18} + g^{123}x^{17} + g^{173}x^{12} + g^{113}x^{10} + g^{16}x^{9} + g^{95}x^{6} + g^{7}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2206</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{215}x^{192} + g^{118}x^{160} + g^{120}x^{144} + g^{179}x^{136} + g^{215}x^{132} + g^{29}x^{130} + g^{165}x^{129} + g^{230}x^{96} + g^{148}x^{80} + g^{64}x^{72} + g^{91}x^{68} + g^{189}x^{66} + g^{89}x^{65} + g^{165}x^{48} + g^{142}x^{40} + g^{62}x^{36} + g^{210}x^{34} + g^{58}x^{33} + g^{8}x^{24} + g^{12}x^{20} + g^{181}x^{18} + g^{229}x^{17} + g^{207}x^{12} + g^{59}x^{10} + g^{222}x^{9} + g^{102}x^{6} + g^{47}x^{5} + g^{162}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2207</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{155}x^{192} + g^{210}x^{160} + g^{240}x^{144} + g^{7}x^{136} + g^{201}x^{132} + g^{137}x^{130} + g^{146}x^{129} + gx^{96} + g^{132}x^{80} + g^{207}x^{72} + g^{65}x^{68} + g^{163}x^{66} + g^{91}x^{65} + g^{124}x^{48} + g^{108}x^{40} + g^{185}x^{36} + g^{174}x^{34} + g^{236}x^{33} + g^{133}x^{24} + g^{185}x^{20} + g^{208}x^{18} + g^{211}x^{17} + g^{144}x^{12} + g^{142}x^{10} + g^{128}x^{9} + g^{9}x^{6} + g^{211}x^{5} + g^{219}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2208</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{192} + g^{107}x^{160} + g^{85}x^{144} + g^{70}x^{136} + g^{217}x^{132} + g^{114}x^{130} + g^{175}x^{129} + g^{2}x^{96} + g^{207}x^{80} + g^{86}x^{72} + g^{205}x^{68} + g^{48}x^{66} + g^{242}x^{65} + g^{20}x^{48} + g^{26}x^{40} + g^{252}x^{36} + g^{34}x^{34} + g^{64}x^{33} + g^{54}x^{24} + g^{207}x^{20} + g^{76}x^{18} + g^{252}x^{17} + g^{245}x^{12} + g^{127}x^{10} + g^{112}x^{9} + g^{75}x^{6} + g^{69}x^{5} + g^{154}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2209</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{205}x^{192} + g^{187}x^{160} + g^{112}x^{144} + g^{35}x^{136} + g^{67}x^{132} + g^{216}x^{130} + g^{63}x^{129} + g^{23}x^{96} + g^{5}x^{80} + g^{74}x^{72} + g^{235}x^{68} + g^{211}x^{66} + gx^{65} + g^{185}x^{48} + g^{136}x^{40} + g^{243}x^{36} + g^{240}x^{34} + g^{211}x^{33} + g^{134}x^{24} + g^{128}x^{20} + g^{82}x^{18} + g^{70}x^{17} + g^{70}x^{12} + g^{158}x^{10} + g^{232}x^{9} + g^{240}x^{6} + g^{41}x^{5} + g^{58}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2210</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{62}x^{192} + g^{253}x^{160} + g^{223}x^{144} + g^{78}x^{136} + g^{85}x^{132} + g^{169}x^{130} + g^{227}x^{129} + g^{99}x^{96} + g^{138}x^{80} + g^{124}x^{72} + g^{6}x^{68} + g^{99}x^{66} + g^{10}x^{65} + g^{27}x^{48} + g^{155}x^{40} + g^{225}x^{36} + g^{38}x^{34} + g^{230}x^{33} + g^{141}x^{24} + g^{109}x^{20} + g^{150}x^{18} + g^{6}x^{17} + g^{243}x^{12} + g^{219}x^{10} + g^{13}x^{9} + g^{215}x^{6} + g^{154}x^{5} + g^{19}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2211</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{63}x^{192} + g^{246}x^{160} + g^{173}x^{144} + g^{34}x^{136} + g^{98}x^{132} + g^{203}x^{130} + g^{87}x^{129} + g^{239}x^{96} + g^{65}x^{80} + g^{17}x^{72} + g^{218}x^{68} + g^{87}x^{66} + g^{197}x^{65} + g^{109}x^{48} + g^{126}x^{40} + g^{143}x^{36} + g^{16}x^{34} + g^{26}x^{33} + g^{20}x^{24} + g^{196}x^{20} + g^{174}x^{17} + g^{153}x^{12} + g^{91}x^{10} + g^{31}x^{9} + g^{92}x^{6} + g^{228}x^{5} + g^{66}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2212</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{209}x^{192} + g^{22}x^{160} + g^{226}x^{144} + g^{38}x^{136} + g^{149}x^{132} + g^{77}x^{130} + g^{22}x^{129} + g^{222}x^{96} + g^{239}x^{80} + g^{225}x^{72} + g^{88}x^{68} + g^{137}x^{66} + g^{166}x^{65} + g^{110}x^{48} + g^{202}x^{40} + g^{153}x^{36} + g^{37}x^{34} + g^{95}x^{33} + g^{101}x^{24} + g^{9}x^{20} + g^{11}x^{18} + g^{133}x^{17} + g^{203}x^{12} + g^{10}x^{10} + g^{142}x^{9} + g^{39}x^{6} + g^{117}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2213</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{192} + g^{48}x^{160} + g^{228}x^{144} + g^{237}x^{136} + g^{248}x^{132} + g^{179}x^{130} + g^{72}x^{129} + g^{124}x^{96} + g^{132}x^{80} + g^{167}x^{72} + g^{229}x^{68} + g^{50}x^{65} + g^{158}x^{48} + g^{13}x^{40} + g^{86}x^{36} + g^{162}x^{34} + g^{122}x^{33} + g^{133}x^{24} + g^{118}x^{20} + g^{195}x^{18} + g^{17}x^{17} + g^{204}x^{12} + g^{10}x^{10} + g^{246}x^{9} + g^{22}x^{6} + g^{81}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2214</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + g^{153}x^{160} + g^{92}x^{144} + g^{236}x^{136} + g^{245}x^{132} + g^{209}x^{130} + g^{201}x^{129} + g^{228}x^{96} + g^{214}x^{80} + g^{58}x^{72} + g^{123}x^{68} + g^{119}x^{66} + g^{233}x^{65} + g^{153}x^{48} + g^{38}x^{40} + g^{126}x^{36} + g^{130}x^{34} + g^{122}x^{33} + g^{95}x^{24} + g^{100}x^{20} + g^{205}x^{18} + g^{199}x^{17} + g^{224}x^{12} + g^{10}x^{10} + g^{138}x^{9} + g^{241}x^{6} + g^{177}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2215</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{192} + g^{64}x^{160} + g^{123}x^{144} + g^{195}x^{136} + g^{144}x^{132} + g^{34}x^{130} + g^{57}x^{129} + g^{125}x^{96} + g^{6}x^{80} + g^{66}x^{72} + g^{11}x^{68} + g^{251}x^{66} + g^{40}x^{65} + g^{183}x^{48} + g^{165}x^{40} + g^{75}x^{36} + g^{131}x^{34} + g^{103}x^{33} + g^{176}x^{24} + g^{164}x^{20} + g^{95}x^{18} + g^{182}x^{17} + g^{252}x^{12} + g^{206}x^{10} + g^{15}x^{9} + g^{60}x^{6} + g^{254}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2216</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{227}x^{192} + g^{22}x^{160} + g^{139}x^{144} + g^{115}x^{136} + g^{122}x^{132} + g^{96}x^{130} + g^{109}x^{129} + g^{119}x^{80} + g^{130}x^{72} + g^{182}x^{68} + g^{251}x^{66} + g^{101}x^{65} + g^{238}x^{48} + g^{80}x^{40} + g^{179}x^{36} + g^{218}x^{34} + g^{5}x^{33} + g^{147}x^{24} + g^{210}x^{20} + g^{91}x^{18} + g^{88}x^{17} + g^{218}x^{12} + g^{237}x^{10} + g^{237}x^{9} + g^{26}x^{6} + g^{88}x^{5} + g^{13}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2217</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{170}x^{192} + g^{28}x^{160} + g^{76}x^{144} + g^{58}x^{136} + g^{18}x^{132} + g^{75}x^{130} + g^{77}x^{129} + g^{24}x^{96} + g^{178}x^{80} + g^{92}x^{72} + g^{201}x^{68} + g^{152}x^{66} + g^{2}x^{65} + g^{87}x^{48} + g^{46}x^{40} + g^{134}x^{36} + g^{51}x^{34} + g^{185}x^{33} + g^{227}x^{24} + g^{140}x^{20} + g^{210}x^{18} + g^{163}x^{17} + g^{206}x^{12} + g^{22}x^{10} + g^{105}x^{9} + g^{166}x^{6} + g^{231}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2218</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{230}x^{192} + g^{167}x^{160} + g^{193}x^{144} + g^{225}x^{136} + g^{40}x^{132} + g^{85}x^{130} + g^{142}x^{129} + g^{115}x^{96} + g^{168}x^{80} + g^{39}x^{72} + g^{151}x^{68} + g^{181}x^{66} + x^{65} + g^{12}x^{48} + g^{165}x^{40} + g^{70}x^{36} + g^{111}x^{34} + g^{181}x^{33} + g^{86}x^{24} + g^{214}x^{20} + g^{191}x^{18} + g^{252}x^{17} + g^{148}x^{12} + g^{209}x^{10} + g^{172}x^{9} + g^{219}x^{6} + g^{247}x^{5} + g^{201}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2219</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{231}x^{160} + g^{215}x^{144} + g^{170}x^{136} + g^{25}x^{132} + g^{49}x^{130} + g^{101}x^{129} + g^{192}x^{96} + g^{254}x^{80} + g^{61}x^{72} + g^{220}x^{68} + g^{41}x^{66} + g^{121}x^{65} + g^{168}x^{48} + g^{111}x^{40} + g^{209}x^{36} + g^{86}x^{34} + g^{93}x^{33} + g^{35}x^{24} + g^{111}x^{20} + g^{235}x^{18} + g^{6}x^{17} + g^{228}x^{12} + g^{113}x^{10} + g^{96}x^{9} + g^{185}x^{6} + g^{188}x^{5} + g^{172}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2220</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{217}x^{192} + g^{3}x^{160} + g^{243}x^{144} + g^{145}x^{136} + g^{207}x^{132} + g^{34}x^{130} + g^{50}x^{129} + g^{134}x^{96} + g^{50}x^{80} + g^{73}x^{72} + g^{45}x^{68} + g^{119}x^{66} + g^{161}x^{65} + g^{253}x^{48} + g^{206}x^{40} + g^{159}x^{36} + g^{87}x^{34} + g^{72}x^{33} + g^{113}x^{24} + g^{158}x^{20} + g^{65}x^{18} + g^{166}x^{17} + g^{232}x^{10} + g^{133}x^{9} + g^{174}x^{6} + g^{73}x^{5} + g^{63}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2221</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{77}x^{192} + g^{36}x^{160} + g^{51}x^{144} + g^{146}x^{136} + g^{124}x^{132} + g^{116}x^{130} + g^{52}x^{129} + g^{95}x^{96} + g^{73}x^{80} + g^{234}x^{72} + g^{61}x^{68} + g^{238}x^{66} + g^{140}x^{65} + g^{243}x^{48} + g^{183}x^{40} + g^{2}x^{36} + g^{84}x^{34} + g^{65}x^{33} + g^{159}x^{24} + g^{211}x^{20} + g^{234}x^{18} + g^{77}x^{17} + g^{236}x^{12} + g^{41}x^{10} + g^{240}x^{9} + g^{43}x^{6} + g^{103}x^{5} + g^{234}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2222</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{250}x^{192} + g^{161}x^{160} + g^{181}x^{144} + g^{222}x^{136} + g^{132}x^{132} + g^{137}x^{130} + g^{244}x^{129} + g^{203}x^{96} + g^{186}x^{80} + g^{235}x^{72} + g^{248}x^{68} + g^{165}x^{66} + g^{90}x^{65} + x^{48} + g^{20}x^{40} + g^{164}x^{36} + g^{100}x^{34} + g^{238}x^{33} + g^{212}x^{24} + g^{61}x^{20} + g^{37}x^{18} + g^{112}x^{17} + g^{2}x^{12} + g^{62}x^{10} + g^{54}x^{9} + g^{168}x^{6} + g^{236}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2223</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{16}x^{192} + g^{231}x^{160} + x^{144} + g^{238}x^{136} + g^{68}x^{132} + g^{2}x^{130} + g^{166}x^{129} + g^{37}x^{96} + g^{46}x^{80} + g^{48}x^{72} + g^{178}x^{68} + g^{64}x^{66} + g^{96}x^{65} + g^{250}x^{48} + g^{107}x^{40} + g^{42}x^{36} + g^{33}x^{34} + g^{229}x^{33} + g^{147}x^{24} + g^{114}x^{20} + g^{198}x^{18} + g^{173}x^{17} + g^{103}x^{12} + g^{23}x^{10} + g^{229}x^{9} + g^{59}x^{6} + g^{185}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2224</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{136}x^{192} + g^{82}x^{160} + g^{59}x^{144} + g^{238}x^{136} + g^{113}x^{132} + g^{159}x^{130} + g^{193}x^{129} + g^{184}x^{96} + g^{161}x^{80} + g^{68}x^{72} + g^{136}x^{68} + g^{177}x^{66} + g^{72}x^{65} + g^{81}x^{48} + g^{103}x^{40} + g^{6}x^{36} + g^{91}x^{34} + g^{48}x^{33} + g^{3}x^{24} + g^{58}x^{20} + g^{45}x^{18} + g^{35}x^{17} + g^{32}x^{12} + g^{242}x^{10} + g^{127}x^{9} + g^{200}x^{6} + g^{108}x^{5} + g^{55}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2225</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{207}x^{192} + g^{112}x^{160} + g^{147}x^{144} + g^{164}x^{136} + g^{135}x^{132} + g^{153}x^{130} + g^{52}x^{129} + g^{168}x^{96} + g^{68}x^{80} + g^{56}x^{72} + g^{199}x^{68} + g^{106}x^{66} + g^{192}x^{65} + g^{175}x^{48} + g^{165}x^{40} + g^{114}x^{36} + g^{62}x^{34} + g^{55}x^{33} + g^{61}x^{24} + g^{23}x^{20} + g^{140}x^{18} + g^{98}x^{17} + g^{167}x^{12} + g^{156}x^{10} + g^{14}x^{9} + g^{155}x^{6} + g^{177}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2226</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{168}x^{160} + g^{254}x^{144} + g^{27}x^{136} + g^{50}x^{132} + g^{77}x^{130} + g^{216}x^{129} + g^{115}x^{96} + g^{151}x^{80} + g^{116}x^{72} + g^{30}x^{68} + g^{85}x^{66} + g^{203}x^{65} + g^{104}x^{48} + g^{109}x^{40} + g^{21}x^{36} + g^{180}x^{34} + g^{42}x^{33} + g^{247}x^{24} + g^{57}x^{20} + g^{235}x^{18} + g^{15}x^{17} + g^{66}x^{12} + g^{131}x^{10} + g^{238}x^{9} + g^{85}x^{6} + g^{90}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2227</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{249}x^{160} + g^{207}x^{144} + g^{252}x^{136} + g^{127}x^{132} + g^{153}x^{130} + g^{60}x^{129} + g^{53}x^{96} + g^{109}x^{80} + g^{223}x^{72} + g^{9}x^{68} + g^{145}x^{66} + g^{214}x^{65} + g^{178}x^{48} + g^{216}x^{40} + g^{46}x^{36} + g^{240}x^{34} + g^{243}x^{33} + g^{104}x^{24} + g^{94}x^{20} + g^{8}x^{18} + g^{118}x^{17} + g^{187}x^{12} + g^{230}x^{10} + g^{59}x^{9} + g^{86}x^{6} + g^{128}x^{5} + g^{134}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2228</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{247}x^{192} + g^{254}x^{160} + g^{254}x^{144} + g^{123}x^{136} + g^{24}x^{132} + g^{113}x^{130} + g^{71}x^{129} + g^{146}x^{96} + g^{76}x^{80} + g^{143}x^{72} + g^{176}x^{68} + g^{108}x^{66} + g^{104}x^{65} + g^{122}x^{48} + g^{209}x^{40} + g^{169}x^{36} + g^{150}x^{34} + g^{2}x^{33} + g^{8}x^{24} + g^{151}x^{20} + g^{4}x^{18} + g^{16}x^{17} + g^{28}x^{12} + g^{40}x^{10} + g^{217}x^{9} + g^{170}x^{6} + g^{109}x^{5} + g^{27}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2229</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{63}x^{192} + g^{43}x^{160} + g^{134}x^{144} + g^{200}x^{136} + g^{148}x^{132} + g^{84}x^{130} + g^{206}x^{129} + g^{123}x^{96} + g^{229}x^{80} + g^{190}x^{72} + g^{134}x^{68} + g^{151}x^{66} + g^{138}x^{65} + g^{159}x^{48} + g^{140}x^{40} + g^{113}x^{36} + g^{35}x^{34} + g^{28}x^{33} + g^{163}x^{24} + g^{204}x^{20} + g^{228}x^{18} + g^{65}x^{17} + g^{30}x^{12} + g^{39}x^{10} + g^{87}x^{9} + g^{219}x^{6} + g^{133}x^{5} + g^{125}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2230</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{192} + g^{254}x^{160} + g^{3}x^{144} + g^{54}x^{136} + g^{143}x^{132} + g^{46}x^{130} + g^{66}x^{129} + g^{38}x^{96} + g^{148}x^{80} + g^{45}x^{72} + g^{151}x^{68} + g^{201}x^{66} + g^{211}x^{65} + g^{164}x^{48} + g^{4}x^{40} + g^{10}x^{36} + g^{170}x^{34} + g^{129}x^{33} + g^{29}x^{24} + g^{165}x^{20} + g^{160}x^{18} + g^{241}x^{17} + g^{213}x^{12} + g^{118}x^{10} + g^{183}x^{9} + g^{138}x^{6} + g^{126}x^{5} + g^{223}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2231</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{192} + g^{50}x^{160} + g^{153}x^{144} + g^{141}x^{136} + x^{132} + g^{19}x^{130} + g^{51}x^{129} + g^{120}x^{96} + g^{55}x^{80} + g^{63}x^{72} + g^{105}x^{68} + g^{77}x^{66} + g^{30}x^{65} + g^{120}x^{48} + g^{40}x^{40} + g^{58}x^{36} + g^{96}x^{34} + g^{43}x^{33} + g^{90}x^{24} + g^{71}x^{20} + g^{204}x^{18} + g^{245}x^{17} + g^{87}x^{12} + g^{46}x^{10} + g^{248}x^{9} + g^{220}x^{6} + g^{124}x^{5} + g^{192}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2232</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{158}x^{192} + g^{250}x^{160} + g^{131}x^{144} + g^{171}x^{136} + g^{23}x^{132} + g^{105}x^{130} + g^{185}x^{129} + g^{251}x^{96} + g^{246}x^{80} + g^{96}x^{72} + g^{158}x^{68} + g^{209}x^{66} + g^{128}x^{65} + g^{237}x^{48} + g^{221}x^{40} + g^{119}x^{36} + g^{139}x^{34} + g^{11}x^{33} + g^{220}x^{24} + g^{155}x^{20} + g^{73}x^{18} + g^{12}x^{17} + g^{78}x^{12} + g^{33}x^{10} + g^{130}x^{9} + g^{35}x^{6} + g^{2}x^{5} + g^{93}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2233</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{192} + g^{152}x^{160} + g^{19}x^{144} + g^{5}x^{136} + g^{129}x^{132} + g^{82}x^{130} + g^{200}x^{96} + g^{87}x^{80} + g^{48}x^{72} + g^{204}x^{68} + g^{48}x^{66} + g^{149}x^{65} + g^{190}x^{48} + g^{91}x^{40} + g^{98}x^{36} + g^{171}x^{34} + g^{238}x^{33} + g^{60}x^{24} + g^{221}x^{20} + g^{130}x^{18} + g^{56}x^{17} + g^{88}x^{12} + g^{230}x^{10} + g^{90}x^{9} + g^{227}x^{6} + g^{131}x^{5} + g^{119}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2234</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{76}x^{192} + g^{246}x^{160} + g^{102}x^{144} + g^{195}x^{136} + g^{8}x^{132} + g^{25}x^{130} + g^{41}x^{129} + g^{222}x^{96} + g^{199}x^{80} + g^{189}x^{72} + g^{53}x^{68} + g^{121}x^{66} + g^{74}x^{65} + g^{226}x^{48} + g^{180}x^{40} + g^{173}x^{36} + g^{77}x^{34} + g^{137}x^{33} + g^{12}x^{24} + g^{71}x^{20} + g^{53}x^{18} + g^{160}x^{17} + g^{98}x^{12} + g^{180}x^{10} + g^{191}x^{9} + g^{145}x^{6} + g^{200}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2235</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{120}x^{192} + g^{173}x^{160} + g^{59}x^{144} + g^{229}x^{136} + g^{151}x^{132} + g^{86}x^{130} + g^{53}x^{129} + g^{129}x^{96} + g^{196}x^{80} + g^{72}x^{72} + g^{252}x^{68} + g^{51}x^{66} + g^{237}x^{65} + g^{107}x^{48} + gx^{40} + g^{20}x^{36} + g^{238}x^{34} + g^{200}x^{33} + g^{233}x^{24} + g^{14}x^{20} + g^{196}x^{18} + g^{178}x^{17} + g^{110}x^{12} + g^{143}x^{10} + g^{67}x^{9} + g^{171}x^{6} + g^{98}x^{5} + g^{148}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2236</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{185}x^{192} + g^{51}x^{160} + g^{199}x^{144} + g^{177}x^{136} + g^{177}x^{132} + g^{12}x^{130} + g^{6}x^{129} + g^{117}x^{96} + g^{218}x^{80} + g^{122}x^{72} + g^{196}x^{68} + g^{119}x^{66} + g^{142}x^{65} + g^{92}x^{48} + g^{249}x^{40} + g^{183}x^{36} + g^{64}x^{34} + g^{102}x^{33} + g^{13}x^{24} + g^{193}x^{20} + g^{114}x^{18} + g^{22}x^{17} + g^{241}x^{12} + g^{57}x^{10} + g^{152}x^{9} + g^{60}x^{6} + g^{227}x^{5} + g^{190}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2237</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{173}x^{192} + g^{241}x^{160} + g^{178}x^{144} + g^{153}x^{136} + g^{88}x^{132} + g^{245}x^{130} + g^{194}x^{129} + g^{62}x^{96} + g^{176}x^{80} + g^{203}x^{72} + g^{133}x^{68} + g^{175}x^{66} + g^{94}x^{65} + g^{18}x^{48} + g^{22}x^{40} + g^{160}x^{36} + g^{7}x^{34} + g^{98}x^{33} + g^{118}x^{24} + g^{103}x^{20} + g^{100}x^{18} + g^{109}x^{17} + g^{139}x^{12} + g^{99}x^{10} + g^{14}x^{9} + g^{178}x^{6} + g^{160}x^{5} + g^{233}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2238</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{109}x^{192} + g^{10}x^{160} + g^{40}x^{144} + g^{171}x^{136} + g^{169}x^{132} + g^{136}x^{130} + g^{52}x^{129} + g^{101}x^{96} + g^{174}x^{80} + g^{252}x^{72} + g^{215}x^{68} + g^{79}x^{66} + g^{199}x^{65} + g^{97}x^{48} + x^{40} + g^{117}x^{36} + g^{218}x^{34} + g^{200}x^{33} + g^{34}x^{24} + g^{226}x^{20} + g^{9}x^{18} + g^{179}x^{17} + g^{197}x^{12} + g^{46}x^{10} + g^{183}x^{9} + g^{107}x^{6} + g^{240}x^{5} + g^{150}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2239</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{254}x^{160} + g^{145}x^{144} + g^{105}x^{136} + g^{239}x^{132} + g^{225}x^{130} + g^{155}x^{129} + g^{55}x^{96} + g^{169}x^{80} + g^{201}x^{72} + g^{196}x^{68} + g^{100}x^{66} + g^{105}x^{65} + g^{42}x^{48} + g^{173}x^{40} + g^{142}x^{36} + g^{43}x^{34} + g^{52}x^{33} + g^{115}x^{24} + g^{34}x^{20} + g^{126}x^{18} + g^{55}x^{17} + g^{157}x^{12} + g^{183}x^{10} + g^{33}x^{9} + g^{102}x^{6} + g^{78}x^{5} + g^{165}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2240</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{13}x^{192} + g^{50}x^{160} + g^{107}x^{144} + g^{125}x^{136} + g^{179}x^{132} + g^{161}x^{130} + g^{181}x^{129} + g^{11}x^{96} + g^{222}x^{80} + g^{216}x^{72} + g^{42}x^{68} + g^{242}x^{66} + g^{17}x^{65} + g^{225}x^{48} + g^{141}x^{40} + g^{90}x^{36} + g^{190}x^{34} + g^{2}x^{33} + g^{59}x^{24} + g^{104}x^{20} + g^{141}x^{18} + g^{177}x^{17} + g^{76}x^{12} + g^{212}x^{10} + g^{191}x^{9} + g^{123}x^{6} + g^{9}x^{5} + g^{103}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2241</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + g^{46}x^{160} + g^{223}x^{144} + g^{158}x^{136} + g^{21}x^{132} + g^{72}x^{130} + g^{146}x^{129} + g^{12}x^{96} + g^{110}x^{80} + g^{118}x^{72} + g^{150}x^{68} + g^{67}x^{66} + g^{208}x^{65} + g^{105}x^{48} + g^{124}x^{40} + g^{18}x^{36} + g^{111}x^{34} + g^{250}x^{33} + g^{205}x^{24} + g^{132}x^{20} + g^{170}x^{18} + g^{166}x^{17} + g^{185}x^{12} + g^{78}x^{10} + g^{131}x^{9} + g^{201}x^{6} + g^{66}x^{5} + g^{111}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2242</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{192} + g^{93}x^{160} + g^{142}x^{144} + g^{24}x^{136} + g^{147}x^{132} + g^{206}x^{130} + g^{218}x^{129} + g^{80}x^{96} + g^{19}x^{80} + g^{233}x^{72} + g^{178}x^{68} + g^{216}x^{66} + g^{68}x^{65} + g^{119}x^{48} + g^{12}x^{40} + g^{18}x^{36} + g^{144}x^{34} + g^{189}x^{33} + g^{27}x^{24} + g^{224}x^{20} + g^{91}x^{18} + g^{154}x^{17} + g^{191}x^{12} + g^{191}x^{10} + g^{118}x^{9} + g^{72}x^{6} + g^{31}x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2243</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{218}x^{160} + g^{87}x^{144} + g^{147}x^{136} + g^{216}x^{132} + g^{252}x^{130} + g^{35}x^{129} + g^{149}x^{96} + g^{199}x^{80} + g^{210}x^{72} + g^{219}x^{68} + g^{147}x^{66} + g^{54}x^{65} + g^{160}x^{48} + g^{42}x^{40} + g^{237}x^{36} + g^{188}x^{34} + g^{25}x^{33} + g^{41}x^{24} + g^{83}x^{20} + g^{115}x^{18} + g^{66}x^{17} + g^{60}x^{12} + g^{149}x^{10} + g^{217}x^{9} + g^{85}x^{6} + g^{92}x^{5} + g^{47}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2244</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{76}x^{192} + g^{236}x^{160} + g^{48}x^{144} + g^{237}x^{136} + g^{39}x^{132} + g^{200}x^{130} + g^{212}x^{129} + g^{227}x^{96} + g^{203}x^{80} + g^{82}x^{72} + g^{54}x^{68} + g^{138}x^{66} + g^{47}x^{65} + g^{198}x^{48} + g^{215}x^{40} + g^{230}x^{36} + g^{250}x^{34} + g^{75}x^{33} + g^{130}x^{24} + g^{195}x^{20} + g^{152}x^{18} + g^{155}x^{17} + g^{188}x^{12} + g^{237}x^{10} + g^{254}x^{9} + g^{10}x^{6} + g^{129}x^{5} + g^{252}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2245</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{16}x^{192} + g^{48}x^{160} + g^{212}x^{144} + g^{234}x^{136} + g^{17}x^{132} + g^{140}x^{130} + g^{180}x^{129} + g^{253}x^{96} + g^{43}x^{80} + g^{132}x^{72} + g^{93}x^{68} + g^{247}x^{66} + g^{18}x^{65} + g^{2}x^{48} + g^{236}x^{40} + g^{125}x^{36} + g^{189}x^{34} + g^{107}x^{33} + g^{238}x^{24} + g^{36}x^{20} + g^{205}x^{18} + g^{101}x^{17} + g^{46}x^{12} + g^{66}x^{10} + g^{217}x^{9} + g^{153}x^{6} + g^{13}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2246</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{68}x^{160} + g^{47}x^{144} + g^{101}x^{136} + g^{190}x^{132} + g^{28}x^{130} + g^{179}x^{129} + g^{226}x^{96} + g^{111}x^{80} + g^{219}x^{72} + g^{49}x^{68} + g^{247}x^{66} + g^{236}x^{65} + g^{101}x^{48} + g^{180}x^{40} + g^{64}x^{36} + g^{63}x^{34} + g^{208}x^{33} + g^{122}x^{24} + g^{91}x^{20} + g^{11}x^{18} + g^{160}x^{17} + g^{165}x^{12} + g^{11}x^{10} + g^{124}x^{9} + g^{202}x^{6} + g^{143}x^{5} + g^{165}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2247</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{192} + g^{235}x^{160} + g^{223}x^{144} + g^{210}x^{136} + g^{105}x^{132} + g^{23}x^{130} + g^{176}x^{129} + g^{94}x^{96} + g^{106}x^{80} + g^{178}x^{72} + g^{55}x^{68} + g^{44}x^{66} + g^{140}x^{65} + g^{116}x^{48} + g^{100}x^{40} + g^{145}x^{36} + g^{217}x^{34} + g^{245}x^{33} + g^{222}x^{24} + g^{187}x^{20} + g^{97}x^{18} + g^{22}x^{17} + g^{52}x^{12} + x^{10} + g^{246}x^{9} + g^{113}x^{6} + g^{145}x^{5} + g^{41}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2248</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{49}x^{160} + g^{99}x^{144} + g^{221}x^{136} + g^{172}x^{132} + g^{145}x^{130} + g^{30}x^{129} + g^{223}x^{96} + g^{144}x^{80} + g^{77}x^{72} + g^{4}x^{68} + g^{221}x^{66} + g^{146}x^{65} + g^{33}x^{48} + g^{169}x^{40} + g^{220}x^{36} + g^{162}x^{34} + g^{148}x^{33} + g^{16}x^{24} + g^{78}x^{20} + g^{182}x^{18} + g^{176}x^{17} + g^{136}x^{12} + g^{185}x^{10} + g^{46}x^{9} + g^{39}x^{6} + g^{54}x^{5} + g^{70}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2249</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{112}x^{192} + g^{79}x^{160} + g^{178}x^{144} + g^{47}x^{136} + g^{37}x^{132} + g^{173}x^{130} + g^{120}x^{129} + g^{237}x^{96} + g^{29}x^{80} + g^{118}x^{72} + g^{183}x^{68} + g^{59}x^{66} + g^{144}x^{65} + g^{94}x^{48} + g^{205}x^{40} + g^{156}x^{36} + g^{87}x^{34} + g^{207}x^{33} + g^{131}x^{24} + g^{194}x^{20} + g^{231}x^{18} + g^{191}x^{17} + g^{205}x^{12} + g^{18}x^{10} + g^{13}x^{9} + g^{121}x^{6} + g^{177}x^{5} + g^{25}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2250</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{116}x^{192} + g^{121}x^{160} + g^{95}x^{144} + g^{233}x^{136} + g^{104}x^{132} + g^{169}x^{130} + g^{236}x^{129} + g^{211}x^{96} + g^{210}x^{80} + g^{243}x^{72} + g^{153}x^{68} + g^{73}x^{66} + g^{38}x^{65} + g^{173}x^{48} + g^{38}x^{40} + g^{237}x^{36} + g^{164}x^{34} + g^{18}x^{33} + g^{45}x^{24} + g^{32}x^{20} + g^{198}x^{18} + g^{216}x^{17} + g^{142}x^{12} + g^{172}x^{10} + g^{78}x^{9} + g^{250}x^{6} + g^{63}x^{5} + g^{187}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2251</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + x^{160} + g^{218}x^{144} + g^{92}x^{136} + g^{160}x^{132} + g^{85}x^{130} + g^{190}x^{129} + x^{96} + g^{125}x^{80} + g^{134}x^{72} + g^{214}x^{68} + g^{192}x^{66} + g^{97}x^{65} + g^{54}x^{48} + g^{11}x^{40} + g^{188}x^{36} + g^{182}x^{34} + g^{108}x^{33} + g^{251}x^{24} + g^{149}x^{20} + gx^{18} + g^{99}x^{17} + g^{75}x^{12} + g^{172}x^{10} + g^{182}x^{9} + g^{123}x^{6} + g^{181}x^{5} + g^{137}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2252</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{102}x^{192} + g^{13}x^{160} + g^{133}x^{144} + g^{211}x^{136} + g^{42}x^{132} + g^{130}x^{130} + g^{205}x^{129} + g^{248}x^{96} + g^{162}x^{80} + g^{9}x^{72} + g^{5}x^{68} + g^{7}x^{66} + g^{36}x^{65} + g^{136}x^{48} + g^{140}x^{40} + g^{67}x^{36} + g^{243}x^{34} + g^{204}x^{33} + g^{162}x^{24} + g^{118}x^{20} + g^{66}x^{18} + g^{145}x^{17} + g^{226}x^{12} + g^{199}x^{10} + g^{86}x^{9} + g^{167}x^{6} + g^{3}x^{5} + g^{87}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2253</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{128}x^{160} + g^{150}x^{144} + g^{222}x^{136} + g^{17}x^{132} + g^{14}x^{130} + g^{224}x^{129} + g^{199}x^{96} + g^{176}x^{80} + g^{5}x^{72} + g^{188}x^{68} + g^{209}x^{66} + g^{102}x^{65} + g^{76}x^{48} + g^{85}x^{40} + g^{171}x^{36} + g^{92}x^{34} + g^{141}x^{33} + g^{115}x^{24} + g^{36}x^{20} + g^{162}x^{18} + g^{61}x^{17} + g^{248}x^{12} + g^{235}x^{10} + g^{51}x^{9} + g^{251}x^{6} + g^{185}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2254</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{178}x^{192} + g^{87}x^{160} + g^{12}x^{144} + g^{123}x^{136} + g^{202}x^{132} + g^{147}x^{130} + g^{120}x^{129} + g^{85}x^{96} + g^{176}x^{80} + g^{218}x^{72} + g^{114}x^{68} + g^{64}x^{66} + g^{254}x^{65} + g^{87}x^{48} + g^{50}x^{40} + g^{237}x^{36} + g^{32}x^{34} + g^{224}x^{33} + g^{147}x^{24} + g^{59}x^{20} + g^{96}x^{18} + g^{76}x^{17} + g^{213}x^{12} + g^{112}x^{10} + g^{83}x^{9} + g^{91}x^{6} + g^{207}x^{5} + g^{249}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2255</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{192} + g^{53}x^{160} + g^{129}x^{144} + g^{225}x^{136} + g^{57}x^{132} + g^{12}x^{130} + g^{208}x^{129} + g^{235}x^{96} + g^{229}x^{80} + g^{83}x^{72} + g^{222}x^{68} + g^{227}x^{66} + g^{215}x^{65} + g^{141}x^{48} + g^{149}x^{40} + g^{230}x^{36} + g^{13}x^{34} + g^{6}x^{33} + g^{182}x^{24} + g^{228}x^{20} + g^{112}x^{18} + g^{165}x^{17} + g^{163}x^{12} + g^{235}x^{10} + g^{218}x^{9} + g^{126}x^{6} + g^{44}x^{5} + g^{195}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2256</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{170}x^{192} + g^{75}x^{160} + g^{35}x^{144} + g^{140}x^{136} + g^{32}x^{132} + g^{84}x^{130} + g^{218}x^{129} + g^{17}x^{96} + g^{229}x^{80} + g^{63}x^{72} + g^{147}x^{68} + g^{203}x^{66} + g^{40}x^{65} + g^{214}x^{48} + g^{138}x^{40} + g^{226}x^{36} + g^{7}x^{34} + g^{82}x^{33} + g^{76}x^{24} + g^{171}x^{20} + g^{138}x^{18} + g^{106}x^{17} + g^{9}x^{12} + g^{88}x^{10} + x^{9} + g^{213}x^{6} + g^{205}x^{5} + g^{6}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2257</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{208}x^{160} + g^{162}x^{144} + g^{195}x^{136} + g^{218}x^{132} + g^{58}x^{130} + g^{148}x^{129} + g^{154}x^{96} + g^{120}x^{80} + g^{242}x^{72} + g^{156}x^{68} + g^{145}x^{66} + g^{20}x^{65} + g^{77}x^{48} + g^{107}x^{40} + g^{217}x^{36} + g^{21}x^{34} + g^{2}x^{33} + g^{80}x^{24} + g^{115}x^{20} + g^{151}x^{18} + g^{20}x^{17} + g^{222}x^{12} + g^{4}x^{10} + g^{174}x^{9} + g^{67}x^{6} + g^{182}x^{5} + g^{183}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2258</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{18}x^{192} + g^{211}x^{160} + g^{207}x^{144} + g^{100}x^{136} + g^{169}x^{132} + g^{103}x^{130} + g^{88}x^{129} + g^{243}x^{96} + g^{189}x^{80} + g^{195}x^{72} + g^{197}x^{68} + g^{102}x^{66} + g^{148}x^{65} + g^{154}x^{48} + g^{121}x^{40} + g^{148}x^{36} + g^{8}x^{34} + g^{230}x^{33} + g^{254}x^{24} + g^{18}x^{20} + g^{166}x^{18} + g^{76}x^{17} + g^{13}x^{12} + g^{121}x^{10} + g^{33}x^{9} + g^{46}x^{6} + g^{6}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2259</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{218}x^{192} + g^{42}x^{160} + g^{218}x^{144} + g^{145}x^{136} + g^{169}x^{132} + g^{183}x^{130} + g^{210}x^{129} + g^{129}x^{96} + g^{124}x^{80} + g^{144}x^{72} + g^{174}x^{68} + g^{39}x^{66} + g^{120}x^{65} + x^{48} + g^{14}x^{40} + g^{97}x^{36} + g^{15}x^{34} + g^{40}x^{33} + g^{61}x^{24} + g^{101}x^{20} + g^{49}x^{18} + g^{144}x^{17} + g^{160}x^{12} + g^{116}x^{10} + g^{238}x^{9} + g^{208}x^{6} + g^{35}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2260</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{151}x^{192} + g^{144}x^{160} + g^{17}x^{144} + g^{172}x^{136} + g^{244}x^{132} + g^{2}x^{130} + g^{64}x^{129} + g^{88}x^{96} + g^{101}x^{80} + g^{186}x^{72} + g^{234}x^{68} + g^{211}x^{66} + g^{61}x^{65} + g^{31}x^{48} + g^{56}x^{40} + g^{67}x^{36} + g^{19}x^{34} + g^{43}x^{33} + g^{23}x^{24} + g^{4}x^{20} + g^{236}x^{18} + g^{210}x^{17} + g^{246}x^{12} + g^{213}x^{10} + g^{130}x^{9} + g^{49}x^{6} + g^{152}x^{5} + g^{234}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2261</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{227}x^{192} + g^{11}x^{160} + g^{105}x^{144} + g^{76}x^{136} + g^{195}x^{132} + g^{111}x^{130} + g^{171}x^{129} + g^{178}x^{96} + g^{101}x^{80} + g^{25}x^{72} + g^{7}x^{68} + g^{129}x^{66} + g^{91}x^{65} + g^{113}x^{48} + g^{103}x^{40} + g^{250}x^{36} + g^{4}x^{34} + g^{106}x^{33} + g^{18}x^{24} + g^{151}x^{20} + g^{152}x^{18} + g^{47}x^{17} + g^{65}x^{12} + g^{64}x^{10} + g^{207}x^{9} + g^{230}x^{6} + g^{99}x^{5} + g^{147}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2262</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{113}x^{192} + g^{131}x^{160} + g^{185}x^{144} + g^{60}x^{136} + g^{56}x^{132} + g^{248}x^{130} + g^{23}x^{129} + g^{239}x^{96} + g^{201}x^{80} + g^{43}x^{72} + g^{70}x^{68} + g^{17}x^{66} + g^{229}x^{65} + g^{80}x^{48} + g^{47}x^{40} + g^{251}x^{36} + g^{41}x^{34} + g^{61}x^{33} + g^{18}x^{24} + g^{128}x^{20} + g^{85}x^{18} + g^{136}x^{17} + g^{2}x^{12} + g^{11}x^{10} + g^{134}x^{9} + g^{155}x^{6} + g^{107}x^{5} + g^{213}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2263</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{61}x^{192} + g^{175}x^{160} + g^{19}x^{144} + g^{58}x^{136} + g^{75}x^{132} + g^{48}x^{130} + g^{24}x^{129} + g^{81}x^{96} + x^{80} + g^{236}x^{72} + g^{244}x^{68} + g^{227}x^{66} + g^{223}x^{65} + g^{8}x^{48} + g^{58}x^{40} + g^{251}x^{36} + g^{63}x^{34} + g^{72}x^{33} + g^{178}x^{24} + g^{154}x^{20} + g^{32}x^{18} + g^{119}x^{17} + g^{236}x^{12} + g^{150}x^{10} + g^{235}x^{9} + g^{240}x^{6} + g^{118}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2264</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{53}x^{192} + g^{78}x^{160} + g^{233}x^{144} + g^{60}x^{136} + g^{225}x^{132} + g^{153}x^{130} + g^{150}x^{129} + g^{60}x^{96} + g^{222}x^{80} + g^{167}x^{72} + g^{108}x^{68} + g^{98}x^{66} + g^{21}x^{65} + g^{17}x^{48} + g^{217}x^{40} + g^{111}x^{36} + g^{112}x^{34} + g^{58}x^{33} + g^{6}x^{24} + g^{218}x^{20} + g^{78}x^{18} + g^{87}x^{17} + g^{137}x^{12} + g^{209}x^{10} + g^{148}x^{9} + g^{233}x^{6} + g^{16}x^{5} + g^{155}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2265</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{111}x^{192} + g^{213}x^{160} + g^{132}x^{144} + g^{117}x^{136} + g^{245}x^{132} + g^{45}x^{130} + g^{216}x^{129} + g^{183}x^{96} + g^{12}x^{80} + g^{226}x^{72} + g^{176}x^{68} + g^{90}x^{66} + g^{189}x^{65} + g^{82}x^{48} + g^{35}x^{40} + g^{224}x^{36} + g^{198}x^{34} + g^{217}x^{33} + g^{200}x^{24} + g^{72}x^{20} + g^{139}x^{18} + g^{142}x^{17} + g^{245}x^{12} + g^{65}x^{10} + g^{164}x^{9} + g^{148}x^{6} + g^{105}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2266</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{144}x^{160} + g^{97}x^{144} + g^{21}x^{136} + g^{244}x^{132} + g^{178}x^{130} + g^{100}x^{129} + g^{219}x^{96} + g^{241}x^{80} + g^{67}x^{72} + g^{249}x^{68} + g^{252}x^{66} + g^{128}x^{65} + g^{65}x^{48} + g^{186}x^{40} + g^{121}x^{36} + g^{11}x^{34} + g^{168}x^{33} + g^{254}x^{24} + g^{239}x^{20} + g^{198}x^{18} + g^{47}x^{17} + g^{57}x^{12} + g^{104}x^{10} + g^{213}x^{9} + g^{27}x^{6} + g^{249}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2267</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{159}x^{192} + g^{172}x^{160} + g^{35}x^{144} + g^{245}x^{136} + g^{175}x^{132} + g^{142}x^{130} + g^{66}x^{129} + g^{53}x^{96} + g^{120}x^{80} + g^{233}x^{72} + g^{220}x^{68} + g^{109}x^{66} + g^{148}x^{65} + g^{77}x^{48} + g^{141}x^{40} + g^{247}x^{36} + g^{141}x^{34} + g^{47}x^{33} + g^{14}x^{24} + g^{208}x^{20} + g^{253}x^{18} + g^{144}x^{17} + g^{210}x^{12} + g^{132}x^{10} + g^{197}x^{9} + g^{128}x^{6} + g^{237}x^{5} + g^{68}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2268</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{192} + g^{3}x^{160} + g^{156}x^{144} + g^{220}x^{136} + g^{107}x^{132} + g^{131}x^{130} + g^{227}x^{129} + g^{116}x^{96} + g^{254}x^{80} + g^{49}x^{72} + g^{24}x^{68} + g^{214}x^{66} + g^{181}x^{65} + g^{221}x^{48} + g^{148}x^{40} + g^{146}x^{36} + g^{149}x^{34} + g^{9}x^{33} + g^{131}x^{24} + g^{39}x^{20} + g^{228}x^{18} + g^{220}x^{17} + g^{54}x^{12} + g^{66}x^{10} + g^{132}x^{9} + g^{104}x^{6} + g^{215}x^{5} + g^{175}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2269</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{212}x^{192} + g^{36}x^{160} + g^{233}x^{144} + g^{55}x^{136} + g^{21}x^{132} + g^{105}x^{130} + g^{34}x^{129} + g^{253}x^{96} + g^{189}x^{80} + g^{131}x^{72} + g^{116}x^{68} + g^{213}x^{66} + g^{234}x^{65} + g^{91}x^{48} + g^{65}x^{40} + g^{18}x^{36} + g^{143}x^{34} + g^{146}x^{33} + g^{233}x^{24} + g^{118}x^{20} + g^{23}x^{18} + g^{243}x^{17} + g^{109}x^{12} + g^{158}x^{10} + g^{75}x^{9} + g^{216}x^{6} + g^{114}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2270</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{253}x^{192} + g^{95}x^{160} + g^{80}x^{144} + g^{70}x^{136} + g^{40}x^{132} + g^{143}x^{130} + g^{61}x^{129} + g^{45}x^{96} + g^{79}x^{80} + g^{234}x^{72} + g^{30}x^{68} + g^{77}x^{66} + g^{72}x^{65} + g^{102}x^{48} + g^{98}x^{40} + g^{215}x^{36} + g^{240}x^{34} + g^{72}x^{33} + g^{171}x^{24} + g^{2}x^{20} + g^{105}x^{18} + g^{248}x^{17} + g^{192}x^{12} + g^{230}x^{10} + g^{61}x^{9} + g^{224}x^{6} + g^{133}x^{5} + g^{16}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2271</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{77}x^{192} + g^{180}x^{160} + g^{67}x^{144} + g^{76}x^{136} + g^{6}x^{132} + g^{33}x^{130} + g^{142}x^{129} + g^{82}x^{96} + g^{231}x^{80} + g^{187}x^{72} + g^{222}x^{68} + g^{210}x^{66} + g^{163}x^{65} + g^{49}x^{48} + g^{113}x^{40} + g^{130}x^{36} + g^{248}x^{34} + g^{191}x^{33} + g^{17}x^{24} + g^{160}x^{20} + g^{132}x^{18} + g^{7}x^{17} + g^{246}x^{12} + g^{201}x^{10} + g^{109}x^{9} + g^{43}x^{6} + g^{109}x^{5} + g^{206}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2272</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{173}x^{192} + g^{74}x^{160} + g^{185}x^{144} + g^{202}x^{136} + g^{131}x^{132} + g^{20}x^{130} + g^{233}x^{129} + g^{217}x^{96} + g^{131}x^{80} + g^{12}x^{72} + g^{108}x^{68} + g^{233}x^{66} + g^{27}x^{65} + g^{57}x^{48} + g^{196}x^{40} + g^{122}x^{36} + g^{245}x^{34} + g^{30}x^{33} + g^{205}x^{24} + g^{227}x^{20} + g^{133}x^{18} + g^{33}x^{17} + g^{36}x^{12} + g^{88}x^{10} + g^{111}x^{9} + g^{185}x^{6} + g^{98}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2273</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{252}x^{192} + g^{184}x^{160} + g^{119}x^{144} + g^{73}x^{136} + g^{189}x^{132} + g^{231}x^{130} + g^{156}x^{129} + g^{154}x^{96} + g^{124}x^{80} + g^{204}x^{72} + g^{161}x^{68} + g^{129}x^{66} + g^{235}x^{65} + g^{122}x^{48} + g^{169}x^{40} + g^{71}x^{36} + g^{83}x^{34} + g^{234}x^{33} + g^{248}x^{24} + g^{118}x^{20} + g^{51}x^{18} + g^{190}x^{17} + g^{141}x^{12} + g^{56}x^{10} + g^{121}x^{9} + g^{114}x^{6} + g^{72}x^{5} + g^{213}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2274</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{197}x^{160} + g^{221}x^{144} + g^{117}x^{136} + g^{112}x^{132} + g^{196}x^{130} + g^{205}x^{129} + g^{253}x^{96} + g^{20}x^{80} + g^{197}x^{72} + g^{203}x^{68} + g^{109}x^{66} + g^{211}x^{65} + g^{213}x^{48} + g^{217}x^{40} + g^{11}x^{36} + g^{237}x^{34} + g^{210}x^{33} + g^{90}x^{24} + g^{237}x^{20} + g^{186}x^{18} + g^{52}x^{17} + g^{138}x^{12} + g^{77}x^{10} + g^{159}x^{9} + g^{132}x^{6} + g^{91}x^{5} + g^{165}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2275</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{70}x^{192} + g^{117}x^{160} + g^{91}x^{144} + g^{37}x^{136} + g^{95}x^{132} + g^{41}x^{130} + x^{129} + g^{122}x^{96} + g^{160}x^{80} + g^{96}x^{72} + g^{240}x^{68} + g^{45}x^{66} + g^{63}x^{65} + g^{36}x^{48} + g^{96}x^{40} + g^{180}x^{36} + g^{196}x^{34} + g^{128}x^{33} + g^{202}x^{24} + g^{210}x^{20} + g^{215}x^{18} + g^{216}x^{17} + g^{236}x^{12} + g^{183}x^{10} + g^{100}x^{9} + g^{204}x^{6} + g^{114}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2276</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{21}x^{160} + g^{51}x^{144} + g^{157}x^{136} + g^{223}x^{132} + g^{216}x^{130} + g^{166}x^{129} + g^{57}x^{96} + g^{54}x^{80} + g^{45}x^{72} + g^{31}x^{68} + g^{83}x^{66} + g^{117}x^{65} + g^{109}x^{48} + g^{69}x^{40} + g^{135}x^{36} + g^{109}x^{34} + g^{78}x^{33} + g^{205}x^{24} + g^{168}x^{20} + g^{52}x^{18} + g^{153}x^{17} + g^{148}x^{12} + g^{89}x^{10} + g^{178}x^{9} + g^{215}x^{6} + g^{28}x^{5} + g^{58}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2277</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{179}x^{192} + g^{28}x^{160} + g^{247}x^{144} + g^{253}x^{136} + g^{166}x^{132} + g^{120}x^{130} + g^{157}x^{129} + g^{193}x^{96} + g^{66}x^{80} + g^{45}x^{72} + g^{231}x^{68} + g^{231}x^{66} + g^{147}x^{65} + g^{31}x^{48} + g^{185}x^{40} + g^{131}x^{36} + g^{110}x^{34} + g^{170}x^{33} + g^{60}x^{24} + g^{8}x^{20} + g^{3}x^{18} + g^{36}x^{17} + g^{70}x^{12} + g^{218}x^{10} + g^{171}x^{9} + g^{222}x^{6} + g^{215}x^{5} + g^{231}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2278</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{251}x^{192} + g^{252}x^{160} + g^{212}x^{144} + g^{158}x^{136} + g^{167}x^{132} + g^{61}x^{130} + g^{128}x^{129} + g^{161}x^{96} + g^{69}x^{80} + g^{29}x^{72} + g^{136}x^{68} + g^{185}x^{66} + g^{27}x^{65} + g^{188}x^{48} + g^{141}x^{40} + g^{19}x^{36} + g^{173}x^{34} + g^{124}x^{33} + g^{215}x^{24} + g^{96}x^{20} + g^{49}x^{18} + g^{229}x^{17} + g^{51}x^{12} + g^{107}x^{10} + g^{19}x^{9} + g^{163}x^{6} + g^{125}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2279</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{59}x^{160} + g^{113}x^{144} + g^{215}x^{136} + g^{174}x^{132} + g^{33}x^{130} + g^{50}x^{129} + g^{52}x^{96} + g^{46}x^{80} + g^{242}x^{72} + g^{97}x^{68} + g^{26}x^{66} + g^{86}x^{65} + g^{110}x^{48} + g^{40}x^{40} + g^{251}x^{36} + g^{73}x^{34} + g^{90}x^{33} + g^{138}x^{24} + g^{26}x^{20} + g^{198}x^{18} + g^{251}x^{17} + g^{142}x^{12} + g^{128}x^{10} + g^{190}x^{9} + g^{112}x^{6} + g^{60}x^{5} + g^{78}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2280</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{104}x^{160} + g^{68}x^{144} + g^{201}x^{136} + g^{202}x^{132} + g^{2}x^{130} + g^{15}x^{129} + g^{200}x^{96} + g^{9}x^{80} + g^{79}x^{72} + g^{9}x^{68} + g^{222}x^{66} + g^{39}x^{65} + g^{9}x^{48} + g^{217}x^{40} + g^{120}x^{36} + g^{154}x^{34} + g^{201}x^{33} + g^{135}x^{24} + g^{41}x^{20} + g^{247}x^{18} + g^{198}x^{17} + g^{127}x^{12} + g^{233}x^{10} + g^{62}x^{9} + g^{178}x^{6} + g^{76}x^{5} + g^{83}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2281</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{82}x^{192} + g^{195}x^{160} + g^{88}x^{144} + g^{136}x^{136} + g^{83}x^{132} + g^{35}x^{130} + g^{178}x^{129} + g^{178}x^{96} + g^{126}x^{80} + g^{139}x^{72} + g^{33}x^{68} + g^{175}x^{66} + g^{149}x^{65} + g^{203}x^{48} + g^{5}x^{40} + g^{214}x^{36} + g^{81}x^{34} + g^{213}x^{33} + g^{239}x^{24} + g^{188}x^{20} + g^{73}x^{18} + g^{46}x^{17} + g^{91}x^{12} + g^{215}x^{10} + g^{228}x^{9} + g^{249}x^{6} + g^{249}x^{5} + g^{198}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2282</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{66}x^{192} + g^{146}x^{160} + g^{181}x^{144} + g^{186}x^{136} + g^{250}x^{132} + g^{185}x^{130} + g^{233}x^{129} + g^{172}x^{96} + g^{149}x^{80} + g^{78}x^{72} + g^{175}x^{68} + g^{233}x^{66} + g^{131}x^{65} + g^{40}x^{48} + g^{113}x^{40} + g^{55}x^{36} + g^{206}x^{33} + g^{16}x^{24} + g^{206}x^{20} + g^{104}x^{18} + g^{174}x^{17} + g^{230}x^{12} + g^{85}x^{10} + g^{246}x^{9} + g^{86}x^{6} + g^{51}x^{5} + g^{107}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2283</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{76}x^{192} + g^{147}x^{160} + g^{192}x^{144} + g^{85}x^{136} + g^{55}x^{132} + g^{8}x^{130} + g^{203}x^{129} + g^{52}x^{96} + g^{32}x^{80} + g^{9}x^{72} + g^{53}x^{68} + g^{81}x^{66} + g^{51}x^{65} + g^{164}x^{48} + g^{33}x^{40} + g^{125}x^{36} + g^{47}x^{34} + g^{244}x^{33} + g^{98}x^{24} + g^{60}x^{20} + g^{29}x^{18} + g^{98}x^{17} + g^{244}x^{12} + g^{70}x^{10} + g^{234}x^{9} + g^{103}x^{6} + g^{203}x^{5} + g^{162}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2284</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{50}x^{192} + g^{19}x^{160} + g^{157}x^{144} + g^{176}x^{136} + x^{132} + g^{191}x^{130} + g^{29}x^{129} + g^{27}x^{96} + g^{222}x^{80} + g^{83}x^{72} + g^{9}x^{68} + g^{247}x^{66} + g^{18}x^{65} + g^{118}x^{48} + g^{247}x^{40} + g^{43}x^{36} + g^{19}x^{34} + g^{223}x^{33} + g^{34}x^{24} + g^{55}x^{20} + g^{74}x^{18} + g^{78}x^{17} + g^{226}x^{12} + g^{223}x^{10} + g^{18}x^{9} + g^{182}x^{6} + g^{99}x^{5} + g^{204}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2285</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{17}x^{192} + g^{15}x^{160} + g^{65}x^{144} + g^{24}x^{136} + g^{215}x^{132} + g^{60}x^{130} + g^{14}x^{129} + g^{120}x^{96} + g^{18}x^{80} + g^{162}x^{72} + g^{217}x^{68} + g^{202}x^{66} + g^{205}x^{65} + g^{231}x^{48} + g^{218}x^{40} + g^{214}x^{36} + g^{109}x^{34} + g^{18}x^{33} + g^{254}x^{24} + g^{21}x^{20} + g^{242}x^{18} + gx^{17} + g^{96}x^{12} + g^{103}x^{10} + g^{229}x^{9} + g^{191}x^{6} + g^{254}x^{5} + g^{43}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2286</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{102}x^{160} + g^{46}x^{144} + g^{213}x^{136} + g^{51}x^{132} + g^{88}x^{130} + g^{201}x^{129} + g^{153}x^{96} + g^{137}x^{80} + g^{23}x^{72} + g^{155}x^{68} + g^{191}x^{66} + g^{71}x^{65} + g^{251}x^{48} + g^{62}x^{40} + g^{30}x^{36} + g^{147}x^{34} + g^{43}x^{33} + g^{79}x^{24} + g^{163}x^{20} + g^{39}x^{18} + g^{207}x^{17} + g^{219}x^{12} + g^{61}x^{10} + g^{214}x^{9} + g^{60}x^{6} + g^{78}x^{5} + g^{153}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2287</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{254}x^{192} + g^{59}x^{160} + g^{168}x^{144} + g^{170}x^{136} + g^{253}x^{132} + g^{162}x^{130} + g^{65}x^{129} + g^{192}x^{96} + g^{49}x^{80} + g^{169}x^{72} + g^{204}x^{68} + g^{191}x^{66} + g^{103}x^{65} + g^{101}x^{48} + g^{106}x^{40} + g^{122}x^{34} + g^{212}x^{33} + g^{42}x^{24} + g^{8}x^{20} + g^{32}x^{18} + g^{93}x^{17} + g^{100}x^{12} + g^{42}x^{10} + g^{251}x^{9} + g^{190}x^{6} + g^{97}x^{5} + g^{43}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2288</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{202}x^{192} + g^{215}x^{160} + g^{51}x^{144} + g^{121}x^{136} + g^{218}x^{132} + g^{219}x^{130} + g^{148}x^{129} + g^{130}x^{96} + g^{100}x^{80} + g^{76}x^{72} + g^{217}x^{68} + g^{173}x^{66} + g^{210}x^{65} + g^{202}x^{48} + g^{48}x^{40} + g^{97}x^{36} + g^{143}x^{34} + g^{14}x^{33} + g^{27}x^{24} + g^{252}x^{20} + g^{238}x^{18} + g^{238}x^{17} + g^{6}x^{12} + g^{236}x^{10} + g^{220}x^{9} + g^{181}x^{6} + g^{157}x^{5} + g^{139}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2289</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{192} + g^{131}x^{160} + g^{243}x^{144} + g^{5}x^{136} + g^{85}x^{132} + g^{32}x^{130} + g^{181}x^{129} + g^{90}x^{96} + g^{36}x^{80} + g^{57}x^{72} + g^{249}x^{68} + g^{201}x^{66} + g^{4}x^{65} + g^{52}x^{48} + g^{228}x^{40} + g^{123}x^{36} + g^{102}x^{34} + g^{228}x^{33} + g^{168}x^{24} + g^{179}x^{20} + g^{206}x^{18} + g^{142}x^{17} + g^{32}x^{12} + g^{246}x^{10} + g^{220}x^{9} + g^{39}x^{6} + g^{162}x^{5} + g^{8}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2290</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{192} + g^{51}x^{160} + g^{201}x^{144} + g^{193}x^{136} + g^{168}x^{132} + g^{60}x^{130} + g^{16}x^{129} + g^{239}x^{96} + g^{170}x^{80} + g^{199}x^{72} + g^{35}x^{68} + g^{52}x^{66} + g^{24}x^{65} + g^{206}x^{48} + g^{180}x^{40} + g^{50}x^{36} + g^{169}x^{34} + g^{150}x^{33} + g^{137}x^{24} + g^{227}x^{20} + g^{174}x^{18} + g^{81}x^{17} + g^{108}x^{12} + g^{67}x^{10} + g^{168}x^{9} + g^{103}x^{6} + g^{163}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2291</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{82}x^{192} + g^{239}x^{160} + g^{38}x^{144} + g^{83}x^{136} + g^{54}x^{132} + g^{53}x^{130} + g^{54}x^{129} + g^{187}x^{96} + g^{235}x^{80} + g^{219}x^{72} + g^{65}x^{68} + g^{69}x^{66} + g^{18}x^{65} + g^{147}x^{48} + g^{143}x^{36} + g^{86}x^{34} + g^{49}x^{33} + g^{79}x^{24} + g^{20}x^{20} + g^{206}x^{18} + g^{4}x^{17} + g^{115}x^{12} + g^{37}x^{10} + g^{77}x^{9} + g^{134}x^{6} + g^{98}x^{5} + g^{25}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2292</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{181}x^{192} + g^{228}x^{160} + g^{220}x^{144} + g^{235}x^{136} + g^{140}x^{132} + g^{31}x^{130} + g^{156}x^{129} + g^{243}x^{96} + g^{94}x^{80} + g^{230}x^{72} + g^{181}x^{68} + g^{106}x^{66} + g^{36}x^{65} + g^{15}x^{48} + g^{30}x^{40} + g^{18}x^{36} + g^{218}x^{34} + g^{117}x^{33} + g^{74}x^{24} + g^{83}x^{20} + g^{182}x^{18} + g^{12}x^{17} + g^{9}x^{12} + g^{5}x^{10} + g^{132}x^{9} + g^{21}x^{6} + g^{114}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2293</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{160} + g^{97}x^{144} + g^{9}x^{136} + g^{210}x^{132} + g^{252}x^{130} + g^{230}x^{129} + g^{53}x^{96} + g^{72}x^{80} + g^{32}x^{72} + g^{96}x^{68} + g^{29}x^{66} + g^{3}x^{65} + g^{49}x^{48} + g^{74}x^{40} + g^{56}x^{36} + g^{64}x^{34} + g^{226}x^{33} + g^{53}x^{24} + g^{194}x^{20} + g^{71}x^{18} + g^{197}x^{17} + g^{213}x^{12} + g^{72}x^{10} + g^{228}x^{9} + g^{102}x^{6} + g^{78}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2294</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{188}x^{160} + g^{21}x^{144} + g^{92}x^{136} + g^{173}x^{132} + g^{174}x^{130} + g^{226}x^{129} + g^{128}x^{96} + g^{168}x^{80} + g^{32}x^{72} + g^{187}x^{68} + g^{245}x^{66} + g^{162}x^{65} + g^{99}x^{48} + g^{197}x^{40} + g^{211}x^{36} + g^{155}x^{34} + g^{64}x^{33} + g^{248}x^{24} + g^{166}x^{20} + g^{109}x^{18} + g^{246}x^{17} + g^{48}x^{12} + g^{241}x^{10} + g^{183}x^{9} + g^{20}x^{6} + g^{138}x^{5} + g^{226}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2295</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{227}x^{192} + g^{139}x^{160} + g^{231}x^{144} + g^{150}x^{136} + g^{151}x^{132} + g^{3}x^{130} + g^{70}x^{129} + g^{144}x^{96} + g^{111}x^{80} + g^{187}x^{72} + g^{205}x^{68} + g^{32}x^{66} + g^{200}x^{65} + g^{91}x^{48} + g^{180}x^{40} + g^{51}x^{36} + g^{142}x^{34} + g^{85}x^{33} + g^{7}x^{24} + g^{55}x^{20} + g^{245}x^{18} + g^{91}x^{17} + g^{111}x^{12} + g^{70}x^{10} + g^{129}x^{9} + g^{177}x^{5} + g^{82}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2296</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{145}x^{192} + g^{231}x^{160} + g^{180}x^{144} + g^{143}x^{136} + g^{152}x^{132} + g^{224}x^{130} + g^{81}x^{129} + g^{138}x^{96} + g^{148}x^{80} + g^{100}x^{72} + g^{208}x^{68} + g^{47}x^{66} + g^{207}x^{65} + g^{101}x^{48} + g^{125}x^{40} + g^{85}x^{36} + g^{55}x^{34} + g^{130}x^{33} + g^{111}x^{24} + g^{231}x^{20} + g^{113}x^{18} + g^{251}x^{17} + g^{178}x^{12} + g^{65}x^{10} + g^{92}x^{9} + g^{101}x^{6} + g^{51}x^{5} + g^{245}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2297</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{254}x^{192} + g^{88}x^{160} + g^{253}x^{144} + g^{125}x^{136} + g^{70}x^{132} + g^{233}x^{130} + g^{214}x^{129} + g^{53}x^{96} + g^{156}x^{80} + g^{249}x^{72} + g^{219}x^{68} + g^{95}x^{66} + g^{134}x^{65} + g^{144}x^{48} + g^{187}x^{40} + g^{114}x^{36} + g^{58}x^{34} + g^{213}x^{33} + g^{135}x^{24} + g^{198}x^{20} + g^{184}x^{18} + g^{157}x^{17} + g^{71}x^{12} + g^{241}x^{10} + g^{120}x^{9} + g^{203}x^{6} + g^{31}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2298</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{134}x^{160} + g^{163}x^{144} + g^{131}x^{136} + g^{153}x^{132} + g^{97}x^{130} + g^{61}x^{129} + g^{237}x^{96} + g^{220}x^{80} + g^{101}x^{72} + g^{108}x^{68} + g^{65}x^{66} + g^{39}x^{65} + g^{253}x^{48} + g^{35}x^{40} + g^{93}x^{36} + g^{172}x^{34} + g^{89}x^{33} + g^{145}x^{24} + g^{234}x^{20} + g^{10}x^{18} + g^{19}x^{17} + g^{123}x^{12} + g^{222}x^{10} + g^{22}x^{9} + g^{147}x^{6} + g^{203}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2299</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{121}x^{160} + g^{82}x^{144} + g^{116}x^{136} + g^{94}x^{132} + g^{228}x^{130} + g^{18}x^{129} + g^{249}x^{96} + g^{126}x^{80} + g^{224}x^{72} + g^{124}x^{68} + g^{149}x^{66} + g^{69}x^{65} + g^{223}x^{48} + g^{228}x^{40} + g^{16}x^{36} + g^{129}x^{34} + g^{230}x^{33} + g^{189}x^{24} + g^{58}x^{20} + g^{10}x^{18} + g^{59}x^{17} + g^{190}x^{12} + g^{76}x^{10} + g^{77}x^{9} + g^{142}x^{6} + g^{168}x^{5} + g^{181}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2300</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{228}x^{192} + g^{68}x^{160} + g^{156}x^{144} + g^{245}x^{136} + g^{150}x^{132} + g^{130}x^{130} + g^{149}x^{129} + g^{217}x^{96} + g^{103}x^{80} + g^{138}x^{72} + g^{88}x^{68} + g^{169}x^{66} + g^{99}x^{65} + g^{121}x^{48} + g^{147}x^{40} + g^{176}x^{36} + g^{163}x^{34} + g^{186}x^{33} + g^{212}x^{24} + g^{94}x^{20} + g^{136}x^{18} + g^{32}x^{17} + g^{245}x^{12} + g^{53}x^{10} + g^{48}x^{9} + g^{218}x^{6} + g^{79}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/2001_2500/2201_2300.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>