
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>2301</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{8}x^{160} + g^{113}x^{144} + g^{220}x^{136} + g^{33}x^{132} + g^{141}x^{130} + g^{212}x^{129} + g^{75}x^{96} + g^{234}x^{80} + g^{157}x^{72} + g^{162}x^{68} + g^{204}x^{66} + g^{5}x^{65} + g^{178}x^{48} + g^{180}x^{40} + g^{166}x^{36} + g^{84}x^{34} + g^{185}x^{33} + g^{243}x^{24} + g^{178}x^{20} + g^{143}x^{18} + g^{221}x^{17} + g^{30}x^{12} + g^{130}x^{10} + g^{54}x^{9} + g^{122}x^{6} + g^{38}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2302</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{220}x^{160} + g^{29}x^{144} + g^{209}x^{136} + g^{106}x^{132} + g^{81}x^{130} + g^{54}x^{129} + g^{189}x^{96} + g^{197}x^{80} + g^{70}x^{72} + g^{219}x^{68} + g^{197}x^{66} + g^{243}x^{65} + g^{248}x^{48} + g^{170}x^{40} + g^{65}x^{36} + g^{33}x^{34} + g^{27}x^{33} + g^{120}x^{24} + g^{244}x^{20} + g^{52}x^{18} + g^{86}x^{17} + g^{87}x^{12} + g^{226}x^{10} + g^{71}x^{9} + g^{66}x^{6} + g^{224}x^{5} + g^{244}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2303</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{220}x^{192} + g^{216}x^{160} + g^{154}x^{144} + g^{183}x^{136} + g^{30}x^{132} + g^{130}x^{130} + g^{86}x^{129} + g^{195}x^{96} + g^{70}x^{80} + g^{207}x^{72} + g^{104}x^{68} + g^{236}x^{66} + g^{141}x^{65} + g^{245}x^{48} + g^{206}x^{40} + g^{58}x^{36} + g^{240}x^{34} + g^{163}x^{33} + g^{14}x^{24} + g^{98}x^{20} + g^{241}x^{18} + g^{81}x^{17} + g^{81}x^{12} + g^{170}x^{10} + g^{197}x^{9} + g^{105}x^{6} + g^{101}x^{5} + g^{93}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2304</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{79}x^{160} + g^{203}x^{144} + g^{222}x^{136} + g^{27}x^{132} + g^{222}x^{130} + g^{214}x^{129} + g^{149}x^{96} + g^{191}x^{80} + g^{145}x^{72} + g^{76}x^{68} + g^{64}x^{66} + g^{231}x^{65} + g^{174}x^{48} + g^{153}x^{40} + g^{52}x^{36} + g^{2}x^{34} + g^{164}x^{33} + g^{104}x^{24} + g^{74}x^{20} + g^{32}x^{18} + g^{19}x^{17} + g^{210}x^{12} + g^{227}x^{10} + g^{43}x^{9} + g^{206}x^{6} + g^{74}x^{5} + g^{95}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2305</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{5}x^{160} + g^{48}x^{144} + g^{40}x^{136} + g^{142}x^{132} + g^{217}x^{130} + g^{207}x^{129} + g^{188}x^{96} + g^{63}x^{80} + g^{203}x^{72} + g^{57}x^{68} + g^{177}x^{66} + g^{118}x^{65} + g^{130}x^{48} + g^{15}x^{40} + g^{79}x^{36} + g^{151}x^{34} + g^{77}x^{33} + g^{2}x^{24} + g^{19}x^{20} + g^{52}x^{18} + g^{7}x^{17} + g^{165}x^{12} + g^{96}x^{10} + g^{81}x^{9} + g^{201}x^{6} + g^{20}x^{5} + g^{197}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2306</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{13}x^{192} + g^{121}x^{160} + g^{44}x^{144} + g^{32}x^{136} + g^{230}x^{132} + g^{200}x^{130} + g^{157}x^{129} + g^{243}x^{96} + g^{99}x^{80} + g^{92}x^{72} + g^{150}x^{68} + g^{196}x^{66} + g^{185}x^{65} + g^{99}x^{48} + g^{200}x^{40} + g^{59}x^{36} + g^{133}x^{34} + g^{89}x^{33} + g^{199}x^{24} + g^{212}x^{20} + g^{254}x^{18} + g^{21}x^{17} + g^{184}x^{10} + g^{83}x^{9} + g^{82}x^{6} + g^{127}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2307</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{39}x^{192} + g^{215}x^{160} + g^{88}x^{144} + g^{91}x^{136} + g^{139}x^{132} + g^{116}x^{130} + g^{221}x^{129} + g^{44}x^{96} + g^{190}x^{80} + g^{207}x^{72} + g^{88}x^{68} + g^{230}x^{66} + g^{51}x^{65} + g^{124}x^{48} + g^{154}x^{40} + g^{140}x^{36} + g^{65}x^{34} + g^{101}x^{33} + g^{194}x^{24} + g^{163}x^{20} + g^{73}x^{18} + g^{193}x^{17} + g^{234}x^{12} + g^{135}x^{10} + g^{94}x^{9} + g^{21}x^{6} + g^{43}x^{5} + g^{207}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2308</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{67}x^{192} + g^{167}x^{160} + g^{137}x^{144} + g^{130}x^{136} + g^{32}x^{132} + g^{148}x^{130} + g^{107}x^{129} + g^{58}x^{96} + g^{195}x^{80} + g^{242}x^{72} + g^{59}x^{68} + g^{88}x^{66} + g^{12}x^{65} + g^{197}x^{48} + g^{198}x^{40} + g^{79}x^{36} + g^{50}x^{34} + g^{53}x^{33} + g^{53}x^{24} + g^{145}x^{20} + g^{68}x^{18} + g^{138}x^{17} + g^{93}x^{12} + g^{131}x^{10} + gx^{9} + g^{73}x^{6} + g^{3}x^{5} + g^{134}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2309</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{251}x^{192} + g^{30}x^{160} + g^{81}x^{144} + g^{178}x^{136} + g^{143}x^{132} + g^{70}x^{130} + g^{248}x^{129} + g^{230}x^{96} + g^{225}x^{80} + g^{101}x^{72} + g^{144}x^{68} + g^{161}x^{66} + g^{238}x^{65} + g^{10}x^{48} + g^{78}x^{40} + g^{247}x^{36} + g^{186}x^{34} + g^{244}x^{33} + g^{99}x^{24} + g^{219}x^{20} + g^{128}x^{18} + g^{60}x^{17} + g^{208}x^{12} + g^{247}x^{10} + g^{40}x^{9} + g^{95}x^{6} + g^{221}x^{5} + g^{225}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2310</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{238}x^{192} + g^{173}x^{160} + g^{214}x^{144} + g^{139}x^{136} + g^{50}x^{132} + g^{139}x^{130} + g^{23}x^{129} + g^{4}x^{96} + g^{59}x^{80} + g^{208}x^{72} + g^{168}x^{68} + g^{43}x^{66} + g^{36}x^{65} + g^{222}x^{48} + g^{10}x^{40} + g^{23}x^{36} + g^{39}x^{34} + g^{248}x^{33} + g^{248}x^{24} + g^{147}x^{20} + g^{166}x^{18} + g^{56}x^{17} + g^{162}x^{12} + g^{55}x^{10} + g^{201}x^{9} + g^{76}x^{6} + g^{231}x^{5} + g^{211}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2311</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{45}x^{192} + g^{137}x^{160} + g^{143}x^{144} + g^{194}x^{136} + g^{6}x^{132} + g^{239}x^{130} + g^{84}x^{129} + g^{48}x^{96} + g^{92}x^{80} + g^{208}x^{72} + g^{46}x^{68} + g^{206}x^{66} + g^{151}x^{65} + g^{252}x^{48} + g^{218}x^{40} + g^{98}x^{36} + g^{208}x^{34} + g^{228}x^{33} + g^{184}x^{24} + g^{96}x^{20} + g^{77}x^{18} + g^{127}x^{17} + g^{105}x^{12} + g^{208}x^{10} + g^{32}x^{9} + g^{17}x^{6} + g^{166}x^{5} + g^{215}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2312</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{60}x^{192} + g^{170}x^{160} + g^{212}x^{144} + g^{12}x^{136} + g^{181}x^{132} + g^{121}x^{130} + g^{61}x^{129} + g^{30}x^{96} + x^{80} + g^{196}x^{72} + g^{12}x^{68} + g^{122}x^{66} + g^{202}x^{65} + g^{215}x^{48} + g^{63}x^{40} + g^{246}x^{36} + g^{13}x^{34} + g^{228}x^{33} + g^{178}x^{24} + g^{110}x^{20} + g^{211}x^{18} + g^{221}x^{17} + g^{171}x^{12} + x^{10} + g^{167}x^{9} + g^{80}x^{6} + g^{218}x^{5} + g^{154}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2313</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{124}x^{192} + g^{127}x^{160} + g^{65}x^{144} + g^{66}x^{136} + g^{104}x^{132} + g^{247}x^{130} + g^{211}x^{129} + g^{89}x^{96} + g^{134}x^{80} + g^{3}x^{72} + g^{80}x^{68} + g^{202}x^{66} + g^{246}x^{65} + g^{38}x^{48} + g^{160}x^{40} + g^{237}x^{36} + g^{7}x^{34} + g^{23}x^{33} + g^{168}x^{24} + g^{89}x^{20} + g^{241}x^{18} + g^{47}x^{17} + g^{199}x^{12} + g^{126}x^{10} + g^{101}x^{9} + g^{252}x^{6} + g^{221}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2314</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{192} + g^{144}x^{160} + g^{64}x^{144} + g^{227}x^{136} + gx^{132} + g^{3}x^{130} + g^{124}x^{129} + g^{192}x^{96} + g^{94}x^{80} + g^{2}x^{72} + g^{232}x^{68} + g^{103}x^{66} + g^{83}x^{65} + g^{163}x^{48} + g^{92}x^{40} + g^{128}x^{36} + g^{77}x^{34} + g^{90}x^{33} + g^{52}x^{24} + gx^{20} + g^{93}x^{18} + g^{87}x^{17} + g^{32}x^{12} + g^{47}x^{10} + g^{254}x^{9} + x^{6} + g^{71}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2315</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{25}x^{192} + g^{6}x^{160} + g^{56}x^{144} + g^{245}x^{136} + g^{179}x^{132} + g^{11}x^{130} + g^{141}x^{129} + g^{245}x^{96} + g^{36}x^{80} + g^{134}x^{72} + g^{118}x^{68} + g^{209}x^{66} + g^{100}x^{65} + gx^{48} + g^{118}x^{40} + g^{169}x^{36} + g^{143}x^{34} + g^{133}x^{33} + g^{171}x^{24} + g^{53}x^{20} + g^{185}x^{18} + g^{212}x^{17} + g^{208}x^{12} + g^{63}x^{10} + g^{217}x^{9} + g^{229}x^{6} + g^{40}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2316</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{112}x^{192} + g^{129}x^{160} + g^{125}x^{144} + g^{240}x^{132} + g^{240}x^{130} + g^{81}x^{129} + g^{20}x^{96} + g^{38}x^{80} + g^{250}x^{72} + g^{237}x^{68} + g^{41}x^{66} + g^{59}x^{65} + g^{164}x^{48} + g^{22}x^{40} + g^{151}x^{36} + g^{140}x^{34} + g^{2}x^{33} + g^{48}x^{24} + g^{171}x^{20} + g^{124}x^{18} + g^{10}x^{17} + g^{44}x^{12} + g^{180}x^{10} + g^{177}x^{9} + g^{122}x^{6} + g^{192}x^{5} + g^{163}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2317</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + g^{141}x^{160} + g^{101}x^{144} + g^{201}x^{136} + g^{7}x^{132} + g^{34}x^{130} + g^{150}x^{129} + g^{168}x^{96} + g^{245}x^{80} + g^{95}x^{72} + g^{31}x^{68} + g^{77}x^{66} + g^{241}x^{65} + g^{87}x^{48} + g^{27}x^{40} + g^{216}x^{36} + g^{246}x^{34} + g^{19}x^{33} + g^{84}x^{24} + g^{114}x^{20} + g^{10}x^{18} + g^{8}x^{17} + g^{217}x^{12} + g^{28}x^{10} + g^{75}x^{9} + g^{191}x^{6} + g^{238}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2318</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{170}x^{192} + g^{205}x^{160} + g^{53}x^{144} + g^{41}x^{136} + g^{75}x^{132} + g^{117}x^{130} + g^{247}x^{129} + g^{29}x^{96} + g^{149}x^{80} + g^{91}x^{72} + g^{117}x^{68} + g^{48}x^{66} + g^{72}x^{65} + g^{37}x^{48} + g^{178}x^{40} + g^{157}x^{36} + g^{176}x^{34} + g^{18}x^{33} + g^{210}x^{24} + g^{207}x^{20} + g^{251}x^{18} + g^{26}x^{17} + g^{199}x^{12} + g^{22}x^{10} + g^{20}x^{9} + g^{73}x^{6} + g^{234}x^{5} + g^{153}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2319</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{86}x^{192} + g^{153}x^{160} + g^{190}x^{144} + g^{88}x^{136} + g^{206}x^{132} + g^{208}x^{130} + g^{205}x^{129} + g^{45}x^{96} + g^{99}x^{80} + g^{232}x^{72} + g^{69}x^{68} + g^{241}x^{66} + g^{24}x^{65} + g^{154}x^{48} + g^{245}x^{40} + g^{29}x^{36} + g^{70}x^{34} + g^{142}x^{33} + g^{146}x^{24} + g^{152}x^{20} + g^{67}x^{18} + g^{67}x^{17} + g^{40}x^{12} + g^{203}x^{10} + g^{116}x^{9} + g^{70}x^{6} + g^{55}x^{5} + g^{119}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2320</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{78}x^{160} + g^{163}x^{144} + g^{114}x^{136} + g^{18}x^{132} + g^{18}x^{130} + g^{211}x^{129} + g^{224}x^{96} + g^{211}x^{80} + g^{175}x^{72} + g^{247}x^{68} + g^{88}x^{66} + g^{189}x^{65} + g^{126}x^{48} + g^{61}x^{40} + g^{127}x^{36} + g^{228}x^{34} + g^{207}x^{33} + g^{64}x^{24} + g^{8}x^{20} + g^{131}x^{18} + g^{190}x^{17} + g^{42}x^{12} + g^{60}x^{10} + g^{38}x^{9} + g^{67}x^{6} + g^{234}x^{5} + g^{55}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2321</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{195}x^{192} + g^{245}x^{160} + g^{200}x^{144} + g^{176}x^{136} + g^{189}x^{132} + g^{25}x^{130} + g^{249}x^{129} + g^{246}x^{96} + g^{227}x^{80} + g^{42}x^{72} + g^{22}x^{68} + g^{45}x^{66} + g^{14}x^{65} + g^{38}x^{48} + g^{246}x^{40} + g^{165}x^{36} + g^{86}x^{34} + g^{207}x^{33} + g^{220}x^{24} + g^{169}x^{20} + g^{122}x^{18} + g^{165}x^{17} + g^{166}x^{12} + g^{23}x^{10} + g^{249}x^{9} + g^{99}x^{6} + g^{205}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2322</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{184}x^{192} + g^{115}x^{160} + g^{215}x^{144} + g^{28}x^{136} + g^{111}x^{132} + g^{117}x^{130} + g^{89}x^{129} + g^{48}x^{96} + g^{94}x^{80} + g^{45}x^{72} + g^{21}x^{68} + g^{204}x^{66} + g^{58}x^{65} + g^{232}x^{48} + g^{129}x^{40} + g^{12}x^{36} + g^{150}x^{34} + g^{36}x^{33} + g^{56}x^{24} + g^{34}x^{20} + g^{207}x^{18} + g^{18}x^{17} + g^{16}x^{12} + g^{224}x^{10} + g^{214}x^{9} + g^{132}x^{6} + g^{132}x^{5} + g^{52}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2323</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{226}x^{160} + g^{108}x^{144} + g^{153}x^{136} + g^{30}x^{132} + g^{39}x^{130} + g^{201}x^{129} + g^{29}x^{96} + g^{144}x^{80} + g^{166}x^{72} + g^{210}x^{68} + g^{108}x^{66} + g^{36}x^{65} + g^{233}x^{48} + g^{32}x^{40} + g^{47}x^{36} + g^{129}x^{34} + g^{133}x^{33} + g^{37}x^{24} + g^{151}x^{20} + x^{18} + g^{71}x^{17} + g^{191}x^{12} + g^{129}x^{10} + g^{132}x^{9} + g^{139}x^{6} + g^{112}x^{5} + g^{29}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2324</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{88}x^{192} + g^{118}x^{160} + g^{246}x^{144} + g^{60}x^{136} + g^{50}x^{132} + g^{15}x^{130} + g^{51}x^{129} + g^{38}x^{96} + g^{82}x^{80} + g^{200}x^{72} + g^{188}x^{68} + g^{143}x^{66} + g^{138}x^{65} + g^{69}x^{48} + g^{122}x^{40} + g^{124}x^{36} + g^{127}x^{34} + g^{19}x^{33} + gx^{24} + g^{210}x^{20} + g^{212}x^{18} + g^{225}x^{17} + g^{189}x^{12} + g^{226}x^{10} + g^{41}x^{9} + g^{128}x^{6} + g^{155}x^{5} + g^{154}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2325</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{192} + g^{119}x^{160} + g^{111}x^{144} + g^{91}x^{136} + g^{134}x^{132} + g^{107}x^{130} + g^{129}x^{129} + g^{218}x^{96} + g^{14}x^{80} + g^{47}x^{72} + g^{3}x^{68} + g^{149}x^{66} + g^{134}x^{65} + g^{177}x^{48} + g^{115}x^{40} + g^{230}x^{36} + g^{35}x^{34} + g^{86}x^{33} + g^{20}x^{24} + g^{148}x^{20} + g^{79}x^{18} + g^{83}x^{17} + g^{157}x^{12} + g^{139}x^{10} + g^{204}x^{9} + g^{124}x^{6} + g^{106}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2326</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{166}x^{192} + g^{82}x^{160} + g^{83}x^{144} + g^{72}x^{136} + g^{170}x^{132} + g^{36}x^{130} + g^{252}x^{129} + g^{69}x^{96} + g^{31}x^{80} + g^{172}x^{72} + g^{22}x^{68} + g^{26}x^{66} + g^{83}x^{65} + g^{184}x^{48} + g^{40}x^{40} + g^{69}x^{36} + g^{75}x^{34} + g^{218}x^{33} + g^{73}x^{24} + g^{64}x^{20} + g^{248}x^{18} + g^{91}x^{17} + g^{232}x^{12} + g^{149}x^{10} + g^{7}x^{9} + g^{209}x^{6} + g^{5}x^{5} + g^{193}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2327</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{192} + g^{130}x^{160} + g^{231}x^{144} + g^{9}x^{136} + g^{118}x^{132} + g^{130}x^{130} + g^{54}x^{129} + g^{205}x^{96} + g^{82}x^{80} + g^{15}x^{72} + g^{132}x^{68} + g^{128}x^{66} + g^{22}x^{65} + g^{70}x^{48} + g^{160}x^{40} + g^{98}x^{36} + g^{177}x^{34} + g^{150}x^{33} + g^{34}x^{24} + g^{138}x^{20} + g^{56}x^{18} + g^{231}x^{17} + g^{190}x^{12} + g^{48}x^{10} + g^{186}x^{9} + g^{185}x^{6} + g^{136}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2328</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{192} + g^{113}x^{160} + g^{250}x^{144} + g^{28}x^{136} + g^{29}x^{132} + g^{200}x^{130} + g^{220}x^{129} + g^{243}x^{96} + g^{46}x^{80} + g^{84}x^{72} + g^{136}x^{68} + g^{33}x^{66} + g^{234}x^{65} + g^{182}x^{48} + g^{134}x^{40} + x^{36} + g^{17}x^{34} + g^{74}x^{33} + g^{247}x^{24} + g^{211}x^{20} + g^{85}x^{18} + gx^{17} + g^{202}x^{12} + g^{31}x^{10} + g^{103}x^{9} + g^{96}x^{6} + g^{57}x^{5} + g^{216}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2329</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{215}x^{192} + g^{216}x^{160} + g^{210}x^{144} + g^{11}x^{136} + g^{41}x^{132} + g^{190}x^{130} + g^{66}x^{129} + g^{121}x^{96} + g^{181}x^{80} + g^{170}x^{72} + g^{212}x^{68} + g^{231}x^{66} + g^{104}x^{65} + g^{137}x^{48} + g^{152}x^{40} + g^{133}x^{36} + g^{253}x^{34} + g^{250}x^{33} + g^{212}x^{24} + g^{107}x^{20} + g^{197}x^{18} + g^{104}x^{17} + g^{161}x^{12} + g^{162}x^{10} + g^{9}x^{9} + g^{30}x^{6} + g^{68}x^{5} + g^{35}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2330</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{121}x^{160} + g^{67}x^{144} + g^{122}x^{136} + g^{67}x^{132} + g^{81}x^{130} + g^{22}x^{129} + g^{117}x^{96} + g^{110}x^{80} + g^{180}x^{72} + g^{63}x^{68} + g^{84}x^{66} + g^{174}x^{65} + g^{102}x^{48} + g^{218}x^{40} + g^{125}x^{36} + g^{162}x^{34} + g^{107}x^{33} + g^{165}x^{24} + g^{143}x^{20} + g^{251}x^{18} + g^{140}x^{17} + g^{64}x^{12} + g^{42}x^{10} + g^{155}x^{9} + g^{69}x^{6} + g^{82}x^{5} + g^{209}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2331</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{207}x^{192} + g^{62}x^{160} + g^{171}x^{144} + g^{224}x^{136} + g^{2}x^{132} + g^{29}x^{130} + g^{167}x^{129} + g^{59}x^{96} + g^{66}x^{80} + g^{215}x^{72} + g^{234}x^{68} + g^{204}x^{66} + g^{233}x^{65} + g^{42}x^{48} + g^{234}x^{40} + g^{193}x^{36} + g^{123}x^{34} + g^{6}x^{33} + g^{114}x^{24} + g^{28}x^{20} + g^{241}x^{18} + g^{228}x^{17} + g^{178}x^{12} + g^{80}x^{10} + g^{116}x^{9} + g^{53}x^{6} + g^{122}x^{5} + g^{129}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2332</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{211}x^{192} + g^{85}x^{160} + g^{194}x^{144} + g^{115}x^{136} + g^{46}x^{132} + g^{195}x^{130} + g^{162}x^{129} + g^{106}x^{96} + g^{149}x^{80} + g^{117}x^{72} + g^{174}x^{68} + g^{51}x^{66} + g^{163}x^{65} + g^{111}x^{48} + g^{31}x^{40} + g^{45}x^{36} + g^{252}x^{34} + g^{69}x^{33} + g^{4}x^{24} + g^{183}x^{20} + g^{13}x^{18} + g^{84}x^{17} + g^{139}x^{12} + g^{88}x^{10} + g^{103}x^{9} + g^{91}x^{6} + g^{57}x^{5} + g^{59}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2333</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{235}x^{192} + g^{210}x^{160} + g^{37}x^{144} + g^{16}x^{136} + g^{164}x^{132} + g^{2}x^{130} + g^{193}x^{129} + g^{119}x^{96} + g^{46}x^{80} + g^{149}x^{72} + g^{188}x^{68} + g^{82}x^{66} + g^{235}x^{65} + g^{92}x^{48} + g^{45}x^{40} + g^{7}x^{36} + g^{15}x^{34} + g^{35}x^{33} + g^{68}x^{24} + g^{130}x^{20} + g^{188}x^{18} + g^{35}x^{17} + g^{215}x^{12} + g^{48}x^{10} + g^{16}x^{9} + g^{119}x^{6} + g^{215}x^{5} + g^{193}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2334</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{148}x^{192} + g^{80}x^{160} + g^{181}x^{144} + g^{199}x^{136} + g^{224}x^{132} + g^{60}x^{130} + g^{14}x^{129} + g^{141}x^{96} + g^{81}x^{80} + g^{86}x^{72} + g^{170}x^{68} + g^{7}x^{66} + g^{18}x^{65} + g^{94}x^{48} + g^{173}x^{40} + g^{223}x^{36} + g^{56}x^{34} + g^{161}x^{33} + g^{173}x^{24} + g^{236}x^{20} + g^{125}x^{18} + g^{235}x^{17} + g^{226}x^{12} + g^{38}x^{10} + g^{193}x^{9} + g^{9}x^{6} + g^{89}x^{5} + g^{138}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2335</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{136}x^{192} + g^{7}x^{160} + g^{163}x^{144} + g^{120}x^{136} + g^{196}x^{132} + g^{144}x^{130} + g^{244}x^{129} + g^{119}x^{96} + g^{36}x^{80} + g^{198}x^{72} + g^{176}x^{68} + g^{64}x^{66} + g^{10}x^{65} + g^{195}x^{48} + g^{76}x^{40} + g^{203}x^{36} + g^{32}x^{34} + g^{194}x^{33} + g^{251}x^{24} + g^{84}x^{20} + g^{54}x^{18} + g^{17}x^{17} + g^{189}x^{12} + g^{230}x^{10} + g^{249}x^{9} + g^{221}x^{6} + g^{213}x^{5} + g^{213}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2336</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{83}x^{160} + g^{206}x^{144} + g^{130}x^{136} + g^{211}x^{132} + g^{149}x^{130} + g^{148}x^{129} + g^{16}x^{96} + g^{107}x^{80} + g^{54}x^{72} + g^{14}x^{68} + g^{161}x^{66} + g^{78}x^{65} + g^{186}x^{48} + g^{132}x^{40} + g^{9}x^{36} + g^{82}x^{34} + g^{85}x^{33} + g^{144}x^{24} + g^{166}x^{20} + g^{48}x^{18} + g^{152}x^{17} + g^{224}x^{12} + g^{159}x^{10} + g^{60}x^{9} + g^{51}x^{6} + g^{33}x^{5} + g^{95}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2337</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{133}x^{192} + g^{25}x^{160} + g^{164}x^{144} + g^{100}x^{136} + g^{226}x^{132} + g^{68}x^{130} + g^{94}x^{129} + g^{19}x^{96} + g^{35}x^{80} + g^{121}x^{72} + g^{185}x^{68} + g^{223}x^{66} + g^{161}x^{65} + g^{4}x^{48} + g^{16}x^{40} + g^{179}x^{36} + g^{21}x^{34} + g^{245}x^{33} + g^{82}x^{24} + g^{149}x^{20} + g^{54}x^{18} + g^{128}x^{17} + g^{111}x^{12} + g^{157}x^{10} + g^{209}x^{9} + g^{125}x^{6} + g^{222}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2338</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{146}x^{192} + g^{15}x^{160} + g^{234}x^{144} + g^{96}x^{136} + g^{183}x^{132} + g^{190}x^{130} + g^{50}x^{129} + g^{209}x^{96} + g^{219}x^{80} + g^{201}x^{72} + g^{8}x^{68} + g^{67}x^{66} + g^{39}x^{65} + g^{88}x^{48} + g^{110}x^{40} + g^{84}x^{36} + g^{150}x^{34} + g^{178}x^{33} + g^{249}x^{24} + g^{99}x^{20} + g^{191}x^{18} + g^{129}x^{17} + g^{56}x^{12} + g^{222}x^{10} + g^{57}x^{9} + g^{153}x^{6} + g^{199}x^{5} + g^{85}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2339</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{160} + g^{49}x^{144} + g^{229}x^{136} + g^{223}x^{132} + g^{199}x^{130} + g^{149}x^{129} + g^{178}x^{96} + g^{111}x^{80} + g^{133}x^{72} + g^{174}x^{68} + g^{119}x^{66} + g^{195}x^{65} + g^{33}x^{48} + g^{50}x^{40} + g^{140}x^{36} + g^{158}x^{34} + x^{33} + g^{236}x^{24} + g^{219}x^{20} + g^{29}x^{18} + g^{222}x^{17} + g^{48}x^{12} + g^{154}x^{10} + g^{152}x^{9} + g^{88}x^{6} + g^{226}x^{5} + g^{217}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2340</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{16}x^{192} + g^{73}x^{160} + g^{244}x^{144} + g^{190}x^{136} + g^{233}x^{132} + g^{179}x^{130} + g^{252}x^{129} + g^{106}x^{96} + g^{170}x^{80} + g^{240}x^{72} + g^{59}x^{68} + g^{224}x^{66} + g^{181}x^{65} + g^{32}x^{48} + g^{95}x^{40} + g^{111}x^{36} + g^{200}x^{34} + g^{45}x^{33} + g^{57}x^{24} + g^{180}x^{20} + g^{81}x^{18} + g^{33}x^{17} + g^{181}x^{12} + g^{148}x^{10} + g^{6}x^{9} + g^{186}x^{6} + g^{193}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2341</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{48}x^{192} + g^{132}x^{160} + g^{175}x^{144} + g^{54}x^{136} + g^{24}x^{132} + gx^{130} + g^{87}x^{129} + g^{222}x^{96} + g^{71}x^{80} + g^{37}x^{72} + g^{12}x^{68} + g^{233}x^{66} + g^{236}x^{65} + g^{250}x^{48} + g^{103}x^{40} + g^{136}x^{36} + g^{61}x^{34} + g^{193}x^{33} + g^{98}x^{24} + g^{53}x^{20} + g^{109}x^{18} + g^{17}x^{17} + g^{78}x^{12} + g^{74}x^{10} + g^{191}x^{9} + g^{11}x^{6} + g^{88}x^{5} + g^{86}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2342</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{45}x^{192} + g^{103}x^{160} + g^{87}x^{144} + g^{114}x^{136} + g^{35}x^{132} + g^{164}x^{130} + g^{192}x^{129} + g^{172}x^{96} + g^{204}x^{80} + g^{242}x^{72} + g^{181}x^{68} + g^{141}x^{66} + g^{207}x^{65} + g^{31}x^{48} + g^{147}x^{40} + g^{190}x^{36} + g^{108}x^{34} + g^{155}x^{33} + g^{73}x^{24} + g^{124}x^{20} + g^{94}x^{18} + g^{159}x^{17} + g^{146}x^{12} + g^{213}x^{10} + g^{222}x^{9} + g^{105}x^{6} + g^{12}x^{5} + g^{165}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2343</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{39}x^{192} + g^{181}x^{160} + g^{141}x^{144} + g^{38}x^{136} + g^{170}x^{132} + g^{184}x^{130} + g^{65}x^{129} + g^{185}x^{96} + g^{242}x^{80} + g^{19}x^{72} + g^{234}x^{68} + g^{28}x^{66} + g^{64}x^{65} + g^{24}x^{48} + g^{180}x^{40} + g^{133}x^{36} + g^{238}x^{34} + g^{75}x^{33} + g^{166}x^{24} + g^{31}x^{20} + g^{162}x^{18} + g^{203}x^{17} + g^{126}x^{12} + g^{180}x^{10} + g^{243}x^{9} + g^{110}x^{6} + g^{174}x^{5} + g^{236}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2344</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{240}x^{192} + g^{191}x^{160} + g^{130}x^{144} + g^{3}x^{136} + g^{26}x^{132} + g^{53}x^{130} + g^{198}x^{129} + g^{243}x^{96} + g^{139}x^{80} + g^{224}x^{72} + g^{80}x^{68} + g^{31}x^{66} + g^{213}x^{65} + g^{52}x^{48} + g^{188}x^{40} + g^{177}x^{36} + g^{97}x^{34} + g^{242}x^{33} + g^{197}x^{24} + g^{4}x^{20} + g^{79}x^{18} + g^{28}x^{17} + g^{45}x^{12} + g^{88}x^{10} + g^{68}x^{9} + g^{160}x^{6} + g^{156}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2345</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{12}x^{192} + g^{208}x^{160} + g^{95}x^{144} + g^{193}x^{136} + g^{69}x^{132} + g^{141}x^{130} + g^{201}x^{129} + g^{199}x^{96} + g^{194}x^{80} + x^{72} + g^{34}x^{68} + g^{179}x^{66} + g^{160}x^{65} + g^{161}x^{48} + g^{8}x^{40} + g^{129}x^{36} + g^{8}x^{34} + g^{179}x^{33} + g^{114}x^{24} + g^{98}x^{20} + g^{139}x^{18} + g^{209}x^{17} + g^{86}x^{12} + g^{126}x^{10} + g^{60}x^{9} + g^{11}x^{6} + g^{111}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2346</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{120}x^{160} + g^{223}x^{144} + g^{240}x^{136} + g^{166}x^{132} + g^{128}x^{130} + g^{185}x^{129} + g^{193}x^{96} + g^{193}x^{80} + g^{38}x^{72} + g^{245}x^{68} + g^{238}x^{66} + g^{129}x^{65} + g^{6}x^{48} + g^{140}x^{40} + g^{50}x^{36} + g^{230}x^{34} + g^{51}x^{33} + g^{193}x^{24} + g^{172}x^{20} + g^{120}x^{18} + g^{181}x^{17} + g^{216}x^{12} + gx^{10} + g^{138}x^{9} + g^{49}x^{6} + g^{75}x^{5} + g^{239}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2347</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{26}x^{192} + g^{129}x^{160} + g^{217}x^{144} + g^{2}x^{136} + g^{246}x^{132} + g^{57}x^{130} + g^{50}x^{129} + g^{31}x^{96} + g^{125}x^{80} + g^{96}x^{72} + g^{88}x^{68} + g^{208}x^{66} + g^{230}x^{65} + g^{217}x^{48} + g^{219}x^{40} + g^{108}x^{36} + g^{180}x^{34} + g^{40}x^{33} + g^{131}x^{24} + g^{100}x^{20} + g^{30}x^{18} + g^{233}x^{17} + g^{65}x^{12} + g^{109}x^{10} + g^{99}x^{9} + g^{43}x^{6} + g^{193}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2348</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{251}x^{192} + gx^{160} + g^{30}x^{144} + g^{35}x^{136} + g^{226}x^{132} + g^{120}x^{130} + g^{180}x^{129} + g^{119}x^{96} + g^{242}x^{80} + g^{43}x^{72} + g^{12}x^{68} + g^{45}x^{66} + g^{225}x^{65} + g^{113}x^{48} + g^{60}x^{40} + g^{37}x^{36} + g^{220}x^{34} + g^{239}x^{33} + g^{169}x^{24} + g^{156}x^{20} + g^{237}x^{18} + g^{222}x^{17} + g^{241}x^{12} + g^{160}x^{10} + g^{181}x^{9} + g^{133}x^{6} + g^{159}x^{5} + g^{159}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2349</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{48}x^{192} + g^{105}x^{160} + g^{146}x^{144} + g^{184}x^{136} + g^{196}x^{132} + g^{189}x^{130} + g^{119}x^{129} + g^{133}x^{96} + gx^{80} + g^{178}x^{72} + g^{82}x^{68} + g^{238}x^{66} + g^{75}x^{65} + g^{239}x^{48} + g^{102}x^{40} + g^{200}x^{36} + g^{68}x^{34} + g^{138}x^{33} + g^{224}x^{24} + g^{174}x^{20} + g^{11}x^{18} + g^{190}x^{17} + g^{134}x^{12} + g^{140}x^{10} + g^{23}x^{9} + g^{95}x^{6} + g^{45}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2350</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{231}x^{160} + g^{199}x^{144} + g^{152}x^{136} + g^{185}x^{132} + g^{157}x^{130} + g^{166}x^{129} + g^{12}x^{96} + g^{220}x^{80} + g^{133}x^{72} + g^{40}x^{68} + g^{143}x^{66} + g^{97}x^{65} + g^{127}x^{48} + g^{180}x^{40} + g^{27}x^{36} + g^{195}x^{34} + g^{140}x^{33} + g^{48}x^{24} + g^{36}x^{20} + g^{40}x^{18} + g^{23}x^{17} + x^{12} + g^{192}x^{10} + g^{90}x^{9} + g^{49}x^{6} + g^{108}x^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2351</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{149}x^{160} + g^{235}x^{144} + g^{115}x^{136} + g^{226}x^{132} + g^{213}x^{130} + g^{90}x^{129} + g^{122}x^{96} + g^{95}x^{80} + x^{72} + g^{109}x^{68} + g^{116}x^{66} + g^{34}x^{65} + g^{233}x^{48} + g^{87}x^{40} + g^{207}x^{36} + g^{30}x^{34} + g^{225}x^{33} + g^{95}x^{24} + g^{54}x^{20} + g^{196}x^{17} + g^{236}x^{12} + g^{229}x^{10} + g^{165}x^{9} + g^{196}x^{6} + g^{137}x^{5} + g^{229}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2352</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{219}x^{160} + g^{222}x^{144} + g^{142}x^{136} + g^{92}x^{132} + g^{87}x^{130} + g^{94}x^{129} + g^{64}x^{96} + g^{189}x^{80} + g^{91}x^{72} + g^{216}x^{68} + g^{154}x^{66} + g^{9}x^{65} + g^{75}x^{48} + g^{140}x^{40} + g^{179}x^{36} + g^{213}x^{34} + g^{95}x^{33} + g^{118}x^{24} + g^{57}x^{20} + g^{80}x^{18} + g^{131}x^{17} + g^{151}x^{12} + g^{134}x^{10} + g^{118}x^{9} + g^{77}x^{6} + g^{30}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2353</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{157}x^{192} + g^{67}x^{160} + g^{219}x^{144} + g^{164}x^{136} + g^{122}x^{132} + g^{151}x^{130} + g^{12}x^{129} + g^{131}x^{96} + g^{82}x^{80} + g^{140}x^{72} + g^{207}x^{68} + g^{106}x^{66} + g^{110}x^{65} + g^{80}x^{48} + g^{205}x^{40} + g^{243}x^{36} + g^{55}x^{34} + g^{78}x^{33} + g^{167}x^{24} + g^{37}x^{20} + g^{23}x^{18} + g^{74}x^{17} + g^{147}x^{12} + g^{242}x^{10} + g^{65}x^{9} + g^{26}x^{6} + g^{88}x^{5} + g^{185}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2354</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{36}x^{192} + g^{55}x^{160} + g^{93}x^{144} + g^{60}x^{136} + g^{197}x^{132} + g^{117}x^{130} + g^{97}x^{129} + g^{178}x^{96} + g^{230}x^{80} + g^{65}x^{72} + g^{16}x^{68} + g^{237}x^{66} + g^{76}x^{65} + g^{194}x^{48} + g^{98}x^{40} + g^{168}x^{36} + g^{143}x^{34} + g^{4}x^{33} + g^{89}x^{24} + g^{239}x^{20} + g^{163}x^{18} + g^{38}x^{17} + g^{152}x^{12} + g^{8}x^{10} + g^{5}x^{9} + g^{8}x^{6} + g^{189}x^{5} + g^{131}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2355</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{46}x^{192} + g^{123}x^{160} + g^{45}x^{144} + g^{213}x^{136} + g^{231}x^{132} + g^{38}x^{130} + g^{55}x^{129} + g^{61}x^{96} + g^{54}x^{80} + g^{144}x^{72} + g^{144}x^{68} + g^{30}x^{66} + g^{163}x^{65} + g^{147}x^{48} + g^{18}x^{40} + g^{248}x^{36} + g^{196}x^{34} + g^{81}x^{33} + g^{76}x^{24} + g^{37}x^{20} + g^{135}x^{18} + g^{23}x^{17} + g^{12}x^{12} + g^{102}x^{10} + g^{77}x^{9} + g^{2}x^{6} + g^{127}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2356</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{192} + g^{197}x^{160} + g^{228}x^{144} + g^{244}x^{136} + g^{135}x^{132} + g^{201}x^{130} + g^{125}x^{129} + g^{203}x^{96} + g^{224}x^{80} + g^{68}x^{72} + g^{118}x^{68} + g^{190}x^{66} + g^{185}x^{65} + g^{208}x^{48} + g^{86}x^{40} + g^{35}x^{36} + g^{36}x^{34} + g^{105}x^{33} + g^{228}x^{24} + g^{149}x^{20} + g^{148}x^{18} + g^{38}x^{17} + g^{160}x^{12} + g^{254}x^{10} + g^{239}x^{9} + g^{127}x^{6} + g^{244}x^{5} + g^{67}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2357</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{84}x^{192} + g^{202}x^{160} + g^{123}x^{144} + g^{5}x^{136} + g^{175}x^{132} + g^{182}x^{130} + g^{56}x^{129} + g^{140}x^{96} + g^{125}x^{80} + g^{9}x^{72} + g^{199}x^{68} + g^{151}x^{66} + g^{41}x^{65} + g^{70}x^{48} + g^{151}x^{40} + g^{98}x^{36} + g^{13}x^{34} + g^{162}x^{33} + g^{151}x^{24} + g^{176}x^{20} + g^{201}x^{18} + g^{19}x^{17} + g^{135}x^{12} + g^{174}x^{10} + g^{34}x^{9} + g^{136}x^{6} + x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2358</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{127}x^{192} + g^{70}x^{160} + g^{155}x^{144} + g^{172}x^{136} + g^{151}x^{132} + g^{134}x^{130} + g^{121}x^{129} + g^{95}x^{96} + g^{182}x^{80} + g^{34}x^{72} + g^{190}x^{68} + g^{164}x^{66} + g^{72}x^{65} + g^{91}x^{48} + g^{79}x^{40} + g^{7}x^{36} + g^{198}x^{34} + g^{182}x^{33} + g^{250}x^{24} + g^{103}x^{20} + g^{124}x^{18} + g^{236}x^{17} + g^{207}x^{12} + g^{241}x^{10} + g^{61}x^{9} + g^{169}x^{6} + g^{224}x^{5} + g^{129}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2359</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{46}x^{192} + g^{122}x^{160} + g^{171}x^{144} + g^{90}x^{136} + g^{8}x^{132} + g^{225}x^{130} + g^{174}x^{129} + g^{213}x^{96} + g^{32}x^{80} + g^{132}x^{72} + g^{231}x^{68} + g^{75}x^{66} + g^{16}x^{65} + g^{2}x^{48} + g^{245}x^{40} + g^{33}x^{36} + g^{174}x^{34} + g^{185}x^{33} + g^{207}x^{24} + g^{161}x^{20} + g^{131}x^{18} + g^{35}x^{17} + g^{249}x^{12} + g^{151}x^{10} + g^{187}x^{9} + g^{7}x^{6} + g^{134}x^{5} + g^{182}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2360</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{192}x^{160} + g^{253}x^{144} + g^{171}x^{136} + g^{98}x^{132} + g^{33}x^{130} + g^{66}x^{129} + g^{86}x^{96} + g^{226}x^{80} + g^{105}x^{72} + g^{14}x^{68} + g^{160}x^{66} + g^{52}x^{65} + g^{99}x^{48} + g^{97}x^{40} + g^{137}x^{36} + g^{199}x^{34} + g^{93}x^{33} + g^{252}x^{24} + g^{145}x^{20} + g^{149}x^{18} + g^{31}x^{17} + g^{218}x^{12} + g^{135}x^{10} + g^{85}x^{9} + g^{134}x^{6} + g^{180}x^{5} + g^{178}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2361</p></td>
<td><p><span class="math notranslate nohighlight">\(x^{192} + g^{106}x^{160} + g^{79}x^{144} + g^{179}x^{136} + g^{153}x^{132} + g^{84}x^{130} + g^{186}x^{129} + g^{97}x^{96} + g^{189}x^{80} + g^{228}x^{72} + g^{69}x^{68} + g^{218}x^{66} + g^{61}x^{65} + g^{167}x^{48} + g^{43}x^{40} + g^{156}x^{36} + g^{60}x^{34} + g^{203}x^{33} + g^{43}x^{24} + g^{224}x^{20} + x^{18} + g^{10}x^{17} + g^{72}x^{12} + g^{95}x^{10} + g^{136}x^{9} + g^{213}x^{6} + g^{168}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2362</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{192} + g^{106}x^{160} + g^{160}x^{144} + g^{112}x^{136} + g^{137}x^{132} + g^{208}x^{130} + g^{249}x^{129} + g^{127}x^{96} + g^{38}x^{80} + g^{40}x^{72} + g^{129}x^{68} + g^{145}x^{66} + g^{68}x^{65} + g^{196}x^{48} + g^{98}x^{40} + g^{16}x^{36} + g^{9}x^{34} + g^{182}x^{33} + g^{175}x^{24} + g^{171}x^{20} + g^{147}x^{18} + g^{248}x^{17} + g^{120}x^{12} + g^{249}x^{10} + g^{240}x^{9} + g^{126}x^{6} + g^{239}x^{5} + g^{120}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2363</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{213}x^{192} + g^{92}x^{160} + g^{103}x^{144} + g^{80}x^{136} + g^{43}x^{132} + g^{226}x^{130} + g^{36}x^{129} + g^{53}x^{96} + g^{100}x^{80} + g^{125}x^{72} + g^{184}x^{68} + g^{191}x^{66} + g^{151}x^{65} + g^{14}x^{48} + g^{8}x^{40} + g^{213}x^{36} + g^{214}x^{34} + g^{121}x^{33} + g^{23}x^{24} + g^{159}x^{20} + g^{91}x^{18} + g^{236}x^{17} + g^{22}x^{12} + g^{95}x^{10} + g^{102}x^{9} + g^{207}x^{6} + g^{221}x^{5} + g^{47}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2364</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{119}x^{160} + g^{76}x^{144} + g^{115}x^{136} + g^{208}x^{132} + g^{102}x^{130} + g^{63}x^{129} + g^{128}x^{96} + g^{73}x^{80} + g^{245}x^{72} + g^{210}x^{68} + g^{221}x^{66} + g^{147}x^{65} + g^{137}x^{48} + g^{219}x^{40} + g^{9}x^{36} + g^{151}x^{34} + g^{175}x^{33} + g^{129}x^{24} + g^{132}x^{20} + g^{39}x^{18} + g^{157}x^{17} + g^{6}x^{12} + g^{14}x^{10} + g^{16}x^{9} + g^{235}x^{6} + g^{182}x^{5} + g^{36}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2365</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{18}x^{192} + g^{103}x^{160} + g^{167}x^{144} + g^{167}x^{136} + g^{194}x^{132} + g^{168}x^{130} + g^{212}x^{129} + g^{72}x^{96} + g^{87}x^{80} + g^{126}x^{72} + g^{251}x^{68} + g^{117}x^{66} + g^{66}x^{65} + g^{62}x^{48} + g^{239}x^{40} + g^{210}x^{36} + g^{228}x^{34} + g^{109}x^{33} + g^{93}x^{24} + g^{50}x^{20} + g^{52}x^{18} + g^{186}x^{17} + g^{219}x^{12} + g^{100}x^{10} + g^{2}x^{9} + g^{144}x^{6} + g^{42}x^{5} + g^{243}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2366</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{195}x^{160} + g^{167}x^{144} + g^{73}x^{136} + g^{152}x^{132} + g^{87}x^{130} + g^{187}x^{129} + g^{92}x^{96} + g^{253}x^{80} + g^{127}x^{72} + g^{44}x^{68} + g^{141}x^{66} + g^{167}x^{65} + g^{217}x^{48} + g^{162}x^{40} + g^{99}x^{36} + g^{214}x^{34} + g^{76}x^{33} + g^{51}x^{24} + g^{108}x^{20} + g^{11}x^{18} + g^{155}x^{17} + g^{170}x^{12} + g^{135}x^{10} + g^{9}x^{9} + g^{79}x^{6} + g^{42}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2367</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{217}x^{192} + g^{252}x^{160} + g^{63}x^{144} + g^{219}x^{136} + g^{215}x^{132} + g^{210}x^{130} + g^{47}x^{129} + g^{161}x^{96} + g^{39}x^{80} + g^{147}x^{72} + g^{19}x^{68} + g^{207}x^{66} + g^{193}x^{65} + g^{230}x^{48} + g^{103}x^{40} + g^{140}x^{36} + g^{209}x^{34} + g^{228}x^{33} + g^{99}x^{24} + g^{53}x^{20} + g^{79}x^{18} + g^{191}x^{17} + g^{75}x^{12} + g^{150}x^{10} + g^{169}x^{9} + g^{87}x^{6} + g^{188}x^{5} + g^{136}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2368</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{135}x^{192} + g^{144}x^{160} + g^{213}x^{144} + g^{38}x^{136} + g^{38}x^{132} + g^{150}x^{130} + g^{204}x^{129} + g^{180}x^{96} + g^{73}x^{80} + g^{163}x^{72} + g^{124}x^{68} + g^{166}x^{66} + g^{166}x^{65} + g^{194}x^{48} + g^{75}x^{40} + g^{22}x^{36} + g^{88}x^{34} + g^{107}x^{33} + g^{152}x^{24} + g^{173}x^{20} + g^{62}x^{18} + g^{130}x^{17} + g^{173}x^{12} + g^{15}x^{10} + g^{98}x^{9} + g^{202}x^{6} + g^{114}x^{5} + g^{151}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2369</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{242}x^{192} + g^{211}x^{160} + g^{66}x^{144} + g^{140}x^{136} + g^{62}x^{132} + g^{103}x^{130} + g^{177}x^{129} + g^{183}x^{96} + g^{32}x^{80} + g^{209}x^{72} + g^{147}x^{68} + g^{140}x^{66} + g^{21}x^{65} + g^{35}x^{48} + g^{148}x^{40} + g^{23}x^{36} + g^{5}x^{34} + g^{119}x^{33} + g^{242}x^{24} + g^{39}x^{20} + g^{86}x^{18} + g^{29}x^{17} + g^{74}x^{12} + g^{70}x^{10} + g^{27}x^{9} + g^{177}x^{6} + g^{214}x^{5} + g^{90}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2370</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{96}x^{160} + g^{126}x^{144} + g^{197}x^{136} + g^{141}x^{132} + g^{36}x^{130} + g^{236}x^{129} + g^{202}x^{96} + g^{143}x^{80} + g^{187}x^{72} + g^{51}x^{68} + g^{217}x^{66} + g^{187}x^{65} + g^{196}x^{48} + g^{129}x^{40} + g^{105}x^{36} + g^{46}x^{34} + g^{88}x^{33} + g^{11}x^{24} + g^{10}x^{20} + g^{122}x^{18} + g^{208}x^{17} + g^{253}x^{12} + g^{72}x^{10} + g^{163}x^{9} + g^{89}x^{6} + g^{147}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2371</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{192} + g^{206}x^{160} + g^{173}x^{144} + g^{88}x^{136} + g^{41}x^{132} + g^{191}x^{130} + g^{243}x^{129} + g^{64}x^{96} + g^{42}x^{80} + g^{203}x^{72} + g^{183}x^{68} + g^{253}x^{66} + g^{146}x^{65} + g^{42}x^{48} + g^{193}x^{40} + g^{32}x^{36} + g^{189}x^{34} + g^{110}x^{33} + g^{249}x^{24} + g^{97}x^{20} + g^{57}x^{18} + g^{210}x^{17} + g^{254}x^{12} + g^{75}x^{10} + g^{244}x^{9} + g^{224}x^{6} + g^{14}x^{5} + g^{139}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2372</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{239}x^{192} + g^{146}x^{160} + g^{225}x^{144} + g^{219}x^{136} + g^{78}x^{132} + g^{38}x^{130} + g^{22}x^{129} + g^{223}x^{96} + g^{110}x^{80} + g^{43}x^{72} + g^{165}x^{68} + g^{231}x^{66} + g^{207}x^{65} + g^{33}x^{48} + g^{157}x^{40} + g^{184}x^{36} + g^{127}x^{34} + g^{210}x^{33} + g^{244}x^{24} + g^{50}x^{20} + g^{236}x^{18} + g^{106}x^{17} + g^{75}x^{12} + g^{56}x^{10} + g^{233}x^{9} + g^{230}x^{6} + g^{179}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2373</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{170}x^{192} + g^{225}x^{160} + g^{76}x^{144} + g^{17}x^{136} + g^{189}x^{132} + g^{67}x^{130} + g^{68}x^{129} + g^{168}x^{96} + g^{81}x^{80} + g^{114}x^{72} + g^{81}x^{68} + g^{198}x^{66} + g^{240}x^{65} + g^{138}x^{48} + g^{4}x^{40} + g^{196}x^{36} + g^{70}x^{34} + g^{49}x^{33} + g^{83}x^{24} + g^{145}x^{20} + g^{111}x^{18} + g^{162}x^{17} + g^{215}x^{12} + g^{206}x^{10} + g^{215}x^{9} + g^{12}x^{6} + g^{94}x^{5} + g^{235}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2374</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{192} + g^{226}x^{160} + gx^{144} + g^{90}x^{136} + g^{135}x^{132} + g^{199}x^{130} + g^{225}x^{129} + g^{187}x^{96} + g^{209}x^{80} + g^{176}x^{72} + g^{149}x^{68} + g^{159}x^{66} + g^{52}x^{65} + g^{235}x^{48} + g^{2}x^{40} + g^{36}x^{36} + g^{15}x^{34} + g^{250}x^{33} + g^{181}x^{24} + g^{155}x^{20} + g^{85}x^{18} + g^{87}x^{17} + g^{116}x^{12} + g^{191}x^{10} + g^{63}x^{9} + g^{184}x^{6} + g^{130}x^{5} + g^{62}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2375</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{151}x^{192} + g^{170}x^{160} + g^{183}x^{144} + g^{50}x^{136} + g^{2}x^{130} + g^{133}x^{129} + g^{170}x^{96} + g^{209}x^{80} + g^{208}x^{72} + g^{194}x^{68} + g^{111}x^{66} + g^{63}x^{65} + g^{33}x^{48} + g^{99}x^{40} + g^{111}x^{36} + g^{62}x^{34} + g^{103}x^{33} + g^{61}x^{24} + g^{36}x^{20} + g^{101}x^{18} + g^{68}x^{17} + g^{161}x^{12} + g^{105}x^{10} + g^{93}x^{9} + g^{35}x^{6} + g^{209}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2376</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{192} + g^{19}x^{160} + g^{212}x^{144} + g^{199}x^{136} + g^{187}x^{132} + g^{72}x^{130} + g^{134}x^{129} + g^{27}x^{96} + g^{248}x^{80} + g^{178}x^{72} + g^{199}x^{68} + g^{6}x^{66} + g^{222}x^{65} + g^{56}x^{48} + g^{235}x^{40} + g^{42}x^{36} + g^{87}x^{34} + g^{233}x^{33} + g^{188}x^{24} + g^{118}x^{20} + g^{195}x^{18} + g^{18}x^{17} + g^{27}x^{12} + g^{36}x^{10} + g^{67}x^{9} + g^{151}x^{6} + g^{162}x^{5} + g^{40}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2377</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{8}x^{192} + g^{177}x^{160} + g^{172}x^{144} + g^{217}x^{136} + g^{62}x^{132} + g^{243}x^{130} + g^{204}x^{129} + g^{17}x^{96} + g^{247}x^{80} + g^{220}x^{72} + g^{209}x^{68} + g^{62}x^{66} + g^{239}x^{65} + g^{197}x^{48} + g^{187}x^{40} + g^{219}x^{36} + g^{64}x^{34} + g^{199}x^{33} + g^{96}x^{24} + g^{27}x^{20} + g^{158}x^{18} + g^{89}x^{17} + g^{40}x^{12} + g^{31}x^{10} + g^{2}x^{9} + g^{206}x^{6} + g^{173}x^{5} + g^{117}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2378</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{247}x^{192} + g^{179}x^{160} + g^{44}x^{144} + g^{164}x^{136} + g^{204}x^{132} + g^{76}x^{130} + g^{96}x^{129} + g^{124}x^{96} + g^{81}x^{80} + g^{229}x^{72} + g^{54}x^{68} + g^{159}x^{66} + g^{79}x^{65} + g^{237}x^{48} + g^{174}x^{40} + g^{63}x^{36} + g^{254}x^{34} + g^{169}x^{33} + g^{28}x^{24} + g^{229}x^{20} + g^{49}x^{18} + g^{254}x^{17} + g^{114}x^{12} + g^{165}x^{10} + g^{57}x^{9} + g^{72}x^{6} + g^{224}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2379</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{29}x^{192} + g^{184}x^{160} + g^{136}x^{144} + g^{112}x^{136} + g^{119}x^{132} + g^{13}x^{130} + g^{104}x^{129} + g^{91}x^{96} + g^{52}x^{80} + g^{121}x^{72} + g^{19}x^{68} + x^{66} + g^{235}x^{65} + g^{188}x^{48} + g^{213}x^{40} + g^{10}x^{36} + g^{25}x^{34} + g^{215}x^{33} + g^{228}x^{24} + g^{30}x^{20} + g^{185}x^{18} + g^{156}x^{17} + g^{58}x^{12} + g^{85}x^{10} + g^{137}x^{9} + x^{6} + g^{117}x^{5} + g^{179}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2380</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{121}x^{160} + g^{252}x^{144} + g^{242}x^{136} + g^{220}x^{132} + g^{237}x^{130} + g^{177}x^{129} + g^{45}x^{96} + g^{119}x^{80} + g^{59}x^{72} + g^{202}x^{68} + g^{69}x^{66} + g^{143}x^{65} + g^{228}x^{48} + g^{4}x^{40} + g^{127}x^{36} + g^{5}x^{34} + g^{218}x^{33} + g^{87}x^{24} + g^{130}x^{20} + g^{181}x^{18} + g^{92}x^{17} + g^{225}x^{12} + g^{78}x^{10} + g^{63}x^{9} + g^{84}x^{6} + g^{110}x^{5} + g^{62}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2381</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{85}x^{192} + g^{125}x^{160} + g^{16}x^{144} + g^{179}x^{136} + g^{39}x^{132} + g^{222}x^{130} + g^{127}x^{129} + g^{17}x^{96} + g^{191}x^{80} + g^{69}x^{72} + g^{40}x^{68} + g^{74}x^{66} + g^{202}x^{65} + g^{231}x^{48} + g^{100}x^{40} + g^{134}x^{36} + g^{160}x^{34} + g^{190}x^{33} + g^{148}x^{24} + g^{238}x^{20} + g^{42}x^{18} + g^{8}x^{17} + g^{171}x^{12} + g^{29}x^{10} + g^{62}x^{9} + g^{111}x^{6} + g^{11}x^{5} + g^{192}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2382</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{221}x^{160} + g^{157}x^{144} + g^{135}x^{136} + g^{208}x^{132} + g^{31}x^{130} + g^{171}x^{129} + g^{206}x^{96} + g^{220}x^{80} + g^{146}x^{72} + g^{3}x^{68} + g^{91}x^{66} + g^{195}x^{65} + g^{174}x^{48} + g^{160}x^{40} + g^{102}x^{36} + g^{50}x^{34} + g^{50}x^{33} + g^{206}x^{24} + g^{6}x^{20} + g^{194}x^{18} + g^{58}x^{17} + g^{15}x^{12} + g^{251}x^{10} + g^{179}x^{9} + g^{184}x^{6} + g^{33}x^{5} + g^{9}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2383</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{193}x^{192} + g^{109}x^{160} + g^{145}x^{144} + g^{33}x^{136} + g^{193}x^{132} + g^{153}x^{130} + g^{54}x^{129} + g^{86}x^{96} + g^{113}x^{80} + g^{216}x^{72} + g^{25}x^{68} + g^{4}x^{66} + g^{229}x^{65} + g^{146}x^{48} + g^{197}x^{40} + g^{21}x^{36} + g^{126}x^{34} + g^{47}x^{33} + g^{71}x^{24} + g^{125}x^{20} + g^{104}x^{18} + g^{44}x^{17} + g^{45}x^{12} + g^{186}x^{10} + g^{82}x^{9} + g^{222}x^{6} + g^{75}x^{5} + g^{43}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2384</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{192} + g^{88}x^{160} + g^{106}x^{144} + g^{144}x^{136} + g^{123}x^{132} + g^{152}x^{130} + g^{34}x^{129} + g^{3}x^{96} + g^{251}x^{80} + g^{63}x^{72} + g^{242}x^{68} + g^{85}x^{66} + g^{184}x^{65} + g^{185}x^{48} + g^{151}x^{40} + g^{37}x^{36} + g^{190}x^{34} + g^{74}x^{33} + g^{76}x^{24} + g^{164}x^{20} + g^{160}x^{18} + g^{103}x^{17} + g^{210}x^{12} + g^{55}x^{10} + g^{90}x^{9} + g^{165}x^{6} + g^{163}x^{5} + g^{144}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2385</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{192} + g^{210}x^{160} + g^{104}x^{144} + g^{75}x^{136} + g^{163}x^{132} + g^{174}x^{130} + g^{142}x^{129} + g^{254}x^{96} + g^{251}x^{80} + g^{79}x^{72} + g^{173}x^{68} + g^{48}x^{66} + g^{82}x^{65} + g^{26}x^{48} + g^{236}x^{40} + g^{110}x^{36} + g^{233}x^{34} + g^{41}x^{33} + g^{103}x^{24} + g^{155}x^{20} + g^{209}x^{18} + g^{140}x^{17} + g^{18}x^{12} + g^{233}x^{10} + g^{124}x^{9} + g^{234}x^{6} + g^{125}x^{5} + g^{245}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2386</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{19}x^{160} + g^{30}x^{144} + g^{154}x^{136} + g^{42}x^{132} + g^{220}x^{130} + g^{93}x^{129} + g^{213}x^{96} + g^{89}x^{80} + g^{121}x^{72} + g^{228}x^{68} + g^{27}x^{66} + g^{252}x^{65} + g^{115}x^{48} + g^{84}x^{40} + g^{11}x^{36} + g^{100}x^{34} + g^{31}x^{33} + g^{207}x^{24} + g^{200}x^{20} + g^{113}x^{18} + g^{49}x^{17} + g^{36}x^{12} + g^{19}x^{10} + g^{108}x^{9} + g^{129}x^{6} + g^{226}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2387</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{63}x^{192} + g^{119}x^{160} + g^{126}x^{144} + g^{51}x^{136} + g^{120}x^{132} + g^{17}x^{130} + g^{76}x^{129} + g^{208}x^{96} + g^{216}x^{80} + g^{251}x^{72} + g^{236}x^{68} + g^{85}x^{66} + g^{137}x^{65} + g^{129}x^{48} + g^{44}x^{40} + g^{230}x^{36} + g^{177}x^{34} + g^{62}x^{33} + g^{46}x^{24} + g^{97}x^{20} + g^{137}x^{18} + g^{41}x^{17} + g^{250}x^{12} + g^{166}x^{10} + g^{65}x^{9} + g^{248}x^{6} + g^{157}x^{5} + g^{224}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2388</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{142}x^{192} + g^{210}x^{160} + g^{72}x^{144} + g^{235}x^{136} + g^{208}x^{132} + g^{65}x^{130} + g^{46}x^{129} + g^{32}x^{96} + g^{198}x^{80} + g^{251}x^{72} + g^{4}x^{68} + g^{50}x^{66} + g^{216}x^{65} + g^{124}x^{48} + g^{36}x^{40} + g^{77}x^{36} + g^{222}x^{34} + g^{100}x^{33} + g^{213}x^{24} + g^{111}x^{20} + g^{247}x^{18} + g^{69}x^{17} + g^{171}x^{12} + g^{32}x^{10} + g^{83}x^{9} + g^{147}x^{6} + g^{26}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2389</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{249}x^{160} + g^{97}x^{144} + g^{239}x^{136} + g^{147}x^{132} + g^{249}x^{130} + g^{29}x^{129} + g^{233}x^{96} + g^{70}x^{80} + g^{46}x^{72} + g^{78}x^{68} + g^{5}x^{66} + g^{21}x^{65} + g^{7}x^{48} + g^{27}x^{40} + g^{164}x^{36} + g^{119}x^{34} + g^{79}x^{33} + x^{24} + g^{113}x^{20} + g^{242}x^{18} + g^{90}x^{17} + g^{244}x^{12} + g^{215}x^{10} + g^{145}x^{9} + g^{186}x^{6} + g^{239}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2390</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{81}x^{160} + g^{41}x^{144} + g^{248}x^{136} + g^{30}x^{132} + g^{15}x^{130} + g^{115}x^{129} + g^{73}x^{96} + g^{84}x^{80} + g^{54}x^{72} + g^{10}x^{68} + g^{216}x^{66} + g^{106}x^{65} + g^{36}x^{48} + g^{36}x^{40} + g^{238}x^{36} + g^{229}x^{34} + g^{135}x^{33} + g^{251}x^{24} + g^{132}x^{20} + g^{155}x^{18} + g^{162}x^{17} + g^{32}x^{12} + g^{207}x^{10} + g^{202}x^{9} + g^{235}x^{6} + g^{20}x^{5} + g^{215}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2391</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{40}x^{160} + g^{19}x^{144} + g^{124}x^{136} + g^{112}x^{132} + g^{43}x^{130} + g^{60}x^{129} + g^{55}x^{96} + g^{189}x^{80} + g^{215}x^{72} + g^{65}x^{68} + g^{230}x^{66} + g^{110}x^{65} + g^{172}x^{48} + g^{197}x^{40} + g^{248}x^{36} + g^{58}x^{34} + g^{15}x^{33} + g^{186}x^{24} + g^{4}x^{20} + g^{204}x^{18} + g^{212}x^{17} + g^{150}x^{12} + g^{82}x^{10} + g^{10}x^{9} + g^{90}x^{6} + g^{167}x^{5} + g^{38}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2392</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{249}x^{192} + g^{23}x^{160} + g^{197}x^{144} + g^{227}x^{136} + g^{142}x^{132} + g^{143}x^{130} + g^{136}x^{129} + g^{208}x^{96} + g^{235}x^{80} + g^{140}x^{72} + g^{124}x^{68} + g^{61}x^{66} + x^{65} + g^{28}x^{48} + g^{196}x^{40} + g^{238}x^{36} + g^{122}x^{34} + g^{248}x^{33} + g^{236}x^{24} + g^{231}x^{20} + x^{18} + g^{5}x^{17} + g^{15}x^{12} + g^{33}x^{10} + g^{214}x^{9} + g^{226}x^{6} + g^{196}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2393</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{165}x^{160} + g^{85}x^{144} + g^{63}x^{136} + g^{9}x^{132} + g^{121}x^{130} + g^{192}x^{129} + g^{152}x^{96} + g^{225}x^{80} + g^{192}x^{72} + g^{66}x^{68} + g^{162}x^{66} + g^{253}x^{65} + g^{148}x^{48} + g^{99}x^{40} + g^{24}x^{36} + g^{52}x^{34} + g^{216}x^{33} + g^{67}x^{24} + g^{54}x^{20} + g^{20}x^{18} + g^{245}x^{17} + g^{230}x^{12} + g^{220}x^{10} + g^{78}x^{9} + g^{108}x^{6} + g^{169}x^{5} + g^{99}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2394</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{251}x^{160} + g^{45}x^{144} + g^{151}x^{136} + g^{134}x^{132} + g^{97}x^{130} + g^{174}x^{129} + g^{8}x^{96} + g^{144}x^{80} + g^{35}x^{72} + g^{199}x^{68} + g^{109}x^{66} + g^{57}x^{65} + g^{157}x^{48} + g^{38}x^{40} + g^{21}x^{36} + g^{174}x^{34} + g^{206}x^{33} + g^{147}x^{24} + g^{223}x^{20} + g^{178}x^{18} + g^{132}x^{17} + g^{55}x^{12} + g^{8}x^{10} + g^{55}x^{9} + g^{115}x^{6} + g^{193}x^{5} + g^{69}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2395</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{245}x^{192} + g^{25}x^{160} + g^{197}x^{144} + g^{214}x^{136} + g^{106}x^{132} + g^{147}x^{130} + g^{95}x^{129} + g^{51}x^{96} + g^{63}x^{80} + g^{206}x^{72} + g^{193}x^{68} + g^{39}x^{66} + g^{121}x^{65} + g^{97}x^{48} + g^{136}x^{40} + g^{96}x^{36} + g^{247}x^{34} + g^{132}x^{33} + g^{9}x^{24} + g^{183}x^{20} + g^{122}x^{18} + g^{150}x^{17} + g^{136}x^{12} + g^{54}x^{10} + g^{142}x^{9} + g^{237}x^{6} + g^{193}x^{5} + g^{81}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2396</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{17}x^{160} + g^{92}x^{144} + g^{105}x^{136} + g^{156}x^{132} + g^{97}x^{130} + g^{39}x^{129} + g^{235}x^{96} + g^{85}x^{80} + g^{211}x^{72} + g^{211}x^{68} + g^{183}x^{66} + g^{28}x^{65} + g^{108}x^{48} + g^{218}x^{40} + g^{76}x^{36} + g^{189}x^{34} + g^{231}x^{33} + g^{42}x^{24} + g^{186}x^{20} + g^{135}x^{18} + g^{101}x^{17} + g^{203}x^{12} + g^{162}x^{10} + g^{68}x^{9} + g^{80}x^{6} + g^{10}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2397</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{181}x^{160} + g^{110}x^{144} + g^{239}x^{136} + g^{33}x^{132} + g^{181}x^{130} + g^{72}x^{96} + g^{195}x^{80} + g^{94}x^{72} + g^{215}x^{68} + g^{199}x^{66} + g^{168}x^{65} + g^{17}x^{48} + g^{212}x^{40} + g^{98}x^{36} + g^{101}x^{34} + g^{86}x^{33} + g^{108}x^{24} + g^{160}x^{20} + g^{246}x^{18} + g^{254}x^{17} + g^{66}x^{12} + g^{21}x^{10} + g^{144}x^{9} + g^{96}x^{6} + g^{65}x^{5} + g^{198}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2398</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{182}x^{192} + g^{62}x^{160} + g^{85}x^{144} + g^{21}x^{136} + g^{162}x^{132} + g^{128}x^{130} + g^{70}x^{129} + g^{38}x^{96} + g^{25}x^{80} + g^{9}x^{72} + g^{189}x^{68} + g^{251}x^{66} + g^{75}x^{65} + g^{74}x^{48} + g^{230}x^{40} + g^{55}x^{36} + g^{10}x^{34} + g^{70}x^{33} + g^{118}x^{24} + g^{84}x^{20} + g^{159}x^{18} + g^{208}x^{17} + g^{138}x^{12} + g^{142}x^{10} + g^{158}x^{9} + g^{7}x^{6} + g^{206}x^{5} + g^{27}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>2399</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{130}x^{192} + g^{249}x^{160} + g^{234}x^{144} + g^{66}x^{136} + g^{228}x^{132} + g^{174}x^{130} + g^{98}x^{129} + g^{77}x^{96} + g^{223}x^{80} + g^{124}x^{72} + g^{45}x^{68} + g^{230}x^{66} + g^{191}x^{65} + g^{50}x^{48} + g^{72}x^{40} + g^{193}x^{36} + g^{146}x^{34} + g^{77}x^{33} + g^{207}x^{24} + g^{188}x^{20} + g^{94}x^{18} + g^{68}x^{17} + g^{206}x^{12} + g^{94}x^{10} + g^{83}x^{9} + g^{188}x^{6} + g^{77}x^{5} + g^{203}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>2400</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{94}x^{192} + g^{62}x^{160} + g^{145}x^{144} + g^{98}x^{136} + g^{174}x^{132} + g^{24}x^{130} + g^{85}x^{129} + g^{151}x^{96} + g^{126}x^{80} + g^{236}x^{72} + g^{122}x^{68} + g^{120}x^{66} + g^{7}x^{65} + g^{83}x^{48} + g^{44}x^{40} + g^{209}x^{36} + g^{145}x^{34} + g^{54}x^{33} + g^{18}x^{24} + g^{206}x^{20} + g^{35}x^{18} + g^{222}x^{17} + g^{96}x^{12} + g^{215}x^{10} + g^{79}x^{9} + g^{5}x^{6} + g^{231}x^{5} + g^{192}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/2001_2500/2301_2400.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>