
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>6301</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{192} + g^{154}x^{160} + g^{133}x^{144} + g^{67}x^{136} + g^{54}x^{132} + g^{41}x^{130} + g^{154}x^{129} + g^{75}x^{96} + g^{127}x^{80} + g^{72}x^{72} + g^{59}x^{68} + g^{69}x^{66} + g^{22}x^{65} + g^{43}x^{48} + g^{118}x^{40} + g^{173}x^{36} + g^{119}x^{34} + g^{194}x^{33} + g^{232}x^{24} + g^{44}x^{20} + g^{223}x^{18} + g^{166}x^{17} + g^{181}x^{12} + g^{225}x^{10} + g^{149}x^{9} + g^{22}x^{6} + g^{63}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6302</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{204}x^{192} + g^{13}x^{160} + g^{108}x^{144} + g^{98}x^{136} + g^{69}x^{132} + g^{7}x^{130} + g^{81}x^{129} + g^{245}x^{96} + g^{89}x^{80} + g^{14}x^{72} + g^{39}x^{68} + g^{207}x^{66} + g^{31}x^{65} + g^{124}x^{48} + g^{88}x^{40} + g^{228}x^{36} + g^{57}x^{34} + g^{70}x^{33} + g^{207}x^{24} + g^{111}x^{20} + g^{102}x^{18} + g^{220}x^{17} + g^{131}x^{12} + g^{60}x^{10} + g^{202}x^{9} + g^{144}x^{6} + g^{5}x^{5} + g^{247}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6303</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{192} + g^{117}x^{160} + g^{162}x^{144} + g^{189}x^{136} + g^{144}x^{132} + g^{100}x^{130} + g^{98}x^{129} + g^{116}x^{96} + g^{249}x^{80} + g^{242}x^{72} + g^{233}x^{68} + g^{14}x^{66} + g^{52}x^{65} + g^{15}x^{48} + g^{32}x^{40} + g^{168}x^{36} + g^{103}x^{34} + g^{96}x^{33} + g^{60}x^{24} + g^{157}x^{20} + g^{154}x^{18} + g^{174}x^{17} + g^{75}x^{12} + g^{239}x^{10} + g^{244}x^{9} + g^{138}x^{6} + g^{38}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6304</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{239}x^{192} + g^{246}x^{144} + g^{217}x^{136} + g^{170}x^{132} + g^{76}x^{130} + g^{250}x^{129} + g^{122}x^{96} + g^{82}x^{80} + g^{129}x^{72} + g^{244}x^{68} + g^{125}x^{66} + g^{22}x^{65} + g^{123}x^{48} + g^{73}x^{40} + g^{208}x^{36} + g^{158}x^{34} + g^{116}x^{33} + g^{49}x^{24} + g^{142}x^{20} + g^{28}x^{18} + g^{143}x^{17} + g^{109}x^{12} + g^{220}x^{10} + g^{251}x^{9} + g^{219}x^{6} + g^{171}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6305</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{26}x^{192} + g^{254}x^{160} + g^{190}x^{144} + g^{138}x^{136} + g^{21}x^{132} + g^{35}x^{130} + g^{33}x^{129} + g^{73}x^{96} + g^{49}x^{80} + g^{97}x^{72} + g^{242}x^{68} + g^{16}x^{66} + g^{227}x^{65} + g^{159}x^{48} + g^{243}x^{40} + g^{205}x^{36} + x^{34} + x^{33} + g^{182}x^{24} + g^{109}x^{20} + g^{47}x^{18} + g^{245}x^{17} + g^{162}x^{12} + g^{152}x^{10} + g^{45}x^{9} + g^{108}x^{6} + g^{239}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6306</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{105}x^{192} + g^{228}x^{144} + g^{178}x^{136} + g^{196}x^{132} + g^{127}x^{130} + g^{189}x^{129} + g^{18}x^{96} + g^{127}x^{80} + g^{135}x^{72} + g^{99}x^{68} + g^{15}x^{66} + g^{57}x^{65} + g^{172}x^{48} + g^{16}x^{40} + gx^{36} + g^{44}x^{34} + g^{162}x^{33} + g^{149}x^{24} + g^{37}x^{20} + g^{27}x^{18} + g^{208}x^{17} + g^{101}x^{12} + g^{84}x^{10} + g^{89}x^{9} + g^{4}x^{6} + g^{47}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6307</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{192} + g^{33}x^{160} + g^{125}x^{144} + g^{119}x^{136} + g^{218}x^{132} + g^{105}x^{130} + g^{32}x^{129} + g^{167}x^{96} + g^{63}x^{80} + g^{110}x^{72} + g^{225}x^{68} + g^{59}x^{66} + g^{172}x^{65} + g^{48}x^{48} + g^{108}x^{40} + g^{45}x^{36} + g^{142}x^{33} + g^{91}x^{24} + g^{97}x^{20} + g^{141}x^{18} + g^{14}x^{17} + g^{179}x^{12} + g^{57}x^{10} + g^{218}x^{9} + g^{25}x^{6} + g^{108}x^{5} + g^{78}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6308</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{160}x^{160} + g^{227}x^{144} + g^{212}x^{136} + g^{154}x^{132} + g^{116}x^{130} + g^{241}x^{129} + g^{100}x^{96} + g^{67}x^{80} + g^{140}x^{72} + g^{15}x^{68} + g^{69}x^{66} + g^{17}x^{65} + g^{194}x^{48} + g^{183}x^{40} + g^{27}x^{36} + g^{237}x^{34} + g^{135}x^{33} + g^{12}x^{24} + g^{215}x^{20} + g^{165}x^{18} + g^{249}x^{17} + g^{143}x^{12} + g^{184}x^{10} + g^{229}x^{9} + g^{249}x^{6} + g^{235}x^{5} + g^{44}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6309</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{52}x^{192} + g^{231}x^{160} + g^{32}x^{144} + g^{13}x^{136} + g^{110}x^{132} + g^{160}x^{130} + g^{187}x^{129} + g^{221}x^{96} + g^{191}x^{80} + g^{149}x^{72} + g^{20}x^{68} + g^{63}x^{66} + g^{41}x^{65} + g^{64}x^{48} + g^{230}x^{40} + g^{248}x^{36} + g^{236}x^{34} + g^{114}x^{33} + g^{60}x^{24} + g^{4}x^{20} + g^{245}x^{18} + g^{28}x^{17} + g^{36}x^{12} + g^{67}x^{10} + g^{157}x^{9} + g^{188}x^{6} + g^{142}x^{5} + g^{27}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6310</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{72}x^{192} + g^{77}x^{160} + g^{195}x^{144} + g^{122}x^{136} + g^{32}x^{132} + g^{39}x^{130} + g^{164}x^{129} + g^{239}x^{96} + g^{70}x^{72} + g^{43}x^{68} + g^{208}x^{66} + g^{205}x^{65} + g^{108}x^{48} + g^{252}x^{40} + g^{201}x^{36} + g^{238}x^{34} + g^{141}x^{33} + g^{9}x^{24} + g^{253}x^{20} + g^{198}x^{18} + g^{207}x^{17} + g^{209}x^{12} + g^{81}x^{10} + g^{125}x^{9} + g^{9}x^{6} + g^{232}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6311</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{179}x^{192} + g^{73}x^{160} + g^{11}x^{144} + g^{51}x^{136} + g^{34}x^{132} + g^{154}x^{130} + g^{36}x^{129} + g^{50}x^{96} + g^{92}x^{80} + g^{248}x^{72} + g^{69}x^{68} + g^{173}x^{66} + g^{174}x^{65} + g^{90}x^{48} + g^{104}x^{40} + g^{90}x^{36} + g^{27}x^{34} + g^{244}x^{33} + g^{3}x^{24} + g^{254}x^{20} + g^{252}x^{18} + g^{62}x^{17} + g^{208}x^{12} + g^{124}x^{10} + g^{68}x^{9} + g^{216}x^{6} + g^{227}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6312</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{203}x^{192} + g^{93}x^{160} + g^{126}x^{144} + g^{2}x^{136} + g^{140}x^{132} + g^{194}x^{130} + g^{246}x^{129} + g^{37}x^{96} + g^{74}x^{80} + g^{117}x^{72} + g^{93}x^{68} + g^{168}x^{66} + g^{107}x^{65} + g^{16}x^{48} + g^{10}x^{40} + g^{250}x^{36} + g^{42}x^{34} + g^{75}x^{33} + g^{252}x^{24} + g^{46}x^{20} + g^{162}x^{18} + g^{169}x^{17} + g^{211}x^{12} + g^{13}x^{10} + g^{193}x^{9} + g^{16}x^{6} + g^{211}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6313</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{207}x^{160} + g^{8}x^{144} + g^{62}x^{136} + g^{69}x^{132} + g^{177}x^{130} + g^{28}x^{129} + g^{110}x^{96} + g^{82}x^{80} + g^{61}x^{72} + g^{123}x^{68} + g^{237}x^{66} + g^{252}x^{65} + g^{148}x^{48} + g^{68}x^{40} + g^{159}x^{36} + g^{236}x^{34} + g^{51}x^{33} + g^{225}x^{24} + g^{47}x^{20} + g^{194}x^{18} + g^{245}x^{17} + g^{142}x^{12} + g^{66}x^{10} + g^{30}x^{9} + g^{105}x^{6} + g^{16}x^{5} + g^{189}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6314</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{104}x^{192} + g^{127}x^{160} + g^{100}x^{144} + g^{237}x^{136} + g^{28}x^{132} + g^{103}x^{130} + g^{244}x^{129} + g^{94}x^{96} + g^{61}x^{80} + g^{134}x^{72} + g^{31}x^{68} + g^{139}x^{66} + g^{69}x^{65} + g^{143}x^{48} + g^{35}x^{40} + g^{129}x^{36} + g^{30}x^{34} + g^{193}x^{33} + g^{87}x^{24} + g^{172}x^{20} + g^{40}x^{18} + g^{87}x^{17} + g^{192}x^{12} + g^{106}x^{10} + g^{173}x^{9} + g^{108}x^{6} + g^{87}x^{5} + g^{74}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6315</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{127}x^{192} + g^{7}x^{160} + g^{74}x^{144} + g^{115}x^{136} + g^{138}x^{132} + g^{224}x^{130} + g^{132}x^{129} + g^{110}x^{96} + g^{128}x^{80} + g^{137}x^{72} + g^{254}x^{68} + g^{243}x^{66} + g^{112}x^{65} + g^{88}x^{48} + g^{161}x^{40} + g^{142}x^{36} + g^{212}x^{34} + g^{114}x^{33} + g^{146}x^{24} + g^{11}x^{20} + g^{71}x^{18} + g^{34}x^{17} + g^{150}x^{12} + g^{239}x^{10} + g^{10}x^{9} + g^{29}x^{6} + g^{223}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6316</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{192} + g^{68}x^{160} + g^{11}x^{144} + g^{248}x^{136} + g^{90}x^{132} + g^{25}x^{130} + g^{110}x^{129} + g^{199}x^{96} + g^{153}x^{80} + g^{95}x^{72} + g^{113}x^{68} + g^{2}x^{66} + g^{7}x^{65} + g^{110}x^{48} + g^{171}x^{40} + g^{143}x^{36} + g^{58}x^{34} + g^{104}x^{33} + g^{101}x^{24} + g^{223}x^{20} + g^{168}x^{18} + g^{154}x^{17} + g^{131}x^{12} + g^{239}x^{10} + g^{187}x^{9} + g^{11}x^{6} + g^{104}x^{5} + g^{15}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6317</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{210}x^{192} + g^{41}x^{160} + g^{52}x^{144} + g^{224}x^{136} + g^{178}x^{132} + g^{102}x^{130} + g^{15}x^{129} + g^{129}x^{96} + g^{222}x^{80} + g^{169}x^{72} + g^{156}x^{68} + g^{18}x^{66} + g^{67}x^{65} + g^{16}x^{48} + g^{46}x^{40} + g^{55}x^{36} + g^{115}x^{34} + g^{211}x^{33} + g^{151}x^{24} + g^{41}x^{20} + g^{219}x^{18} + g^{65}x^{17} + g^{88}x^{12} + g^{157}x^{10} + g^{126}x^{9} + g^{197}x^{6} + g^{98}x^{5} + g^{235}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6318</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{21}x^{192} + g^{245}x^{160} + g^{62}x^{144} + g^{237}x^{136} + g^{2}x^{132} + g^{200}x^{130} + g^{12}x^{129} + g^{217}x^{96} + g^{35}x^{80} + g^{177}x^{72} + g^{242}x^{68} + g^{179}x^{66} + g^{217}x^{65} + g^{37}x^{48} + g^{21}x^{40} + g^{116}x^{36} + g^{251}x^{34} + g^{187}x^{33} + g^{115}x^{24} + g^{194}x^{20} + g^{87}x^{18} + g^{106}x^{17} + g^{90}x^{12} + g^{149}x^{10} + g^{107}x^{9} + g^{52}x^{6} + g^{197}x^{5} + g^{178}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6319</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{61}x^{192} + g^{30}x^{160} + g^{249}x^{144} + g^{16}x^{136} + g^{114}x^{132} + g^{172}x^{130} + g^{121}x^{129} + g^{227}x^{96} + g^{240}x^{80} + g^{5}x^{72} + g^{138}x^{68} + g^{151}x^{66} + g^{204}x^{65} + g^{149}x^{48} + g^{29}x^{40} + g^{47}x^{36} + g^{246}x^{34} + g^{239}x^{33} + g^{210}x^{24} + g^{183}x^{20} + g^{9}x^{18} + g^{106}x^{17} + g^{143}x^{12} + g^{142}x^{10} + g^{44}x^{9} + g^{18}x^{6} + g^{41}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6320</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{130}x^{192} + g^{175}x^{160} + g^{40}x^{144} + g^{196}x^{136} + g^{245}x^{132} + g^{196}x^{130} + g^{227}x^{129} + g^{158}x^{96} + g^{122}x^{80} + g^{53}x^{72} + g^{146}x^{68} + g^{225}x^{66} + g^{137}x^{65} + g^{75}x^{48} + g^{5}x^{40} + g^{236}x^{36} + g^{108}x^{34} + g^{152}x^{33} + g^{151}x^{24} + g^{213}x^{20} + g^{40}x^{18} + g^{209}x^{17} + g^{84}x^{12} + g^{107}x^{10} + g^{108}x^{9} + g^{133}x^{6} + g^{136}x^{5} + g^{137}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6321</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{192} + g^{118}x^{160} + g^{197}x^{144} + g^{109}x^{136} + g^{132}x^{132} + g^{22}x^{130} + g^{33}x^{129} + g^{177}x^{96} + g^{127}x^{80} + g^{175}x^{72} + g^{76}x^{68} + g^{116}x^{66} + g^{134}x^{65} + g^{67}x^{48} + g^{183}x^{40} + g^{247}x^{36} + g^{189}x^{34} + g^{127}x^{33} + g^{14}x^{24} + g^{7}x^{20} + g^{20}x^{18} + g^{150}x^{17} + g^{178}x^{12} + g^{191}x^{10} + g^{83}x^{9} + g^{34}x^{6} + g^{195}x^{5} + g^{224}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6322</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + g^{122}x^{160} + g^{100}x^{144} + g^{17}x^{136} + g^{175}x^{132} + g^{233}x^{130} + g^{96}x^{129} + g^{77}x^{96} + g^{228}x^{80} + g^{237}x^{72} + g^{249}x^{68} + g^{226}x^{66} + g^{67}x^{65} + g^{38}x^{48} + g^{52}x^{40} + g^{189}x^{36} + g^{127}x^{34} + g^{112}x^{33} + g^{212}x^{24} + g^{48}x^{20} + g^{61}x^{18} + g^{218}x^{17} + g^{93}x^{12} + g^{237}x^{10} + g^{143}x^{9} + g^{69}x^{6} + g^{133}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6323</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{168}x^{160} + g^{190}x^{144} + g^{168}x^{136} + x^{132} + g^{105}x^{130} + g^{202}x^{129} + g^{121}x^{96} + g^{138}x^{80} + g^{247}x^{72} + g^{38}x^{68} + g^{116}x^{66} + g^{13}x^{65} + g^{70}x^{48} + g^{113}x^{40} + g^{6}x^{36} + g^{2}x^{34} + g^{157}x^{33} + g^{159}x^{24} + g^{219}x^{20} + g^{65}x^{18} + g^{121}x^{17} + g^{62}x^{12} + g^{118}x^{10} + g^{235}x^{9} + g^{46}x^{6} + g^{225}x^{5} + g^{155}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6324</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{165}x^{192} + g^{112}x^{160} + g^{234}x^{144} + g^{210}x^{136} + g^{26}x^{132} + g^{159}x^{130} + g^{176}x^{129} + g^{146}x^{96} + g^{225}x^{80} + g^{202}x^{72} + g^{17}x^{68} + g^{192}x^{66} + g^{144}x^{65} + g^{102}x^{48} + g^{208}x^{40} + g^{126}x^{36} + g^{49}x^{34} + g^{224}x^{33} + g^{210}x^{24} + g^{40}x^{20} + g^{251}x^{18} + g^{187}x^{17} + g^{23}x^{12} + g^{134}x^{10} + g^{120}x^{9} + g^{120}x^{6} + g^{211}x^{5} + g^{140}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6325</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{192} + g^{213}x^{160} + g^{164}x^{144} + g^{95}x^{136} + g^{81}x^{132} + g^{206}x^{130} + g^{165}x^{129} + g^{75}x^{96} + g^{56}x^{80} + g^{215}x^{72} + g^{86}x^{68} + g^{115}x^{66} + g^{96}x^{65} + g^{46}x^{48} + g^{15}x^{40} + g^{220}x^{36} + g^{245}x^{34} + g^{150}x^{33} + g^{154}x^{24} + g^{10}x^{20} + g^{178}x^{18} + g^{101}x^{17} + g^{249}x^{12} + g^{153}x^{10} + g^{189}x^{9} + g^{83}x^{6} + g^{118}x^{5} + g^{201}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6326</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{80}x^{160} + g^{9}x^{144} + g^{78}x^{136} + g^{83}x^{132} + g^{86}x^{130} + g^{194}x^{129} + g^{182}x^{96} + g^{170}x^{80} + g^{91}x^{72} + g^{135}x^{68} + g^{210}x^{66} + g^{198}x^{65} + g^{155}x^{48} + g^{240}x^{40} + g^{177}x^{36} + g^{92}x^{34} + g^{38}x^{33} + g^{103}x^{24} + g^{11}x^{20} + g^{117}x^{18} + g^{237}x^{17} + g^{159}x^{12} + g^{3}x^{10} + g^{242}x^{9} + g^{199}x^{6} + g^{206}x^{5} + g^{136}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6327</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{178}x^{192} + g^{127}x^{160} + g^{96}x^{144} + g^{176}x^{136} + g^{97}x^{132} + g^{145}x^{130} + g^{58}x^{129} + g^{39}x^{96} + g^{67}x^{80} + g^{169}x^{72} + g^{247}x^{68} + g^{169}x^{66} + g^{70}x^{65} + g^{179}x^{48} + g^{62}x^{40} + g^{150}x^{36} + g^{228}x^{34} + g^{73}x^{33} + g^{243}x^{24} + g^{102}x^{20} + g^{121}x^{18} + g^{192}x^{17} + g^{202}x^{12} + g^{132}x^{10} + g^{227}x^{9} + g^{208}x^{6} + g^{193}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6328</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{2}x^{160} + g^{247}x^{144} + g^{67}x^{136} + g^{33}x^{132} + g^{41}x^{130} + g^{208}x^{129} + g^{195}x^{96} + g^{58}x^{80} + g^{78}x^{72} + g^{206}x^{68} + g^{247}x^{66} + g^{61}x^{65} + g^{178}x^{48} + g^{39}x^{40} + g^{206}x^{36} + g^{51}x^{34} + g^{190}x^{33} + g^{22}x^{24} + g^{56}x^{20} + g^{69}x^{18} + g^{232}x^{17} + g^{105}x^{12} + g^{97}x^{10} + g^{150}x^{9} + g^{104}x^{6} + g^{7}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6329</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{192} + g^{246}x^{160} + g^{207}x^{144} + g^{154}x^{136} + g^{34}x^{132} + g^{10}x^{130} + g^{170}x^{129} + g^{235}x^{96} + g^{20}x^{80} + g^{196}x^{72} + g^{42}x^{68} + g^{84}x^{66} + g^{39}x^{65} + g^{74}x^{48} + g^{103}x^{40} + g^{180}x^{36} + g^{30}x^{34} + g^{204}x^{33} + g^{90}x^{24} + g^{34}x^{20} + g^{197}x^{18} + g^{115}x^{17} + g^{169}x^{12} + g^{48}x^{10} + g^{138}x^{9} + g^{246}x^{6} + g^{192}x^{5} + g^{132}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6330</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{223}x^{160} + g^{61}x^{144} + g^{145}x^{136} + g^{106}x^{132} + g^{146}x^{130} + g^{166}x^{129} + g^{207}x^{96} + g^{169}x^{80} + g^{180}x^{72} + g^{105}x^{68} + g^{84}x^{66} + g^{81}x^{65} + g^{232}x^{48} + g^{138}x^{40} + g^{61}x^{36} + g^{4}x^{34} + g^{85}x^{33} + g^{195}x^{24} + g^{102}x^{20} + g^{140}x^{18} + g^{30}x^{17} + g^{4}x^{12} + g^{20}x^{10} + g^{216}x^{9} + g^{168}x^{6} + g^{84}x^{5} + g^{184}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6331</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{151}x^{192} + g^{54}x^{160} + g^{82}x^{144} + g^{134}x^{136} + g^{227}x^{132} + g^{121}x^{130} + g^{162}x^{129} + g^{139}x^{96} + gx^{80} + g^{216}x^{72} + g^{123}x^{68} + g^{246}x^{66} + g^{98}x^{65} + g^{4}x^{48} + x^{40} + g^{235}x^{36} + g^{157}x^{34} + g^{140}x^{33} + g^{12}x^{24} + g^{227}x^{20} + g^{148}x^{18} + g^{120}x^{17} + g^{34}x^{12} + g^{247}x^{10} + g^{228}x^{9} + g^{115}x^{6} + g^{98}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6332</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{205}x^{160} + g^{112}x^{144} + g^{240}x^{136} + g^{113}x^{132} + g^{22}x^{130} + g^{18}x^{129} + g^{112}x^{96} + g^{24}x^{80} + g^{121}x^{72} + g^{102}x^{68} + g^{30}x^{66} + g^{189}x^{65} + g^{159}x^{48} + g^{186}x^{40} + g^{222}x^{36} + g^{117}x^{34} + g^{65}x^{33} + g^{87}x^{24} + g^{19}x^{20} + g^{122}x^{18} + g^{141}x^{17} + g^{170}x^{12} + g^{203}x^{10} + g^{175}x^{9} + g^{38}x^{6} + g^{219}x^{5} + g^{212}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6333</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{208}x^{160} + g^{6}x^{144} + g^{218}x^{136} + g^{94}x^{132} + g^{186}x^{130} + g^{219}x^{129} + g^{145}x^{96} + g^{128}x^{80} + g^{121}x^{72} + g^{18}x^{68} + g^{99}x^{66} + g^{210}x^{65} + g^{89}x^{48} + g^{65}x^{40} + g^{97}x^{36} + g^{118}x^{34} + g^{40}x^{33} + g^{55}x^{24} + g^{82}x^{20} + g^{245}x^{18} + g^{108}x^{17} + g^{18}x^{12} + g^{191}x^{10} + g^{229}x^{9} + g^{22}x^{6} + g^{6}x^{5} + g^{114}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6334</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{142}x^{192} + g^{4}x^{160} + g^{10}x^{144} + g^{171}x^{136} + g^{32}x^{132} + g^{208}x^{130} + g^{215}x^{129} + g^{193}x^{96} + g^{99}x^{80} + g^{235}x^{72} + g^{183}x^{68} + g^{125}x^{66} + g^{132}x^{65} + g^{120}x^{48} + g^{135}x^{40} + g^{194}x^{36} + g^{41}x^{34} + g^{222}x^{33} + gx^{24} + g^{121}x^{20} + g^{55}x^{18} + g^{96}x^{17} + g^{76}x^{12} + g^{205}x^{10} + g^{183}x^{9} + g^{164}x^{6} + g^{249}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6335</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{21}x^{192} + g^{121}x^{160} + g^{189}x^{144} + g^{171}x^{136} + g^{212}x^{132} + g^{234}x^{130} + g^{140}x^{129} + g^{254}x^{96} + g^{170}x^{80} + g^{202}x^{72} + g^{199}x^{68} + g^{47}x^{66} + g^{61}x^{65} + g^{234}x^{48} + g^{147}x^{40} + g^{57}x^{36} + g^{150}x^{34} + g^{220}x^{33} + g^{102}x^{24} + g^{51}x^{20} + g^{136}x^{18} + g^{158}x^{17} + g^{109}x^{12} + g^{178}x^{10} + g^{111}x^{9} + g^{175}x^{6} + g^{183}x^{5} + g^{125}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6336</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{20}x^{192} + g^{52}x^{160} + g^{149}x^{144} + g^{35}x^{136} + g^{189}x^{132} + g^{194}x^{130} + g^{176}x^{129} + gx^{96} + g^{154}x^{80} + g^{83}x^{72} + g^{170}x^{68} + g^{192}x^{66} + g^{239}x^{65} + g^{4}x^{48} + g^{103}x^{40} + g^{184}x^{36} + g^{134}x^{34} + g^{233}x^{33} + g^{31}x^{24} + g^{160}x^{20} + g^{148}x^{18} + g^{236}x^{17} + g^{178}x^{12} + g^{107}x^{10} + g^{237}x^{9} + g^{13}x^{6} + g^{161}x^{5} + g^{223}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6337</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{227}x^{192} + g^{247}x^{160} + g^{49}x^{144} + g^{204}x^{136} + g^{124}x^{132} + g^{183}x^{130} + g^{34}x^{129} + g^{243}x^{96} + g^{149}x^{80} + g^{75}x^{72} + g^{127}x^{68} + g^{218}x^{66} + g^{50}x^{65} + g^{40}x^{48} + g^{36}x^{40} + g^{213}x^{36} + g^{24}x^{34} + g^{143}x^{33} + g^{112}x^{24} + g^{216}x^{20} + g^{35}x^{18} + g^{15}x^{17} + g^{94}x^{12} + g^{148}x^{10} + g^{208}x^{9} + g^{21}x^{6} + g^{79}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6338</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{4}x^{192} + g^{251}x^{160} + g^{119}x^{144} + g^{19}x^{136} + g^{84}x^{132} + g^{32}x^{130} + g^{5}x^{129} + g^{110}x^{96} + g^{51}x^{80} + g^{9}x^{72} + g^{60}x^{68} + g^{13}x^{66} + g^{113}x^{65} + g^{82}x^{48} + g^{72}x^{40} + g^{15}x^{36} + g^{182}x^{34} + g^{193}x^{33} + g^{246}x^{24} + g^{36}x^{20} + g^{165}x^{18} + g^{120}x^{17} + g^{110}x^{12} + g^{132}x^{10} + g^{17}x^{9} + g^{187}x^{6} + g^{85}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6339</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{158}x^{192} + g^{159}x^{160} + g^{69}x^{144} + g^{144}x^{136} + g^{93}x^{132} + g^{49}x^{130} + g^{194}x^{129} + g^{24}x^{96} + g^{33}x^{80} + g^{253}x^{72} + g^{123}x^{68} + g^{215}x^{66} + g^{40}x^{65} + g^{13}x^{48} + g^{192}x^{40} + g^{185}x^{36} + g^{60}x^{34} + g^{247}x^{33} + g^{184}x^{24} + g^{198}x^{20} + g^{150}x^{18} + g^{214}x^{17} + g^{234}x^{12} + g^{107}x^{10} + g^{102}x^{9} + g^{162}x^{6} + g^{62}x^{5} + g^{131}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6340</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{141}x^{192} + g^{70}x^{160} + g^{13}x^{144} + g^{118}x^{136} + g^{238}x^{132} + g^{34}x^{130} + g^{157}x^{129} + g^{113}x^{96} + g^{227}x^{80} + g^{208}x^{72} + g^{25}x^{68} + g^{80}x^{66} + g^{204}x^{65} + g^{114}x^{48} + g^{178}x^{40} + g^{44}x^{36} + g^{245}x^{34} + g^{41}x^{33} + g^{22}x^{24} + g^{4}x^{20} + g^{184}x^{18} + g^{70}x^{17} + g^{174}x^{12} + g^{151}x^{10} + g^{31}x^{9} + g^{205}x^{6} + g^{209}x^{5} + g^{194}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6341</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{76}x^{160} + g^{20}x^{144} + g^{27}x^{136} + g^{125}x^{132} + g^{150}x^{130} + g^{111}x^{129} + g^{24}x^{96} + g^{209}x^{80} + g^{46}x^{72} + g^{165}x^{68} + g^{35}x^{66} + g^{205}x^{65} + g^{178}x^{48} + g^{66}x^{40} + g^{25}x^{36} + g^{186}x^{34} + g^{11}x^{33} + g^{105}x^{24} + g^{173}x^{20} + g^{114}x^{18} + g^{153}x^{17} + g^{70}x^{12} + g^{212}x^{10} + g^{198}x^{9} + g^{250}x^{6} + g^{48}x^{5} + g^{14}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6342</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{173}x^{160} + g^{22}x^{144} + g^{173}x^{136} + g^{103}x^{132} + g^{128}x^{130} + g^{92}x^{129} + g^{64}x^{96} + g^{81}x^{80} + g^{207}x^{72} + g^{68}x^{68} + g^{81}x^{66} + g^{173}x^{65} + g^{114}x^{48} + g^{126}x^{40} + g^{71}x^{36} + g^{70}x^{34} + g^{70}x^{33} + g^{14}x^{24} + g^{201}x^{20} + g^{165}x^{18} + g^{2}x^{17} + g^{134}x^{12} + g^{77}x^{10} + g^{18}x^{9} + g^{151}x^{6} + g^{82}x^{5} + g^{247}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6343</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{60}x^{192} + g^{55}x^{160} + g^{74}x^{144} + g^{36}x^{136} + g^{235}x^{132} + g^{138}x^{130} + g^{76}x^{129} + g^{17}x^{96} + g^{244}x^{80} + g^{209}x^{72} + g^{194}x^{68} + g^{251}x^{66} + g^{214}x^{65} + g^{77}x^{48} + g^{204}x^{40} + g^{180}x^{36} + g^{38}x^{34} + g^{228}x^{33} + g^{188}x^{24} + g^{122}x^{20} + g^{119}x^{18} + g^{23}x^{17} + g^{38}x^{12} + g^{197}x^{10} + g^{253}x^{9} + g^{233}x^{6} + g^{182}x^{5} + g^{122}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6344</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{179}x^{192} + g^{91}x^{160} + g^{89}x^{144} + g^{56}x^{136} + g^{108}x^{132} + g^{127}x^{130} + g^{61}x^{129} + g^{76}x^{96} + g^{135}x^{80} + g^{164}x^{72} + g^{152}x^{68} + g^{218}x^{66} + g^{70}x^{65} + g^{11}x^{48} + g^{85}x^{40} + g^{111}x^{36} + g^{50}x^{34} + g^{21}x^{33} + g^{13}x^{24} + g^{91}x^{20} + g^{209}x^{18} + g^{45}x^{17} + g^{253}x^{12} + g^{57}x^{10} + g^{137}x^{9} + g^{30}x^{6} + g^{208}x^{5} + g^{182}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6345</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{192} + g^{241}x^{160} + g^{154}x^{144} + g^{225}x^{136} + g^{44}x^{132} + g^{188}x^{130} + g^{235}x^{129} + g^{135}x^{96} + g^{70}x^{80} + g^{207}x^{72} + g^{4}x^{66} + g^{201}x^{65} + g^{152}x^{48} + g^{85}x^{40} + g^{56}x^{36} + g^{24}x^{34} + g^{64}x^{33} + g^{161}x^{24} + g^{196}x^{20} + g^{242}x^{18} + g^{114}x^{17} + g^{210}x^{12} + g^{42}x^{10} + g^{230}x^{9} + g^{120}x^{6} + g^{96}x^{5} + g^{45}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6346</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{77}x^{192} + g^{101}x^{160} + g^{135}x^{144} + g^{195}x^{136} + g^{203}x^{132} + g^{35}x^{130} + g^{252}x^{129} + g^{69}x^{96} + g^{22}x^{80} + g^{115}x^{72} + g^{207}x^{68} + g^{84}x^{66} + g^{239}x^{65} + g^{241}x^{48} + g^{100}x^{40} + g^{117}x^{36} + g^{135}x^{34} + g^{53}x^{33} + g^{213}x^{24} + g^{233}x^{20} + g^{84}x^{18} + g^{66}x^{17} + g^{98}x^{12} + g^{214}x^{10} + g^{15}x^{9} + g^{20}x^{6} + g^{221}x^{5} + g^{230}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6347</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{89}x^{160} + g^{170}x^{144} + g^{213}x^{136} + g^{219}x^{132} + g^{77}x^{130} + g^{32}x^{129} + g^{88}x^{96} + g^{165}x^{80} + g^{61}x^{68} + g^{224}x^{66} + g^{177}x^{65} + g^{228}x^{48} + g^{50}x^{40} + g^{231}x^{36} + g^{189}x^{34} + g^{198}x^{33} + g^{121}x^{24} + g^{109}x^{20} + g^{2}x^{18} + g^{42}x^{17} + g^{85}x^{12} + g^{61}x^{10} + g^{49}x^{9} + g^{30}x^{6} + g^{32}x^{5} + g^{46}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6348</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{174}x^{192} + x^{160} + g^{85}x^{144} + g^{254}x^{136} + g^{210}x^{132} + g^{2}x^{130} + g^{138}x^{129} + g^{195}x^{96} + g^{71}x^{80} + g^{111}x^{72} + g^{164}x^{68} + g^{129}x^{66} + g^{136}x^{65} + g^{68}x^{48} + g^{165}x^{40} + g^{175}x^{36} + g^{189}x^{34} + g^{141}x^{33} + g^{142}x^{24} + g^{90}x^{20} + g^{72}x^{18} + g^{3}x^{17} + g^{92}x^{12} + g^{176}x^{10} + g^{77}x^{9} + g^{202}x^{6} + g^{3}x^{5} + g^{240}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6349</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{43}x^{192} + g^{150}x^{160} + g^{15}x^{144} + g^{50}x^{136} + g^{102}x^{132} + g^{201}x^{130} + gx^{129} + g^{199}x^{96} + g^{184}x^{80} + g^{14}x^{72} + g^{189}x^{68} + g^{144}x^{66} + g^{94}x^{65} + g^{53}x^{48} + g^{172}x^{40} + g^{43}x^{36} + g^{210}x^{34} + g^{76}x^{33} + g^{129}x^{24} + g^{99}x^{20} + g^{82}x^{18} + g^{68}x^{17} + g^{165}x^{12} + g^{13}x^{10} + g^{250}x^{9} + g^{188}x^{6} + g^{30}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6350</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{130}x^{192} + g^{201}x^{160} + g^{59}x^{144} + g^{49}x^{136} + g^{42}x^{132} + g^{40}x^{130} + g^{96}x^{129} + g^{242}x^{96} + g^{32}x^{80} + g^{209}x^{72} + g^{190}x^{68} + g^{189}x^{66} + g^{123}x^{65} + g^{233}x^{48} + g^{195}x^{40} + g^{199}x^{36} + g^{181}x^{34} + g^{123}x^{33} + g^{14}x^{24} + g^{114}x^{20} + g^{50}x^{18} + g^{150}x^{17} + g^{37}x^{12} + g^{151}x^{10} + g^{204}x^{9} + g^{43}x^{6} + g^{60}x^{5} + g^{45}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6351</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{162}x^{192} + g^{120}x^{160} + g^{89}x^{144} + g^{191}x^{136} + g^{57}x^{132} + g^{33}x^{130} + g^{85}x^{129} + g^{253}x^{96} + g^{27}x^{80} + g^{150}x^{72} + g^{12}x^{68} + g^{71}x^{66} + g^{19}x^{65} + g^{13}x^{48} + g^{227}x^{40} + g^{232}x^{36} + g^{54}x^{34} + g^{84}x^{33} + g^{187}x^{24} + g^{8}x^{20} + g^{119}x^{18} + g^{171}x^{17} + g^{47}x^{12} + g^{251}x^{10} + g^{32}x^{9} + g^{98}x^{6} + g^{228}x^{5} + g^{166}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6352</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{83}x^{192} + g^{47}x^{160} + g^{29}x^{144} + g^{242}x^{136} + g^{150}x^{132} + g^{76}x^{130} + g^{181}x^{129} + g^{251}x^{96} + g^{148}x^{80} + g^{75}x^{72} + g^{54}x^{68} + g^{133}x^{66} + g^{192}x^{65} + g^{121}x^{48} + g^{217}x^{40} + g^{124}x^{36} + g^{30}x^{34} + g^{56}x^{33} + g^{252}x^{24} + g^{103}x^{20} + g^{186}x^{18} + g^{253}x^{17} + g^{147}x^{12} + g^{39}x^{10} + g^{11}x^{9} + g^{115}x^{6} + g^{85}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6353</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{124}x^{160} + g^{246}x^{144} + g^{55}x^{136} + g^{25}x^{132} + g^{178}x^{130} + g^{219}x^{129} + g^{4}x^{96} + g^{98}x^{80} + g^{146}x^{72} + g^{37}x^{68} + g^{200}x^{66} + g^{125}x^{65} + g^{243}x^{48} + g^{218}x^{40} + g^{48}x^{36} + g^{20}x^{34} + g^{31}x^{33} + g^{99}x^{24} + g^{60}x^{20} + g^{168}x^{18} + g^{129}x^{17} + g^{28}x^{12} + g^{91}x^{10} + g^{203}x^{9} + g^{157}x^{6} + g^{165}x^{5} + g^{125}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6354</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{239}x^{192} + g^{24}x^{160} + g^{172}x^{144} + g^{70}x^{136} + g^{101}x^{132} + g^{25}x^{130} + g^{129}x^{129} + g^{124}x^{96} + g^{107}x^{80} + g^{183}x^{72} + g^{32}x^{68} + g^{120}x^{66} + g^{32}x^{65} + g^{154}x^{48} + g^{109}x^{40} + g^{119}x^{36} + g^{240}x^{34} + g^{101}x^{33} + g^{125}x^{24} + g^{173}x^{20} + g^{196}x^{18} + g^{68}x^{17} + g^{118}x^{12} + g^{217}x^{10} + g^{27}x^{9} + g^{206}x^{6} + g^{223}x^{5} + g^{252}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6355</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{151}x^{160} + g^{26}x^{144} + g^{136}x^{136} + g^{232}x^{132} + g^{229}x^{130} + g^{116}x^{129} + g^{61}x^{96} + g^{65}x^{80} + g^{50}x^{72} + g^{183}x^{68} + g^{113}x^{66} + g^{99}x^{65} + g^{90}x^{48} + g^{188}x^{40} + g^{21}x^{36} + g^{40}x^{34} + g^{230}x^{33} + g^{11}x^{24} + g^{67}x^{20} + g^{110}x^{18} + g^{151}x^{17} + g^{17}x^{12} + g^{90}x^{10} + g^{37}x^{9} + g^{164}x^{6} + g^{150}x^{5} + g^{221}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6356</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{100}x^{160} + g^{31}x^{144} + g^{133}x^{136} + g^{34}x^{132} + g^{92}x^{130} + g^{56}x^{129} + g^{218}x^{96} + g^{15}x^{80} + g^{111}x^{72} + g^{41}x^{68} + g^{62}x^{66} + g^{142}x^{65} + g^{37}x^{48} + g^{106}x^{40} + g^{241}x^{36} + g^{110}x^{34} + g^{140}x^{33} + g^{215}x^{24} + g^{2}x^{20} + g^{225}x^{18} + g^{41}x^{17} + g^{78}x^{12} + g^{38}x^{10} + g^{11}x^{9} + g^{82}x^{6} + g^{36}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6357</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{173}x^{192} + g^{129}x^{160} + g^{27}x^{144} + g^{240}x^{136} + g^{49}x^{132} + g^{165}x^{130} + g^{216}x^{129} + g^{208}x^{96} + g^{229}x^{80} + g^{65}x^{72} + g^{190}x^{68} + g^{234}x^{66} + g^{85}x^{65} + g^{54}x^{48} + g^{198}x^{40} + g^{248}x^{36} + g^{95}x^{34} + g^{6}x^{33} + g^{136}x^{24} + g^{126}x^{20} + g^{182}x^{18} + g^{159}x^{17} + g^{127}x^{12} + g^{43}x^{10} + g^{56}x^{9} + g^{221}x^{6} + g^{156}x^{5} + g^{200}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6358</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{178}x^{160} + g^{240}x^{144} + g^{184}x^{136} + g^{249}x^{132} + g^{141}x^{130} + g^{209}x^{129} + g^{59}x^{96} + g^{151}x^{80} + g^{197}x^{72} + g^{109}x^{68} + g^{109}x^{66} + g^{158}x^{65} + g^{49}x^{48} + g^{169}x^{40} + g^{74}x^{36} + g^{253}x^{34} + g^{224}x^{33} + g^{137}x^{24} + g^{94}x^{20} + g^{66}x^{18} + g^{15}x^{17} + g^{158}x^{12} + g^{23}x^{10} + g^{47}x^{9} + g^{27}x^{6} + g^{143}x^{5} + g^{7}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6359</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{2}x^{160} + g^{47}x^{144} + g^{159}x^{136} + g^{38}x^{132} + g^{110}x^{130} + g^{154}x^{129} + g^{166}x^{96} + g^{95}x^{80} + g^{220}x^{72} + g^{91}x^{68} + g^{243}x^{66} + g^{155}x^{65} + g^{82}x^{48} + g^{78}x^{40} + g^{167}x^{36} + g^{56}x^{34} + g^{123}x^{33} + g^{216}x^{24} + g^{155}x^{20} + g^{195}x^{18} + g^{218}x^{17} + g^{87}x^{12} + g^{21}x^{10} + g^{243}x^{9} + g^{245}x^{6} + g^{197}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6360</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{192} + g^{179}x^{160} + g^{215}x^{144} + g^{171}x^{136} + g^{89}x^{132} + g^{98}x^{130} + g^{152}x^{129} + g^{47}x^{96} + g^{148}x^{80} + g^{75}x^{72} + g^{70}x^{68} + g^{206}x^{66} + g^{130}x^{65} + g^{19}x^{48} + g^{192}x^{40} + g^{114}x^{36} + g^{240}x^{34} + g^{130}x^{33} + g^{232}x^{24} + g^{236}x^{20} + g^{232}x^{18} + g^{251}x^{17} + g^{168}x^{12} + g^{254}x^{10} + g^{61}x^{9} + g^{74}x^{6} + g^{21}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6361</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{192} + g^{37}x^{160} + g^{19}x^{144} + g^{133}x^{136} + g^{243}x^{132} + g^{23}x^{130} + g^{210}x^{129} + g^{227}x^{96} + g^{107}x^{80} + g^{182}x^{72} + g^{45}x^{68} + g^{155}x^{66} + g^{236}x^{65} + g^{7}x^{48} + g^{84}x^{40} + g^{203}x^{36} + g^{32}x^{34} + g^{36}x^{33} + g^{115}x^{24} + g^{173}x^{20} + g^{51}x^{18} + x^{17} + g^{223}x^{12} + g^{200}x^{10} + g^{70}x^{9} + g^{10}x^{6} + g^{101}x^{5} + g^{80}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6362</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{219}x^{192} + g^{201}x^{160} + g^{109}x^{144} + g^{199}x^{136} + g^{68}x^{132} + g^{142}x^{130} + g^{152}x^{129} + g^{175}x^{96} + g^{223}x^{80} + g^{137}x^{72} + g^{240}x^{68} + g^{249}x^{66} + g^{58}x^{65} + g^{165}x^{48} + g^{193}x^{40} + g^{92}x^{36} + g^{157}x^{34} + g^{79}x^{33} + g^{202}x^{24} + g^{91}x^{20} + g^{92}x^{18} + g^{223}x^{17} + g^{87}x^{12} + x^{10} + g^{39}x^{9} + g^{72}x^{6} + g^{245}x^{5} + g^{64}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6363</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{199}x^{192} + g^{72}x^{160} + g^{173}x^{144} + g^{251}x^{136} + g^{148}x^{132} + g^{234}x^{130} + g^{254}x^{129} + g^{171}x^{96} + g^{4}x^{80} + g^{85}x^{72} + g^{153}x^{68} + g^{157}x^{66} + g^{189}x^{65} + g^{87}x^{48} + g^{171}x^{40} + g^{219}x^{36} + g^{143}x^{34} + g^{149}x^{33} + g^{59}x^{24} + g^{167}x^{20} + g^{174}x^{18} + g^{141}x^{17} + g^{74}x^{12} + g^{95}x^{10} + g^{219}x^{9} + g^{52}x^{6} + g^{73}x^{5} + g^{134}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6364</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{161}x^{160} + g^{6}x^{144} + g^{26}x^{132} + g^{240}x^{130} + g^{187}x^{129} + g^{227}x^{96} + g^{43}x^{80} + g^{116}x^{72} + g^{44}x^{68} + g^{235}x^{66} + g^{79}x^{65} + g^{46}x^{48} + g^{195}x^{40} + g^{251}x^{36} + g^{93}x^{34} + g^{136}x^{33} + g^{150}x^{24} + g^{247}x^{20} + g^{66}x^{18} + g^{235}x^{17} + g^{103}x^{12} + g^{62}x^{10} + g^{103}x^{9} + g^{54}x^{6} + g^{157}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6365</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{192} + g^{78}x^{160} + g^{243}x^{144} + g^{77}x^{136} + g^{76}x^{132} + g^{177}x^{130} + g^{181}x^{129} + g^{186}x^{96} + g^{161}x^{80} + g^{223}x^{72} + g^{26}x^{68} + g^{229}x^{66} + g^{84}x^{65} + g^{142}x^{48} + g^{198}x^{40} + g^{209}x^{36} + g^{204}x^{34} + g^{215}x^{33} + g^{224}x^{24} + g^{90}x^{20} + g^{105}x^{18} + g^{53}x^{17} + g^{188}x^{12} + g^{15}x^{10} + g^{208}x^{9} + g^{128}x^{6} + g^{45}x^{5} + g^{68}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6366</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{207}x^{192} + g^{190}x^{160} + g^{50}x^{144} + g^{42}x^{136} + g^{159}x^{132} + g^{108}x^{130} + g^{82}x^{129} + g^{53}x^{96} + g^{8}x^{80} + g^{67}x^{72} + g^{130}x^{68} + g^{187}x^{66} + g^{79}x^{65} + g^{187}x^{48} + g^{79}x^{40} + g^{221}x^{36} + g^{129}x^{34} + g^{185}x^{33} + g^{212}x^{24} + g^{28}x^{20} + g^{10}x^{18} + g^{56}x^{17} + g^{171}x^{12} + g^{168}x^{10} + g^{121}x^{9} + g^{177}x^{6} + g^{171}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6367</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{79}x^{192} + g^{179}x^{160} + g^{19}x^{144} + g^{209}x^{136} + g^{225}x^{132} + g^{3}x^{130} + g^{160}x^{129} + g^{93}x^{96} + g^{85}x^{80} + g^{120}x^{72} + g^{37}x^{68} + g^{171}x^{66} + g^{143}x^{65} + g^{8}x^{48} + g^{109}x^{40} + g^{62}x^{36} + g^{166}x^{34} + g^{212}x^{33} + g^{38}x^{24} + g^{111}x^{20} + g^{142}x^{18} + g^{38}x^{17} + g^{88}x^{12} + g^{130}x^{10} + g^{176}x^{9} + g^{111}x^{6} + g^{38}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6368</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{192} + g^{160}x^{160} + g^{185}x^{144} + g^{77}x^{136} + g^{127}x^{132} + g^{221}x^{130} + g^{56}x^{129} + g^{82}x^{96} + g^{25}x^{80} + g^{212}x^{72} + g^{201}x^{68} + g^{171}x^{66} + g^{182}x^{65} + g^{230}x^{48} + g^{185}x^{40} + g^{168}x^{36} + g^{196}x^{34} + g^{44}x^{33} + g^{240}x^{24} + g^{50}x^{20} + g^{44}x^{18} + g^{121}x^{17} + g^{114}x^{12} + g^{134}x^{10} + g^{251}x^{9} + g^{63}x^{6} + g^{140}x^{5} + g^{41}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6369</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{244}x^{192} + g^{126}x^{160} + g^{227}x^{144} + g^{108}x^{136} + g^{35}x^{132} + g^{122}x^{130} + g^{143}x^{129} + g^{104}x^{96} + g^{254}x^{80} + g^{175}x^{72} + g^{18}x^{68} + g^{30}x^{66} + g^{87}x^{65} + gx^{48} + g^{128}x^{40} + g^{103}x^{36} + g^{169}x^{34} + g^{236}x^{33} + g^{189}x^{24} + g^{65}x^{20} + g^{105}x^{18} + g^{207}x^{17} + g^{117}x^{12} + g^{250}x^{10} + g^{154}x^{9} + g^{190}x^{6} + g^{226}x^{5} + g^{142}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6370</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{251}x^{192} + g^{130}x^{160} + g^{47}x^{144} + g^{37}x^{136} + gx^{132} + g^{84}x^{130} + g^{166}x^{129} + g^{25}x^{96} + g^{115}x^{80} + g^{230}x^{72} + g^{222}x^{68} + g^{51}x^{66} + g^{120}x^{65} + g^{176}x^{48} + g^{140}x^{40} + g^{89}x^{36} + g^{71}x^{34} + g^{177}x^{33} + g^{163}x^{24} + g^{16}x^{20} + g^{54}x^{18} + g^{228}x^{17} + g^{233}x^{12} + g^{230}x^{10} + g^{151}x^{9} + g^{39}x^{6} + g^{67}x^{5} + g^{196}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6371</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{157}x^{192} + g^{191}x^{160} + g^{174}x^{144} + g^{104}x^{136} + g^{169}x^{132} + g^{168}x^{130} + g^{219}x^{129} + g^{126}x^{96} + g^{74}x^{80} + g^{145}x^{72} + g^{205}x^{68} + g^{195}x^{66} + g^{17}x^{65} + g^{67}x^{48} + g^{18}x^{40} + g^{145}x^{36} + g^{142}x^{34} + g^{193}x^{33} + g^{16}x^{24} + g^{17}x^{20} + g^{134}x^{18} + g^{36}x^{17} + g^{192}x^{12} + g^{107}x^{10} + g^{155}x^{9} + g^{240}x^{6} + g^{28}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6372</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{61}x^{192} + g^{90}x^{160} + g^{81}x^{144} + g^{51}x^{136} + g^{16}x^{132} + g^{153}x^{130} + g^{221}x^{129} + g^{51}x^{96} + g^{128}x^{80} + g^{29}x^{72} + g^{140}x^{68} + g^{223}x^{66} + g^{104}x^{65} + g^{233}x^{48} + g^{135}x^{40} + g^{203}x^{36} + g^{122}x^{34} + g^{120}x^{33} + g^{121}x^{24} + g^{135}x^{20} + g^{119}x^{18} + g^{26}x^{17} + g^{181}x^{12} + g^{16}x^{10} + g^{91}x^{9} + g^{112}x^{6} + g^{216}x^{5} + g^{239}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6373</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{202}x^{192} + g^{142}x^{160} + g^{184}x^{144} + g^{162}x^{136} + g^{134}x^{132} + g^{12}x^{130} + g^{196}x^{129} + g^{208}x^{96} + g^{125}x^{80} + g^{159}x^{72} + g^{147}x^{68} + g^{170}x^{66} + g^{6}x^{65} + g^{173}x^{48} + g^{122}x^{40} + g^{249}x^{36} + g^{29}x^{34} + g^{151}x^{33} + g^{247}x^{24} + g^{134}x^{20} + g^{80}x^{18} + g^{210}x^{17} + g^{21}x^{12} + g^{20}x^{9} + g^{123}x^{6} + g^{237}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6374</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{152}x^{192} + g^{125}x^{160} + g^{97}x^{144} + g^{147}x^{136} + g^{122}x^{132} + g^{133}x^{130} + g^{92}x^{129} + g^{57}x^{96} + g^{177}x^{80} + g^{72}x^{72} + g^{78}x^{68} + g^{78}x^{66} + g^{105}x^{48} + g^{184}x^{40} + g^{70}x^{36} + g^{211}x^{34} + g^{214}x^{33} + g^{3}x^{24} + g^{244}x^{20} + g^{218}x^{17} + g^{239}x^{12} + g^{27}x^{9} + g^{161}x^{6} + g^{37}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6375</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{185}x^{192} + g^{174}x^{160} + g^{32}x^{144} + g^{225}x^{136} + g^{205}x^{132} + g^{130}x^{130} + g^{82}x^{129} + g^{179}x^{96} + g^{78}x^{80} + g^{53}x^{72} + g^{15}x^{68} + g^{97}x^{66} + g^{64}x^{65} + g^{122}x^{48} + g^{14}x^{40} + g^{131}x^{36} + g^{254}x^{34} + gx^{33} + g^{27}x^{24} + g^{46}x^{20} + g^{8}x^{18} + g^{65}x^{17} + g^{219}x^{12} + g^{184}x^{10} + g^{180}x^{9} + g^{249}x^{6} + g^{99}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6376</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{147}x^{192} + g^{54}x^{160} + g^{33}x^{144} + g^{45}x^{136} + g^{14}x^{132} + g^{88}x^{130} + g^{111}x^{129} + g^{138}x^{96} + g^{183}x^{80} + g^{137}x^{72} + g^{254}x^{68} + g^{127}x^{66} + g^{241}x^{65} + g^{109}x^{48} + g^{177}x^{40} + g^{74}x^{36} + g^{46}x^{34} + g^{103}x^{33} + g^{124}x^{24} + g^{215}x^{20} + g^{238}x^{18} + g^{143}x^{17} + g^{160}x^{12} + g^{39}x^{10} + g^{55}x^{9} + g^{219}x^{6} + g^{237}x^{5} + g^{69}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6377</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{234}x^{192} + g^{99}x^{160} + g^{228}x^{144} + g^{3}x^{136} + g^{163}x^{132} + g^{119}x^{130} + g^{108}x^{129} + g^{114}x^{96} + g^{10}x^{80} + g^{132}x^{72} + g^{12}x^{68} + g^{164}x^{66} + g^{131}x^{65} + g^{206}x^{48} + g^{113}x^{40} + g^{9}x^{36} + g^{132}x^{34} + g^{6}x^{33} + g^{19}x^{24} + g^{47}x^{20} + g^{203}x^{18} + g^{155}x^{17} + g^{46}x^{12} + g^{133}x^{10} + g^{167}x^{9} + g^{46}x^{6} + g^{24}x^{5} + g^{87}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6378</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{179}x^{192} + g^{13}x^{160} + g^{203}x^{144} + g^{82}x^{136} + g^{155}x^{132} + g^{84}x^{130} + g^{111}x^{129} + g^{168}x^{96} + g^{2}x^{80} + g^{134}x^{72} + g^{139}x^{68} + g^{198}x^{66} + g^{190}x^{65} + g^{93}x^{48} + g^{134}x^{40} + g^{140}x^{36} + g^{116}x^{34} + g^{168}x^{33} + g^{214}x^{24} + g^{121}x^{20} + g^{122}x^{18} + g^{73}x^{17} + g^{48}x^{12} + g^{204}x^{10} + g^{113}x^{9} + g^{129}x^{6} + g^{248}x^{5} + g^{3}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6379</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{45}x^{192} + g^{241}x^{160} + g^{199}x^{144} + g^{180}x^{136} + g^{218}x^{132} + g^{201}x^{130} + g^{200}x^{129} + g^{165}x^{96} + g^{72}x^{80} + g^{47}x^{72} + g^{95}x^{68} + g^{140}x^{66} + g^{61}x^{65} + g^{24}x^{48} + g^{189}x^{40} + g^{150}x^{36} + g^{48}x^{34} + g^{80}x^{33} + g^{216}x^{24} + g^{53}x^{20} + g^{49}x^{18} + g^{151}x^{17} + g^{193}x^{12} + g^{144}x^{10} + g^{163}x^{9} + g^{156}x^{6} + g^{137}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6380</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{40}x^{160} + g^{211}x^{144} + g^{197}x^{136} + g^{171}x^{132} + g^{62}x^{130} + g^{82}x^{129} + g^{253}x^{96} + g^{89}x^{80} + g^{247}x^{72} + g^{128}x^{68} + g^{91}x^{66} + g^{185}x^{65} + g^{225}x^{48} + g^{220}x^{40} + g^{211}x^{36} + g^{61}x^{34} + x^{33} + g^{203}x^{24} + g^{53}x^{20} + g^{52}x^{18} + g^{185}x^{17} + g^{226}x^{12} + g^{33}x^{10} + g^{195}x^{9} + g^{182}x^{6} + g^{2}x^{5} + g^{35}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6381</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{224}x^{160} + g^{9}x^{144} + g^{204}x^{136} + g^{56}x^{132} + g^{2}x^{130} + g^{178}x^{129} + g^{40}x^{96} + g^{58}x^{80} + g^{34}x^{72} + g^{152}x^{68} + g^{190}x^{66} + g^{187}x^{65} + g^{122}x^{48} + g^{73}x^{40} + g^{136}x^{36} + g^{38}x^{34} + g^{154}x^{33} + g^{186}x^{24} + g^{15}x^{20} + g^{214}x^{18} + g^{248}x^{17} + g^{254}x^{12} + g^{29}x^{10} + g^{15}x^{9} + g^{67}x^{6} + g^{141}x^{5} + g^{81}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6382</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{225}x^{192} + g^{182}x^{160} + g^{188}x^{144} + g^{211}x^{136} + g^{205}x^{132} + g^{142}x^{130} + g^{20}x^{129} + g^{254}x^{96} + g^{243}x^{80} + g^{140}x^{72} + g^{51}x^{68} + g^{91}x^{66} + g^{208}x^{65} + g^{103}x^{48} + g^{101}x^{40} + g^{146}x^{36} + g^{109}x^{34} + g^{7}x^{33} + g^{211}x^{24} + g^{175}x^{20} + g^{29}x^{18} + g^{58}x^{17} + g^{120}x^{12} + g^{240}x^{10} + g^{56}x^{9} + g^{152}x^{6} + g^{107}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6383</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{95}x^{192} + g^{40}x^{160} + g^{196}x^{144} + g^{193}x^{136} + g^{216}x^{132} + g^{128}x^{130} + g^{184}x^{129} + g^{220}x^{96} + g^{223}x^{80} + g^{239}x^{72} + g^{235}x^{68} + g^{166}x^{66} + g^{39}x^{65} + g^{245}x^{48} + g^{151}x^{40} + g^{224}x^{36} + g^{24}x^{34} + g^{3}x^{33} + g^{102}x^{24} + g^{223}x^{20} + g^{105}x^{18} + g^{184}x^{17} + g^{153}x^{12} + g^{149}x^{10} + g^{150}x^{9} + g^{170}x^{6} + g^{245}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6384</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{45}x^{192} + g^{239}x^{160} + g^{22}x^{144} + g^{53}x^{136} + g^{225}x^{132} + g^{191}x^{130} + g^{42}x^{129} + g^{85}x^{96} + g^{174}x^{80} + g^{185}x^{72} + g^{123}x^{68} + g^{76}x^{66} + g^{253}x^{65} + g^{41}x^{48} + g^{204}x^{40} + g^{79}x^{36} + g^{161}x^{34} + g^{130}x^{33} + g^{194}x^{24} + g^{5}x^{20} + g^{172}x^{18} + g^{104}x^{17} + g^{57}x^{12} + g^{59}x^{10} + g^{220}x^{9} + g^{54}x^{6} + g^{37}x^{5} + g^{237}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6385</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{160}x^{192} + g^{218}x^{160} + g^{169}x^{144} + g^{253}x^{136} + g^{5}x^{132} + g^{54}x^{130} + g^{220}x^{129} + g^{20}x^{80} + g^{176}x^{72} + g^{129}x^{68} + g^{244}x^{66} + g^{107}x^{65} + g^{30}x^{48} + g^{11}x^{40} + g^{143}x^{36} + g^{237}x^{34} + g^{132}x^{33} + g^{234}x^{24} + g^{11}x^{20} + g^{60}x^{18} + g^{178}x^{17} + g^{225}x^{12} + g^{94}x^{10} + g^{27}x^{9} + g^{201}x^{6} + g^{60}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6386</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{221}x^{192} + g^{88}x^{160} + g^{154}x^{144} + g^{37}x^{136} + g^{70}x^{132} + g^{57}x^{130} + g^{212}x^{129} + g^{249}x^{96} + g^{161}x^{80} + g^{216}x^{72} + g^{60}x^{68} + g^{234}x^{66} + g^{254}x^{65} + g^{8}x^{48} + g^{127}x^{40} + g^{85}x^{36} + g^{125}x^{34} + g^{14}x^{33} + g^{130}x^{20} + g^{85}x^{18} + g^{186}x^{17} + g^{36}x^{12} + g^{216}x^{10} + g^{73}x^{9} + g^{195}x^{6} + g^{206}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6387</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{192} + g^{99}x^{160} + g^{85}x^{144} + g^{211}x^{136} + g^{104}x^{132} + g^{11}x^{130} + g^{143}x^{129} + g^{175}x^{96} + g^{105}x^{80} + g^{121}x^{72} + x^{68} + g^{148}x^{66} + g^{105}x^{65} + g^{110}x^{48} + g^{121}x^{40} + g^{90}x^{36} + g^{225}x^{34} + g^{115}x^{33} + g^{21}x^{24} + g^{38}x^{20} + g^{24}x^{18} + g^{171}x^{17} + g^{107}x^{12} + g^{228}x^{10} + g^{112}x^{9} + g^{110}x^{6} + g^{30}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6388</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{195}x^{192} + g^{15}x^{160} + g^{55}x^{144} + g^{65}x^{136} + g^{179}x^{132} + g^{77}x^{130} + g^{57}x^{129} + g^{119}x^{96} + g^{201}x^{80} + g^{165}x^{72} + g^{10}x^{68} + g^{203}x^{66} + g^{159}x^{65} + x^{48} + g^{245}x^{40} + g^{91}x^{36} + g^{39}x^{34} + g^{34}x^{33} + g^{139}x^{24} + g^{75}x^{20} + g^{252}x^{18} + g^{139}x^{17} + g^{94}x^{12} + g^{7}x^{10} + g^{221}x^{9} + g^{69}x^{6} + g^{26}x^{5} + g^{163}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6389</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{78}x^{160} + g^{204}x^{144} + g^{35}x^{136} + g^{231}x^{132} + g^{159}x^{130} + g^{27}x^{129} + g^{102}x^{96} + g^{78}x^{80} + g^{19}x^{72} + g^{207}x^{68} + g^{254}x^{66} + g^{146}x^{65} + g^{19}x^{48} + g^{168}x^{40} + g^{72}x^{36} + g^{200}x^{34} + g^{149}x^{33} + g^{92}x^{24} + g^{67}x^{20} + g^{122}x^{18} + g^{160}x^{17} + g^{244}x^{12} + g^{100}x^{10} + g^{225}x^{9} + g^{232}x^{6} + g^{57}x^{5} + g^{175}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6390</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{143}x^{192} + g^{2}x^{160} + g^{151}x^{144} + g^{89}x^{136} + g^{36}x^{132} + g^{185}x^{130} + g^{124}x^{129} + g^{74}x^{96} + x^{80} + g^{100}x^{72} + g^{135}x^{68} + g^{210}x^{66} + g^{30}x^{65} + g^{32}x^{48} + g^{44}x^{40} + g^{176}x^{36} + g^{207}x^{34} + g^{160}x^{33} + g^{222}x^{24} + g^{91}x^{20} + g^{93}x^{18} + g^{102}x^{17} + g^{130}x^{12} + g^{73}x^{10} + g^{25}x^{9} + g^{212}x^{6} + g^{143}x^{5} + g^{230}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6391</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{36}x^{192} + g^{47}x^{160} + g^{233}x^{144} + g^{70}x^{136} + g^{209}x^{132} + g^{103}x^{130} + g^{151}x^{129} + g^{132}x^{96} + g^{133}x^{80} + g^{246}x^{72} + g^{239}x^{68} + g^{9}x^{66} + g^{64}x^{65} + g^{197}x^{48} + g^{136}x^{40} + g^{34}x^{36} + g^{235}x^{34} + g^{127}x^{33} + g^{87}x^{24} + g^{31}x^{20} + g^{167}x^{18} + g^{37}x^{17} + g^{175}x^{12} + g^{196}x^{10} + g^{38}x^{9} + g^{41}x^{6} + g^{221}x^{5} + g^{65}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6392</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{250}x^{192} + g^{250}x^{160} + g^{142}x^{144} + g^{192}x^{136} + g^{149}x^{132} + g^{28}x^{130} + g^{167}x^{129} + g^{155}x^{96} + g^{88}x^{80} + g^{175}x^{72} + g^{123}x^{68} + g^{43}x^{66} + g^{22}x^{65} + g^{123}x^{48} + g^{73}x^{40} + g^{5}x^{36} + g^{219}x^{34} + g^{98}x^{33} + g^{109}x^{24} + g^{54}x^{20} + g^{215}x^{18} + g^{119}x^{17} + g^{232}x^{12} + g^{113}x^{10} + g^{205}x^{9} + g^{224}x^{6} + g^{110}x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6393</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{192} + g^{22}x^{160} + g^{175}x^{144} + g^{96}x^{136} + g^{123}x^{132} + g^{157}x^{130} + g^{35}x^{129} + g^{212}x^{96} + g^{52}x^{80} + g^{11}x^{72} + g^{65}x^{68} + g^{187}x^{66} + g^{69}x^{65} + g^{159}x^{48} + g^{32}x^{40} + g^{96}x^{36} + g^{47}x^{34} + g^{213}x^{33} + g^{83}x^{24} + g^{157}x^{20} + g^{232}x^{18} + g^{171}x^{17} + g^{175}x^{12} + g^{77}x^{10} + g^{249}x^{9} + g^{140}x^{6} + g^{250}x^{5} + g^{245}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6394</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{76}x^{192} + g^{78}x^{160} + g^{39}x^{144} + g^{8}x^{136} + g^{157}x^{132} + g^{120}x^{130} + g^{159}x^{129} + g^{138}x^{96} + g^{61}x^{80} + g^{21}x^{72} + g^{4}x^{68} + g^{134}x^{66} + g^{176}x^{65} + g^{2}x^{48} + g^{171}x^{40} + g^{27}x^{36} + g^{194}x^{34} + g^{106}x^{33} + g^{187}x^{24} + g^{117}x^{20} + g^{162}x^{18} + g^{243}x^{17} + g^{26}x^{12} + g^{192}x^{10} + g^{249}x^{9} + g^{52}x^{6} + g^{54}x^{5} + g^{64}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6395</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{146}x^{192} + g^{160}x^{160} + g^{106}x^{144} + g^{127}x^{136} + g^{67}x^{132} + g^{116}x^{130} + g^{107}x^{129} + g^{40}x^{96} + g^{120}x^{80} + g^{144}x^{72} + g^{11}x^{68} + g^{172}x^{66} + g^{215}x^{65} + g^{89}x^{48} + g^{99}x^{40} + g^{185}x^{36} + g^{63}x^{34} + g^{12}x^{33} + g^{22}x^{24} + g^{88}x^{20} + g^{83}x^{18} + g^{248}x^{17} + g^{142}x^{12} + g^{101}x^{10} + g^{174}x^{9} + g^{104}x^{6} + g^{218}x^{5} + g^{94}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6396</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{122}x^{192} + g^{179}x^{160} + g^{52}x^{144} + g^{180}x^{136} + g^{194}x^{132} + g^{31}x^{130} + g^{124}x^{129} + g^{166}x^{96} + g^{231}x^{80} + g^{68}x^{72} + g^{171}x^{68} + g^{79}x^{66} + g^{232}x^{65} + g^{104}x^{48} + g^{8}x^{40} + g^{33}x^{36} + g^{221}x^{34} + g^{24}x^{33} + g^{118}x^{24} + g^{141}x^{20} + g^{100}x^{18} + g^{48}x^{17} + g^{52}x^{12} + g^{72}x^{10} + g^{91}x^{9} + g^{114}x^{6} + g^{133}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6397</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{93}x^{192} + g^{11}x^{160} + g^{236}x^{144} + g^{178}x^{136} + g^{229}x^{132} + g^{146}x^{130} + g^{113}x^{129} + g^{12}x^{96} + g^{126}x^{80} + g^{197}x^{72} + g^{128}x^{68} + g^{164}x^{66} + g^{189}x^{65} + g^{55}x^{48} + g^{23}x^{40} + g^{200}x^{36} + g^{26}x^{34} + x^{33} + g^{83}x^{24} + g^{212}x^{20} + g^{178}x^{18} + g^{27}x^{17} + g^{36}x^{12} + g^{80}x^{10} + g^{232}x^{9} + g^{190}x^{6} + g^{247}x^{5} + g^{239}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6398</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{7}x^{160} + g^{80}x^{144} + g^{170}x^{136} + g^{158}x^{132} + g^{122}x^{130} + g^{169}x^{129} + g^{206}x^{96} + g^{63}x^{80} + g^{102}x^{72} + g^{125}x^{68} + g^{145}x^{66} + g^{249}x^{65} + g^{108}x^{48} + g^{79}x^{40} + g^{70}x^{36} + g^{182}x^{34} + g^{205}x^{33} + g^{156}x^{24} + g^{173}x^{20} + g^{213}x^{18} + g^{199}x^{17} + g^{246}x^{12} + g^{239}x^{10} + g^{72}x^{9} + g^{20}x^{6} + g^{52}x^{5} + g^{205}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>6399</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{104}x^{192} + g^{173}x^{160} + g^{38}x^{144} + g^{70}x^{136} + g^{54}x^{132} + g^{75}x^{130} + g^{11}x^{129} + g^{106}x^{96} + g^{93}x^{80} + g^{218}x^{72} + g^{230}x^{68} + g^{72}x^{66} + g^{75}x^{65} + g^{121}x^{48} + g^{200}x^{40} + g^{196}x^{36} + g^{211}x^{34} + g^{214}x^{33} + g^{245}x^{24} + g^{153}x^{20} + g^{186}x^{18} + g^{51}x^{17} + g^{167}x^{12} + g^{93}x^{10} + g^{49}x^{9} + g^{177}x^{6} + g^{23}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>6400</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{20}x^{192} + g^{69}x^{160} + g^{26}x^{144} + g^{229}x^{136} + g^{211}x^{132} + g^{177}x^{130} + g^{156}x^{129} + g^{59}x^{96} + g^{43}x^{80} + g^{91}x^{72} + g^{75}x^{68} + g^{182}x^{66} + gx^{65} + g^{106}x^{48} + g^{218}x^{40} + g^{253}x^{36} + g^{211}x^{34} + g^{146}x^{33} + g^{92}x^{24} + g^{160}x^{20} + g^{110}x^{18} + g^{27}x^{17} + g^{226}x^{12} + g^{63}x^{10} + g^{188}x^{9} + g^{135}x^{6} + g^{173}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/6001_6500/6301_6400.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>