
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>4201</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{171}x^{192} + g^{150}x^{160} + g^{155}x^{144} + g^{77}x^{136} + g^{148}x^{132} + g^{184}x^{130} + g^{80}x^{129} + g^{4}x^{96} + g^{196}x^{80} + g^{240}x^{72} + g^{144}x^{68} + g^{179}x^{66} + g^{157}x^{65} + g^{69}x^{48} + g^{59}x^{40} + g^{150}x^{36} + g^{18}x^{34} + g^{25}x^{33} + g^{240}x^{24} + g^{188}x^{20} + g^{186}x^{18} + g^{198}x^{17} + g^{236}x^{12} + g^{9}x^{10} + g^{229}x^{9} + g^{148}x^{6} + g^{65}x^{5} + g^{170}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4202</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{216}x^{192} + g^{150}x^{160} + g^{245}x^{136} + g^{251}x^{132} + g^{199}x^{130} + g^{151}x^{129} + g^{191}x^{96} + g^{20}x^{80} + g^{93}x^{72} + g^{201}x^{68} + g^{220}x^{66} + g^{65}x^{65} + g^{67}x^{48} + g^{221}x^{40} + g^{160}x^{36} + g^{252}x^{34} + g^{103}x^{33} + g^{162}x^{24} + g^{89}x^{20} + g^{235}x^{18} + g^{210}x^{17} + g^{22}x^{12} + g^{215}x^{10} + g^{19}x^{9} + g^{99}x^{6} + g^{113}x^{5} + g^{85}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4203</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{242}x^{160} + g^{68}x^{144} + g^{153}x^{136} + g^{173}x^{132} + g^{134}x^{130} + g^{172}x^{96} + g^{117}x^{80} + g^{116}x^{72} + g^{135}x^{68} + g^{158}x^{66} + g^{39}x^{48} + g^{140}x^{40} + g^{220}x^{36} + g^{93}x^{34} + g^{220}x^{33} + g^{6}x^{24} + g^{179}x^{20} + g^{215}x^{18} + g^{136}x^{17} + g^{154}x^{12} + g^{205}x^{10} + g^{165}x^{9} + g^{101}x^{6} + g^{241}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4204</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{249}x^{192} + g^{57}x^{160} + g^{56}x^{144} + g^{203}x^{136} + g^{22}x^{132} + g^{62}x^{130} + g^{144}x^{129} + g^{165}x^{96} + g^{190}x^{80} + g^{149}x^{72} + g^{120}x^{68} + g^{18}x^{66} + g^{94}x^{65} + g^{5}x^{48} + g^{216}x^{40} + g^{31}x^{36} + g^{249}x^{34} + g^{12}x^{33} + g^{127}x^{24} + g^{18}x^{20} + g^{96}x^{18} + g^{245}x^{17} + g^{12}x^{12} + g^{177}x^{10} + g^{6}x^{9} + g^{147}x^{6} + g^{32}x^{5} + g^{66}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4205</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{192} + g^{135}x^{160} + g^{175}x^{144} + g^{90}x^{136} + g^{229}x^{132} + g^{66}x^{130} + g^{242}x^{129} + g^{206}x^{96} + g^{108}x^{80} + g^{191}x^{72} + g^{31}x^{68} + g^{143}x^{66} + g^{245}x^{65} + g^{144}x^{48} + g^{130}x^{40} + g^{46}x^{36} + g^{197}x^{34} + g^{254}x^{33} + g^{220}x^{24} + g^{91}x^{20} + g^{149}x^{18} + g^{65}x^{17} + g^{85}x^{12} + g^{67}x^{10} + g^{24}x^{9} + g^{5}x^{6} + g^{26}x^{5} + g^{199}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4206</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{66}x^{160} + g^{243}x^{144} + g^{62}x^{136} + g^{56}x^{132} + g^{130}x^{130} + g^{196}x^{129} + g^{225}x^{96} + g^{174}x^{80} + g^{141}x^{72} + g^{35}x^{68} + g^{33}x^{66} + gx^{65} + g^{28}x^{48} + g^{77}x^{40} + g^{162}x^{36} + g^{153}x^{34} + g^{13}x^{33} + g^{45}x^{24} + g^{90}x^{20} + g^{123}x^{18} + g^{90}x^{17} + g^{232}x^{12} + g^{219}x^{10} + g^{131}x^{9} + g^{110}x^{6} + g^{128}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4207</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{187}x^{192} + g^{240}x^{160} + g^{117}x^{144} + g^{119}x^{136} + g^{19}x^{132} + g^{127}x^{130} + g^{9}x^{129} + g^{159}x^{96} + g^{95}x^{80} + g^{123}x^{72} + g^{249}x^{68} + g^{122}x^{66} + g^{34}x^{65} + g^{216}x^{48} + g^{82}x^{40} + g^{32}x^{36} + gx^{34} + g^{243}x^{33} + g^{122}x^{24} + g^{8}x^{20} + g^{23}x^{18} + g^{174}x^{17} + g^{64}x^{12} + g^{76}x^{10} + g^{127}x^{9} + g^{54}x^{6} + g^{241}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4208</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{192} + g^{64}x^{160} + g^{182}x^{144} + g^{156}x^{136} + g^{165}x^{132} + g^{163}x^{130} + g^{193}x^{129} + g^{147}x^{96} + g^{50}x^{80} + g^{55}x^{72} + g^{199}x^{68} + g^{41}x^{66} + g^{7}x^{65} + g^{164}x^{48} + g^{54}x^{40} + g^{247}x^{36} + g^{181}x^{34} + g^{198}x^{33} + g^{99}x^{24} + g^{142}x^{20} + g^{197}x^{18} + g^{61}x^{17} + g^{28}x^{12} + g^{2}x^{10} + g^{196}x^{9} + g^{213}x^{6} + g^{27}x^{5} + g^{229}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4209</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{211}x^{192} + g^{44}x^{160} + g^{26}x^{144} + g^{134}x^{136} + g^{38}x^{132} + g^{87}x^{130} + g^{77}x^{129} + g^{128}x^{96} + g^{185}x^{80} + g^{247}x^{72} + g^{195}x^{68} + g^{236}x^{66} + g^{3}x^{65} + g^{110}x^{48} + g^{228}x^{40} + g^{104}x^{36} + g^{187}x^{34} + g^{78}x^{33} + g^{195}x^{24} + g^{183}x^{20} + g^{104}x^{18} + g^{119}x^{17} + g^{67}x^{12} + g^{180}x^{10} + g^{154}x^{9} + g^{20}x^{6} + g^{40}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4210</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{182}x^{160} + g^{248}x^{144} + g^{91}x^{136} + g^{116}x^{132} + g^{171}x^{130} + g^{83}x^{129} + g^{34}x^{96} + g^{88}x^{80} + g^{198}x^{72} + g^{157}x^{68} + g^{43}x^{66} + g^{139}x^{65} + g^{59}x^{48} + g^{147}x^{40} + g^{153}x^{36} + g^{13}x^{34} + g^{174}x^{33} + g^{60}x^{24} + g^{17}x^{20} + g^{136}x^{18} + g^{161}x^{17} + g^{175}x^{12} + g^{205}x^{10} + g^{160}x^{9} + g^{28}x^{6} + g^{70}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4211</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{192} + g^{25}x^{160} + g^{202}x^{144} + g^{224}x^{136} + g^{40}x^{132} + g^{237}x^{130} + g^{168}x^{129} + g^{34}x^{96} + g^{86}x^{80} + g^{160}x^{72} + g^{131}x^{68} + g^{105}x^{66} + g^{172}x^{65} + g^{5}x^{48} + g^{33}x^{40} + g^{194}x^{36} + g^{222}x^{34} + g^{126}x^{33} + g^{133}x^{24} + g^{166}x^{20} + g^{51}x^{18} + g^{3}x^{17} + g^{73}x^{12} + g^{154}x^{10} + g^{218}x^{9} + g^{81}x^{6} + g^{100}x^{5} + g^{235}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4212</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{192} + g^{178}x^{160} + g^{168}x^{144} + g^{149}x^{136} + g^{64}x^{132} + g^{111}x^{130} + g^{62}x^{129} + g^{67}x^{96} + g^{209}x^{80} + g^{179}x^{72} + g^{216}x^{68} + g^{55}x^{66} + g^{140}x^{65} + g^{249}x^{48} + g^{9}x^{40} + g^{98}x^{36} + g^{233}x^{34} + g^{123}x^{33} + g^{60}x^{24} + g^{70}x^{20} + g^{65}x^{18} + g^{186}x^{17} + g^{243}x^{12} + g^{245}x^{10} + g^{57}x^{9} + g^{14}x^{6} + g^{223}x^{5} + g^{177}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4213</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{85}x^{192} + g^{95}x^{160} + g^{35}x^{144} + g^{84}x^{136} + g^{37}x^{132} + g^{183}x^{130} + g^{179}x^{129} + g^{20}x^{96} + g^{39}x^{80} + g^{11}x^{72} + g^{48}x^{68} + g^{14}x^{66} + g^{97}x^{65} + g^{117}x^{48} + g^{128}x^{40} + g^{14}x^{36} + g^{120}x^{34} + g^{32}x^{33} + g^{63}x^{24} + g^{233}x^{20} + g^{185}x^{18} + g^{142}x^{17} + g^{249}x^{12} + g^{44}x^{10} + g^{150}x^{9} + g^{145}x^{6} + g^{209}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4214</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{128}x^{192} + g^{46}x^{160} + g^{97}x^{144} + g^{112}x^{136} + g^{42}x^{132} + g^{244}x^{130} + g^{70}x^{129} + g^{17}x^{96} + g^{83}x^{80} + g^{219}x^{72} + g^{245}x^{68} + g^{192}x^{66} + g^{25}x^{65} + g^{2}x^{48} + g^{212}x^{40} + g^{228}x^{36} + g^{167}x^{34} + g^{77}x^{33} + g^{105}x^{24} + g^{36}x^{20} + g^{4}x^{18} + g^{39}x^{17} + g^{167}x^{12} + g^{50}x^{10} + g^{118}x^{9} + g^{245}x^{6} + g^{145}x^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4215</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{204}x^{192} + g^{224}x^{160} + g^{178}x^{144} + g^{32}x^{136} + g^{53}x^{132} + g^{42}x^{130} + g^{137}x^{129} + g^{21}x^{96} + g^{234}x^{80} + g^{253}x^{72} + g^{79}x^{68} + g^{66}x^{66} + g^{106}x^{65} + g^{116}x^{48} + g^{237}x^{40} + g^{77}x^{36} + g^{110}x^{34} + g^{74}x^{33} + g^{56}x^{24} + g^{178}x^{20} + g^{151}x^{18} + g^{64}x^{17} + g^{151}x^{12} + g^{132}x^{10} + g^{152}x^{9} + g^{100}x^{6} + g^{53}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4216</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{14}x^{192} + g^{250}x^{160} + g^{211}x^{144} + g^{192}x^{136} + g^{126}x^{132} + g^{244}x^{130} + g^{113}x^{129} + gx^{96} + g^{38}x^{80} + g^{249}x^{72} + gx^{68} + g^{146}x^{66} + g^{173}x^{65} + g^{183}x^{48} + g^{207}x^{40} + g^{88}x^{36} + g^{47}x^{34} + g^{160}x^{33} + g^{158}x^{24} + g^{40}x^{20} + g^{150}x^{18} + g^{31}x^{17} + g^{218}x^{12} + g^{102}x^{10} + g^{230}x^{9} + g^{24}x^{6} + g^{191}x^{5} + g^{247}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4217</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{225}x^{192} + g^{141}x^{160} + g^{91}x^{144} + g^{137}x^{136} + g^{111}x^{132} + g^{32}x^{130} + g^{102}x^{129} + g^{173}x^{96} + g^{37}x^{80} + g^{189}x^{72} + g^{89}x^{68} + g^{185}x^{66} + g^{173}x^{65} + g^{187}x^{48} + g^{117}x^{40} + g^{35}x^{36} + g^{123}x^{34} + g^{160}x^{33} + g^{9}x^{24} + g^{81}x^{20} + g^{179}x^{18} + g^{16}x^{17} + g^{29}x^{12} + g^{211}x^{10} + g^{24}x^{9} + g^{226}x^{6} + gx^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4218</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{127}x^{192} + g^{117}x^{160} + g^{202}x^{144} + g^{211}x^{136} + g^{121}x^{132} + g^{85}x^{130} + g^{104}x^{129} + g^{246}x^{96} + g^{100}x^{80} + g^{252}x^{72} + g^{239}x^{68} + g^{230}x^{66} + g^{32}x^{65} + g^{48}x^{48} + g^{117}x^{40} + g^{137}x^{36} + g^{114}x^{34} + g^{246}x^{33} + g^{202}x^{24} + g^{136}x^{20} + g^{4}x^{18} + g^{201}x^{17} + g^{4}x^{12} + g^{190}x^{10} + g^{59}x^{9} + g^{161}x^{6} + g^{50}x^{5} + g^{167}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4219</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{181}x^{192} + g^{104}x^{160} + g^{194}x^{144} + g^{179}x^{136} + g^{10}x^{132} + g^{245}x^{130} + g^{238}x^{129} + g^{149}x^{96} + g^{110}x^{80} + g^{138}x^{72} + g^{46}x^{68} + g^{150}x^{66} + g^{85}x^{65} + g^{90}x^{48} + g^{100}x^{40} + g^{108}x^{36} + g^{242}x^{34} + g^{234}x^{33} + g^{136}x^{24} + g^{66}x^{20} + g^{115}x^{18} + g^{52}x^{17} + g^{144}x^{12} + g^{66}x^{10} + g^{90}x^{9} + g^{124}x^{6} + g^{99}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4220</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{44}x^{192} + g^{54}x^{160} + g^{154}x^{144} + g^{144}x^{136} + g^{236}x^{132} + g^{119}x^{130} + g^{201}x^{129} + g^{101}x^{96} + g^{70}x^{80} + g^{97}x^{72} + g^{225}x^{68} + g^{59}x^{66} + g^{50}x^{65} + g^{234}x^{48} + g^{71}x^{40} + g^{153}x^{36} + g^{142}x^{34} + g^{96}x^{33} + g^{239}x^{24} + g^{204}x^{20} + g^{119}x^{18} + g^{90}x^{17} + g^{163}x^{12} + g^{44}x^{10} + g^{204}x^{9} + g^{160}x^{6} + g^{63}x^{5} + g^{176}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4221</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{21}x^{192} + g^{247}x^{160} + g^{128}x^{144} + g^{236}x^{136} + g^{75}x^{132} + g^{136}x^{130} + g^{151}x^{129} + g^{120}x^{96} + g^{144}x^{80} + g^{166}x^{72} + g^{118}x^{68} + g^{177}x^{66} + g^{24}x^{65} + g^{26}x^{48} + g^{28}x^{40} + g^{68}x^{36} + g^{22}x^{34} + g^{142}x^{33} + g^{227}x^{24} + g^{221}x^{20} + g^{72}x^{18} + g^{144}x^{17} + g^{38}x^{12} + g^{82}x^{10} + g^{115}x^{9} + g^{237}x^{6} + g^{200}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4222</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{37}x^{192} + g^{208}x^{160} + g^{36}x^{144} + g^{111}x^{136} + g^{68}x^{132} + g^{186}x^{130} + g^{232}x^{129} + g^{145}x^{96} + g^{180}x^{72} + g^{12}x^{68} + g^{41}x^{66} + g^{252}x^{65} + g^{73}x^{48} + g^{147}x^{40} + g^{34}x^{36} + g^{152}x^{34} + g^{136}x^{33} + g^{100}x^{24} + g^{124}x^{20} + g^{106}x^{18} + g^{239}x^{17} + g^{170}x^{12} + g^{228}x^{10} + g^{199}x^{9} + g^{157}x^{6} + g^{214}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4223</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{169}x^{192} + g^{246}x^{160} + g^{184}x^{144} + g^{170}x^{136} + g^{10}x^{132} + g^{237}x^{130} + g^{208}x^{129} + g^{215}x^{96} + g^{88}x^{80} + g^{242}x^{72} + g^{27}x^{68} + g^{239}x^{66} + g^{197}x^{65} + g^{243}x^{48} + g^{7}x^{40} + g^{187}x^{36} + g^{23}x^{34} + g^{182}x^{33} + g^{57}x^{24} + g^{213}x^{20} + g^{42}x^{18} + g^{216}x^{17} + g^{7}x^{12} + g^{130}x^{10} + g^{192}x^{9} + g^{3}x^{6} + g^{226}x^{5} + g^{212}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4224</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{130}x^{192} + g^{215}x^{160} + g^{252}x^{144} + g^{64}x^{136} + g^{105}x^{132} + g^{172}x^{130} + g^{211}x^{129} + g^{127}x^{96} + g^{248}x^{80} + g^{37}x^{72} + g^{190}x^{68} + g^{67}x^{66} + g^{104}x^{65} + g^{200}x^{48} + g^{140}x^{40} + g^{194}x^{36} + g^{61}x^{34} + g^{121}x^{33} + g^{230}x^{24} + g^{7}x^{20} + g^{227}x^{18} + g^{131}x^{17} + g^{92}x^{12} + g^{206}x^{10} + g^{74}x^{9} + g^{171}x^{6} + g^{149}x^{5} + g^{139}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4225</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{192} + g^{124}x^{160} + g^{170}x^{144} + g^{97}x^{136} + g^{137}x^{132} + g^{98}x^{130} + g^{129}x^{129} + g^{102}x^{96} + g^{136}x^{80} + g^{87}x^{72} + g^{68}x^{68} + g^{82}x^{66} + g^{146}x^{65} + g^{26}x^{48} + g^{41}x^{40} + g^{197}x^{36} + g^{170}x^{34} + g^{203}x^{33} + g^{230}x^{24} + g^{140}x^{20} + g^{226}x^{18} + g^{195}x^{17} + g^{78}x^{12} + g^{24}x^{10} + g^{221}x^{9} + g^{214}x^{6} + g^{24}x^{5} + g^{56}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4226</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{15}x^{160} + g^{144}x^{144} + g^{101}x^{136} + g^{19}x^{132} + g^{65}x^{130} + g^{250}x^{129} + g^{196}x^{96} + g^{30}x^{80} + g^{20}x^{72} + g^{12}x^{68} + g^{34}x^{66} + g^{38}x^{65} + g^{179}x^{48} + g^{193}x^{40} + g^{37}x^{36} + g^{228}x^{34} + g^{222}x^{33} + g^{70}x^{24} + g^{187}x^{20} + g^{9}x^{18} + g^{164}x^{17} + g^{19}x^{12} + g^{116}x^{10} + g^{229}x^{9} + g^{157}x^{6} + g^{194}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4227</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{110}x^{192} + g^{32}x^{160} + g^{107}x^{144} + g^{97}x^{136} + g^{38}x^{132} + g^{46}x^{130} + g^{70}x^{129} + g^{14}x^{96} + g^{87}x^{80} + g^{203}x^{72} + g^{164}x^{68} + g^{242}x^{66} + g^{247}x^{65} + g^{24}x^{48} + g^{196}x^{40} + g^{61}x^{36} + g^{40}x^{34} + g^{211}x^{33} + g^{148}x^{24} + g^{178}x^{20} + g^{98}x^{18} + g^{199}x^{17} + g^{166}x^{12} + g^{203}x^{10} + g^{97}x^{9} + g^{17}x^{6} + g^{30}x^{5} + g^{158}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4228</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{53}x^{192} + g^{47}x^{160} + g^{64}x^{144} + g^{240}x^{136} + g^{66}x^{132} + g^{101}x^{130} + g^{110}x^{129} + g^{4}x^{96} + g^{179}x^{80} + g^{21}x^{72} + g^{192}x^{68} + g^{230}x^{66} + g^{175}x^{65} + g^{2}x^{48} + g^{106}x^{40} + g^{9}x^{36} + g^{164}x^{34} + g^{111}x^{33} + g^{154}x^{24} + g^{8}x^{20} + g^{252}x^{18} + g^{134}x^{17} + g^{224}x^{12} + g^{172}x^{10} + g^{46}x^{9} + g^{134}x^{6} + g^{185}x^{5} + g^{183}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4229</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{247}x^{192} + g^{34}x^{160} + g^{52}x^{144} + g^{222}x^{136} + g^{48}x^{132} + g^{49}x^{130} + g^{171}x^{129} + g^{97}x^{96} + g^{216}x^{80} + g^{45}x^{72} + g^{180}x^{68} + g^{157}x^{66} + g^{140}x^{65} + g^{5}x^{48} + g^{36}x^{40} + g^{65}x^{36} + g^{173}x^{34} + g^{236}x^{33} + g^{77}x^{24} + g^{123}x^{20} + g^{91}x^{18} + g^{148}x^{17} + g^{145}x^{12} + g^{163}x^{10} + g^{99}x^{9} + g^{240}x^{6} + g^{89}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4230</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{80}x^{192} + g^{173}x^{160} + g^{28}x^{144} + g^{83}x^{136} + g^{134}x^{132} + g^{4}x^{130} + g^{173}x^{129} + g^{136}x^{96} + g^{75}x^{80} + g^{72}x^{72} + g^{97}x^{68} + g^{185}x^{66} + g^{186}x^{65} + g^{202}x^{48} + gx^{40} + g^{93}x^{36} + g^{171}x^{34} + g^{244}x^{33} + g^{89}x^{24} + g^{52}x^{20} + g^{151}x^{18} + g^{8}x^{17} + g^{114}x^{12} + g^{28}x^{10} + g^{129}x^{9} + g^{157}x^{6} + g^{150}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4231</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{155}x^{192} + g^{93}x^{160} + g^{190}x^{144} + g^{172}x^{136} + g^{33}x^{132} + g^{108}x^{130} + g^{253}x^{129} + g^{204}x^{96} + g^{151}x^{80} + g^{107}x^{72} + g^{29}x^{68} + g^{245}x^{66} + g^{208}x^{65} + g^{5}x^{48} + g^{140}x^{40} + g^{75}x^{36} + g^{2}x^{34} + g^{179}x^{33} + g^{195}x^{24} + g^{109}x^{20} + g^{231}x^{18} + g^{231}x^{17} + g^{119}x^{12} + g^{92}x^{10} + g^{104}x^{9} + g^{249}x^{6} + g^{198}x^{5} + g^{89}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4232</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{192} + g^{214}x^{160} + g^{97}x^{144} + g^{180}x^{136} + g^{197}x^{132} + g^{95}x^{130} + g^{66}x^{129} + g^{91}x^{96} + g^{142}x^{80} + g^{130}x^{72} + g^{111}x^{68} + g^{175}x^{66} + g^{77}x^{65} + g^{207}x^{48} + g^{57}x^{40} + g^{183}x^{36} + g^{123}x^{34} + g^{46}x^{33} + g^{113}x^{24} + g^{70}x^{20} + g^{124}x^{18} + g^{222}x^{17} + g^{234}x^{12} + g^{43}x^{10} + g^{72}x^{9} + g^{224}x^{6} + g^{53}x^{5} + g^{135}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4233</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{95}x^{160} + g^{218}x^{144} + g^{155}x^{136} + g^{171}x^{132} + g^{88}x^{130} + g^{192}x^{129} + g^{166}x^{96} + g^{163}x^{80} + g^{134}x^{72} + g^{4}x^{68} + g^{122}x^{66} + g^{7}x^{65} + g^{17}x^{48} + g^{13}x^{40} + g^{150}x^{36} + g^{219}x^{34} + g^{150}x^{33} + g^{67}x^{24} + g^{173}x^{20} + g^{21}x^{18} + g^{151}x^{17} + g^{242}x^{12} + g^{241}x^{10} + g^{160}x^{6} + g^{117}x^{5} + g^{8}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4234</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{192} + g^{228}x^{160} + g^{253}x^{144} + g^{44}x^{136} + g^{44}x^{132} + g^{188}x^{130} + g^{193}x^{129} + g^{147}x^{96} + g^{91}x^{80} + g^{10}x^{72} + g^{136}x^{68} + g^{56}x^{66} + g^{182}x^{65} + g^{49}x^{48} + g^{251}x^{40} + g^{204}x^{36} + g^{210}x^{34} + g^{101}x^{33} + g^{212}x^{24} + g^{45}x^{20} + g^{32}x^{18} + g^{132}x^{17} + g^{179}x^{12} + g^{40}x^{10} + g^{249}x^{9} + g^{54}x^{6} + g^{5}x^{5} + g^{215}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4235</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{104}x^{160} + g^{182}x^{144} + g^{96}x^{136} + g^{216}x^{132} + g^{55}x^{130} + g^{106}x^{129} + g^{48}x^{96} + g^{73}x^{80} + g^{120}x^{72} + g^{134}x^{68} + g^{112}x^{66} + g^{208}x^{65} + g^{36}x^{48} + g^{106}x^{40} + g^{140}x^{36} + g^{162}x^{34} + g^{159}x^{33} + g^{5}x^{24} + g^{184}x^{20} + g^{120}x^{18} + g^{253}x^{17} + g^{141}x^{12} + g^{213}x^{10} + g^{13}x^{9} + g^{83}x^{6} + g^{166}x^{5} + g^{77}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4236</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{62}x^{192} + g^{91}x^{160} + g^{141}x^{144} + g^{179}x^{136} + g^{32}x^{132} + g^{116}x^{130} + g^{98}x^{129} + g^{135}x^{96} + g^{148}x^{80} + g^{218}x^{72} + g^{79}x^{68} + g^{87}x^{66} + g^{83}x^{65} + g^{232}x^{48} + g^{55}x^{40} + g^{150}x^{36} + g^{228}x^{34} + g^{113}x^{33} + g^{105}x^{24} + g^{80}x^{18} + g^{244}x^{17} + g^{95}x^{12} + g^{217}x^{10} + g^{63}x^{9} + g^{45}x^{6} + g^{241}x^{5} + g^{194}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4237</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{173}x^{192} + g^{106}x^{160} + g^{86}x^{144} + g^{37}x^{136} + g^{212}x^{132} + g^{203}x^{130} + g^{56}x^{129} + g^{115}x^{96} + g^{254}x^{80} + g^{242}x^{72} + g^{75}x^{68} + g^{164}x^{66} + g^{34}x^{65} + g^{182}x^{48} + g^{18}x^{40} + g^{247}x^{36} + g^{91}x^{34} + g^{132}x^{33} + g^{42}x^{24} + g^{147}x^{20} + g^{33}x^{18} + g^{164}x^{17} + g^{115}x^{12} + g^{185}x^{10} + g^{57}x^{9} + g^{113}x^{6} + g^{47}x^{5} + g^{151}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4238</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{192} + g^{135}x^{160} + g^{141}x^{144} + g^{24}x^{136} + g^{58}x^{132} + g^{173}x^{130} + g^{75}x^{129} + g^{249}x^{96} + x^{80} + g^{95}x^{72} + g^{44}x^{68} + g^{121}x^{66} + g^{156}x^{65} + g^{24}x^{48} + g^{233}x^{40} + g^{207}x^{36} + g^{40}x^{34} + g^{77}x^{33} + g^{71}x^{24} + g^{210}x^{20} + g^{214}x^{18} + g^{140}x^{17} + g^{240}x^{12} + g^{87}x^{10} + g^{231}x^{9} + g^{41}x^{6} + g^{19}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4239</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{145}x^{192} + g^{248}x^{160} + g^{129}x^{144} + g^{72}x^{136} + g^{9}x^{132} + g^{121}x^{130} + g^{244}x^{129} + g^{9}x^{96} + g^{89}x^{80} + g^{26}x^{72} + g^{149}x^{68} + g^{232}x^{66} + g^{127}x^{65} + g^{64}x^{48} + g^{119}x^{40} + g^{138}x^{36} + g^{23}x^{34} + g^{247}x^{33} + g^{38}x^{24} + g^{37}x^{18} + g^{76}x^{17} + g^{214}x^{12} + g^{20}x^{10} + g^{196}x^{9} + g^{251}x^{6} + g^{44}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4240</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{156}x^{192} + g^{213}x^{160} + g^{187}x^{144} + g^{13}x^{136} + g^{139}x^{132} + g^{183}x^{130} + g^{62}x^{129} + g^{140}x^{96} + g^{145}x^{80} + g^{238}x^{72} + g^{15}x^{68} + g^{147}x^{66} + g^{107}x^{65} + g^{69}x^{48} + g^{75}x^{40} + g^{25}x^{36} + g^{104}x^{34} + g^{183}x^{33} + g^{155}x^{24} + g^{168}x^{20} + g^{4}x^{18} + g^{113}x^{17} + g^{207}x^{12} + g^{244}x^{10} + g^{176}x^{9} + g^{205}x^{6} + g^{133}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4241</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{168}x^{192} + g^{144}x^{160} + x^{144} + g^{59}x^{136} + g^{116}x^{132} + g^{153}x^{130} + g^{146}x^{129} + g^{170}x^{96} + g^{118}x^{80} + g^{166}x^{72} + g^{102}x^{68} + g^{71}x^{66} + g^{218}x^{65} + g^{58}x^{48} + g^{116}x^{40} + g^{134}x^{36} + g^{233}x^{34} + g^{125}x^{33} + g^{164}x^{24} + g^{194}x^{20} + g^{166}x^{18} + g^{208}x^{17} + g^{98}x^{12} + g^{40}x^{10} + g^{31}x^{9} + g^{12}x^{6} + g^{79}x^{5} + g^{114}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4242</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{159}x^{192} + g^{251}x^{160} + g^{151}x^{144} + g^{70}x^{136} + g^{167}x^{132} + g^{140}x^{130} + g^{114}x^{129} + g^{7}x^{96} + g^{240}x^{80} + g^{72}x^{72} + g^{193}x^{68} + g^{30}x^{66} + g^{187}x^{65} + g^{59}x^{48} + g^{80}x^{40} + g^{200}x^{36} + g^{184}x^{34} + g^{114}x^{33} + g^{49}x^{24} + g^{183}x^{20} + g^{7}x^{18} + g^{51}x^{17} + g^{82}x^{12} + g^{87}x^{10} + g^{145}x^{9} + g^{198}x^{6} + g^{79}x^{5} + g^{80}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4243</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{18}x^{192} + g^{206}x^{160} + g^{48}x^{144} + g^{72}x^{136} + g^{237}x^{132} + g^{34}x^{130} + g^{63}x^{129} + g^{55}x^{96} + g^{242}x^{80} + g^{40}x^{72} + g^{200}x^{68} + g^{156}x^{66} + g^{60}x^{65} + g^{128}x^{48} + g^{106}x^{40} + g^{172}x^{36} + g^{64}x^{34} + g^{114}x^{33} + g^{28}x^{24} + g^{19}x^{20} + g^{56}x^{18} + g^{218}x^{17} + g^{22}x^{12} + g^{220}x^{10} + g^{67}x^{9} + g^{171}x^{6} + g^{137}x^{5} + g^{239}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4244</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{58}x^{192} + g^{176}x^{160} + g^{245}x^{144} + g^{95}x^{136} + g^{99}x^{132} + g^{200}x^{130} + g^{13}x^{129} + g^{230}x^{96} + g^{36}x^{80} + g^{144}x^{72} + g^{184}x^{68} + g^{41}x^{66} + g^{174}x^{65} + g^{205}x^{48} + g^{165}x^{40} + g^{55}x^{36} + g^{74}x^{34} + g^{239}x^{33} + g^{68}x^{24} + g^{146}x^{20} + g^{88}x^{18} + g^{98}x^{17} + g^{207}x^{12} + g^{14}x^{10} + g^{207}x^{9} + g^{215}x^{6} + g^{12}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4245</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{192} + g^{188}x^{160} + g^{219}x^{144} + g^{144}x^{136} + g^{203}x^{132} + g^{35}x^{130} + g^{49}x^{129} + g^{237}x^{96} + g^{185}x^{80} + g^{99}x^{72} + g^{234}x^{68} + g^{7}x^{66} + g^{175}x^{65} + g^{94}x^{48} + g^{26}x^{40} + gx^{36} + g^{33}x^{34} + g^{120}x^{33} + g^{240}x^{24} + g^{26}x^{20} + g^{223}x^{18} + g^{88}x^{17} + g^{42}x^{12} + g^{173}x^{10} + g^{173}x^{9} + g^{21}x^{6} + g^{11}x^{5} + g^{218}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4246</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{187}x^{192} + g^{216}x^{160} + g^{110}x^{144} + g^{120}x^{136} + g^{39}x^{132} + g^{151}x^{130} + g^{62}x^{129} + g^{87}x^{96} + g^{40}x^{80} + g^{224}x^{72} + g^{251}x^{68} + g^{66}x^{66} + g^{119}x^{65} + g^{139}x^{48} + g^{177}x^{40} + g^{65}x^{36} + g^{105}x^{34} + g^{47}x^{33} + g^{219}x^{24} + g^{104}x^{20} + g^{19}x^{18} + g^{44}x^{17} + g^{185}x^{12} + g^{200}x^{10} + g^{56}x^{9} + g^{3}x^{6} + g^{90}x^{5} + g^{89}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4247</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{192} + g^{142}x^{160} + g^{216}x^{144} + g^{152}x^{136} + g^{208}x^{132} + g^{115}x^{130} + g^{15}x^{129} + g^{81}x^{96} + g^{50}x^{80} + g^{46}x^{72} + g^{73}x^{68} + g^{12}x^{66} + g^{186}x^{65} + g^{196}x^{48} + g^{36}x^{40} + g^{77}x^{36} + g^{173}x^{34} + g^{157}x^{33} + g^{133}x^{24} + g^{249}x^{20} + g^{250}x^{18} + g^{196}x^{17} + g^{177}x^{12} + g^{133}x^{10} + g^{72}x^{9} + g^{6}x^{6} + g^{198}x^{5} + g^{200}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4248</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{101}x^{160} + g^{43}x^{144} + g^{115}x^{136} + g^{32}x^{132} + g^{102}x^{130} + g^{189}x^{129} + g^{95}x^{96} + g^{4}x^{80} + g^{228}x^{72} + g^{119}x^{68} + g^{165}x^{66} + g^{137}x^{65} + g^{215}x^{48} + g^{199}x^{40} + g^{162}x^{36} + g^{191}x^{34} + g^{184}x^{33} + g^{25}x^{24} + g^{33}x^{20} + g^{190}x^{18} + g^{161}x^{17} + g^{126}x^{12} + g^{107}x^{10} + g^{101}x^{9} + g^{26}x^{6} + g^{216}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4249</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{184}x^{192} + g^{192}x^{160} + g^{110}x^{144} + g^{144}x^{136} + g^{130}x^{132} + g^{5}x^{130} + g^{230}x^{129} + g^{202}x^{96} + g^{250}x^{80} + g^{135}x^{72} + g^{96}x^{68} + g^{77}x^{66} + g^{19}x^{65} + g^{193}x^{48} + g^{176}x^{40} + g^{150}x^{36} + g^{90}x^{34} + g^{59}x^{33} + g^{204}x^{24} + g^{155}x^{20} + g^{52}x^{18} + g^{246}x^{17} + g^{234}x^{12} + g^{94}x^{10} + g^{129}x^{9} + g^{3}x^{6} + g^{121}x^{5} + g^{176}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4250</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{94}x^{192} + g^{244}x^{160} + g^{188}x^{144} + g^{84}x^{136} + g^{142}x^{132} + g^{68}x^{130} + g^{105}x^{129} + g^{184}x^{96} + g^{13}x^{80} + g^{48}x^{72} + g^{84}x^{68} + g^{211}x^{66} + g^{248}x^{65} + g^{88}x^{48} + g^{59}x^{40} + g^{58}x^{36} + g^{29}x^{34} + g^{74}x^{33} + g^{115}x^{24} + g^{253}x^{20} + g^{39}x^{18} + g^{31}x^{17} + g^{189}x^{12} + g^{202}x^{10} + g^{205}x^{9} + g^{49}x^{6} + gx^{5} + g^{79}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4251</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{36}x^{160} + g^{120}x^{144} + g^{193}x^{136} + g^{131}x^{132} + g^{183}x^{130} + g^{179}x^{129} + g^{247}x^{96} + g^{135}x^{80} + g^{6}x^{72} + g^{3}x^{68} + g^{21}x^{66} + g^{176}x^{65} + g^{70}x^{48} + g^{134}x^{40} + g^{150}x^{36} + g^{221}x^{34} + g^{4}x^{33} + g^{61}x^{24} + g^{195}x^{20} + g^{173}x^{18} + g^{145}x^{17} + g^{9}x^{12} + g^{143}x^{10} + g^{134}x^{9} + g^{10}x^{6} + g^{50}x^{5} + g^{114}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4252</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{172}x^{160} + g^{47}x^{144} + g^{67}x^{136} + g^{66}x^{132} + g^{145}x^{130} + g^{219}x^{129} + g^{143}x^{96} + g^{167}x^{80} + g^{203}x^{72} + g^{69}x^{68} + g^{126}x^{66} + g^{42}x^{65} + g^{56}x^{48} + g^{242}x^{40} + g^{180}x^{36} + g^{221}x^{34} + g^{165}x^{33} + g^{2}x^{24} + g^{17}x^{20} + g^{199}x^{18} + g^{46}x^{17} + g^{84}x^{12} + g^{224}x^{10} + g^{254}x^{9} + g^{84}x^{6} + g^{62}x^{5} + g^{205}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4253</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{157}x^{160} + g^{69}x^{144} + g^{125}x^{136} + g^{14}x^{132} + g^{171}x^{130} + g^{114}x^{129} + g^{223}x^{96} + g^{145}x^{80} + g^{201}x^{72} + g^{143}x^{68} + g^{56}x^{66} + g^{44}x^{65} + g^{159}x^{48} + g^{77}x^{40} + g^{229}x^{36} + g^{241}x^{34} + g^{224}x^{33} + g^{56}x^{24} + g^{106}x^{20} + g^{16}x^{18} + g^{251}x^{17} + g^{102}x^{12} + g^{240}x^{10} + g^{122}x^{9} + g^{196}x^{6} + g^{81}x^{5} + g^{248}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4254</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{162}x^{192} + g^{206}x^{160} + g^{44}x^{144} + g^{240}x^{136} + g^{72}x^{132} + g^{163}x^{130} + g^{70}x^{129} + g^{246}x^{96} + g^{239}x^{80} + g^{169}x^{72} + g^{142}x^{68} + g^{182}x^{65} + g^{216}x^{48} + g^{249}x^{40} + g^{69}x^{36} + g^{55}x^{34} + g^{173}x^{33} + g^{181}x^{24} + g^{197}x^{20} + g^{81}x^{18} + g^{230}x^{17} + g^{240}x^{12} + g^{170}x^{10} + g^{96}x^{9} + g^{253}x^{6} + g^{178}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4255</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{166}x^{192} + g^{170}x^{160} + g^{179}x^{144} + g^{17}x^{136} + g^{152}x^{132} + g^{56}x^{130} + g^{37}x^{129} + g^{3}x^{96} + g^{168}x^{80} + g^{176}x^{72} + g^{48}x^{68} + g^{113}x^{66} + g^{159}x^{65} + g^{215}x^{48} + g^{11}x^{40} + g^{101}x^{36} + g^{59}x^{34} + g^{64}x^{33} + g^{72}x^{24} + g^{137}x^{20} + g^{37}x^{18} + g^{204}x^{17} + g^{131}x^{12} + g^{91}x^{10} + g^{42}x^{9} + g^{226}x^{6} + g^{171}x^{5} + g^{77}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4256</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{137}x^{160} + g^{123}x^{144} + g^{131}x^{136} + g^{51}x^{132} + g^{147}x^{130} + g^{213}x^{129} + g^{188}x^{96} + g^{90}x^{80} + g^{59}x^{72} + g^{86}x^{68} + g^{111}x^{66} + g^{39}x^{65} + g^{159}x^{48} + g^{91}x^{40} + gx^{36} + g^{38}x^{34} + g^{88}x^{33} + g^{218}x^{24} + g^{196}x^{20} + g^{163}x^{18} + g^{59}x^{17} + g^{24}x^{12} + g^{179}x^{10} + g^{222}x^{9} + g^{229}x^{6} + g^{246}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4257</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{192} + g^{245}x^{160} + g^{67}x^{144} + gx^{136} + g^{34}x^{132} + g^{149}x^{130} + g^{52}x^{129} + g^{163}x^{96} + g^{84}x^{80} + g^{188}x^{72} + g^{119}x^{68} + g^{133}x^{66} + g^{160}x^{65} + g^{226}x^{48} + g^{219}x^{40} + g^{173}x^{36} + g^{129}x^{34} + g^{58}x^{33} + x^{24} + g^{95}x^{20} + g^{63}x^{18} + g^{199}x^{17} + g^{240}x^{12} + g^{137}x^{10} + g^{89}x^{9} + g^{156}x^{6} + g^{201}x^{5} + g^{65}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4258</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{189}x^{160} + g^{230}x^{144} + g^{99}x^{136} + g^{16}x^{132} + g^{33}x^{130} + g^{149}x^{129} + g^{172}x^{96} + g^{14}x^{80} + g^{62}x^{72} + g^{78}x^{68} + g^{45}x^{66} + g^{236}x^{65} + g^{21}x^{48} + g^{83}x^{40} + g^{86}x^{36} + g^{87}x^{34} + g^{15}x^{33} + g^{209}x^{24} + g^{28}x^{20} + g^{41}x^{17} + g^{77}x^{12} + g^{155}x^{10} + g^{62}x^{9} + g^{93}x^{6} + g^{199}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4259</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{145}x^{192} + g^{207}x^{160} + g^{147}x^{144} + g^{90}x^{136} + g^{65}x^{132} + g^{224}x^{130} + g^{54}x^{129} + g^{155}x^{96} + g^{190}x^{80} + g^{116}x^{72} + g^{52}x^{68} + g^{111}x^{66} + g^{207}x^{65} + g^{246}x^{48} + g^{4}x^{40} + g^{242}x^{36} + g^{218}x^{34} + g^{116}x^{33} + g^{199}x^{24} + g^{66}x^{20} + g^{160}x^{18} + g^{93}x^{17} + g^{81}x^{12} + g^{39}x^{10} + g^{214}x^{9} + g^{43}x^{6} + g^{7}x^{5} + g^{98}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4260</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{146}x^{192} + g^{241}x^{160} + g^{167}x^{144} + g^{230}x^{136} + g^{163}x^{132} + g^{220}x^{130} + g^{217}x^{129} + g^{223}x^{96} + g^{127}x^{80} + g^{46}x^{72} + g^{158}x^{68} + g^{210}x^{66} + g^{56}x^{65} + g^{18}x^{48} + g^{184}x^{40} + g^{253}x^{36} + g^{216}x^{34} + g^{135}x^{33} + g^{216}x^{24} + g^{111}x^{20} + g^{114}x^{18} + g^{213}x^{17} + x^{12} + g^{83}x^{10} + g^{230}x^{9} + g^{190}x^{6} + g^{149}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4261</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{57}x^{192} + g^{108}x^{160} + g^{195}x^{144} + g^{178}x^{136} + g^{182}x^{132} + g^{97}x^{130} + g^{181}x^{129} + g^{207}x^{96} + g^{46}x^{80} + g^{178}x^{72} + g^{231}x^{68} + g^{216}x^{66} + g^{250}x^{65} + g^{61}x^{48} + g^{185}x^{40} + g^{136}x^{36} + g^{140}x^{34} + g^{85}x^{33} + g^{202}x^{24} + g^{148}x^{20} + g^{235}x^{18} + g^{72}x^{17} + g^{40}x^{12} + g^{112}x^{10} + g^{28}x^{9} + g^{147}x^{6} + g^{37}x^{5} + g^{206}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4262</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{89}x^{192} + g^{87}x^{160} + g^{24}x^{144} + g^{71}x^{136} + g^{248}x^{132} + g^{172}x^{130} + g^{231}x^{129} + gx^{96} + g^{72}x^{80} + g^{226}x^{72} + g^{214}x^{68} + g^{47}x^{66} + g^{4}x^{65} + g^{158}x^{48} + g^{44}x^{40} + g^{54}x^{36} + g^{92}x^{34} + g^{8}x^{33} + g^{38}x^{24} + g^{230}x^{20} + g^{197}x^{18} + g^{30}x^{17} + g^{44}x^{12} + g^{227}x^{10} + g^{128}x^{9} + g^{16}x^{6} + g^{141}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4263</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{211}x^{192} + g^{92}x^{160} + g^{21}x^{144} + g^{226}x^{136} + g^{127}x^{132} + g^{190}x^{130} + g^{243}x^{129} + g^{24}x^{96} + g^{159}x^{80} + g^{183}x^{72} + g^{218}x^{68} + g^{146}x^{66} + g^{200}x^{65} + g^{74}x^{48} + g^{210}x^{40} + g^{146}x^{36} + g^{95}x^{34} + g^{220}x^{33} + g^{132}x^{24} + g^{116}x^{20} + g^{193}x^{18} + g^{3}x^{17} + g^{9}x^{12} + g^{96}x^{10} + g^{233}x^{9} + g^{130}x^{6} + g^{180}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4264</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{153}x^{192} + g^{224}x^{160} + g^{75}x^{144} + g^{15}x^{136} + g^{108}x^{132} + g^{106}x^{130} + g^{151}x^{129} + g^{134}x^{96} + g^{242}x^{80} + g^{222}x^{72} + g^{49}x^{68} + g^{48}x^{66} + g^{162}x^{65} + g^{45}x^{48} + g^{178}x^{40} + g^{98}x^{36} + g^{193}x^{34} + g^{91}x^{33} + g^{8}x^{24} + g^{16}x^{20} + g^{236}x^{18} + g^{45}x^{17} + g^{109}x^{12} + g^{135}x^{10} + g^{7}x^{9} + g^{27}x^{6} + g^{194}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4265</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{151}x^{160} + g^{244}x^{144} + g^{19}x^{136} + g^{163}x^{132} + g^{214}x^{130} + g^{26}x^{129} + g^{19}x^{96} + g^{170}x^{80} + g^{154}x^{72} + g^{58}x^{68} + g^{109}x^{66} + g^{232}x^{65} + g^{199}x^{48} + g^{78}x^{40} + g^{115}x^{36} + g^{92}x^{34} + g^{136}x^{33} + g^{179}x^{24} + g^{189}x^{20} + g^{249}x^{18} + g^{92}x^{17} + g^{169}x^{12} + g^{198}x^{10} + g^{2}x^{9} + g^{39}x^{6} + g^{47}x^{5} + g^{221}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4266</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{217}x^{192} + g^{191}x^{160} + g^{82}x^{144} + g^{63}x^{136} + g^{155}x^{132} + g^{91}x^{130} + g^{47}x^{129} + g^{217}x^{96} + g^{212}x^{80} + g^{140}x^{72} + g^{24}x^{68} + g^{120}x^{66} + g^{109}x^{65} + g^{167}x^{48} + g^{72}x^{40} + g^{47}x^{36} + g^{37}x^{34} + g^{20}x^{24} + g^{145}x^{20} + g^{48}x^{18} + g^{85}x^{17} + g^{169}x^{12} + g^{65}x^{10} + g^{43}x^{9} + g^{227}x^{6} + g^{142}x^{5} + g^{107}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4267</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{108}x^{192} + g^{149}x^{160} + g^{220}x^{144} + g^{22}x^{136} + g^{39}x^{132} + g^{40}x^{130} + gx^{129} + g^{225}x^{96} + g^{136}x^{80} + g^{239}x^{72} + g^{48}x^{68} + g^{158}x^{66} + g^{174}x^{65} + g^{163}x^{40} + g^{241}x^{36} + g^{110}x^{34} + g^{59}x^{33} + g^{74}x^{24} + g^{254}x^{20} + g^{170}x^{18} + g^{162}x^{17} + g^{146}x^{12} + g^{19}x^{10} + g^{213}x^{9} + g^{57}x^{6} + g^{248}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4268</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{167}x^{160} + g^{11}x^{144} + g^{162}x^{136} + g^{230}x^{132} + g^{196}x^{130} + g^{196}x^{129} + g^{6}x^{96} + g^{189}x^{80} + g^{121}x^{72} + g^{212}x^{68} + g^{252}x^{66} + g^{136}x^{65} + g^{247}x^{48} + g^{113}x^{40} + g^{87}x^{36} + g^{252}x^{34} + g^{98}x^{33} + g^{91}x^{24} + g^{117}x^{20} + g^{23}x^{18} + x^{17} + g^{66}x^{12} + g^{19}x^{10} + g^{66}x^{9} + g^{191}x^{6} + g^{146}x^{5} + g^{25}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4269</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{59}x^{160} + g^{87}x^{144} + g^{41}x^{136} + g^{239}x^{132} + g^{99}x^{130} + g^{102}x^{129} + g^{16}x^{96} + g^{126}x^{80} + g^{5}x^{72} + g^{45}x^{68} + g^{48}x^{66} + g^{14}x^{65} + g^{62}x^{48} + g^{69}x^{40} + g^{250}x^{36} + g^{103}x^{34} + g^{113}x^{33} + g^{111}x^{24} + g^{78}x^{20} + g^{221}x^{18} + g^{188}x^{17} + g^{135}x^{12} + g^{252}x^{10} + g^{75}x^{9} + g^{139}x^{6} + g^{171}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4270</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{199}x^{192} + g^{69}x^{160} + g^{161}x^{144} + g^{93}x^{136} + g^{237}x^{132} + g^{28}x^{130} + g^{146}x^{129} + g^{175}x^{96} + g^{213}x^{80} + g^{180}x^{72} + g^{182}x^{68} + g^{224}x^{66} + g^{76}x^{65} + g^{236}x^{48} + g^{222}x^{40} + g^{152}x^{36} + g^{9}x^{34} + g^{27}x^{33} + g^{136}x^{24} + g^{253}x^{20} + g^{250}x^{18} + g^{49}x^{17} + g^{53}x^{12} + g^{208}x^{10} + g^{125}x^{9} + g^{147}x^{6} + g^{209}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4271</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{38}x^{160} + g^{134}x^{144} + g^{59}x^{136} + g^{191}x^{132} + g^{96}x^{130} + g^{101}x^{129} + g^{69}x^{96} + g^{133}x^{80} + g^{107}x^{72} + g^{145}x^{68} + g^{65}x^{66} + g^{66}x^{65} + g^{223}x^{48} + g^{90}x^{40} + g^{195}x^{36} + g^{170}x^{34} + g^{206}x^{33} + g^{29}x^{24} + g^{182}x^{20} + g^{78}x^{18} + g^{193}x^{17} + g^{18}x^{12} + g^{203}x^{10} + g^{132}x^{9} + g^{175}x^{6} + g^{8}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4272</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{188}x^{192} + g^{34}x^{160} + g^{105}x^{144} + g^{211}x^{136} + g^{120}x^{132} + g^{185}x^{130} + g^{244}x^{129} + g^{37}x^{96} + g^{125}x^{80} + g^{205}x^{72} + g^{60}x^{68} + g^{67}x^{66} + g^{9}x^{65} + g^{129}x^{48} + g^{98}x^{40} + g^{2}x^{36} + g^{69}x^{34} + g^{156}x^{33} + g^{122}x^{24} + g^{62}x^{20} + g^{224}x^{18} + g^{34}x^{17} + g^{49}x^{12} + g^{73}x^{10} + g^{153}x^{9} + g^{2}x^{6} + g^{18}x^{5} + g^{116}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4273</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{192} + g^{216}x^{160} + g^{113}x^{144} + g^{178}x^{136} + g^{79}x^{132} + g^{4}x^{130} + g^{76}x^{129} + g^{72}x^{96} + g^{129}x^{80} + g^{171}x^{72} + g^{127}x^{68} + g^{77}x^{66} + g^{74}x^{65} + g^{27}x^{48} + g^{138}x^{40} + g^{215}x^{36} + g^{17}x^{34} + g^{82}x^{33} + g^{207}x^{24} + g^{209}x^{20} + g^{203}x^{18} + g^{147}x^{17} + g^{246}x^{12} + g^{83}x^{10} + g^{94}x^{9} + g^{219}x^{6} + g^{180}x^{5} + g^{172}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4274</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{232}x^{192} + g^{183}x^{160} + g^{135}x^{144} + g^{38}x^{136} + g^{27}x^{132} + g^{191}x^{130} + g^{204}x^{129} + g^{142}x^{96} + g^{246}x^{80} + g^{186}x^{72} + g^{77}x^{68} + g^{198}x^{66} + g^{243}x^{65} + g^{226}x^{48} + g^{228}x^{40} + g^{133}x^{36} + g^{195}x^{34} + g^{136}x^{33} + g^{152}x^{24} + g^{76}x^{20} + g^{60}x^{17} + g^{254}x^{12} + g^{74}x^{10} + g^{216}x^{9} + g^{98}x^{6} + g^{4}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4275</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{13}x^{192} + g^{65}x^{160} + g^{92}x^{144} + g^{232}x^{136} + g^{114}x^{132} + g^{251}x^{130} + g^{38}x^{129} + g^{150}x^{96} + g^{140}x^{80} + g^{234}x^{72} + g^{57}x^{68} + g^{141}x^{66} + g^{26}x^{65} + g^{244}x^{48} + g^{12}x^{40} + g^{132}x^{34} + g^{225}x^{33} + g^{213}x^{24} + g^{80}x^{20} + g^{16}x^{18} + g^{212}x^{17} + g^{73}x^{12} + g^{133}x^{10} + g^{27}x^{9} + g^{203}x^{6} + g^{190}x^{5} + g^{223}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4276</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{57}x^{192} + g^{240}x^{160} + g^{100}x^{144} + g^{95}x^{136} + g^{23}x^{132} + g^{237}x^{130} + g^{59}x^{129} + g^{134}x^{96} + g^{123}x^{80} + g^{145}x^{72} + g^{60}x^{68} + g^{175}x^{66} + g^{201}x^{65} + g^{27}x^{48} + g^{208}x^{40} + g^{73}x^{36} + g^{21}x^{34} + g^{174}x^{33} + g^{133}x^{24} + g^{102}x^{20} + g^{102}x^{18} + g^{245}x^{17} + g^{204}x^{12} + g^{64}x^{10} + g^{132}x^{9} + g^{145}x^{6} + g^{30}x^{5} + g^{232}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4277</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{202}x^{160} + g^{106}x^{144} + g^{95}x^{136} + g^{4}x^{132} + g^{23}x^{130} + g^{14}x^{129} + g^{237}x^{96} + g^{44}x^{80} + g^{133}x^{72} + g^{72}x^{68} + g^{39}x^{66} + g^{153}x^{65} + g^{15}x^{48} + g^{139}x^{40} + g^{183}x^{36} + g^{200}x^{34} + g^{180}x^{33} + g^{57}x^{24} + g^{90}x^{20} + g^{180}x^{18} + g^{226}x^{17} + g^{155}x^{12} + g^{228}x^{10} + g^{164}x^{9} + g^{43}x^{6} + g^{62}x^{5} + g^{151}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4278</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{80}x^{192} + g^{67}x^{160} + g^{55}x^{144} + g^{127}x^{136} + g^{197}x^{132} + g^{110}x^{130} + g^{43}x^{129} + g^{87}x^{96} + g^{222}x^{80} + g^{143}x^{72} + g^{248}x^{68} + g^{120}x^{66} + g^{182}x^{65} + g^{106}x^{48} + g^{133}x^{40} + g^{250}x^{36} + g^{130}x^{34} + g^{72}x^{33} + g^{138}x^{24} + g^{78}x^{20} + g^{128}x^{18} + g^{173}x^{17} + g^{42}x^{12} + g^{217}x^{10} + g^{13}x^{9} + g^{254}x^{6} + g^{12}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4279</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{153}x^{192} + g^{37}x^{160} + g^{8}x^{144} + g^{131}x^{136} + g^{183}x^{132} + g^{168}x^{130} + g^{208}x^{129} + g^{119}x^{96} + g^{119}x^{80} + g^{228}x^{72} + g^{87}x^{68} + g^{170}x^{66} + g^{85}x^{65} + g^{50}x^{48} + g^{81}x^{40} + g^{205}x^{36} + g^{3}x^{34} + g^{101}x^{33} + g^{74}x^{24} + g^{106}x^{20} + g^{132}x^{18} + g^{246}x^{17} + g^{185}x^{12} + g^{112}x^{10} + g^{212}x^{9} + g^{80}x^{6} + g^{54}x^{5} + g^{208}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4280</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{120}x^{160} + g^{110}x^{144} + g^{182}x^{136} + g^{187}x^{132} + g^{208}x^{130} + g^{123}x^{129} + g^{29}x^{96} + g^{85}x^{80} + x^{72} + g^{146}x^{68} + g^{143}x^{66} + g^{7}x^{65} + g^{60}x^{48} + g^{92}x^{40} + g^{89}x^{36} + g^{118}x^{34} + g^{230}x^{33} + g^{89}x^{24} + g^{93}x^{20} + g^{107}x^{18} + g^{40}x^{17} + g^{98}x^{12} + g^{186}x^{10} + g^{237}x^{9} + g^{172}x^{6} + g^{229}x^{5} + g^{252}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4281</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{152}x^{192} + g^{3}x^{160} + g^{172}x^{144} + g^{233}x^{136} + g^{127}x^{132} + g^{86}x^{130} + g^{18}x^{129} + g^{192}x^{96} + g^{35}x^{80} + g^{8}x^{72} + g^{158}x^{68} + g^{129}x^{66} + g^{249}x^{65} + g^{15}x^{48} + g^{194}x^{40} + g^{199}x^{36} + g^{103}x^{34} + g^{129}x^{33} + g^{114}x^{24} + g^{16}x^{20} + g^{169}x^{18} + g^{88}x^{17} + g^{61}x^{12} + g^{246}x^{10} + g^{99}x^{9} + g^{109}x^{6} + g^{31}x^{5} + g^{180}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4282</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{58}x^{160} + g^{141}x^{144} + g^{122}x^{136} + g^{49}x^{132} + g^{68}x^{130} + g^{158}x^{129} + g^{97}x^{96} + g^{185}x^{80} + g^{19}x^{72} + g^{59}x^{68} + g^{199}x^{66} + g^{3}x^{65} + g^{52}x^{48} + g^{6}x^{40} + g^{100}x^{36} + g^{98}x^{34} + g^{58}x^{33} + g^{40}x^{24} + g^{72}x^{20} + g^{94}x^{18} + g^{189}x^{17} + g^{241}x^{12} + g^{229}x^{10} + g^{69}x^{9} + g^{75}x^{6} + g^{244}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4283</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{169}x^{160} + g^{166}x^{144} + g^{122}x^{136} + g^{170}x^{132} + g^{157}x^{130} + g^{123}x^{129} + g^{52}x^{96} + g^{246}x^{80} + g^{235}x^{72} + g^{132}x^{68} + g^{181}x^{66} + g^{211}x^{65} + g^{136}x^{48} + g^{196}x^{40} + g^{41}x^{36} + g^{140}x^{34} + g^{241}x^{33} + g^{56}x^{24} + g^{17}x^{20} + g^{141}x^{18} + g^{163}x^{17} + g^{178}x^{12} + g^{14}x^{10} + g^{219}x^{9} + g^{64}x^{6} + g^{77}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4284</p></td>
<td><p><span class="math notranslate nohighlight">\(gx^{192} + g^{162}x^{160} + g^{84}x^{144} + g^{115}x^{136} + g^{206}x^{132} + g^{69}x^{130} + g^{197}x^{129} + g^{251}x^{96} + g^{53}x^{80} + g^{46}x^{72} + g^{232}x^{68} + g^{216}x^{66} + g^{160}x^{65} + g^{142}x^{48} + g^{159}x^{40} + g^{20}x^{36} + g^{86}x^{34} + g^{100}x^{33} + g^{19}x^{24} + g^{244}x^{20} + g^{93}x^{18} + g^{151}x^{17} + g^{222}x^{12} + g^{230}x^{10} + g^{103}x^{9} + g^{186}x^{6} + g^{172}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4285</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{115}x^{192} + g^{157}x^{160} + g^{152}x^{144} + g^{4}x^{136} + g^{149}x^{132} + g^{4}x^{130} + g^{141}x^{129} + g^{41}x^{96} + g^{28}x^{80} + g^{123}x^{72} + g^{16}x^{68} + g^{116}x^{66} + g^{25}x^{65} + g^{177}x^{48} + g^{22}x^{40} + g^{100}x^{36} + g^{208}x^{34} + g^{241}x^{33} + g^{75}x^{24} + g^{57}x^{20} + g^{168}x^{18} + g^{249}x^{17} + g^{133}x^{12} + g^{142}x^{10} + g^{51}x^{9} + g^{100}x^{6} + g^{70}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4286</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{253}x^{192} + g^{122}x^{160} + g^{147}x^{144} + g^{204}x^{136} + g^{180}x^{132} + g^{198}x^{130} + g^{13}x^{129} + g^{228}x^{96} + g^{181}x^{80} + g^{227}x^{72} + g^{217}x^{68} + g^{215}x^{66} + g^{226}x^{65} + g^{216}x^{48} + g^{247}x^{40} + g^{200}x^{36} + g^{243}x^{34} + g^{15}x^{33} + g^{86}x^{24} + g^{141}x^{20} + g^{22}x^{18} + g^{63}x^{17} + g^{165}x^{12} + g^{143}x^{10} + g^{87}x^{9} + g^{250}x^{6} + g^{241}x^{5} + g^{182}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4287</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{211}x^{160} + g^{51}x^{144} + g^{179}x^{136} + g^{192}x^{132} + g^{122}x^{130} + g^{40}x^{129} + g^{192}x^{96} + g^{107}x^{80} + g^{45}x^{72} + g^{251}x^{68} + g^{74}x^{66} + g^{229}x^{65} + g^{252}x^{48} + g^{32}x^{40} + g^{89}x^{36} + g^{199}x^{34} + g^{164}x^{33} + g^{219}x^{24} + g^{79}x^{20} + g^{248}x^{18} + g^{188}x^{17} + g^{159}x^{12} + g^{84}x^{10} + g^{34}x^{9} + g^{59}x^{6} + g^{29}x^{5} + g^{181}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4288</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{178}x^{192} + g^{98}x^{160} + g^{46}x^{144} + g^{227}x^{136} + g^{116}x^{132} + g^{193}x^{130} + g^{57}x^{129} + g^{18}x^{96} + g^{144}x^{80} + g^{230}x^{72} + g^{179}x^{68} + g^{63}x^{66} + g^{192}x^{65} + g^{92}x^{48} + g^{2}x^{40} + g^{104}x^{36} + g^{209}x^{34} + g^{30}x^{33} + g^{85}x^{24} + g^{46}x^{20} + g^{243}x^{18} + g^{67}x^{17} + g^{20}x^{12} + g^{2}x^{10} + g^{205}x^{9} + g^{20}x^{6} + g^{147}x^{5} + g^{183}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4289</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{7}x^{192} + g^{191}x^{160} + g^{203}x^{144} + g^{143}x^{136} + g^{234}x^{132} + g^{111}x^{130} + g^{222}x^{129} + g^{170}x^{96} + g^{177}x^{80} + g^{241}x^{72} + g^{185}x^{68} + g^{238}x^{66} + g^{240}x^{65} + g^{94}x^{48} + g^{217}x^{40} + g^{98}x^{36} + g^{177}x^{34} + g^{183}x^{33} + g^{81}x^{24} + g^{7}x^{20} + g^{125}x^{18} + g^{94}x^{17} + g^{109}x^{12} + g^{26}x^{10} + g^{225}x^{9} + g^{132}x^{6} + g^{108}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4290</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{108}x^{192} + g^{227}x^{160} + g^{47}x^{144} + g^{42}x^{136} + g^{70}x^{132} + g^{69}x^{130} + g^{251}x^{129} + g^{175}x^{96} + g^{76}x^{80} + g^{145}x^{72} + g^{212}x^{68} + g^{19}x^{66} + g^{221}x^{65} + g^{6}x^{48} + g^{27}x^{40} + g^{128}x^{36} + g^{241}x^{34} + g^{185}x^{33} + g^{167}x^{24} + g^{224}x^{20} + g^{11}x^{18} + g^{47}x^{17} + g^{232}x^{12} + g^{148}x^{10} + g^{198}x^{9} + g^{149}x^{6} + g^{46}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4291</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{4}x^{192} + g^{69}x^{160} + g^{177}x^{144} + g^{211}x^{136} + g^{183}x^{132} + g^{134}x^{130} + g^{225}x^{129} + g^{84}x^{96} + g^{199}x^{80} + g^{110}x^{72} + g^{173}x^{68} + g^{39}x^{66} + g^{115}x^{65} + g^{68}x^{48} + g^{186}x^{40} + g^{80}x^{36} + g^{40}x^{34} + g^{221}x^{33} + g^{90}x^{24} + g^{112}x^{20} + g^{156}x^{18} + g^{110}x^{17} + g^{20}x^{12} + g^{86}x^{10} + g^{190}x^{9} + g^{154}x^{6} + g^{231}x^{5} + g^{209}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4292</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{192} + g^{52}x^{160} + g^{32}x^{144} + g^{39}x^{136} + g^{243}x^{132} + g^{55}x^{130} + g^{120}x^{129} + g^{67}x^{96} + g^{217}x^{80} + g^{246}x^{72} + g^{22}x^{68} + g^{111}x^{66} + g^{194}x^{65} + g^{135}x^{48} + g^{115}x^{40} + g^{250}x^{36} + g^{247}x^{34} + g^{23}x^{33} + g^{47}x^{24} + g^{20}x^{20} + g^{159}x^{18} + g^{253}x^{17} + g^{234}x^{12} + x^{10} + g^{159}x^{9} + g^{24}x^{6} + g^{65}x^{5} + g^{62}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4293</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{192} + g^{76}x^{160} + g^{169}x^{144} + g^{185}x^{136} + g^{161}x^{132} + g^{179}x^{130} + g^{191}x^{129} + g^{220}x^{96} + g^{15}x^{80} + g^{122}x^{72} + g^{198}x^{68} + g^{134}x^{66} + g^{117}x^{65} + g^{207}x^{48} + g^{184}x^{40} + g^{35}x^{36} + g^{132}x^{34} + g^{198}x^{33} + g^{204}x^{24} + g^{114}x^{20} + g^{57}x^{18} + g^{181}x^{17} + g^{151}x^{12} + g^{196}x^{10} + g^{126}x^{9} + g^{12}x^{6} + g^{37}x^{5} + g^{137}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4294</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{240}x^{192} + g^{27}x^{160} + g^{123}x^{144} + g^{157}x^{136} + g^{162}x^{132} + g^{177}x^{130} + g^{231}x^{129} + g^{185}x^{96} + g^{20}x^{80} + g^{163}x^{72} + g^{193}x^{68} + g^{74}x^{66} + g^{238}x^{65} + g^{247}x^{48} + g^{201}x^{40} + g^{97}x^{36} + g^{86}x^{34} + g^{142}x^{33} + g^{128}x^{24} + g^{180}x^{20} + g^{145}x^{18} + g^{210}x^{17} + g^{85}x^{12} + g^{121}x^{10} + g^{21}x^{9} + g^{15}x^{6} + g^{11}x^{5} + g^{193}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4295</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{192} + g^{208}x^{160} + g^{11}x^{144} + g^{7}x^{136} + g^{112}x^{132} + g^{26}x^{130} + g^{44}x^{129} + g^{85}x^{96} + g^{223}x^{80} + g^{135}x^{72} + g^{85}x^{68} + g^{50}x^{66} + g^{78}x^{65} + g^{152}x^{48} + g^{98}x^{40} + g^{90}x^{36} + g^{52}x^{34} + g^{175}x^{33} + g^{22}x^{24} + g^{246}x^{20} + g^{211}x^{18} + g^{167}x^{17} + g^{136}x^{10} + g^{222}x^{9} + g^{96}x^{6} + g^{142}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4296</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{127}x^{192} + g^{202}x^{160} + gx^{144} + g^{155}x^{136} + g^{38}x^{132} + g^{171}x^{130} + g^{233}x^{129} + g^{188}x^{96} + g^{254}x^{80} + g^{125}x^{72} + g^{17}x^{68} + g^{28}x^{66} + g^{235}x^{65} + g^{174}x^{48} + g^{36}x^{40} + g^{45}x^{36} + g^{110}x^{34} + g^{151}x^{33} + g^{160}x^{24} + g^{231}x^{20} + g^{2}x^{18} + g^{97}x^{17} + g^{155}x^{12} + g^{199}x^{10} + g^{83}x^{9} + g^{13}x^{6} + g^{149}x^{5} + g^{217}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4297</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{199}x^{192} + g^{173}x^{160} + g^{111}x^{144} + g^{119}x^{136} + g^{179}x^{132} + g^{214}x^{130} + g^{185}x^{129} + g^{214}x^{96} + g^{185}x^{80} + g^{235}x^{72} + g^{191}x^{68} + g^{148}x^{66} + g^{125}x^{65} + g^{118}x^{48} + g^{110}x^{40} + g^{126}x^{36} + g^{254}x^{34} + g^{24}x^{33} + g^{116}x^{24} + g^{235}x^{20} + g^{157}x^{18} + g^{73}x^{17} + g^{18}x^{12} + g^{54}x^{10} + g^{186}x^{9} + g^{131}x^{6} + g^{168}x^{5} + g^{76}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4298</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{192} + g^{192}x^{160} + g^{254}x^{144} + g^{79}x^{136} + g^{233}x^{132} + g^{221}x^{130} + g^{47}x^{129} + g^{12}x^{96} + g^{251}x^{80} + g^{26}x^{72} + g^{144}x^{68} + g^{231}x^{66} + g^{83}x^{65} + g^{161}x^{48} + g^{12}x^{40} + g^{231}x^{36} + g^{202}x^{34} + g^{225}x^{33} + g^{125}x^{24} + g^{146}x^{20} + g^{229}x^{18} + g^{158}x^{17} + g^{114}x^{12} + g^{106}x^{10} + g^{93}x^{9} + g^{68}x^{6} + g^{147}x^{5} + g^{215}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>4299</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{251}x^{192} + g^{237}x^{160} + g^{155}x^{144} + g^{230}x^{136} + g^{79}x^{132} + g^{105}x^{130} + g^{56}x^{129} + g^{159}x^{96} + g^{244}x^{80} + g^{150}x^{72} + g^{68}x^{68} + g^{5}x^{66} + g^{14}x^{65} + g^{26}x^{48} + g^{37}x^{40} + g^{214}x^{36} + g^{90}x^{34} + g^{137}x^{33} + g^{76}x^{24} + g^{42}x^{20} + g^{238}x^{18} + g^{222}x^{17} + g^{175}x^{12} + g^{17}x^{10} + g^{64}x^{9} + g^{249}x^{6} + g^{125}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>4300</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{184}x^{160} + g^{235}x^{144} + g^{80}x^{136} + g^{66}x^{132} + g^{111}x^{130} + g^{193}x^{129} + g^{34}x^{96} + g^{227}x^{80} + g^{154}x^{72} + g^{209}x^{68} + g^{94}x^{66} + g^{251}x^{65} + g^{38}x^{48} + g^{25}x^{40} + g^{198}x^{36} + g^{40}x^{34} + g^{164}x^{33} + g^{17}x^{24} + g^{206}x^{20} + g^{68}x^{18} + g^{97}x^{17} + g^{86}x^{12} + g^{219}x^{10} + g^{253}x^{9} + g^{30}x^{6} + g^{226}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/4001_4500/4201_4300.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>