
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>7801</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{160}x^{192} + g^{95}x^{160} + g^{124}x^{144} + g^{127}x^{136} + g^{194}x^{132} + g^{132}x^{130} + g^{183}x^{129} + g^{223}x^{96} + g^{91}x^{80} + g^{85}x^{72} + g^{199}x^{68} + g^{130}x^{66} + g^{214}x^{65} + g^{175}x^{48} + g^{79}x^{40} + g^{124}x^{36} + g^{33}x^{34} + g^{51}x^{33} + g^{137}x^{24} + g^{74}x^{20} + g^{241}x^{18} + g^{251}x^{17} + g^{241}x^{12} + g^{185}x^{10} + g^{12}x^{9} + g^{205}x^{6} + g^{158}x^{5} + g^{118}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7802</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{52}x^{192} + g^{251}x^{160} + g^{74}x^{144} + g^{42}x^{136} + g^{95}x^{132} + g^{37}x^{130} + g^{21}x^{129} + g^{125}x^{96} + g^{20}x^{80} + g^{148}x^{72} + g^{185}x^{68} + g^{181}x^{66} + g^{206}x^{65} + g^{254}x^{48} + g^{240}x^{40} + g^{137}x^{36} + g^{207}x^{34} + g^{198}x^{33} + g^{141}x^{24} + g^{248}x^{20} + g^{51}x^{18} + g^{38}x^{17} + g^{203}x^{12} + g^{116}x^{10} + g^{48}x^{9} + g^{240}x^{6} + g^{117}x^{5} + g^{183}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7803</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{170}x^{192} + g^{191}x^{160} + g^{181}x^{144} + g^{17}x^{136} + g^{136}x^{132} + g^{93}x^{130} + g^{246}x^{129} + g^{72}x^{96} + g^{54}x^{80} + g^{100}x^{72} + g^{215}x^{68} + g^{101}x^{66} + g^{4}x^{65} + g^{191}x^{48} + g^{253}x^{40} + g^{91}x^{36} + g^{84}x^{34} + gx^{33} + g^{58}x^{24} + g^{17}x^{20} + g^{78}x^{18} + g^{92}x^{17} + g^{136}x^{12} + g^{176}x^{10} + g^{56}x^{9} + g^{209}x^{6} + g^{192}x^{5} + g^{4}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7804</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{132}x^{192} + g^{210}x^{160} + g^{80}x^{144} + g^{80}x^{136} + g^{34}x^{132} + g^{239}x^{130} + g^{230}x^{129} + x^{96} + g^{251}x^{80} + g^{85}x^{68} + g^{254}x^{66} + g^{232}x^{65} + g^{232}x^{48} + g^{166}x^{40} + g^{222}x^{36} + g^{74}x^{34} + g^{10}x^{33} + g^{52}x^{24} + g^{237}x^{20} + g^{109}x^{18} + g^{223}x^{17} + g^{225}x^{12} + g^{244}x^{10} + g^{30}x^{9} + g^{99}x^{6} + g^{142}x^{5} + g^{19}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7805</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{192} + g^{199}x^{160} + g^{81}x^{144} + g^{96}x^{136} + g^{130}x^{132} + g^{144}x^{130} + g^{159}x^{129} + g^{180}x^{96} + g^{230}x^{80} + g^{172}x^{72} + g^{67}x^{68} + g^{138}x^{66} + g^{16}x^{65} + g^{25}x^{48} + g^{86}x^{40} + g^{111}x^{36} + g^{235}x^{34} + g^{129}x^{33} + g^{180}x^{24} + g^{51}x^{20} + g^{36}x^{18} + g^{16}x^{17} + g^{197}x^{12} + g^{3}x^{10} + g^{219}x^{9} + g^{22}x^{6} + g^{88}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7806</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{36}x^{192} + x^{160} + g^{210}x^{144} + g^{118}x^{136} + g^{103}x^{132} + g^{43}x^{130} + g^{123}x^{129} + g^{178}x^{96} + g^{227}x^{80} + g^{45}x^{72} + g^{250}x^{68} + g^{203}x^{66} + g^{113}x^{65} + g^{182}x^{48} + g^{135}x^{40} + g^{200}x^{36} + g^{190}x^{34} + g^{249}x^{33} + g^{95}x^{24} + g^{166}x^{20} + g^{239}x^{18} + g^{111}x^{17} + g^{20}x^{12} + g^{228}x^{10} + g^{243}x^{9} + g^{148}x^{6} + g^{95}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7807</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{253}x^{192} + g^{229}x^{160} + g^{195}x^{144} + g^{43}x^{136} + g^{76}x^{132} + g^{218}x^{130} + g^{194}x^{129} + g^{222}x^{96} + g^{103}x^{80} + g^{138}x^{72} + g^{164}x^{68} + g^{179}x^{66} + g^{209}x^{65} + g^{144}x^{48} + g^{167}x^{40} + g^{113}x^{36} + g^{191}x^{34} + g^{88}x^{33} + g^{96}x^{24} + g^{238}x^{20} + g^{43}x^{18} + g^{181}x^{17} + g^{212}x^{12} + g^{144}x^{10} + g^{29}x^{9} + g^{31}x^{6} + g^{67}x^{5} + g^{197}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7808</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{192} + g^{202}x^{160} + g^{179}x^{144} + g^{171}x^{136} + g^{142}x^{132} + g^{177}x^{130} + g^{6}x^{129} + g^{38}x^{96} + g^{73}x^{80} + g^{32}x^{72} + g^{118}x^{68} + g^{97}x^{66} + g^{180}x^{65} + g^{7}x^{48} + g^{215}x^{40} + g^{161}x^{36} + g^{159}x^{34} + g^{60}x^{33} + g^{9}x^{24} + g^{239}x^{20} + g^{47}x^{18} + g^{21}x^{17} + g^{12}x^{12} + g^{16}x^{10} + g^{215}x^{9} + g^{31}x^{6} + g^{60}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7809</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{164}x^{192} + g^{185}x^{160} + g^{145}x^{144} + g^{148}x^{136} + g^{171}x^{132} + g^{121}x^{130} + g^{80}x^{129} + g^{67}x^{96} + g^{139}x^{80} + g^{184}x^{72} + g^{21}x^{68} + g^{43}x^{66} + g^{106}x^{65} + g^{84}x^{48} + g^{83}x^{40} + g^{203}x^{36} + g^{48}x^{34} + g^{109}x^{33} + g^{114}x^{24} + g^{177}x^{20} + g^{121}x^{18} + g^{89}x^{17} + g^{71}x^{12} + g^{224}x^{10} + g^{2}x^{9} + g^{157}x^{6} + g^{134}x^{5} + g^{43}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7810</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{182}x^{192} + g^{106}x^{160} + g^{2}x^{144} + g^{7}x^{136} + g^{97}x^{132} + g^{59}x^{130} + g^{95}x^{129} + g^{56}x^{96} + g^{158}x^{80} + gx^{72} + g^{28}x^{68} + g^{4}x^{66} + g^{75}x^{65} + g^{224}x^{48} + g^{97}x^{40} + g^{250}x^{36} + g^{184}x^{34} + g^{172}x^{33} + g^{252}x^{24} + g^{200}x^{20} + g^{3}x^{18} + g^{174}x^{17} + g^{19}x^{12} + g^{154}x^{10} + g^{179}x^{9} + g^{112}x^{6} + g^{129}x^{5} + g^{186}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7811</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{223}x^{160} + g^{176}x^{144} + g^{84}x^{136} + g^{28}x^{132} + g^{160}x^{130} + g^{9}x^{129} + g^{123}x^{96} + g^{119}x^{80} + g^{186}x^{72} + g^{8}x^{68} + g^{123}x^{66} + g^{212}x^{65} + g^{219}x^{48} + g^{6}x^{40} + g^{43}x^{36} + g^{235}x^{34} + g^{97}x^{33} + g^{134}x^{24} + g^{225}x^{20} + g^{183}x^{18} + g^{118}x^{17} + g^{38}x^{12} + g^{85}x^{10} + g^{222}x^{9} + x^{6} + g^{208}x^{5} + g^{144}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7812</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{76}x^{160} + g^{89}x^{144} + g^{49}x^{136} + g^{252}x^{132} + g^{242}x^{130} + g^{240}x^{129} + g^{248}x^{96} + g^{46}x^{80} + g^{145}x^{72} + g^{168}x^{68} + g^{188}x^{66} + g^{2}x^{65} + g^{238}x^{48} + g^{57}x^{40} + g^{66}x^{36} + g^{131}x^{34} + g^{213}x^{33} + g^{213}x^{24} + gx^{20} + g^{53}x^{18} + g^{92}x^{17} + g^{254}x^{12} + g^{68}x^{10} + g^{96}x^{9} + g^{191}x^{6} + g^{84}x^{5} + g^{201}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7813</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{27}x^{192} + g^{135}x^{160} + g^{111}x^{144} + g^{92}x^{136} + g^{32}x^{132} + g^{158}x^{130} + g^{237}x^{129} + g^{10}x^{96} + g^{93}x^{80} + g^{68}x^{72} + g^{40}x^{68} + g^{251}x^{66} + g^{103}x^{65} + g^{163}x^{48} + g^{73}x^{40} + g^{71}x^{36} + g^{12}x^{34} + g^{10}x^{33} + g^{34}x^{24} + g^{137}x^{20} + g^{80}x^{18} + g^{120}x^{17} + g^{184}x^{12} + g^{73}x^{10} + g^{79}x^{9} + g^{250}x^{6} + g^{175}x^{5} + g^{228}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7814</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{192} + g^{155}x^{160} + g^{28}x^{144} + g^{98}x^{136} + g^{115}x^{132} + g^{242}x^{130} + g^{68}x^{129} + g^{24}x^{96} + g^{184}x^{80} + g^{36}x^{72} + g^{247}x^{68} + g^{219}x^{66} + g^{156}x^{65} + g^{169}x^{48} + g^{189}x^{40} + g^{56}x^{36} + g^{83}x^{34} + g^{216}x^{33} + g^{12}x^{24} + g^{118}x^{20} + g^{234}x^{18} + g^{58}x^{17} + g^{212}x^{12} + g^{115}x^{10} + g^{18}x^{9} + g^{7}x^{6} + g^{37}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7815</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{242}x^{192} + g^{138}x^{160} + g^{47}x^{144} + g^{213}x^{136} + g^{106}x^{132} + g^{122}x^{130} + g^{2}x^{129} + g^{20}x^{96} + g^{229}x^{80} + g^{237}x^{72} + g^{12}x^{68} + g^{65}x^{66} + g^{250}x^{65} + g^{150}x^{48} + g^{88}x^{40} + g^{200}x^{36} + g^{235}x^{34} + g^{251}x^{33} + g^{72}x^{24} + g^{191}x^{20} + g^{217}x^{18} + g^{245}x^{17} + g^{73}x^{12} + g^{80}x^{10} + g^{190}x^{9} + g^{220}x^{6} + g^{129}x^{5} + g^{158}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7816</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{43}x^{160} + g^{17}x^{144} + g^{197}x^{136} + g^{224}x^{132} + g^{117}x^{130} + g^{45}x^{129} + g^{53}x^{96} + g^{165}x^{80} + g^{21}x^{72} + g^{72}x^{68} + g^{216}x^{66} + g^{138}x^{65} + g^{193}x^{48} + g^{73}x^{40} + g^{60}x^{36} + g^{64}x^{34} + g^{27}x^{33} + g^{126}x^{24} + g^{24}x^{20} + g^{231}x^{18} + g^{55}x^{17} + g^{34}x^{12} + g^{188}x^{10} + g^{102}x^{9} + g^{190}x^{6} + g^{55}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7817</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{82}x^{192} + g^{175}x^{160} + g^{58}x^{144} + g^{129}x^{136} + g^{19}x^{132} + g^{231}x^{130} + g^{45}x^{129} + g^{238}x^{96} + g^{169}x^{80} + g^{58}x^{72} + g^{75}x^{68} + g^{240}x^{66} + g^{223}x^{65} + g^{59}x^{48} + g^{18}x^{40} + g^{26}x^{36} + g^{251}x^{34} + g^{225}x^{33} + g^{77}x^{24} + g^{217}x^{20} + g^{170}x^{18} + g^{74}x^{17} + g^{161}x^{12} + g^{126}x^{10} + g^{65}x^{9} + g^{132}x^{6} + g^{25}x^{5} + g^{74}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7818</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{42}x^{192} + g^{218}x^{160} + g^{121}x^{144} + g^{102}x^{136} + g^{127}x^{132} + g^{158}x^{130} + g^{139}x^{129} + g^{204}x^{96} + g^{28}x^{80} + g^{237}x^{72} + g^{162}x^{68} + g^{3}x^{66} + g^{81}x^{65} + g^{145}x^{48} + g^{159}x^{40} + g^{143}x^{36} + g^{220}x^{34} + g^{52}x^{33} + g^{244}x^{24} + g^{67}x^{20} + g^{98}x^{18} + g^{245}x^{17} + g^{60}x^{12} + g^{12}x^{10} + g^{248}x^{9} + g^{104}x^{6} + g^{245}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7819</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{146}x^{160} + g^{14}x^{144} + g^{187}x^{136} + g^{175}x^{132} + g^{253}x^{130} + g^{197}x^{129} + g^{63}x^{96} + g^{181}x^{80} + g^{46}x^{72} + g^{137}x^{68} + g^{133}x^{66} + g^{238}x^{65} + g^{135}x^{48} + g^{178}x^{40} + g^{73}x^{36} + g^{188}x^{34} + g^{7}x^{33} + g^{47}x^{24} + g^{49}x^{20} + g^{107}x^{18} + g^{50}x^{17} + g^{245}x^{12} + g^{148}x^{10} + g^{24}x^{9} + g^{77}x^{6} + g^{140}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7820</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{193}x^{160} + g^{26}x^{144} + g^{158}x^{136} + g^{169}x^{132} + g^{249}x^{130} + g^{105}x^{129} + g^{139}x^{96} + g^{22}x^{80} + g^{87}x^{72} + g^{248}x^{68} + g^{225}x^{66} + g^{219}x^{65} + g^{242}x^{48} + g^{135}x^{40} + g^{141}x^{36} + g^{182}x^{34} + g^{165}x^{33} + g^{69}x^{24} + g^{69}x^{20} + g^{134}x^{18} + g^{32}x^{17} + g^{178}x^{12} + g^{17}x^{10} + g^{133}x^{9} + g^{11}x^{6} + g^{87}x^{5} + g^{199}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7821</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{169}x^{160} + g^{18}x^{144} + g^{174}x^{136} + g^{39}x^{132} + g^{142}x^{130} + g^{202}x^{129} + g^{140}x^{96} + g^{91}x^{80} + g^{204}x^{72} + g^{206}x^{68} + g^{177}x^{66} + g^{197}x^{65} + g^{37}x^{48} + g^{66}x^{40} + g^{36}x^{36} + g^{26}x^{34} + g^{246}x^{33} + g^{35}x^{24} + g^{128}x^{20} + g^{179}x^{18} + g^{41}x^{17} + g^{225}x^{12} + g^{190}x^{10} + g^{150}x^{9} + g^{168}x^{6} + g^{101}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7822</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{108}x^{192} + g^{129}x^{160} + g^{169}x^{144} + g^{90}x^{136} + g^{76}x^{132} + g^{161}x^{130} + g^{74}x^{129} + g^{241}x^{96} + g^{241}x^{80} + g^{129}x^{72} + g^{165}x^{68} + g^{133}x^{66} + g^{133}x^{65} + g^{20}x^{48} + g^{147}x^{40} + g^{95}x^{36} + g^{173}x^{34} + g^{2}x^{33} + g^{176}x^{24} + g^{170}x^{20} + g^{142}x^{18} + g^{241}x^{17} + g^{39}x^{12} + g^{52}x^{10} + g^{40}x^{9} + g^{252}x^{6} + g^{38}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7823</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{181}x^{192} + g^{103}x^{160} + g^{111}x^{144} + g^{150}x^{136} + g^{196}x^{132} + g^{23}x^{130} + g^{110}x^{129} + g^{183}x^{96} + g^{79}x^{80} + g^{199}x^{72} + g^{171}x^{68} + g^{115}x^{66} + g^{217}x^{65} + g^{134}x^{48} + g^{24}x^{40} + g^{243}x^{36} + g^{95}x^{34} + g^{150}x^{33} + g^{249}x^{24} + g^{214}x^{20} + g^{43}x^{18} + g^{112}x^{17} + g^{19}x^{12} + g^{194}x^{10} + g^{97}x^{9} + g^{107}x^{6} + g^{76}x^{5}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7824</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{133}x^{192} + g^{10}x^{160} + g^{108}x^{144} + g^{173}x^{136} + g^{126}x^{132} + g^{125}x^{130} + g^{124}x^{129} + g^{226}x^{96} + g^{108}x^{80} + g^{25}x^{72} + g^{152}x^{68} + g^{173}x^{66} + g^{222}x^{65} + g^{9}x^{48} + g^{43}x^{40} + g^{87}x^{36} + g^{252}x^{34} + g^{64}x^{33} + g^{19}x^{24} + g^{234}x^{20} + g^{101}x^{18} + g^{124}x^{17} + g^{147}x^{12} + g^{112}x^{10} + g^{93}x^{9} + g^{103}x^{6} + g^{252}x^{5} + g^{78}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7825</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{214}x^{192} + g^{204}x^{160} + g^{208}x^{144} + g^{125}x^{136} + g^{86}x^{132} + g^{4}x^{130} + g^{85}x^{129} + g^{146}x^{96} + g^{197}x^{80} + g^{63}x^{72} + g^{218}x^{68} + g^{176}x^{66} + g^{214}x^{65} + g^{134}x^{48} + g^{221}x^{40} + g^{139}x^{36} + g^{135}x^{34} + g^{37}x^{33} + g^{128}x^{24} + g^{44}x^{20} + g^{77}x^{18} + g^{235}x^{17} + g^{6}x^{12} + g^{11}x^{10} + g^{225}x^{9} + g^{69}x^{6} + g^{195}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7826</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{192} + g^{223}x^{160} + g^{130}x^{136} + g^{112}x^{132} + g^{103}x^{130} + g^{71}x^{129} + g^{184}x^{96} + g^{92}x^{80} + g^{33}x^{72} + g^{101}x^{68} + g^{57}x^{66} + g^{45}x^{65} + g^{196}x^{48} + g^{182}x^{40} + g^{80}x^{36} + g^{213}x^{34} + g^{172}x^{33} + g^{240}x^{20} + g^{141}x^{18} + g^{221}x^{17} + g^{31}x^{12} + g^{192}x^{10} + g^{212}x^{9} + g^{233}x^{6} + g^{13}x^{5} + g^{167}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7827</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{163}x^{160} + g^{58}x^{144} + g^{117}x^{136} + g^{159}x^{132} + g^{247}x^{130} + g^{2}x^{129} + g^{30}x^{96} + g^{241}x^{80} + g^{218}x^{72} + g^{16}x^{68} + g^{45}x^{66} + g^{79}x^{65} + g^{70}x^{48} + g^{71}x^{40} + g^{44}x^{36} + g^{118}x^{34} + g^{198}x^{33} + g^{78}x^{24} + g^{53}x^{20} + g^{250}x^{18} + g^{51}x^{17} + g^{190}x^{12} + g^{73}x^{10} + g^{94}x^{9} + g^{179}x^{6} + x^{5} + g^{231}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7828</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{160} + g^{132}x^{144} + g^{3}x^{136} + g^{173}x^{132} + g^{213}x^{130} + g^{57}x^{129} + g^{95}x^{96} + g^{53}x^{80} + g^{179}x^{72} + g^{191}x^{68} + g^{179}x^{66} + g^{70}x^{65} + g^{64}x^{48} + g^{82}x^{40} + g^{118}x^{36} + g^{240}x^{34} + g^{241}x^{33} + g^{182}x^{24} + g^{247}x^{20} + g^{32}x^{18} + g^{221}x^{17} + g^{98}x^{12} + g^{59}x^{10} + g^{209}x^{9} + g^{223}x^{6} + g^{127}x^{5} + g^{172}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7829</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{110}x^{192} + g^{176}x^{160} + g^{242}x^{144} + g^{34}x^{136} + g^{183}x^{132} + g^{195}x^{130} + g^{64}x^{129} + g^{253}x^{96} + g^{101}x^{80} + g^{8}x^{72} + g^{247}x^{68} + g^{83}x^{66} + g^{142}x^{65} + g^{253}x^{48} + g^{218}x^{40} + g^{34}x^{36} + g^{101}x^{34} + g^{114}x^{33} + g^{206}x^{24} + g^{98}x^{20} + g^{26}x^{18} + g^{96}x^{17} + g^{108}x^{12} + g^{84}x^{10} + g^{229}x^{9} + g^{206}x^{6} + g^{152}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7830</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{201}x^{192} + g^{187}x^{160} + g^{15}x^{144} + g^{98}x^{136} + g^{168}x^{132} + g^{241}x^{130} + g^{149}x^{129} + g^{174}x^{96} + g^{84}x^{80} + g^{229}x^{72} + g^{185}x^{68} + g^{182}x^{66} + g^{93}x^{65} + g^{53}x^{48} + g^{157}x^{40} + g^{136}x^{36} + g^{126}x^{34} + g^{132}x^{33} + g^{89}x^{24} + g^{134}x^{20} + g^{233}x^{18} + g^{20}x^{17} + g^{41}x^{12} + g^{230}x^{10} + g^{250}x^{9} + g^{38}x^{6} + g^{216}x^{5} + g^{82}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7831</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{76}x^{160} + g^{196}x^{144} + g^{17}x^{136} + g^{233}x^{132} + g^{59}x^{130} + g^{240}x^{129} + g^{199}x^{96} + g^{102}x^{80} + g^{112}x^{72} + g^{31}x^{68} + g^{160}x^{66} + g^{55}x^{65} + g^{232}x^{48} + g^{241}x^{40} + g^{67}x^{36} + g^{178}x^{34} + g^{106}x^{33} + g^{100}x^{24} + g^{192}x^{20} + g^{141}x^{18} + g^{81}x^{17} + g^{51}x^{12} + g^{9}x^{10} + g^{57}x^{9} + g^{113}x^{6} + g^{141}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7832</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + g^{248}x^{160} + g^{67}x^{144} + g^{143}x^{136} + g^{195}x^{132} + g^{205}x^{130} + g^{91}x^{129} + g^{207}x^{96} + g^{193}x^{80} + g^{163}x^{72} + g^{146}x^{68} + g^{83}x^{66} + g^{69}x^{65} + g^{122}x^{48} + g^{159}x^{40} + g^{140}x^{36} + g^{43}x^{34} + g^{129}x^{33} + g^{11}x^{24} + g^{233}x^{20} + g^{2}x^{18} + g^{108}x^{17} + g^{56}x^{12} + g^{233}x^{10} + g^{146}x^{9} + g^{105}x^{6} + g^{81}x^{5} + g^{232}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7833</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{245}x^{192} + g^{226}x^{160} + g^{208}x^{144} + g^{130}x^{136} + g^{47}x^{132} + g^{93}x^{130} + g^{162}x^{129} + g^{238}x^{96} + g^{107}x^{80} + g^{122}x^{72} + g^{220}x^{68} + g^{161}x^{66} + g^{50}x^{65} + g^{102}x^{48} + g^{24}x^{40} + g^{229}x^{36} + g^{53}x^{34} + g^{65}x^{33} + g^{178}x^{24} + g^{28}x^{20} + g^{205}x^{18} + g^{128}x^{17} + g^{110}x^{12} + g^{187}x^{10} + g^{150}x^{9} + g^{53}x^{6} + g^{234}x^{5} + g^{19}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7834</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{12}x^{192} + g^{38}x^{160} + g^{32}x^{144} + g^{23}x^{136} + g^{123}x^{132} + g^{116}x^{130} + g^{248}x^{129} + g^{232}x^{96} + g^{91}x^{80} + g^{9}x^{72} + g^{226}x^{68} + g^{204}x^{66} + g^{12}x^{65} + g^{93}x^{48} + g^{13}x^{40} + g^{235}x^{36} + g^{50}x^{34} + g^{104}x^{33} + g^{138}x^{24} + g^{193}x^{20} + g^{57}x^{18} + g^{33}x^{17} + g^{235}x^{12} + g^{111}x^{10} + g^{201}x^{9} + g^{142}x^{6} + g^{53}x^{5} + g^{65}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7835</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{170}x^{160} + g^{190}x^{144} + g^{68}x^{136} + g^{122}x^{132} + g^{72}x^{130} + g^{52}x^{129} + g^{234}x^{96} + g^{30}x^{80} + g^{134}x^{72} + g^{190}x^{68} + g^{69}x^{66} + g^{128}x^{65} + g^{208}x^{48} + g^{42}x^{40} + g^{43}x^{36} + g^{40}x^{34} + g^{211}x^{33} + g^{171}x^{24} + g^{246}x^{20} + g^{213}x^{18} + g^{169}x^{17} + g^{196}x^{12} + g^{45}x^{10} + gx^{9} + g^{176}x^{6} + g^{54}x^{5} + g^{119}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7836</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{120}x^{160} + g^{193}x^{144} + g^{104}x^{136} + g^{39}x^{132} + g^{115}x^{130} + g^{161}x^{129} + g^{15}x^{96} + g^{73}x^{80} + g^{163}x^{72} + g^{72}x^{68} + g^{242}x^{66} + g^{252}x^{65} + g^{101}x^{48} + g^{120}x^{40} + g^{195}x^{36} + g^{90}x^{34} + g^{45}x^{33} + g^{140}x^{24} + g^{13}x^{20} + g^{128}x^{18} + g^{132}x^{17} + g^{70}x^{12} + g^{199}x^{10} + g^{98}x^{9} + g^{28}x^{6} + g^{133}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7837</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{84}x^{192} + g^{152}x^{160} + g^{161}x^{144} + g^{219}x^{136} + g^{209}x^{132} + g^{11}x^{130} + g^{180}x^{129} + g^{46}x^{96} + g^{246}x^{80} + g^{136}x^{72} + g^{210}x^{68} + g^{203}x^{66} + g^{78}x^{65} + g^{99}x^{48} + g^{150}x^{40} + g^{39}x^{36} + g^{195}x^{34} + g^{83}x^{33} + g^{169}x^{24} + g^{187}x^{20} + g^{186}x^{18} + g^{130}x^{17} + g^{78}x^{12} + g^{123}x^{10} + g^{173}x^{9} + g^{41}x^{6} + g^{151}x^{5} + g^{146}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7838</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{188}x^{192} + g^{192}x^{160} + g^{69}x^{144} + g^{100}x^{136} + g^{139}x^{130} + g^{136}x^{129} + g^{201}x^{96} + g^{98}x^{80} + g^{77}x^{72} + g^{251}x^{68} + g^{120}x^{66} + g^{90}x^{65} + g^{98}x^{48} + g^{156}x^{40} + g^{11}x^{36} + g^{238}x^{34} + g^{175}x^{33} + g^{67}x^{24} + g^{117}x^{20} + g^{213}x^{18} + g^{149}x^{17} + g^{154}x^{12} + g^{230}x^{10} + g^{48}x^{9} + g^{118}x^{6} + g^{26}x^{5} + g^{120}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7839</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{95}x^{192} + g^{61}x^{160} + g^{151}x^{144} + g^{233}x^{136} + g^{5}x^{132} + g^{119}x^{130} + g^{137}x^{129} + g^{70}x^{96} + g^{161}x^{80} + g^{213}x^{72} + g^{8}x^{68} + g^{10}x^{66} + g^{143}x^{65} + g^{76}x^{48} + g^{180}x^{40} + g^{87}x^{36} + g^{53}x^{34} + g^{158}x^{33} + g^{91}x^{24} + g^{235}x^{20} + g^{81}x^{18} + g^{73}x^{17} + g^{171}x^{12} + g^{247}x^{10} + g^{52}x^{9} + g^{169}x^{6} + g^{158}x^{5} + g^{244}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7840</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{3}x^{192} + g^{7}x^{160} + g^{188}x^{144} + g^{139}x^{136} + g^{88}x^{132} + g^{46}x^{130} + g^{196}x^{129} + g^{11}x^{96} + g^{20}x^{80} + g^{108}x^{72} + g^{35}x^{68} + g^{39}x^{66} + g^{244}x^{65} + g^{91}x^{48} + g^{161}x^{40} + g^{93}x^{36} + g^{36}x^{34} + g^{92}x^{33} + g^{125}x^{24} + g^{94}x^{20} + g^{158}x^{18} + g^{233}x^{17} + g^{17}x^{12} + g^{120}x^{10} + g^{87}x^{9} + g^{175}x^{6} + g^{75}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7841</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{135}x^{192} + g^{231}x^{160} + g^{73}x^{144} + g^{79}x^{136} + g^{226}x^{132} + g^{47}x^{130} + g^{237}x^{129} + g^{40}x^{96} + g^{248}x^{80} + g^{50}x^{72} + g^{138}x^{68} + g^{210}x^{66} + g^{44}x^{65} + g^{180}x^{48} + g^{115}x^{40} + g^{172}x^{36} + g^{125}x^{34} + g^{116}x^{33} + g^{64}x^{24} + g^{240}x^{20} + g^{221}x^{18} + g^{65}x^{17} + g^{15}x^{12} + g^{167}x^{10} + g^{206}x^{9} + g^{33}x^{6} + g^{54}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7842</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{111}x^{160} + g^{151}x^{144} + g^{6}x^{136} + g^{14}x^{132} + g^{184}x^{130} + g^{215}x^{129} + g^{96}x^{96} + g^{172}x^{80} + g^{75}x^{72} + g^{202}x^{68} + g^{202}x^{66} + g^{74}x^{65} + g^{121}x^{48} + g^{57}x^{40} + g^{97}x^{36} + g^{114}x^{34} + g^{115}x^{33} + g^{7}x^{24} + g^{110}x^{20} + g^{40}x^{18} + g^{86}x^{17} + g^{161}x^{12} + g^{28}x^{10} + g^{153}x^{9} + g^{190}x^{6} + g^{145}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7843</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{18}x^{192} + g^{19}x^{160} + g^{164}x^{144} + g^{31}x^{136} + gx^{132} + g^{42}x^{130} + g^{191}x^{129} + g^{155}x^{96} + g^{20}x^{80} + g^{226}x^{72} + g^{155}x^{68} + g^{160}x^{66} + g^{191}x^{65} + g^{49}x^{48} + g^{108}x^{40} + g^{125}x^{36} + g^{238}x^{34} + g^{82}x^{33} + g^{139}x^{24} + g^{74}x^{20} + g^{106}x^{18} + g^{88}x^{17} + g^{167}x^{12} + g^{17}x^{10} + g^{145}x^{9} + g^{100}x^{6} + g^{170}x^{5} + g^{157}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7844</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{192} + g^{224}x^{160} + g^{179}x^{144} + g^{224}x^{136} + g^{51}x^{130} + g^{170}x^{129} + g^{253}x^{96} + g^{170}x^{80} + g^{193}x^{72} + g^{242}x^{68} + g^{133}x^{66} + g^{126}x^{65} + g^{179}x^{48} + g^{208}x^{40} + g^{253}x^{36} + g^{125}x^{34} + g^{217}x^{33} + g^{245}x^{24} + g^{103}x^{20} + g^{125}x^{18} + g^{10}x^{17} + g^{106}x^{12} + g^{84}x^{10} + g^{50}x^{9} + g^{193}x^{6} + g^{145}x^{5} + g^{246}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7845</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{43}x^{192} + g^{238}x^{160} + g^{144}x^{144} + g^{219}x^{136} + g^{26}x^{132} + g^{76}x^{130} + g^{240}x^{129} + g^{164}x^{80} + g^{45}x^{72} + g^{246}x^{68} + g^{206}x^{66} + g^{89}x^{65} + g^{250}x^{48} + g^{63}x^{40} + g^{3}x^{36} + g^{21}x^{34} + g^{118}x^{33} + g^{5}x^{24} + g^{38}x^{20} + g^{174}x^{18} + g^{224}x^{17} + g^{176}x^{12} + g^{129}x^{10} + g^{44}x^{9} + g^{173}x^{6} + g^{113}x^{5} + g^{166}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7846</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{59}x^{160} + g^{39}x^{144} + g^{109}x^{136} + g^{29}x^{132} + g^{217}x^{130} + g^{216}x^{129} + g^{142}x^{96} + g^{67}x^{80} + g^{69}x^{72} + g^{9}x^{68} + g^{207}x^{66} + g^{107}x^{65} + g^{176}x^{48} + g^{153}x^{40} + g^{121}x^{36} + g^{8}x^{34} + g^{172}x^{33} + g^{184}x^{24} + g^{195}x^{20} + g^{175}x^{18} + g^{113}x^{17} + g^{101}x^{12} + g^{140}x^{10} + g^{14}x^{9} + g^{80}x^{6} + g^{188}x^{5} + g^{159}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7847</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{192} + g^{74}x^{160} + g^{152}x^{144} + g^{35}x^{136} + g^{120}x^{132} + g^{253}x^{130} + g^{162}x^{129} + g^{59}x^{96} + g^{220}x^{80} + g^{211}x^{72} + g^{164}x^{68} + g^{76}x^{66} + g^{108}x^{65} + g^{49}x^{48} + g^{178}x^{40} + g^{206}x^{36} + g^{56}x^{34} + g^{241}x^{33} + g^{42}x^{24} + g^{12}x^{20} + g^{91}x^{18} + g^{130}x^{17} + g^{133}x^{12} + g^{141}x^{10} + g^{148}x^{9} + g^{7}x^{6} + gx^{5} + g^{218}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7848</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{214}x^{192} + g^{155}x^{160} + g^{235}x^{144} + g^{162}x^{136} + g^{241}x^{132} + g^{208}x^{130} + g^{130}x^{129} + g^{172}x^{96} + g^{50}x^{80} + g^{31}x^{72} + g^{230}x^{68} + g^{139}x^{66} + g^{194}x^{65} + g^{82}x^{48} + g^{99}x^{40} + g^{75}x^{36} + g^{174}x^{34} + g^{202}x^{33} + g^{137}x^{24} + g^{78}x^{20} + g^{87}x^{18} + g^{207}x^{17} + g^{77}x^{12} + g^{235}x^{10} + g^{19}x^{9} + g^{124}x^{6} + g^{189}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7849</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{192} + g^{166}x^{160} + g^{224}x^{144} + g^{235}x^{136} + g^{193}x^{132} + g^{248}x^{130} + g^{12}x^{129} + g^{151}x^{96} + g^{116}x^{80} + g^{4}x^{72} + g^{75}x^{68} + g^{60}x^{66} + g^{89}x^{65} + g^{187}x^{48} + g^{29}x^{40} + g^{106}x^{36} + g^{83}x^{34} + g^{159}x^{33} + g^{222}x^{24} + g^{59}x^{20} + g^{206}x^{18} + g^{170}x^{17} + g^{137}x^{12} + g^{49}x^{10} + g^{8}x^{9} + g^{84}x^{6} + g^{249}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7850</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{184}x^{192} + g^{198}x^{160} + g^{254}x^{144} + g^{233}x^{136} + g^{22}x^{132} + g^{152}x^{130} + g^{121}x^{129} + g^{87}x^{96} + g^{5}x^{80} + g^{47}x^{72} + g^{16}x^{68} + g^{36}x^{66} + g^{224}x^{65} + g^{240}x^{48} + g^{160}x^{40} + g^{50}x^{36} + g^{25}x^{34} + g^{90}x^{33} + g^{163}x^{24} + g^{216}x^{20} + g^{109}x^{18} + g^{54}x^{17} + g^{58}x^{12} + g^{117}x^{10} + g^{174}x^{9} + g^{238}x^{6} + g^{87}x^{5} + g^{198}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7851</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{230}x^{192} + g^{118}x^{160} + g^{77}x^{144} + g^{15}x^{136} + g^{186}x^{132} + g^{83}x^{130} + g^{244}x^{129} + g^{119}x^{96} + g^{205}x^{80} + g^{147}x^{72} + g^{218}x^{68} + g^{227}x^{66} + g^{136}x^{65} + g^{25}x^{48} + g^{3}x^{40} + g^{106}x^{36} + g^{215}x^{34} + g^{195}x^{33} + g^{48}x^{24} + g^{244}x^{20} + g^{225}x^{18} + g^{254}x^{17} + g^{86}x^{12} + g^{11}x^{10} + g^{205}x^{9} + g^{8}x^{6} + g^{223}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7852</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{131}x^{192} + g^{208}x^{160} + g^{171}x^{144} + g^{127}x^{136} + g^{77}x^{132} + g^{182}x^{130} + g^{175}x^{129} + g^{46}x^{96} + g^{46}x^{80} + g^{4}x^{72} + g^{177}x^{68} + g^{103}x^{66} + g^{185}x^{65} + g^{172}x^{48} + g^{75}x^{40} + g^{153}x^{36} + g^{16}x^{34} + g^{162}x^{33} + g^{23}x^{24} + g^{14}x^{20} + g^{254}x^{18} + g^{165}x^{17} + g^{227}x^{12} + g^{149}x^{10} + g^{2}x^{9} + g^{205}x^{6} + g^{166}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7853</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{107}x^{160} + g^{142}x^{144} + g^{194}x^{136} + g^{42}x^{132} + g^{169}x^{130} + g^{8}x^{129} + g^{177}x^{96} + g^{43}x^{80} + g^{244}x^{72} + g^{214}x^{68} + g^{198}x^{65} + g^{105}x^{48} + g^{203}x^{40} + g^{126}x^{36} + g^{253}x^{34} + g^{238}x^{33} + g^{34}x^{24} + g^{178}x^{20} + g^{224}x^{18} + g^{57}x^{17} + g^{17}x^{12} + g^{205}x^{10} + g^{188}x^{9} + g^{133}x^{6} + g^{204}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7854</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{239}x^{160} + g^{252}x^{144} + g^{49}x^{136} + g^{241}x^{132} + g^{7}x^{130} + g^{63}x^{129} + g^{132}x^{96} + g^{65}x^{80} + g^{229}x^{72} + g^{110}x^{68} + g^{211}x^{66} + g^{150}x^{65} + g^{97}x^{48} + g^{138}x^{40} + g^{91}x^{36} + g^{104}x^{34} + g^{199}x^{33} + g^{221}x^{24} + g^{118}x^{20} + g^{169}x^{18} + g^{193}x^{17} + g^{106}x^{12} + g^{233}x^{10} + g^{205}x^{9} + g^{199}x^{6} + g^{21}x^{5} + g^{109}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7855</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{231}x^{192} + g^{37}x^{160} + g^{144}x^{144} + g^{147}x^{136} + g^{224}x^{132} + g^{63}x^{130} + g^{155}x^{129} + g^{55}x^{96} + g^{236}x^{80} + g^{171}x^{72} + g^{187}x^{68} + g^{179}x^{66} + g^{87}x^{65} + g^{54}x^{48} + g^{104}x^{40} + g^{141}x^{36} + g^{217}x^{34} + g^{90}x^{33} + g^{210}x^{24} + g^{55}x^{20} + g^{26}x^{18} + g^{105}x^{17} + g^{72}x^{12} + g^{63}x^{10} + g^{71}x^{9} + g^{15}x^{6} + g^{145}x^{5} + g^{233}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7856</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{203}x^{192} + g^{213}x^{160} + g^{151}x^{144} + g^{33}x^{136} + g^{73}x^{132} + g^{165}x^{130} + g^{181}x^{129} + g^{48}x^{96} + g^{180}x^{80} + g^{159}x^{72} + g^{4}x^{68} + g^{238}x^{66} + g^{239}x^{65} + g^{190}x^{48} + g^{159}x^{40} + g^{45}x^{36} + g^{80}x^{34} + g^{120}x^{33} + g^{68}x^{24} + g^{8}x^{20} + g^{251}x^{18} + g^{55}x^{17} + g^{82}x^{12} + g^{209}x^{10} + g^{217}x^{9} + g^{36}x^{6} + g^{172}x^{5} + g^{181}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7857</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{178}x^{192} + g^{219}x^{160} + g^{19}x^{144} + g^{153}x^{136} + g^{56}x^{132} + g^{78}x^{130} + g^{27}x^{129} + g^{14}x^{96} + g^{201}x^{80} + g^{120}x^{72} + g^{214}x^{68} + g^{86}x^{66} + g^{221}x^{65} + g^{194}x^{48} + g^{71}x^{40} + g^{126}x^{36} + g^{226}x^{34} + g^{135}x^{33} + g^{206}x^{24} + g^{17}x^{20} + g^{141}x^{18} + g^{195}x^{17} + g^{39}x^{12} + g^{35}x^{10} + g^{212}x^{9} + g^{116}x^{6} + g^{124}x^{5} + g^{3}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7858</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{14}x^{192} + g^{156}x^{160} + g^{206}x^{144} + g^{80}x^{136} + g^{45}x^{132} + g^{252}x^{130} + g^{167}x^{129} + g^{254}x^{96} + g^{44}x^{80} + g^{177}x^{72} + g^{119}x^{68} + g^{19}x^{66} + g^{249}x^{65} + g^{139}x^{48} + g^{161}x^{40} + g^{88}x^{36} + g^{245}x^{34} + g^{143}x^{33} + g^{251}x^{24} + g^{33}x^{20} + g^{169}x^{18} + g^{134}x^{17} + g^{23}x^{12} + g^{28}x^{10} + g^{87}x^{9} + g^{160}x^{6} + g^{50}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7859</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{230}x^{160} + g^{122}x^{144} + g^{55}x^{136} + g^{54}x^{132} + g^{230}x^{130} + g^{7}x^{129} + g^{233}x^{96} + g^{72}x^{80} + g^{183}x^{72} + g^{183}x^{68} + g^{127}x^{66} + g^{77}x^{65} + g^{125}x^{48} + g^{16}x^{40} + g^{145}x^{36} + g^{215}x^{34} + g^{242}x^{33} + g^{56}x^{24} + g^{190}x^{20} + g^{199}x^{18} + g^{40}x^{17} + g^{95}x^{12} + g^{241}x^{10} + g^{238}x^{9} + g^{218}x^{6} + g^{205}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7860</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{37}x^{160} + g^{234}x^{144} + g^{152}x^{136} + g^{166}x^{132} + g^{166}x^{130} + g^{52}x^{129} + g^{196}x^{96} + g^{158}x^{80} + g^{219}x^{72} + g^{173}x^{68} + g^{82}x^{66} + g^{131}x^{65} + g^{218}x^{48} + g^{251}x^{40} + g^{59}x^{36} + g^{90}x^{34} + g^{157}x^{33} + g^{132}x^{24} + g^{69}x^{18} + g^{70}x^{17} + g^{129}x^{12} + g^{123}x^{10} + g^{253}x^{9} + g^{120}x^{6} + g^{53}x^{5} + g^{225}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7861</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{77}x^{192} + g^{233}x^{160} + g^{87}x^{144} + g^{189}x^{136} + g^{118}x^{132} + g^{166}x^{130} + g^{147}x^{129} + g^{120}x^{96} + g^{163}x^{80} + g^{211}x^{72} + g^{107}x^{68} + g^{216}x^{66} + g^{188}x^{65} + g^{36}x^{48} + g^{246}x^{40} + g^{171}x^{36} + g^{219}x^{34} + g^{251}x^{33} + g^{150}x^{24} + g^{134}x^{20} + g^{118}x^{18} + g^{51}x^{17} + g^{87}x^{12} + g^{53}x^{10} + g^{23}x^{9} + g^{107}x^{6} + g^{106}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7862</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{79}x^{192} + g^{123}x^{160} + g^{53}x^{144} + g^{44}x^{136} + g^{218}x^{132} + g^{206}x^{130} + g^{185}x^{129} + g^{177}x^{96} + g^{152}x^{80} + g^{124}x^{72} + g^{101}x^{68} + g^{198}x^{66} + g^{100}x^{65} + g^{90}x^{48} + g^{100}x^{40} + g^{167}x^{36} + g^{254}x^{34} + g^{145}x^{33} + g^{27}x^{24} + g^{225}x^{20} + g^{71}x^{18} + g^{190}x^{17} + g^{251}x^{12} + g^{104}x^{10} + g^{149}x^{9} + g^{40}x^{6} + g^{183}x^{5} + g^{47}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7863</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{48}x^{192} + g^{241}x^{160} + g^{8}x^{144} + g^{178}x^{136} + g^{89}x^{132} + g^{122}x^{130} + g^{140}x^{129} + g^{155}x^{96} + g^{196}x^{80} + g^{200}x^{72} + g^{254}x^{68} + g^{221}x^{66} + g^{9}x^{65} + g^{225}x^{48} + g^{240}x^{40} + g^{247}x^{36} + g^{205}x^{34} + g^{177}x^{33} + g^{63}x^{24} + g^{45}x^{20} + g^{164}x^{18} + g^{214}x^{17} + g^{202}x^{12} + g^{29}x^{10} + g^{159}x^{9} + g^{240}x^{6} + g^{23}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7864</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{109}x^{192} + g^{249}x^{160} + g^{8}x^{144} + g^{22}x^{136} + g^{82}x^{132} + g^{114}x^{130} + g^{22}x^{129} + g^{238}x^{96} + g^{12}x^{80} + g^{50}x^{72} + g^{90}x^{68} + g^{39}x^{66} + g^{27}x^{65} + g^{89}x^{48} + g^{53}x^{40} + g^{243}x^{36} + g^{97}x^{34} + g^{123}x^{33} + g^{132}x^{24} + g^{114}x^{20} + g^{59}x^{18} + g^{167}x^{17} + g^{196}x^{12} + g^{46}x^{10} + g^{92}x^{9} + g^{123}x^{6} + g^{186}x^{5} + g^{189}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7865</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{252}x^{192} + g^{161}x^{160} + g^{77}x^{144} + g^{214}x^{136} + g^{130}x^{132} + g^{206}x^{130} + g^{225}x^{129} + g^{144}x^{96} + g^{241}x^{80} + g^{81}x^{72} + g^{246}x^{68} + g^{195}x^{66} + g^{131}x^{65} + g^{104}x^{48} + g^{95}x^{40} + g^{174}x^{36} + g^{150}x^{34} + g^{54}x^{33} + g^{234}x^{24} + g^{226}x^{20} + g^{53}x^{18} + g^{126}x^{17} + g^{246}x^{12} + g^{227}x^{10} + g^{35}x^{9} + g^{147}x^{6} + g^{225}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7866</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{140}x^{192} + g^{233}x^{160} + g^{150}x^{144} + g^{146}x^{136} + g^{99}x^{132} + g^{249}x^{130} + g^{211}x^{129} + g^{66}x^{96} + g^{37}x^{80} + g^{35}x^{72} + g^{199}x^{68} + g^{170}x^{66} + g^{2}x^{65} + g^{217}x^{48} + g^{2}x^{40} + g^{192}x^{36} + g^{32}x^{34} + g^{229}x^{33} + g^{241}x^{24} + g^{200}x^{20} + g^{63}x^{18} + g^{17}x^{17} + g^{251}x^{12} + g^{44}x^{10} + g^{106}x^{9} + g^{25}x^{6} + g^{174}x^{5} + g^{127}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7867</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{202}x^{192} + g^{189}x^{160} + g^{117}x^{144} + g^{137}x^{136} + g^{35}x^{132} + g^{14}x^{130} + g^{88}x^{129} + g^{177}x^{96} + g^{102}x^{80} + g^{79}x^{72} + g^{105}x^{68} + g^{214}x^{66} + g^{20}x^{65} + g^{108}x^{48} + g^{156}x^{40} + g^{211}x^{36} + g^{58}x^{34} + g^{6}x^{33} + g^{55}x^{24} + g^{197}x^{20} + g^{228}x^{18} + g^{13}x^{17} + g^{44}x^{12} + g^{181}x^{10} + g^{8}x^{9} + g^{82}x^{6} + g^{176}x^{5} + g^{174}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7868</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{160}x^{192} + g^{89}x^{160} + g^{149}x^{144} + g^{48}x^{136} + g^{34}x^{132} + g^{8}x^{130} + g^{225}x^{129} + g^{116}x^{96} + g^{198}x^{80} + g^{174}x^{72} + g^{19}x^{68} + g^{31}x^{66} + g^{69}x^{65} + g^{168}x^{48} + g^{14}x^{40} + g^{234}x^{36} + g^{222}x^{34} + g^{237}x^{33} + g^{77}x^{24} + g^{65}x^{20} + g^{37}x^{18} + g^{135}x^{17} + g^{184}x^{12} + g^{164}x^{10} + g^{51}x^{9} + g^{109}x^{6} + g^{35}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7869</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{216}x^{192} + g^{167}x^{160} + g^{204}x^{144} + g^{70}x^{136} + g^{222}x^{132} + g^{98}x^{130} + g^{136}x^{129} + g^{128}x^{96} + g^{57}x^{80} + g^{38}x^{72} + g^{20}x^{68} + g^{10}x^{66} + g^{98}x^{65} + g^{172}x^{48} + g^{252}x^{40} + g^{71}x^{36} + g^{204}x^{34} + g^{205}x^{33} + g^{68}x^{24} + g^{80}x^{20} + g^{71}x^{18} + g^{7}x^{17} + g^{81}x^{12} + g^{143}x^{10} + g^{205}x^{9} + g^{149}x^{6} + g^{30}x^{5} + g^{221}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7870</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{249}x^{192} + g^{4}x^{160} + g^{29}x^{144} + g^{66}x^{136} + g^{92}x^{132} + g^{168}x^{130} + g^{48}x^{129} + g^{42}x^{96} + g^{166}x^{80} + g^{163}x^{72} + g^{115}x^{68} + g^{145}x^{66} + g^{25}x^{65} + g^{120}x^{48} + g^{233}x^{40} + g^{86}x^{36} + g^{94}x^{34} + g^{154}x^{33} + g^{192}x^{24} + g^{197}x^{20} + g^{127}x^{18} + g^{87}x^{17} + g^{96}x^{12} + g^{251}x^{10} + g^{85}x^{9} + g^{160}x^{6} + g^{89}x^{5} + g^{236}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7871</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{248}x^{192} + g^{233}x^{160} + g^{10}x^{144} + g^{90}x^{136} + g^{156}x^{132} + g^{159}x^{130} + g^{89}x^{129} + g^{210}x^{96} + g^{125}x^{80} + g^{107}x^{72} + g^{112}x^{68} + g^{205}x^{66} + g^{157}x^{65} + g^{212}x^{48} + g^{204}x^{40} + g^{30}x^{36} + g^{84}x^{34} + g^{178}x^{33} + g^{241}x^{24} + g^{61}x^{20} + g^{241}x^{18} + g^{178}x^{17} + g^{237}x^{12} + g^{159}x^{10} + g^{167}x^{9} + g^{85}x^{6} + g^{138}x^{5} + g^{103}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7872</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{113}x^{160} + g^{24}x^{144} + g^{254}x^{136} + g^{137}x^{132} + g^{153}x^{130} + g^{174}x^{129} + g^{34}x^{96} + g^{252}x^{80} + g^{171}x^{72} + g^{224}x^{68} + g^{9}x^{66} + g^{47}x^{65} + g^{12}x^{48} + g^{204}x^{40} + g^{132}x^{36} + g^{239}x^{34} + g^{182}x^{33} + g^{143}x^{24} + g^{205}x^{20} + g^{188}x^{18} + g^{170}x^{17} + g^{40}x^{12} + g^{53}x^{10} + g^{197}x^{9} + g^{86}x^{6} + g^{21}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7873</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{99}x^{160} + g^{185}x^{144} + g^{240}x^{136} + g^{204}x^{132} + g^{151}x^{130} + g^{183}x^{129} + g^{186}x^{96} + g^{70}x^{80} + g^{235}x^{72} + g^{7}x^{68} + g^{49}x^{66} + g^{226}x^{65} + g^{193}x^{48} + g^{103}x^{40} + g^{20}x^{36} + g^{4}x^{34} + g^{210}x^{33} + g^{60}x^{24} + g^{168}x^{20} + g^{76}x^{18} + g^{106}x^{17} + g^{68}x^{12} + g^{85}x^{10} + g^{90}x^{9} + g^{100}x^{6} + g^{156}x^{5} + g^{8}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7874</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{192} + g^{185}x^{160} + g^{199}x^{144} + g^{133}x^{136} + g^{172}x^{132} + g^{55}x^{130} + g^{105}x^{129} + g^{221}x^{96} + g^{149}x^{80} + g^{60}x^{72} + g^{224}x^{68} + g^{218}x^{66} + g^{64}x^{65} + g^{13}x^{48} + g^{30}x^{40} + g^{204}x^{36} + g^{174}x^{34} + g^{80}x^{33} + g^{10}x^{24} + g^{198}x^{20} + g^{240}x^{18} + g^{132}x^{17} + g^{92}x^{12} + g^{38}x^{10} + g^{17}x^{9} + g^{192}x^{6} + g^{27}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7875</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{148}x^{192} + g^{53}x^{160} + g^{185}x^{144} + g^{177}x^{136} + g^{88}x^{132} + g^{172}x^{130} + g^{203}x^{129} + g^{172}x^{96} + g^{184}x^{80} + g^{128}x^{72} + g^{57}x^{68} + g^{82}x^{66} + g^{227}x^{65} + g^{10}x^{48} + g^{54}x^{40} + g^{45}x^{36} + g^{203}x^{34} + g^{236}x^{33} + g^{146}x^{24} + g^{223}x^{20} + g^{82}x^{18} + g^{215}x^{17} + g^{102}x^{12} + g^{224}x^{10} + g^{113}x^{9} + g^{21}x^{6} + g^{80}x^{5} + g^{209}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7876</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{254}x^{192} + g^{66}x^{160} + g^{85}x^{144} + g^{151}x^{136} + g^{200}x^{132} + g^{171}x^{130} + g^{203}x^{129} + g^{232}x^{96} + g^{203}x^{80} + g^{32}x^{72} + g^{147}x^{68} + g^{240}x^{66} + g^{165}x^{65} + g^{57}x^{48} + g^{235}x^{40} + g^{198}x^{36} + g^{36}x^{34} + g^{135}x^{33} + g^{119}x^{24} + g^{111}x^{20} + g^{62}x^{18} + g^{32}x^{17} + g^{126}x^{12} + g^{142}x^{10} + g^{56}x^{9} + g^{26}x^{6} + g^{130}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7877</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{123}x^{192} + g^{99}x^{160} + g^{192}x^{144} + g^{72}x^{136} + g^{229}x^{132} + g^{28}x^{130} + g^{51}x^{129} + g^{130}x^{96} + g^{144}x^{80} + g^{195}x^{72} + g^{222}x^{68} + g^{73}x^{66} + g^{74}x^{65} + g^{3}x^{48} + g^{198}x^{40} + g^{120}x^{36} + g^{195}x^{34} + g^{209}x^{33} + g^{107}x^{24} + g^{185}x^{20} + g^{158}x^{18} + g^{14}x^{17} + g^{76}x^{12} + g^{17}x^{10} + g^{12}x^{9} + g^{189}x^{6} + g^{187}x^{5} + g^{59}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7878</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{51}x^{160} + g^{76}x^{144} + g^{32}x^{136} + g^{63}x^{132} + g^{120}x^{130} + g^{137}x^{129} + g^{84}x^{96} + g^{228}x^{80} + g^{230}x^{72} + g^{165}x^{68} + g^{9}x^{66} + g^{81}x^{65} + g^{182}x^{48} + g^{74}x^{40} + g^{60}x^{36} + g^{87}x^{34} + g^{104}x^{33} + g^{107}x^{24} + g^{146}x^{20} + g^{65}x^{18} + g^{184}x^{17} + g^{10}x^{12} + g^{125}x^{10} + g^{38}x^{9} + g^{44}x^{6} + g^{55}x^{5} + g^{44}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7879</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{199}x^{160} + g^{160}x^{144} + g^{189}x^{136} + g^{139}x^{132} + g^{239}x^{130} + g^{173}x^{129} + g^{9}x^{96} + g^{207}x^{80} + g^{161}x^{72} + g^{68}x^{68} + g^{193}x^{66} + g^{8}x^{65} + g^{244}x^{48} + g^{235}x^{40} + g^{46}x^{36} + g^{45}x^{34} + g^{45}x^{33} + g^{174}x^{24} + g^{51}x^{20} + g^{46}x^{18} + g^{9}x^{17} + g^{150}x^{12} + g^{203}x^{10} + g^{149}x^{9} + g^{219}x^{6} + g^{237}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7880</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{138}x^{160} + g^{107}x^{144} + g^{64}x^{136} + g^{36}x^{132} + g^{238}x^{130} + g^{142}x^{129} + g^{205}x^{96} + g^{81}x^{80} + g^{14}x^{72} + g^{128}x^{68} + g^{105}x^{66} + g^{182}x^{65} + g^{212}x^{48} + g^{57}x^{40} + g^{158}x^{36} + g^{231}x^{34} + g^{99}x^{33} + g^{76}x^{24} + g^{153}x^{20} + g^{61}x^{18} + g^{185}x^{17} + g^{83}x^{12} + g^{243}x^{10} + g^{93}x^{9} + g^{72}x^{6} + g^{203}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7881</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{60}x^{192} + g^{171}x^{160} + g^{74}x^{144} + g^{9}x^{136} + g^{109}x^{132} + g^{118}x^{130} + g^{162}x^{129} + g^{35}x^{96} + g^{74}x^{80} + gx^{72} + g^{25}x^{68} + g^{238}x^{66} + g^{90}x^{65} + g^{20}x^{48} + g^{169}x^{40} + g^{205}x^{36} + g^{40}x^{34} + g^{10}x^{33} + g^{68}x^{24} + g^{118}x^{20} + g^{187}x^{18} + g^{147}x^{17} + g^{46}x^{12} + g^{174}x^{10} + g^{55}x^{9} + g^{142}x^{6} + g^{232}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7882</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{197}x^{192} + g^{52}x^{160} + g^{229}x^{144} + g^{209}x^{136} + g^{204}x^{132} + g^{212}x^{129} + g^{90}x^{96} + g^{132}x^{80} + g^{46}x^{72} + g^{147}x^{68} + g^{113}x^{66} + g^{127}x^{65} + g^{237}x^{48} + g^{132}x^{40} + g^{63}x^{36} + g^{202}x^{34} + g^{172}x^{33} + g^{128}x^{24} + g^{32}x^{20} + g^{192}x^{18} + g^{76}x^{17} + g^{181}x^{12} + g^{71}x^{10} + g^{164}x^{9} + g^{51}x^{6} + g^{47}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7883</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{3}x^{192} + g^{27}x^{160} + g^{140}x^{144} + g^{81}x^{136} + g^{91}x^{132} + g^{115}x^{130} + g^{54}x^{129} + g^{214}x^{96} + g^{129}x^{80} + g^{228}x^{72} + g^{35}x^{68} + g^{77}x^{66} + g^{149}x^{65} + g^{115}x^{48} + g^{234}x^{40} + g^{10}x^{36} + g^{190}x^{34} + g^{17}x^{33} + g^{243}x^{24} + g^{178}x^{20} + g^{118}x^{18} + g^{198}x^{17} + g^{208}x^{12} + g^{126}x^{10} + g^{96}x^{9} + g^{70}x^{6} + g^{239}x^{5} + g^{136}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7884</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{192} + g^{204}x^{160} + g^{27}x^{144} + g^{11}x^{136} + g^{21}x^{132} + g^{219}x^{130} + g^{89}x^{129} + g^{56}x^{96} + g^{231}x^{80} + g^{79}x^{72} + g^{212}x^{68} + g^{77}x^{66} + g^{149}x^{65} + g^{48}x^{48} + g^{37}x^{40} + g^{71}x^{36} + g^{205}x^{34} + g^{146}x^{33} + g^{182}x^{24} + g^{86}x^{20} + g^{188}x^{18} + g^{86}x^{17} + g^{238}x^{12} + g^{2}x^{10} + g^{156}x^{9} + g^{15}x^{6} + g^{92}x^{5} + g^{82}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7885</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{28}x^{160} + g^{120}x^{144} + g^{69}x^{136} + g^{185}x^{132} + g^{135}x^{130} + g^{126}x^{129} + g^{33}x^{96} + g^{220}x^{80} + g^{29}x^{72} + g^{119}x^{68} + g^{189}x^{66} + g^{147}x^{65} + g^{59}x^{48} + g^{87}x^{40} + g^{33}x^{36} + g^{204}x^{34} + g^{88}x^{33} + g^{118}x^{24} + g^{30}x^{20} + g^{156}x^{18} + g^{36}x^{17} + g^{12}x^{12} + g^{15}x^{10} + g^{145}x^{9} + g^{41}x^{6} + g^{27}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7886</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{122}x^{160} + g^{221}x^{144} + g^{73}x^{136} + g^{44}x^{132} + g^{218}x^{130} + g^{90}x^{129} + g^{43}x^{96} + g^{239}x^{80} + g^{151}x^{72} + g^{84}x^{68} + g^{170}x^{66} + g^{125}x^{65} + g^{173}x^{48} + g^{19}x^{40} + g^{130}x^{36} + g^{254}x^{34} + g^{31}x^{33} + g^{74}x^{24} + g^{70}x^{20} + g^{17}x^{18} + g^{20}x^{17} + g^{28}x^{12} + g^{106}x^{10} + g^{18}x^{9} + g^{82}x^{6} + g^{193}x^{5} + g^{78}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7887</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{220}x^{192} + g^{133}x^{160} + g^{3}x^{144} + g^{172}x^{136} + g^{254}x^{132} + g^{52}x^{130} + g^{190}x^{129} + g^{212}x^{96} + g^{148}x^{80} + g^{206}x^{72} + g^{156}x^{68} + g^{31}x^{66} + g^{66}x^{65} + g^{48}x^{48} + g^{183}x^{40} + g^{195}x^{36} + g^{69}x^{34} + g^{188}x^{33} + g^{241}x^{24} + g^{27}x^{20} + g^{62}x^{18} + g^{52}x^{17} + g^{240}x^{12} + g^{177}x^{10} + g^{192}x^{9} + g^{144}x^{6} + g^{27}x^{5} + g^{18}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7888</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{74}x^{192} + g^{10}x^{160} + g^{49}x^{144} + g^{119}x^{136} + g^{166}x^{132} + g^{199}x^{130} + g^{242}x^{129} + g^{228}x^{96} + g^{18}x^{80} + g^{191}x^{72} + g^{67}x^{68} + g^{81}x^{66} + g^{60}x^{65} + g^{161}x^{48} + g^{213}x^{40} + g^{173}x^{36} + g^{174}x^{34} + g^{52}x^{33} + g^{230}x^{24} + g^{248}x^{20} + g^{102}x^{18} + g^{35}x^{17} + g^{104}x^{12} + g^{67}x^{10} + g^{107}x^{9} + g^{121}x^{6} + g^{58}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7889</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{46}x^{192} + g^{64}x^{160} + g^{103}x^{144} + g^{176}x^{136} + g^{194}x^{132} + g^{50}x^{130} + g^{155}x^{129} + g^{51}x^{96} + g^{147}x^{80} + g^{11}x^{72} + g^{253}x^{68} + g^{56}x^{66} + g^{36}x^{65} + g^{125}x^{48} + g^{28}x^{40} + g^{200}x^{36} + g^{133}x^{34} + g^{136}x^{33} + g^{201}x^{24} + g^{182}x^{20} + g^{142}x^{18} + g^{125}x^{17} + g^{169}x^{12} + g^{221}x^{10} + g^{50}x^{9} + g^{60}x^{6} + g^{96}x^{5} + g^{75}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7890</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{153}x^{192} + g^{147}x^{160} + g^{168}x^{144} + g^{57}x^{136} + g^{220}x^{132} + g^{4}x^{130} + g^{187}x^{129} + g^{200}x^{96} + g^{176}x^{80} + g^{5}x^{72} + g^{157}x^{68} + g^{144}x^{66} + g^{30}x^{65} + g^{235}x^{48} + g^{170}x^{40} + g^{195}x^{36} + g^{104}x^{34} + g^{141}x^{33} + g^{46}x^{24} + g^{71}x^{20} + g^{174}x^{18} + g^{180}x^{17} + g^{157}x^{12} + g^{200}x^{10} + g^{133}x^{9} + g^{236}x^{6} + g^{4}x^{5} + g^{219}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7891</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{192} + g^{132}x^{160} + g^{145}x^{144} + g^{159}x^{136} + g^{44}x^{132} + g^{236}x^{130} + g^{178}x^{129} + g^{190}x^{96} + g^{240}x^{80} + g^{149}x^{72} + g^{119}x^{68} + g^{68}x^{66} + g^{207}x^{65} + g^{136}x^{48} + g^{126}x^{40} + g^{72}x^{36} + g^{183}x^{34} + g^{240}x^{33} + g^{179}x^{24} + g^{110}x^{20} + g^{29}x^{18} + g^{93}x^{17} + g^{175}x^{12} + g^{112}x^{10} + g^{40}x^{9} + g^{8}x^{6} + g^{161}x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7892</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{195}x^{192} + g^{232}x^{160} + g^{43}x^{144} + g^{126}x^{136} + g^{140}x^{132} + g^{14}x^{130} + g^{218}x^{129} + g^{187}x^{96} + g^{248}x^{80} + g^{15}x^{72} + g^{243}x^{68} + g^{46}x^{66} + g^{229}x^{65} + g^{137}x^{48} + g^{149}x^{40} + g^{57}x^{36} + g^{227}x^{34} + g^{152}x^{33} + g^{8}x^{24} + g^{219}x^{20} + g^{147}x^{18} + g^{130}x^{17} + g^{76}x^{12} + g^{212}x^{10} + g^{146}x^{9} + g^{77}x^{6} + g^{4}x^{5} + g^{207}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7893</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{192} + g^{179}x^{160} + g^{99}x^{144} + g^{83}x^{136} + g^{153}x^{132} + g^{57}x^{130} + g^{207}x^{129} + g^{48}x^{96} + g^{33}x^{80} + g^{245}x^{72} + g^{56}x^{68} + g^{166}x^{66} + g^{31}x^{65} + g^{160}x^{48} + g^{94}x^{40} + g^{246}x^{36} + g^{2}x^{34} + g^{103}x^{33} + g^{172}x^{24} + g^{133}x^{20} + g^{240}x^{18} + g^{99}x^{17} + g^{221}x^{12} + g^{172}x^{10} + g^{58}x^{9} + g^{52}x^{6} + g^{54}x^{5} + g^{227}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7894</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{192} + g^{124}x^{160} + g^{152}x^{144} + g^{207}x^{136} + g^{74}x^{132} + g^{185}x^{130} + g^{46}x^{129} + g^{45}x^{96} + g^{42}x^{80} + g^{11}x^{72} + g^{67}x^{68} + g^{232}x^{66} + g^{220}x^{65} + g^{124}x^{48} + g^{156}x^{40} + g^{25}x^{36} + g^{45}x^{34} + g^{43}x^{33} + gx^{24} + g^{72}x^{20} + g^{52}x^{18} + g^{243}x^{17} + g^{201}x^{12} + g^{94}x^{10} + g^{244}x^{9} + g^{149}x^{6} + g^{67}x^{5} + g^{197}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7895</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{244}x^{192} + g^{55}x^{160} + g^{139}x^{144} + g^{121}x^{136} + g^{73}x^{132} + g^{40}x^{130} + g^{13}x^{129} + g^{28}x^{96} + g^{20}x^{80} + g^{91}x^{72} + g^{35}x^{68} + g^{53}x^{66} + g^{198}x^{65} + g^{19}x^{48} + g^{32}x^{40} + g^{4}x^{36} + g^{159}x^{34} + g^{44}x^{33} + g^{13}x^{24} + g^{242}x^{20} + g^{144}x^{18} + g^{153}x^{17} + g^{230}x^{12} + g^{123}x^{10} + g^{108}x^{9} + g^{198}x^{6} + g^{219}x^{5} + g^{93}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7896</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{192}x^{192} + g^{129}x^{160} + g^{253}x^{144} + g^{246}x^{136} + g^{56}x^{132} + g^{30}x^{130} + g^{4}x^{129} + g^{58}x^{96} + g^{215}x^{80} + g^{54}x^{72} + g^{30}x^{68} + g^{60}x^{66} + g^{209}x^{65} + g^{67}x^{48} + g^{35}x^{40} + g^{238}x^{36} + g^{16}x^{34} + g^{57}x^{33} + g^{65}x^{24} + g^{119}x^{20} + g^{39}x^{18} + gx^{17} + g^{51}x^{12} + g^{161}x^{10} + g^{147}x^{9} + g^{176}x^{6} + g^{14}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7897</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{36}x^{192} + g^{238}x^{160} + g^{252}x^{144} + g^{247}x^{136} + g^{160}x^{132} + g^{234}x^{130} + g^{221}x^{129} + g^{230}x^{96} + g^{201}x^{80} + g^{218}x^{72} + g^{220}x^{68} + g^{179}x^{66} + g^{61}x^{65} + g^{169}x^{48} + g^{35}x^{40} + g^{22}x^{36} + g^{194}x^{34} + g^{245}x^{33} + g^{197}x^{24} + g^{103}x^{20} + g^{232}x^{18} + g^{187}x^{17} + g^{137}x^{12} + g^{25}x^{10} + g^{52}x^{9} + g^{231}x^{6} + g^{212}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7898</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{252}x^{192} + g^{101}x^{160} + g^{223}x^{144} + g^{197}x^{136} + g^{141}x^{132} + g^{213}x^{130} + g^{67}x^{129} + g^{237}x^{96} + g^{39}x^{80} + g^{192}x^{72} + g^{96}x^{68} + g^{239}x^{66} + g^{221}x^{65} + g^{146}x^{48} + g^{185}x^{40} + g^{171}x^{36} + g^{184}x^{34} + g^{111}x^{33} + g^{165}x^{24} + g^{32}x^{20} + g^{120}x^{18} + g^{45}x^{17} + g^{48}x^{12} + g^{110}x^{10} + g^{22}x^{9} + g^{140}x^{6} + g^{83}x^{5} + g^{243}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>7899</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{192} + g^{143}x^{160} + g^{74}x^{144} + g^{57}x^{136} + g^{155}x^{132} + g^{109}x^{130} + g^{97}x^{129} + g^{239}x^{96} + g^{178}x^{80} + g^{149}x^{72} + g^{236}x^{68} + g^{192}x^{66} + g^{127}x^{65} + g^{88}x^{48} + g^{242}x^{40} + g^{88}x^{36} + g^{161}x^{34} + g^{14}x^{33} + g^{72}x^{24} + g^{71}x^{20} + g^{243}x^{18} + g^{171}x^{17} + g^{57}x^{12} + g^{26}x^{10} + g^{49}x^{9} + g^{161}x^{6} + g^{83}x^{5} + g^{27}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>7900</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{221}x^{192} + g^{28}x^{160} + g^{35}x^{144} + g^{45}x^{136} + g^{209}x^{132} + g^{92}x^{130} + g^{210}x^{129} + g^{87}x^{96} + g^{92}x^{80} + g^{79}x^{72} + g^{178}x^{68} + g^{9}x^{66} + g^{102}x^{65} + g^{35}x^{48} + g^{204}x^{40} + g^{114}x^{36} + g^{163}x^{34} + g^{109}x^{33} + g^{131}x^{24} + gx^{20} + g^{102}x^{18} + g^{254}x^{17} + g^{14}x^{12} + g^{246}x^{10} + g^{65}x^{9} + g^{38}x^{6} + g^{142}x^{5} + g^{127}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/7501_8000/7801_7900.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>