
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>101</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{96} + g^{21}x^{80} + g^{102}x^{72} + g^{74}x^{68} + g^{13}x^{66} + g^{114}x^{65} + g^{82}x^{48} + g^{54}x^{40} + g^{123}x^{36} + g^{30}x^{34} + g^{7}x^{33} + g^{36}x^{24} + g^{50}x^{20} + g^{15}x^{18} + g^{92}x^{17} + g^{46}x^{12} + g^{45}x^{10} + g^{63}x^{9} + g^{13}x^{6} + g^{61}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>102</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{111}x^{96} + g^{86}x^{80} + g^{63}x^{72} + g^{115}x^{68} + g^{47}x^{66} + g^{123}x^{65} + g^{123}x^{48} + g^{8}x^{40} + g^{33}x^{36} + g^{73}x^{34} + g^{4}x^{33} + g^{111}x^{24} + g^{84}x^{20} + g^{56}x^{18} + g^{70}x^{17} + g^{115}x^{12} + g^{107}x^{10} + g^{110}x^{9} + g^{88}x^{6} + g^{76}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>103</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{20}x^{96} + g^{117}x^{80} + g^{111}x^{68} + g^{120}x^{66} + g^{74}x^{65} + g^{8}x^{48} + g^{49}x^{40} + g^{35}x^{36} + g^{24}x^{34} + g^{13}x^{33} + g^{22}x^{24} + g^{11}x^{20} + g^{70}x^{18} + g^{60}x^{17} + g^{21}x^{12} + g^{99}x^{10} + g^{118}x^{9} + g^{96}x^{6} + g^{51}x^{5} + g^{31}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>104</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{122}x^{96} + g^{69}x^{80} + g^{95}x^{72} + g^{45}x^{68} + g^{10}x^{66} + g^{13}x^{65} + g^{86}x^{48} + g^{64}x^{40} + g^{54}x^{36} + g^{112}x^{34} + g^{59}x^{33} + g^{44}x^{24} + g^{20}x^{20} + g^{2}x^{18} + g^{72}x^{17} + g^{41}x^{12} + g^{2}x^{10} + g^{73}x^{9} + g^{45}x^{6} + g^{36}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>105</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{96} + g^{10}x^{80} + g^{30}x^{72} + g^{40}x^{68} + g^{96}x^{66} + g^{18}x^{65} + g^{13}x^{48} + g^{98}x^{40} + g^{51}x^{36} + g^{107}x^{34} + g^{69}x^{33} + g^{34}x^{24} + g^{87}x^{20} + g^{27}x^{18} + g^{40}x^{17} + g^{75}x^{12} + g^{23}x^{10} + g^{64}x^{9} + g^{86}x^{6} + g^{100}x^{5} + g^{60}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>106</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{96} + g^{74}x^{80} + g^{94}x^{72} + g^{5}x^{68} + x^{66} + g^{7}x^{65} + g^{86}x^{48} + g^{23}x^{40} + g^{21}x^{36} + g^{103}x^{34} + g^{40}x^{33} + g^{2}x^{24} + g^{24}x^{20} + g^{20}x^{18} + g^{30}x^{17} + g^{115}x^{12} + g^{36}x^{10} + g^{124}x^{9} + g^{56}x^{6} + g^{19}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>107</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{96} + gx^{80} + g^{74}x^{72} + g^{57}x^{68} + g^{76}x^{66} + g^{95}x^{65} + g^{4}x^{48} + g^{113}x^{40} + g^{69}x^{36} + g^{13}x^{34} + g^{71}x^{33} + g^{46}x^{24} + g^{81}x^{20} + g^{7}x^{18} + g^{86}x^{17} + g^{58}x^{12} + g^{82}x^{10} + g^{60}x^{9} + g^{87}x^{6} + g^{51}x^{5} + g^{97}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>108</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{7}x^{96} + g^{48}x^{80} + g^{89}x^{72} + g^{123}x^{68} + g^{119}x^{66} + g^{71}x^{65} + g^{22}x^{48} + g^{38}x^{40} + g^{58}x^{36} + g^{117}x^{34} + g^{2}x^{33} + g^{52}x^{24} + g^{5}x^{20} + g^{45}x^{18} + g^{83}x^{17} + g^{94}x^{12} + g^{72}x^{10} + g^{25}x^{6} + g^{26}x^{5} + g^{13}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>109</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{96} + x^{80} + g^{64}x^{72} + g^{17}x^{68} + g^{87}x^{66} + g^{38}x^{65} + g^{43}x^{48} + g^{82}x^{40} + g^{8}x^{36} + g^{77}x^{34} + g^{2}x^{33} + g^{30}x^{24} + g^{26}x^{20} + g^{65}x^{18} + g^{115}x^{17} + g^{113}x^{12} + g^{115}x^{10} + g^{108}x^{9} + g^{30}x^{6} + g^{68}x^{5} + g^{46}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>110</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{96} + g^{52}x^{80} + g^{82}x^{72} + g^{59}x^{68} + g^{72}x^{66} + g^{124}x^{65} + g^{4}x^{48} + g^{7}x^{40} + g^{8}x^{36} + g^{68}x^{34} + g^{110}x^{33} + g^{13}x^{24} + g^{38}x^{20} + g^{11}x^{18} + g^{100}x^{17} + g^{73}x^{12} + g^{8}x^{10} + g^{56}x^{9} + g^{39}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>111</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{96} + g^{99}x^{80} + g^{11}x^{72} + g^{7}x^{68} + g^{35}x^{66} + g^{69}x^{65} + g^{56}x^{48} + g^{123}x^{40} + g^{19}x^{36} + g^{4}x^{34} + g^{91}x^{33} + g^{10}x^{24} + g^{34}x^{20} + g^{67}x^{18} + g^{100}x^{17} + g^{62}x^{12} + g^{49}x^{10} + g^{47}x^{9} + g^{66}x^{6} + g^{30}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>112</p></td>
<td><p><span class="math notranslate nohighlight">\(gx^{96} + g^{37}x^{80} + g^{81}x^{72} + g^{55}x^{68} + g^{106}x^{66} + g^{14}x^{65} + g^{48}x^{48} + g^{124}x^{40} + g^{85}x^{36} + g^{84}x^{34} + g^{46}x^{33} + g^{60}x^{24} + g^{75}x^{20} + g^{95}x^{18} + g^{122}x^{17} + g^{74}x^{12} + g^{86}x^{10} + g^{106}x^{9} + g^{84}x^{6} + g^{20}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>113</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{82}x^{96} + g^{95}x^{80} + g^{22}x^{72} + g^{105}x^{68} + g^{80}x^{66} + g^{74}x^{65} + g^{92}x^{48} + g^{19}x^{40} + g^{9}x^{36} + g^{76}x^{34} + g^{53}x^{33} + g^{125}x^{24} + g^{88}x^{20} + g^{32}x^{18} + g^{20}x^{17} + g^{45}x^{12} + g^{117}x^{10} + g^{41}x^{9} + g^{13}x^{6} + g^{25}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>114</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{123}x^{96} + g^{75}x^{80} + g^{40}x^{72} + g^{110}x^{68} + g^{80}x^{66} + g^{29}x^{65} + g^{27}x^{48} + g^{46}x^{40} + g^{76}x^{36} + g^{15}x^{34} + g^{116}x^{33} + g^{120}x^{24} + g^{43}x^{20} + g^{124}x^{18} + g^{57}x^{17} + g^{124}x^{12} + g^{81}x^{10} + g^{106}x^{9} + g^{23}x^{6} + g^{112}x^{5} + g^{4}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>115</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{26}x^{96} + g^{126}x^{80} + g^{112}x^{72} + g^{42}x^{68} + g^{41}x^{66} + g^{2}x^{65} + g^{12}x^{48} + g^{72}x^{40} + g^{74}x^{36} + g^{95}x^{34} + g^{126}x^{33} + g^{15}x^{24} + g^{14}x^{20} + g^{100}x^{18} + g^{13}x^{17} + g^{8}x^{12} + g^{125}x^{10} + g^{94}x^{9} + g^{107}x^{6} + g^{63}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>116</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{96} + g^{45}x^{80} + g^{9}x^{72} + g^{117}x^{68} + g^{83}x^{66} + g^{37}x^{65} + g^{88}x^{48} + g^{35}x^{40} + g^{96}x^{36} + g^{57}x^{34} + g^{108}x^{33} + g^{20}x^{24} + g^{10}x^{20} + g^{60}x^{18} + g^{106}x^{17} + g^{54}x^{12} + g^{69}x^{9} + g^{64}x^{6} + g^{36}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>117</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{96} + g^{59}x^{80} + g^{56}x^{72} + g^{51}x^{68} + g^{10}x^{66} + g^{54}x^{65} + g^{21}x^{48} + g^{73}x^{40} + g^{115}x^{36} + g^{34}x^{34} + g^{112}x^{33} + g^{50}x^{24} + g^{67}x^{20} + g^{101}x^{18} + g^{27}x^{17} + g^{6}x^{12} + g^{51}x^{10} + g^{110}x^{9} + g^{49}x^{6} + g^{42}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>118</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{96} + g^{71}x^{80} + g^{116}x^{72} + g^{85}x^{68} + g^{43}x^{66} + g^{114}x^{65} + g^{123}x^{48} + g^{66}x^{40} + g^{98}x^{36} + g^{45}x^{34} + g^{40}x^{33} + g^{41}x^{24} + g^{22}x^{20} + g^{62}x^{18} + g^{50}x^{17} + g^{14}x^{12} + g^{36}x^{10} + g^{35}x^{9} + g^{45}x^{6} + g^{97}x^{5} + g^{76}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>119</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{96} + g^{38}x^{80} + g^{31}x^{72} + g^{26}x^{68} + g^{64}x^{66} + g^{27}x^{65} + g^{94}x^{48} + g^{28}x^{40} + g^{62}x^{36} + g^{97}x^{34} + g^{92}x^{33} + g^{73}x^{24} + g^{38}x^{20} + g^{67}x^{18} + g^{121}x^{17} + g^{9}x^{12} + g^{123}x^{10} + g^{98}x^{9} + g^{83}x^{6} + g^{70}x^{5} + g^{31}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>120</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{50}x^{96} + g^{72}x^{80} + g^{23}x^{72} + g^{14}x^{68} + g^{125}x^{66} + g^{91}x^{65} + x^{48} + g^{50}x^{40} + g^{96}x^{36} + g^{79}x^{34} + g^{99}x^{33} + g^{6}x^{24} + g^{73}x^{20} + g^{111}x^{18} + g^{52}x^{17} + g^{103}x^{12} + g^{35}x^{10} + g^{7}x^{9} + g^{122}x^{6} + g^{24}x^{5} + g^{62}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>121</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{96} + g^{73}x^{80} + g^{29}x^{72} + g^{118}x^{68} + g^{68}x^{66} + g^{43}x^{65} + g^{21}x^{48} + g^{29}x^{40} + g^{48}x^{36} + g^{107}x^{33} + g^{26}x^{24} + g^{70}x^{20} + g^{118}x^{18} + g^{33}x^{17} + g^{71}x^{12} + g^{55}x^{10} + g^{82}x^{9} + g^{91}x^{6} + g^{47}x^{5} + g^{25}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>122</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{88}x^{96} + g^{61}x^{80} + g^{15}x^{72} + g^{80}x^{68} + g^{126}x^{66} + g^{34}x^{65} + g^{107}x^{48} + g^{76}x^{40} + g^{91}x^{36} + g^{100}x^{34} + g^{59}x^{33} + g^{43}x^{24} + g^{35}x^{20} + g^{30}x^{18} + g^{62}x^{17} + g^{82}x^{12} + g^{86}x^{10} + g^{113}x^{9} + g^{52}x^{6} + g^{14}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>123</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{96} + g^{8}x^{80} + g^{107}x^{72} + g^{98}x^{68} + g^{47}x^{66} + g^{6}x^{65} + g^{67}x^{48} + g^{16}x^{40} + g^{5}x^{36} + g^{83}x^{34} + g^{32}x^{33} + g^{88}x^{24} + g^{105}x^{20} + g^{115}x^{18} + g^{5}x^{17} + gx^{12} + g^{115}x^{10} + g^{8}x^{9} + g^{71}x^{6} + g^{42}x^{5} + g^{22}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>124</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{73}x^{96} + g^{87}x^{80} + g^{23}x^{72} + g^{101}x^{68} + g^{110}x^{66} + g^{78}x^{65} + g^{91}x^{48} + g^{34}x^{40} + g^{107}x^{36} + gx^{34} + g^{86}x^{33} + g^{113}x^{24} + g^{10}x^{20} + g^{111}x^{18} + g^{29}x^{17} + g^{118}x^{12} + g^{53}x^{10} + g^{30}x^{9} + g^{106}x^{6} + g^{76}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>125</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{96} + g^{104}x^{80} + g^{109}x^{72} + g^{78}x^{68} + g^{3}x^{66} + g^{51}x^{65} + g^{13}x^{48} + g^{66}x^{40} + g^{74}x^{36} + g^{107}x^{34} + g^{106}x^{33} + g^{23}x^{24} + g^{79}x^{20} + g^{100}x^{18} + g^{111}x^{17} + g^{98}x^{12} + g^{81}x^{10} + g^{63}x^{9} + g^{41}x^{6} + g^{80}x^{5} + g^{76}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>126</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{21}x^{96} + g^{78}x^{80} + g^{69}x^{72} + g^{71}x^{68} + g^{118}x^{66} + g^{44}x^{65} + g^{8}x^{48} + g^{18}x^{40} + g^{16}x^{36} + g^{5}x^{34} + g^{77}x^{33} + g^{48}x^{24} + g^{2}x^{20} + g^{11}x^{18} + g^{87}x^{17} + g^{109}x^{12} + g^{77}x^{10} + g^{125}x^{9} + gx^{6} + g^{78}x^{5} + g^{118}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>127</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{81}x^{96} + g^{87}x^{80} + g^{120}x^{72} + g^{32}x^{68} + g^{108}x^{66} + g^{105}x^{65} + g^{54}x^{48} + g^{94}x^{40} + g^{101}x^{36} + g^{28}x^{34} + g^{123}x^{33} + g^{16}x^{24} + g^{122}x^{20} + g^{117}x^{18} + g^{88}x^{17} + g^{58}x^{12} + g^{96}x^{10} + g^{121}x^{9} + g^{71}x^{6} + g^{118}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>128</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{40}x^{96} + g^{120}x^{80} + g^{125}x^{72} + g^{84}x^{68} + g^{122}x^{66} + g^{22}x^{65} + g^{88}x^{48} + g^{2}x^{40} + gx^{36} + g^{105}x^{34} + g^{84}x^{33} + g^{103}x^{24} + g^{97}x^{20} + g^{93}x^{18} + g^{106}x^{17} + g^{40}x^{12} + g^{96}x^{10} + g^{85}x^{9} + g^{38}x^{6} + g^{126}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>129</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{96} + g^{3}x^{80} + g^{52}x^{72} + g^{115}x^{68} + g^{122}x^{66} + g^{125}x^{65} + g^{101}x^{48} + g^{30}x^{40} + g^{99}x^{36} + gx^{34} + g^{107}x^{33} + g^{15}x^{24} + g^{102}x^{20} + g^{50}x^{18} + g^{88}x^{17} + g^{48}x^{12} + x^{10} + g^{94}x^{9} + g^{108}x^{6} + g^{80}x^{5} + g^{116}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>130</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{63}x^{96} + g^{79}x^{80} + g^{40}x^{72} + g^{38}x^{68} + g^{28}x^{66} + g^{122}x^{65} + g^{35}x^{48} + g^{47}x^{40} + g^{92}x^{36} + g^{4}x^{34} + g^{115}x^{33} + g^{95}x^{24} + g^{61}x^{20} + g^{88}x^{18} + g^{84}x^{17} + g^{53}x^{12} + g^{84}x^{10} + g^{22}x^{9} + g^{64}x^{6} + g^{60}x^{5} + g^{66}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>131</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{112}x^{96} + g^{61}x^{80} + g^{10}x^{72} + g^{66}x^{68} + g^{3}x^{66} + g^{97}x^{65} + g^{25}x^{48} + g^{13}x^{40} + g^{11}x^{36} + g^{23}x^{34} + g^{108}x^{33} + g^{72}x^{24} + g^{105}x^{20} + g^{109}x^{18} + g^{105}x^{17} + g^{79}x^{12} + g^{18}x^{10} + g^{71}x^{9} + g^{33}x^{6} + g^{49}x^{5} + g^{25}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>132</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{96} + g^{40}x^{80} + g^{56}x^{72} + g^{122}x^{68} + g^{83}x^{66} + g^{31}x^{65} + g^{18}x^{48} + g^{98}x^{40} + g^{98}x^{36} + g^{66}x^{34} + g^{124}x^{33} + g^{75}x^{24} + g^{16}x^{20} + gx^{18} + g^{22}x^{17} + g^{106}x^{12} + g^{28}x^{10} + g^{50}x^{9} + g^{25}x^{6} + g^{36}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>133</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{17}x^{96} + g^{8}x^{80} + g^{88}x^{72} + gx^{68} + g^{69}x^{66} + g^{107}x^{65} + g^{4}x^{48} + g^{61}x^{40} + gx^{36} + g^{4}x^{34} + g^{101}x^{33} + g^{118}x^{24} + g^{55}x^{20} + g^{20}x^{18} + g^{7}x^{17} + g^{50}x^{12} + g^{105}x^{10} + g^{31}x^{9} + g^{70}x^{6} + g^{68}x^{5} + g^{104}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>134</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{27}x^{96} + g^{47}x^{80} + g^{105}x^{72} + g^{88}x^{68} + g^{14}x^{66} + g^{94}x^{65} + g^{2}x^{48} + g^{49}x^{40} + g^{45}x^{36} + g^{9}x^{34} + g^{20}x^{33} + g^{113}x^{24} + g^{124}x^{20} + g^{97}x^{18} + g^{80}x^{17} + g^{124}x^{12} + g^{122}x^{10} + g^{30}x^{9} + g^{59}x^{6} + g^{52}x^{5} + g^{116}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>135</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{80}x^{96} + g^{93}x^{80} + g^{70}x^{72} + g^{63}x^{66} + g^{59}x^{65} + g^{3}x^{48} + g^{45}x^{40} + g^{53}x^{36} + g^{105}x^{34} + g^{66}x^{33} + g^{48}x^{24} + g^{39}x^{20} + g^{33}x^{18} + g^{100}x^{17} + g^{120}x^{12} + g^{78}x^{10} + g^{66}x^{9} + g^{21}x^{6} + g^{3}x^{5} + g^{77}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>136</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{96} + g^{5}x^{80} + g^{51}x^{72} + g^{86}x^{68} + g^{104}x^{66} + g^{5}x^{65} + g^{31}x^{48} + g^{96}x^{40} + g^{80}x^{36} + g^{45}x^{34} + g^{20}x^{33} + g^{16}x^{24} + gx^{20} + g^{55}x^{18} + g^{31}x^{17} + g^{118}x^{12} + g^{44}x^{10} + g^{83}x^{9} + g^{33}x^{6} + g^{30}x^{5} + g^{86}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>137</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{78}x^{96} + g^{62}x^{80} + g^{113}x^{72} + g^{110}x^{68} + g^{72}x^{66} + g^{85}x^{65} + g^{101}x^{48} + g^{116}x^{40} + g^{110}x^{36} + g^{103}x^{34} + g^{51}x^{33} + g^{51}x^{24} + g^{3}x^{20} + g^{22}x^{18} + g^{113}x^{17} + g^{100}x^{12} + g^{46}x^{10} + g^{120}x^{9} + g^{13}x^{6} + g^{112}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>138</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{96} + g^{50}x^{80} + g^{6}x^{72} + g^{73}x^{68} + g^{63}x^{66} + g^{27}x^{65} + g^{59}x^{48} + g^{75}x^{40} + g^{19}x^{36} + g^{101}x^{34} + g^{120}x^{33} + g^{94}x^{24} + g^{102}x^{20} + g^{48}x^{18} + g^{93}x^{17} + g^{4}x^{12} + g^{27}x^{10} + g^{60}x^{9} + g^{85}x^{6} + g^{126}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>139</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{96} + g^{76}x^{80} + g^{30}x^{72} + g^{114}x^{68} + g^{110}x^{66} + g^{46}x^{65} + g^{37}x^{48} + g^{29}x^{40} + g^{4}x^{36} + g^{98}x^{34} + g^{64}x^{33} + g^{69}x^{24} + g^{61}x^{20} + g^{76}x^{18} + g^{17}x^{17} + g^{112}x^{12} + g^{61}x^{10} + g^{28}x^{9} + g^{72}x^{6} + g^{63}x^{5} + g^{70}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>140</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{96} + g^{102}x^{80} + g^{29}x^{72} + g^{26}x^{68} + g^{44}x^{66} + g^{24}x^{65} + g^{117}x^{48} + g^{70}x^{40} + g^{50}x^{36} + g^{98}x^{34} + g^{92}x^{33} + g^{87}x^{24} + g^{27}x^{20} + g^{92}x^{18} + g^{104}x^{17} + g^{66}x^{12} + g^{92}x^{10} + g^{49}x^{9} + g^{52}x^{6} + g^{94}x^{5} + g^{59}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>141</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{96} + g^{68}x^{80} + g^{30}x^{72} + g^{102}x^{68} + g^{103}x^{66} + g^{52}x^{65} + g^{25}x^{48} + g^{91}x^{40} + g^{34}x^{36} + g^{85}x^{34} + g^{91}x^{33} + g^{41}x^{24} + g^{37}x^{20} + g^{95}x^{18} + g^{4}x^{17} + g^{38}x^{12} + g^{115}x^{10} + g^{8}x^{9} + g^{31}x^{6} + g^{74}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>142</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{96} + g^{108}x^{80} + g^{28}x^{72} + g^{3}x^{68} + g^{112}x^{66} + g^{56}x^{65} + g^{59}x^{48} + g^{80}x^{40} + g^{58}x^{36} + g^{107}x^{34} + g^{47}x^{33} + g^{52}x^{24} + g^{48}x^{20} + g^{126}x^{18} + g^{56}x^{17} + g^{4}x^{12} + g^{119}x^{10} + g^{51}x^{9} + g^{2}x^{6} + g^{106}x^{5} + g^{44}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>143</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{79}x^{96} + g^{18}x^{80} + g^{107}x^{72} + g^{15}x^{68} + g^{26}x^{66} + gx^{65} + g^{114}x^{48} + g^{39}x^{40} + g^{32}x^{36} + g^{33}x^{34} + g^{48}x^{33} + g^{42}x^{24} + g^{98}x^{20} + g^{52}x^{18} + g^{91}x^{17} + g^{107}x^{12} + g^{47}x^{10} + g^{70}x^{9} + g^{4}x^{6} + g^{52}x^{5} + g^{118}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>144</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{96} + g^{123}x^{80} + g^{24}x^{72} + g^{2}x^{68} + g^{118}x^{66} + g^{2}x^{65} + g^{31}x^{48} + g^{3}x^{40} + g^{8}x^{36} + g^{33}x^{34} + g^{58}x^{33} + g^{23}x^{24} + g^{89}x^{20} + g^{33}x^{18} + g^{10}x^{17} + g^{22}x^{12} + g^{8}x^{10} + g^{78}x^{9} + g^{30}x^{6} + g^{100}x^{5} + g^{70}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>145</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{4}x^{96} + g^{77}x^{80} + g^{125}x^{72} + g^{86}x^{68} + g^{7}x^{66} + g^{42}x^{65} + g^{29}x^{48} + g^{25}x^{40} + g^{126}x^{36} + g^{51}x^{34} + g^{77}x^{33} + g^{22}x^{24} + x^{20} + g^{93}x^{18} + x^{17} + g^{45}x^{12} + g^{68}x^{10} + g^{24}x^{9} + g^{99}x^{6} + g^{65}x^{5} + g^{71}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>146</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{67}x^{96} + g^{50}x^{80} + g^{105}x^{72} + g^{60}x^{68} + g^{95}x^{66} + g^{4}x^{65} + g^{77}x^{48} + g^{67}x^{40} + g^{53}x^{36} + g^{90}x^{34} + g^{13}x^{33} + g^{36}x^{24} + g^{16}x^{20} + g^{47}x^{18} + g^{29}x^{17} + g^{27}x^{12} + g^{49}x^{10} + g^{6}x^{9} + g^{45}x^{6} + g^{60}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>147</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{96} + g^{74}x^{80} + g^{99}x^{72} + g^{104}x^{68} + g^{87}x^{66} + g^{61}x^{65} + g^{36}x^{48} + g^{6}x^{40} + g^{121}x^{36} + g^{114}x^{34} + g^{102}x^{33} + g^{48}x^{24} + g^{46}x^{20} + g^{64}x^{18} + g^{33}x^{17} + g^{91}x^{12} + g^{75}x^{10} + g^{21}x^{9} + g^{82}x^{6} + g^{121}x^{5} + g^{6}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>148</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{71}x^{96} + gx^{80} + g^{87}x^{72} + g^{26}x^{68} + g^{110}x^{66} + g^{9}x^{65} + g^{17}x^{48} + g^{125}x^{40} + gx^{36} + g^{72}x^{34} + g^{87}x^{33} + g^{76}x^{24} + g^{37}x^{20} + g^{33}x^{18} + g^{111}x^{17} + g^{126}x^{12} + g^{109}x^{10} + g^{68}x^{9} + g^{41}x^{6} + g^{10}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>149</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{96} + g^{22}x^{80} + x^{72} + g^{64}x^{68} + g^{41}x^{66} + g^{39}x^{65} + g^{37}x^{48} + g^{89}x^{40} + g^{111}x^{36} + g^{116}x^{34} + g^{123}x^{33} + g^{33}x^{24} + g^{79}x^{20} + g^{101}x^{18} + g^{40}x^{17} + g^{32}x^{12} + g^{64}x^{10} + g^{17}x^{9} + g^{11}x^{6} + g^{24}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>150</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{124}x^{96} + g^{61}x^{80} + g^{61}x^{72} + g^{41}x^{68} + g^{78}x^{66} + g^{5}x^{65} + g^{124}x^{48} + g^{98}x^{40} + g^{29}x^{36} + g^{121}x^{34} + g^{26}x^{33} + g^{54}x^{24} + x^{20} + g^{45}x^{18} + g^{31}x^{17} + g^{55}x^{12} + g^{84}x^{10} + g^{108}x^{9} + g^{108}x^{6} + g^{54}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>151</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{111}x^{96} + g^{56}x^{80} + g^{25}x^{72} + g^{113}x^{68} + g^{35}x^{66} + g^{113}x^{65} + g^{41}x^{48} + g^{79}x^{40} + g^{101}x^{36} + g^{68}x^{34} + g^{72}x^{33} + g^{101}x^{24} + g^{99}x^{20} + g^{45}x^{18} + g^{115}x^{17} + g^{23}x^{12} + g^{77}x^{10} + g^{116}x^{9} + g^{93}x^{6} + g^{97}x^{5} + g^{86}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>152</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{96} + g^{80}x^{80} + g^{84}x^{72} + g^{71}x^{68} + g^{63}x^{66} + g^{8}x^{65} + g^{78}x^{48} + g^{16}x^{40} + g^{24}x^{36} + g^{126}x^{34} + g^{66}x^{33} + g^{108}x^{24} + g^{21}x^{18} + g^{97}x^{17} + x^{12} + g^{17}x^{10} + g^{91}x^{9} + g^{30}x^{6} + g^{121}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>153</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{95}x^{96} + g^{14}x^{80} + g^{13}x^{72} + g^{111}x^{68} + g^{76}x^{66} + g^{18}x^{65} + g^{89}x^{48} + g^{122}x^{40} + g^{119}x^{36} + g^{91}x^{34} + g^{99}x^{33} + g^{55}x^{24} + g^{26}x^{20} + g^{85}x^{18} + g^{114}x^{17} + g^{65}x^{12} + g^{105}x^{10} + g^{77}x^{9} + g^{23}x^{6} + g^{123}x^{5} + g^{56}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>154</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{96} + g^{32}x^{80} + g^{85}x^{72} + g^{63}x^{68} + g^{77}x^{66} + g^{34}x^{65} + g^{45}x^{48} + g^{82}x^{40} + g^{99}x^{36} + g^{120}x^{34} + g^{18}x^{33} + g^{101}x^{24} + g^{123}x^{20} + g^{70}x^{18} + g^{104}x^{17} + g^{87}x^{12} + g^{84}x^{10} + g^{11}x^{9} + g^{78}x^{6} + g^{49}x^{5} + g^{43}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>155</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{96} + g^{38}x^{80} + g^{62}x^{72} + g^{63}x^{68} + g^{20}x^{66} + g^{120}x^{65} + g^{28}x^{48} + g^{47}x^{40} + g^{48}x^{36} + g^{75}x^{34} + g^{12}x^{33} + g^{49}x^{24} + g^{8}x^{20} + g^{54}x^{18} + g^{28}x^{17} + g^{63}x^{12} + gx^{10} + g^{71}x^{9} + g^{114}x^{6} + g^{83}x^{5} + g^{97}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>156</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{112}x^{96} + g^{36}x^{80} + g^{75}x^{72} + g^{41}x^{68} + g^{31}x^{66} + g^{23}x^{65} + g^{120}x^{48} + g^{32}x^{40} + g^{64}x^{36} + g^{56}x^{34} + g^{118}x^{33} + g^{47}x^{24} + g^{78}x^{20} + g^{72}x^{18} + g^{4}x^{17} + g^{115}x^{12} + g^{107}x^{10} + g^{38}x^{9} + g^{84}x^{6} + g^{40}x^{5} + g^{74}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>157</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{46}x^{96} + g^{31}x^{80} + g^{115}x^{72} + g^{97}x^{68} + g^{49}x^{66} + g^{2}x^{65} + g^{35}x^{48} + g^{61}x^{40} + g^{4}x^{36} + g^{96}x^{34} + g^{93}x^{33} + g^{122}x^{24} + g^{25}x^{20} + g^{95}x^{18} + g^{48}x^{17} + g^{46}x^{12} + g^{121}x^{10} + g^{39}x^{9} + g^{32}x^{6} + g^{50}x^{5} + g^{14}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>158</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{19}x^{96} + g^{12}x^{80} + g^{39}x^{72} + g^{100}x^{68} + g^{39}x^{66} + g^{2}x^{65} + g^{86}x^{48} + g^{21}x^{40} + g^{51}x^{36} + g^{70}x^{34} + g^{49}x^{33} + g^{124}x^{24} + g^{98}x^{20} + g^{84}x^{18} + g^{59}x^{17} + g^{98}x^{12} + g^{88}x^{10} + g^{43}x^{9} + g^{31}x^{6} + g^{109}x^{5} + g^{120}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>159</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{20}x^{96} + g^{87}x^{80} + g^{89}x^{72} + g^{3}x^{68} + g^{34}x^{66} + g^{81}x^{65} + g^{17}x^{48} + g^{115}x^{40} + g^{78}x^{36} + g^{6}x^{34} + g^{50}x^{33} + g^{48}x^{24} + g^{44}x^{20} + g^{52}x^{18} + g^{33}x^{17} + g^{88}x^{12} + g^{40}x^{10} + g^{82}x^{9} + g^{64}x^{6} + g^{91}x^{5} + g^{104}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>160</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{19}x^{96} + g^{18}x^{80} + g^{65}x^{72} + g^{47}x^{68} + g^{91}x^{66} + g^{60}x^{65} + g^{88}x^{48} + g^{96}x^{40} + g^{70}x^{36} + g^{29}x^{34} + g^{88}x^{33} + g^{56}x^{24} + g^{42}x^{20} + g^{88}x^{18} + g^{125}x^{17} + g^{122}x^{12} + g^{13}x^{10} + g^{102}x^{9} + g^{41}x^{6} + g^{28}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>161</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{3}x^{96} + g^{71}x^{80} + g^{17}x^{72} + g^{114}x^{68} + g^{48}x^{66} + g^{9}x^{65} + g^{17}x^{48} + g^{57}x^{40} + g^{32}x^{36} + g^{106}x^{34} + g^{70}x^{33} + g^{28}x^{24} + g^{26}x^{20} + g^{106}x^{18} + g^{58}x^{17} + g^{32}x^{12} + g^{94}x^{10} + g^{35}x^{9} + g^{15}x^{6} + g^{66}x^{5} + g^{94}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>162</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{17}x^{96} + g^{52}x^{80} + g^{5}x^{72} + g^{78}x^{68} + g^{84}x^{66} + g^{71}x^{65} + g^{83}x^{48} + g^{45}x^{40} + g^{47}x^{36} + g^{95}x^{34} + x^{33} + g^{78}x^{24} + g^{7}x^{20} + g^{39}x^{18} + g^{109}x^{17} + g^{80}x^{12} + g^{62}x^{10} + g^{5}x^{9} + g^{50}x^{6} + g^{50}x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>163</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{96} + g^{21}x^{80} + g^{103}x^{72} + g^{73}x^{68} + g^{76}x^{66} + g^{11}x^{65} + g^{70}x^{48} + g^{73}x^{40} + gx^{36} + g^{62}x^{34} + g^{8}x^{33} + g^{3}x^{24} + g^{65}x^{20} + g^{50}x^{18} + g^{90}x^{17} + g^{102}x^{12} + g^{102}x^{10} + g^{28}x^{9} + g^{23}x^{6} + g^{78}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>164</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{96} + g^{63}x^{80} + g^{118}x^{72} + g^{97}x^{68} + g^{26}x^{66} + g^{79}x^{65} + g^{78}x^{48} + g^{92}x^{40} + x^{36} + g^{99}x^{34} + g^{77}x^{33} + g^{86}x^{24} + g^{41}x^{20} + g^{4}x^{18} + g^{24}x^{17} + g^{77}x^{12} + g^{51}x^{10} + g^{106}x^{9} + g^{119}x^{6} + g^{98}x^{5} + g^{52}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>165</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{96} + g^{92}x^{80} + g^{115}x^{72} + g^{105}x^{68} + g^{35}x^{66} + g^{51}x^{65} + g^{93}x^{48} + g^{25}x^{40} + g^{116}x^{36} + g^{120}x^{34} + g^{106}x^{33} + g^{91}x^{24} + g^{25}x^{20} + g^{24}x^{18} + g^{113}x^{17} + g^{13}x^{12} + g^{121}x^{10} + g^{30}x^{9} + g^{24}x^{6} + g^{38}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>166</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{79}x^{96} + g^{73}x^{80} + g^{109}x^{72} + g^{62}x^{68} + g^{91}x^{66} + g^{106}x^{65} + g^{52}x^{48} + g^{42}x^{40} + g^{8}x^{36} + g^{125}x^{34} + g^{38}x^{33} + g^{40}x^{24} + g^{53}x^{20} + g^{91}x^{18} + g^{5}x^{17} + g^{48}x^{12} + g^{30}x^{10} + g^{43}x^{9} + g^{111}x^{6} + g^{112}x^{5} + g^{38}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>167</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{96} + g^{71}x^{80} + g^{42}x^{72} + g^{29}x^{68} + g^{43}x^{66} + g^{116}x^{65} + g^{65}x^{48} + g^{78}x^{40} + g^{50}x^{36} + g^{73}x^{34} + g^{6}x^{33} + g^{78}x^{24} + g^{56}x^{20} + g^{30}x^{18} + g^{75}x^{17} + g^{119}x^{12} + g^{98}x^{10} + g^{2}x^{9} + g^{114}x^{6} + g^{119}x^{5} + g^{28}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>168</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{96} + g^{29}x^{80} + g^{75}x^{72} + g^{95}x^{68} + g^{26}x^{66} + g^{70}x^{65} + g^{75}x^{48} + g^{123}x^{40} + g^{92}x^{36} + g^{94}x^{34} + g^{121}x^{33} + g^{122}x^{24} + g^{2}x^{20} + g^{114}x^{18} + g^{122}x^{17} + g^{62}x^{12} + g^{17}x^{10} + g^{111}x^{9} + g^{16}x^{6} + g^{50}x^{5} + g^{92}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>169</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{48}x^{96} + g^{58}x^{80} + g^{109}x^{72} + g^{18}x^{68} + g^{9}x^{66} + g^{28}x^{65} + g^{5}x^{48} + g^{82}x^{40} + g^{59}x^{36} + g^{53}x^{34} + x^{33} + g^{89}x^{24} + g^{97}x^{20} + g^{37}x^{18} + g^{30}x^{17} + g^{37}x^{12} + g^{81}x^{10} + g^{13}x^{9} + g^{61}x^{6} + g^{47}x^{5} + g^{107}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>170</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{82}x^{96} + g^{57}x^{80} + g^{99}x^{72} + g^{42}x^{68} + g^{70}x^{66} + g^{40}x^{65} + g^{94}x^{48} + g^{85}x^{40} + g^{64}x^{36} + g^{45}x^{34} + g^{80}x^{33} + g^{3}x^{24} + g^{80}x^{20} + g^{2}x^{18} + g^{110}x^{17} + g^{36}x^{12} + g^{10}x^{10} + g^{21}x^{9} + g^{17}x^{6} + g^{37}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>171</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{94}x^{96} + g^{86}x^{80} + g^{59}x^{72} + g^{104}x^{68} + g^{24}x^{66} + g^{24}x^{65} + g^{124}x^{48} + g^{116}x^{40} + g^{71}x^{36} + g^{73}x^{34} + g^{21}x^{33} + g^{10}x^{24} + g^{24}x^{20} + g^{94}x^{18} + g^{14}x^{17} + gx^{12} + g^{107}x^{10} + g^{71}x^{9} + g^{45}x^{6} + g^{33}x^{5} + g^{63}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>172</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{120}x^{96} + g^{53}x^{80} + g^{10}x^{72} + g^{29}x^{68} + g^{79}x^{66} + g^{28}x^{65} + g^{78}x^{48} + g^{108}x^{40} + g^{61}x^{36} + g^{110}x^{34} + g^{101}x^{33} + g^{25}x^{24} + g^{126}x^{20} + g^{50}x^{18} + g^{38}x^{17} + g^{27}x^{12} + g^{126}x^{10} + g^{73}x^{9} + g^{94}x^{6} + g^{19}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>173</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{96} + g^{35}x^{80} + g^{61}x^{72} + g^{82}x^{68} + g^{126}x^{66} + g^{5}x^{65} + g^{80}x^{48} + g^{38}x^{40} + g^{97}x^{36} + g^{57}x^{34} + g^{112}x^{33} + g^{16}x^{24} + g^{97}x^{20} + g^{54}x^{18} + g^{63}x^{17} + g^{100}x^{12} + g^{82}x^{10} + g^{58}x^{9} + g^{34}x^{6} + g^{37}x^{5} + g^{86}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>174</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{96} + g^{40}x^{80} + g^{23}x^{72} + g^{41}x^{68} + g^{80}x^{66} + gx^{65} + g^{9}x^{48} + g^{69}x^{40} + g^{23}x^{36} + g^{111}x^{34} + g^{60}x^{33} + g^{62}x^{24} + g^{38}x^{20} + g^{6}x^{18} + g^{84}x^{17} + g^{18}x^{12} + g^{82}x^{10} + g^{76}x^{9} + g^{23}x^{6} + g^{39}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>175</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{96} + g^{66}x^{80} + g^{100}x^{72} + g^{84}x^{68} + g^{96}x^{66} + g^{10}x^{65} + g^{64}x^{48} + g^{3}x^{40} + g^{99}x^{36} + g^{24}x^{34} + x^{33} + g^{49}x^{24} + g^{93}x^{20} + g^{71}x^{18} + g^{92}x^{17} + g^{19}x^{12} + g^{113}x^{10} + g^{62}x^{9} + g^{107}x^{6} + g^{59}x^{5} + g^{30}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>176</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{96} + g^{69}x^{80} + g^{16}x^{72} + x^{68} + g^{76}x^{66} + g^{14}x^{65} + g^{5}x^{48} + g^{10}x^{40} + g^{11}x^{36} + g^{119}x^{34} + g^{61}x^{33} + g^{55}x^{24} + g^{18}x^{20} + g^{119}x^{18} + g^{14}x^{17} + g^{12}x^{12} + g^{16}x^{10} + g^{61}x^{9} + g^{7}x^{6} + g^{12}x^{5} + g^{79}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>177</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{60}x^{96} + g^{112}x^{80} + g^{115}x^{72} + g^{90}x^{68} + g^{5}x^{66} + g^{21}x^{65} + g^{96}x^{48} + g^{36}x^{40} + g^{83}x^{36} + g^{94}x^{34} + g^{53}x^{33} + g^{29}x^{24} + g^{40}x^{20} + g^{99}x^{18} + g^{76}x^{17} + g^{77}x^{12} + g^{16}x^{10} + g^{34}x^{9} + g^{3}x^{6} + g^{44}x^{5} + g^{120}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>178</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{96} + g^{61}x^{80} + g^{92}x^{72} + g^{5}x^{68} + g^{60}x^{65} + g^{100}x^{48} + g^{88}x^{40} + g^{76}x^{36} + g^{88}x^{34} + g^{10}x^{33} + g^{49}x^{24} + g^{63}x^{20} + g^{27}x^{18} + g^{50}x^{17} + g^{119}x^{12} + g^{105}x^{10} + g^{94}x^{6} + g^{69}x^{5} + g^{69}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>179</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{96} + g^{30}x^{80} + g^{41}x^{72} + g^{107}x^{68} + g^{75}x^{66} + g^{109}x^{65} + g^{2}x^{48} + g^{19}x^{40} + g^{8}x^{36} + g^{86}x^{34} + g^{24}x^{33} + g^{108}x^{24} + g^{119}x^{20} + g^{6}x^{18} + g^{90}x^{17} + g^{28}x^{12} + g^{15}x^{10} + g^{100}x^{9} + g^{67}x^{6} + g^{113}x^{5} + g^{90}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>180</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{39}x^{96} + g^{79}x^{80} + g^{115}x^{72} + g^{66}x^{68} + g^{55}x^{66} + g^{20}x^{65} + g^{70}x^{48} + g^{73}x^{40} + g^{13}x^{36} + g^{91}x^{34} + g^{26}x^{33} + g^{69}x^{24} + g^{106}x^{20} + g^{104}x^{18} + g^{41}x^{17} + g^{70}x^{12} + g^{14}x^{10} + g^{125}x^{9} + g^{69}x^{6} + g^{11}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>181</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{19}x^{96} + g^{44}x^{80} + g^{80}x^{72} + g^{89}x^{68} + g^{61}x^{66} + g^{70}x^{65} + g^{88}x^{48} + g^{69}x^{40} + g^{70}x^{36} + g^{114}x^{34} + g^{75}x^{33} + g^{39}x^{24} + g^{89}x^{20} + g^{75}x^{18} + g^{83}x^{17} + g^{99}x^{12} + g^{66}x^{10} + g^{66}x^{9} + g^{107}x^{6} + g^{65}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>182</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{96} + g^{114}x^{80} + x^{72} + g^{125}x^{68} + g^{74}x^{66} + g^{31}x^{65} + g^{94}x^{48} + g^{97}x^{40} + g^{90}x^{36} + g^{112}x^{34} + g^{5}x^{33} + g^{72}x^{24} + g^{98}x^{20} + g^{58}x^{18} + g^{69}x^{17} + g^{101}x^{12} + g^{48}x^{10} + g^{44}x^{9} + g^{70}x^{6} + g^{35}x^{5} + x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>183</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{29}x^{96} + g^{115}x^{80} + g^{10}x^{72} + g^{26}x^{68} + g^{29}x^{66} + g^{51}x^{65} + g^{87}x^{48} + g^{75}x^{40} + g^{125}x^{36} + g^{82}x^{34} + g^{10}x^{33} + g^{73}x^{24} + g^{43}x^{20} + g^{85}x^{18} + g^{27}x^{17} + g^{30}x^{12} + g^{104}x^{10} + g^{88}x^{9} + g^{23}x^{6} + g^{80}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>184</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{96} + g^{29}x^{80} + g^{113}x^{72} + g^{65}x^{68} + g^{86}x^{65} + g^{119}x^{48} + g^{80}x^{40} + g^{5}x^{36} + g^{22}x^{34} + g^{52}x^{33} + g^{7}x^{24} + g^{121}x^{18} + g^{124}x^{17} + g^{2}x^{12} + g^{16}x^{10} + g^{26}x^{9} + g^{21}x^{6} + g^{2}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>185</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{96} + g^{113}x^{80} + g^{91}x^{72} + gx^{68} + g^{42}x^{66} + g^{56}x^{65} + g^{49}x^{48} + g^{122}x^{40} + g^{37}x^{36} + g^{48}x^{34} + g^{51}x^{33} + g^{2}x^{24} + g^{41}x^{20} + g^{109}x^{18} + g^{110}x^{17} + g^{2}x^{12} + g^{111}x^{10} + g^{68}x^{9} + g^{53}x^{6} + g^{71}x^{5} + g^{61}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>186</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{96} + g^{120}x^{80} + g^{59}x^{72} + g^{96}x^{68} + gx^{66} + g^{76}x^{65} + g^{49}x^{48} + g^{115}x^{40} + g^{126}x^{36} + g^{92}x^{34} + g^{119}x^{33} + g^{81}x^{24} + g^{83}x^{20} + g^{95}x^{18} + g^{57}x^{17} + g^{81}x^{12} + g^{17}x^{10} + g^{75}x^{9} + g^{50}x^{6} + g^{23}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>187</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{46}x^{96} + g^{114}x^{80} + g^{106}x^{72} + g^{107}x^{68} + g^{4}x^{66} + g^{40}x^{65} + g^{99}x^{48} + g^{62}x^{40} + g^{107}x^{36} + g^{111}x^{34} + g^{22}x^{33} + g^{123}x^{24} + g^{116}x^{20} + g^{122}x^{18} + g^{31}x^{17} + g^{30}x^{12} + g^{55}x^{10} + g^{52}x^{9} + g^{97}x^{6} + g^{118}x^{5} + g^{2}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>188</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{67}x^{96} + g^{85}x^{80} + g^{10}x^{72} + g^{27}x^{68} + g^{103}x^{66} + g^{96}x^{65} + g^{17}x^{48} + g^{116}x^{36} + g^{10}x^{34} + g^{87}x^{33} + g^{36}x^{24} + g^{83}x^{20} + g^{59}x^{18} + g^{5}x^{17} + g^{40}x^{12} + g^{44}x^{10} + g^{67}x^{9} + g^{29}x^{6} + g^{83}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>189</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{96} + g^{43}x^{80} + g^{26}x^{72} + g^{102}x^{68} + g^{53}x^{66} + g^{120}x^{65} + g^{13}x^{48} + g^{80}x^{40} + g^{86}x^{36} + g^{2}x^{34} + g^{77}x^{33} + g^{2}x^{24} + g^{104}x^{20} + g^{37}x^{18} + g^{21}x^{17} + g^{37}x^{12} + g^{119}x^{10} + g^{123}x^{9} + g^{109}x^{6} + g^{76}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>190</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{12}x^{96} + g^{23}x^{80} + g^{109}x^{72} + g^{87}x^{68} + g^{2}x^{66} + g^{44}x^{65} + g^{31}x^{48} + g^{31}x^{40} + g^{118}x^{36} + g^{122}x^{34} + g^{117}x^{33} + g^{46}x^{24} + g^{75}x^{20} + g^{123}x^{18} + g^{121}x^{17} + g^{35}x^{12} + g^{114}x^{10} + g^{31}x^{9} + g^{114}x^{6} + g^{119}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>191</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{96} + g^{94}x^{80} + g^{14}x^{72} + g^{90}x^{68} + g^{50}x^{66} + g^{32}x^{65} + g^{117}x^{48} + g^{125}x^{40} + g^{81}x^{36} + g^{64}x^{34} + g^{29}x^{33} + g^{100}x^{24} + g^{57}x^{20} + g^{77}x^{18} + g^{107}x^{17} + g^{45}x^{12} + g^{119}x^{10} + g^{69}x^{9} + g^{86}x^{6} + g^{113}x^{5} + g^{118}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>192</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{96} + g^{26}x^{80} + g^{43}x^{72} + g^{91}x^{68} + g^{118}x^{66} + g^{81}x^{65} + g^{42}x^{48} + g^{17}x^{40} + g^{42}x^{36} + g^{64}x^{34} + g^{117}x^{33} + g^{4}x^{24} + g^{126}x^{20} + g^{13}x^{18} + g^{74}x^{17} + g^{55}x^{12} + g^{23}x^{10} + g^{34}x^{9} + gx^{6} + g^{17}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>193</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{40}x^{96} + g^{87}x^{80} + g^{6}x^{72} + g^{90}x^{68} + g^{37}x^{66} + g^{23}x^{65} + g^{49}x^{48} + g^{112}x^{40} + g^{34}x^{36} + g^{92}x^{33} + g^{60}x^{24} + g^{7}x^{20} + g^{94}x^{18} + g^{26}x^{17} + g^{96}x^{12} + g^{59}x^{10} + g^{88}x^{9} + g^{65}x^{6} + x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>194</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{96} + g^{46}x^{80} + g^{50}x^{72} + g^{32}x^{68} + g^{21}x^{66} + g^{126}x^{65} + g^{63}x^{48} + g^{42}x^{40} + g^{120}x^{36} + g^{16}x^{34} + g^{51}x^{33} + g^{102}x^{24} + g^{111}x^{20} + g^{124}x^{18} + g^{99}x^{17} + g^{74}x^{12} + g^{37}x^{10} + g^{45}x^{9} + g^{49}x^{6} + g^{49}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>195</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{16}x^{96} + g^{42}x^{80} + g^{38}x^{72} + g^{102}x^{68} + g^{89}x^{66} + g^{97}x^{65} + g^{111}x^{48} + g^{99}x^{40} + g^{120}x^{36} + g^{124}x^{34} + g^{74}x^{33} + g^{85}x^{24} + g^{71}x^{20} + g^{7}x^{18} + g^{55}x^{17} + g^{35}x^{12} + g^{75}x^{10} + g^{93}x^{9} + g^{48}x^{6} + g^{118}x^{5} + g^{12}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>196</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{42}x^{96} + g^{117}x^{80} + g^{116}x^{72} + g^{88}x^{68} + g^{87}x^{66} + g^{78}x^{65} + g^{90}x^{48} + g^{96}x^{40} + g^{71}x^{36} + g^{5}x^{34} + g^{67}x^{33} + g^{105}x^{24} + g^{63}x^{20} + g^{98}x^{18} + g^{88}x^{17} + g^{5}x^{12} + g^{82}x^{10} + g^{43}x^{9} + g^{51}x^{6} + g^{60}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>197</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{110}x^{96} + gx^{80} + g^{48}x^{72} + g^{79}x^{68} + g^{23}x^{66} + g^{92}x^{65} + g^{11}x^{48} + g^{5}x^{40} + g^{28}x^{36} + g^{31}x^{34} + g^{66}x^{33} + g^{104}x^{24} + g^{86}x^{20} + g^{21}x^{18} + g^{117}x^{17} + g^{90}x^{12} + g^{91}x^{10} + g^{54}x^{9} + g^{105}x^{6} + g^{126}x^{5} + g^{67}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>198</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{89}x^{96} + g^{121}x^{80} + g^{45}x^{72} + g^{101}x^{68} + g^{5}x^{66} + g^{28}x^{65} + g^{102}x^{48} + g^{2}x^{40} + g^{92}x^{36} + g^{86}x^{34} + g^{98}x^{33} + g^{32}x^{24} + g^{7}x^{20} + g^{101}x^{18} + g^{106}x^{17} + g^{51}x^{12} + g^{91}x^{10} + g^{10}x^{9} + g^{88}x^{6} + g^{27}x^{5} + g^{111}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>199</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{96} + x^{80} + g^{88}x^{72} + g^{108}x^{68} + g^{126}x^{66} + g^{116}x^{65} + g^{116}x^{48} + g^{45}x^{40} + g^{80}x^{36} + g^{103}x^{34} + g^{29}x^{33} + g^{32}x^{24} + g^{53}x^{20} + g^{45}x^{18} + g^{102}x^{17} + g^{59}x^{12} + g^{62}x^{10} + g^{23}x^{9} + g^{99}x^{6} + g^{65}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>200</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{61}x^{96} + g^{102}x^{80} + g^{55}x^{72} + g^{53}x^{68} + g^{122}x^{66} + g^{55}x^{65} + g^{69}x^{48} + g^{39}x^{40} + g^{7}x^{36} + g^{10}x^{34} + g^{23}x^{33} + g^{67}x^{24} + g^{13}x^{20} + g^{42}x^{18} + g^{33}x^{17} + g^{47}x^{12} + g^{70}x^{10} + g^{94}x^{9} + g^{18}x^{6} + g^{29}x^{5} + g^{69}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_7/001_500/101_200.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>