
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>401</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{37}x^{96} + g^{36}x^{80} + g^{73}x^{72} + g^{86}x^{68} + g^{23}x^{66} + g^{27}x^{65} + g^{105}x^{48} + g^{84}x^{40} + g^{12}x^{36} + g^{29}x^{34} + g^{7}x^{33} + g^{85}x^{24} + g^{118}x^{20} + g^{108}x^{18} + g^{98}x^{17} + g^{118}x^{12} + g^{78}x^{10} + g^{114}x^{9} + g^{10}x^{6} + g^{51}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>402</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{96} + g^{114}x^{80} + g^{113}x^{72} + g^{43}x^{68} + g^{73}x^{66} + g^{92}x^{65} + g^{125}x^{48} + g^{125}x^{40} + g^{52}x^{36} + g^{56}x^{34} + g^{4}x^{33} + g^{59}x^{24} + g^{42}x^{20} + g^{52}x^{18} + g^{94}x^{17} + g^{88}x^{12} + g^{97}x^{10} + g^{31}x^{9} + g^{4}x^{6} + g^{115}x^{5} + g^{106}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>403</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{78}x^{96} + g^{68}x^{80} + g^{67}x^{72} + g^{106}x^{68} + g^{96}x^{66} + g^{118}x^{65} + g^{87}x^{48} + g^{23}x^{40} + g^{92}x^{36} + g^{105}x^{34} + g^{90}x^{33} + g^{50}x^{24} + g^{33}x^{18} + g^{10}x^{17} + g^{87}x^{12} + g^{50}x^{10} + g^{6}x^{9} + g^{102}x^{6} + g^{72}x^{5} + g^{67}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>404</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{96} + g^{14}x^{80} + g^{53}x^{72} + g^{72}x^{68} + g^{97}x^{66} + g^{87}x^{65} + g^{108}x^{48} + g^{104}x^{40} + g^{125}x^{36} + g^{28}x^{34} + g^{71}x^{33} + g^{5}x^{24} + g^{30}x^{20} + g^{64}x^{18} + g^{112}x^{17} + g^{75}x^{12} + g^{19}x^{10} + g^{23}x^{9} + g^{122}x^{6} + g^{18}x^{5} + g^{117}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>405</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{75}x^{96} + g^{35}x^{80} + g^{101}x^{72} + g^{65}x^{68} + g^{68}x^{66} + g^{3}x^{65} + g^{90}x^{48} + g^{33}x^{40} + g^{13}x^{36} + g^{103}x^{34} + g^{26}x^{33} + g^{53}x^{24} + g^{81}x^{20} + g^{85}x^{18} + g^{86}x^{17} + g^{109}x^{12} + g^{72}x^{10} + g^{114}x^{9} + g^{30}x^{6} + g^{29}x^{5} + g^{46}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>406</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{120}x^{96} + g^{114}x^{80} + g^{78}x^{72} + g^{50}x^{68} + g^{30}x^{66} + g^{25}x^{65} + g^{85}x^{48} + g^{12}x^{40} + g^{51}x^{36} + g^{21}x^{34} + g^{32}x^{33} + g^{29}x^{24} + g^{103}x^{20} + g^{96}x^{18} + g^{86}x^{17} + g^{39}x^{12} + g^{60}x^{10} + g^{66}x^{9} + g^{71}x^{6} + g^{100}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>407</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{72}x^{96} + g^{14}x^{80} + g^{32}x^{72} + x^{68} + g^{92}x^{66} + g^{81}x^{65} + g^{66}x^{48} + g^{30}x^{40} + g^{21}x^{36} + g^{100}x^{34} + g^{29}x^{33} + g^{60}x^{24} + g^{8}x^{20} + g^{104}x^{18} + g^{58}x^{17} + g^{90}x^{12} + g^{40}x^{10} + g^{123}x^{9} + g^{18}x^{6} + g^{78}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>408</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{96} + g^{3}x^{80} + g^{88}x^{72} + g^{13}x^{68} + g^{13}x^{66} + g^{81}x^{65} + g^{54}x^{48} + g^{55}x^{40} + g^{124}x^{36} + g^{2}x^{34} + g^{12}x^{33} + g^{46}x^{24} + x^{20} + g^{76}x^{18} + g^{55}x^{17} + g^{36}x^{12} + g^{120}x^{10} + g^{7}x^{9} + g^{120}x^{6} + g^{81}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>409</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{85}x^{96} + g^{55}x^{80} + g^{93}x^{72} + g^{112}x^{68} + g^{103}x^{66} + g^{16}x^{65} + g^{71}x^{48} + g^{64}x^{40} + g^{43}x^{36} + g^{61}x^{34} + g^{25}x^{33} + g^{122}x^{24} + g^{94}x^{20} + g^{79}x^{18} + g^{18}x^{17} + g^{52}x^{12} + g^{40}x^{10} + g^{45}x^{9} + g^{47}x^{6} + g^{68}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>410</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{96} + g^{85}x^{80} + g^{50}x^{72} + g^{56}x^{68} + g^{67}x^{66} + g^{124}x^{65} + g^{101}x^{48} + g^{97}x^{40} + g^{119}x^{36} + g^{41}x^{34} + g^{71}x^{33} + g^{84}x^{24} + g^{113}x^{20} + g^{119}x^{18} + g^{22}x^{17} + g^{37}x^{12} + g^{13}x^{10} + g^{35}x^{9} + g^{74}x^{6} + g^{82}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>411</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{96} + g^{100}x^{80} + g^{107}x^{72} + g^{102}x^{68} + g^{125}x^{66} + g^{87}x^{65} + g^{37}x^{48} + g^{106}x^{40} + g^{110}x^{34} + g^{102}x^{33} + g^{73}x^{24} + g^{31}x^{20} + g^{33}x^{18} + g^{36}x^{17} + g^{115}x^{12} + g^{2}x^{10} + g^{31}x^{9} + g^{38}x^{6} + g^{3}x^{5} + g^{18}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>412</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{110}x^{96} + g^{5}x^{80} + g^{120}x^{72} + g^{37}x^{68} + g^{60}x^{66} + g^{52}x^{48} + g^{26}x^{40} + g^{37}x^{36} + g^{37}x^{34} + g^{63}x^{33} + g^{74}x^{24} + g^{15}x^{20} + g^{101}x^{18} + g^{10}x^{17} + g^{72}x^{12} + g^{75}x^{10} + g^{36}x^{9} + g^{102}x^{6} + g^{99}x^{5} + g^{49}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>413</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{121}x^{96} + g^{111}x^{80} + g^{6}x^{72} + g^{32}x^{68} + g^{118}x^{66} + g^{69}x^{65} + g^{3}x^{48} + g^{21}x^{40} + g^{96}x^{36} + g^{57}x^{34} + g^{111}x^{33} + g^{124}x^{24} + g^{81}x^{20} + g^{28}x^{18} + g^{102}x^{17} + g^{85}x^{12} + g^{122}x^{10} + g^{25}x^{9} + g^{101}x^{6} + g^{117}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>414</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{96} + g^{73}x^{80} + g^{113}x^{72} + g^{111}x^{68} + g^{19}x^{66} + g^{83}x^{65} + g^{32}x^{48} + g^{54}x^{40} + g^{17}x^{36} + g^{52}x^{34} + g^{60}x^{33} + g^{126}x^{24} + g^{77}x^{20} + g^{85}x^{18} + g^{99}x^{17} + g^{83}x^{12} + g^{5}x^{10} + g^{6}x^{9} + g^{98}x^{6} + g^{42}x^{5} + g^{114}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>415</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{78}x^{96} + g^{121}x^{80} + g^{30}x^{72} + g^{85}x^{68} + g^{116}x^{66} + g^{40}x^{65} + g^{33}x^{48} + g^{124}x^{40} + g^{71}x^{36} + g^{119}x^{34} + g^{116}x^{33} + g^{53}x^{24} + g^{59}x^{20} + g^{61}x^{18} + g^{2}x^{17} + g^{47}x^{12} + g^{26}x^{10} + g^{57}x^{9} + g^{35}x^{6} + g^{85}x^{5} + g^{114}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>416</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{96} + g^{70}x^{80} + g^{99}x^{72} + g^{69}x^{68} + g^{49}x^{66} + g^{25}x^{65} + g^{48}x^{48} + g^{100}x^{40} + g^{96}x^{36} + g^{64}x^{34} + g^{49}x^{33} + g^{105}x^{24} + g^{11}x^{20} + g^{108}x^{18} + g^{44}x^{17} + g^{12}x^{12} + gx^{10} + g^{125}x^{9} + g^{42}x^{6} + g^{79}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>417</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{20}x^{96} + g^{55}x^{80} + g^{27}x^{72} + g^{89}x^{68} + g^{36}x^{66} + g^{9}x^{65} + g^{65}x^{48} + g^{45}x^{40} + g^{63}x^{36} + g^{67}x^{34} + g^{12}x^{33} + g^{123}x^{24} + g^{78}x^{20} + g^{74}x^{18} + g^{31}x^{17} + g^{22}x^{12} + gx^{10} + g^{4}x^{9} + g^{58}x^{6} + g^{124}x^{5} + g^{56}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>418</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{96} + g^{109}x^{80} + g^{72}x^{72} + g^{102}x^{68} + g^{110}x^{66} + g^{110}x^{65} + g^{62}x^{48} + g^{55}x^{40} + g^{120}x^{36} + g^{114}x^{34} + g^{6}x^{33} + g^{105}x^{24} + g^{96}x^{20} + g^{40}x^{18} + g^{116}x^{17} + g^{34}x^{12} + g^{40}x^{10} + g^{85}x^{9} + g^{80}x^{6} + g^{78}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>419</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{64}x^{96} + g^{48}x^{80} + g^{90}x^{72} + g^{28}x^{68} + g^{97}x^{66} + g^{86}x^{65} + g^{94}x^{48} + g^{31}x^{40} + g^{97}x^{36} + g^{37}x^{34} + g^{20}x^{33} + g^{25}x^{24} + g^{89}x^{20} + g^{111}x^{18} + x^{17} + g^{13}x^{12} + g^{126}x^{10} + g^{101}x^{9} + g^{76}x^{6} + g^{93}x^{5} + g^{119}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>420</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{120}x^{96} + g^{29}x^{72} + g^{39}x^{68} + g^{36}x^{66} + g^{44}x^{65} + g^{84}x^{48} + g^{43}x^{40} + g^{15}x^{36} + g^{86}x^{34} + g^{101}x^{33} + g^{3}x^{24} + g^{21}x^{20} + g^{67}x^{18} + g^{113}x^{17} + g^{93}x^{12} + g^{108}x^{10} + g^{16}x^{9} + g^{10}x^{6} + g^{60}x^{5} + g^{36}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>421</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{27}x^{96} + g^{14}x^{80} + g^{51}x^{72} + g^{13}x^{68} + g^{101}x^{66} + g^{101}x^{65} + g^{88}x^{48} + g^{2}x^{40} + g^{65}x^{36} + g^{68}x^{34} + g^{73}x^{33} + g^{94}x^{24} + g^{90}x^{20} + g^{97}x^{18} + g^{98}x^{17} + g^{125}x^{12} + g^{89}x^{10} + g^{105}x^{9} + g^{93}x^{6} + x^{5} + g^{41}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>422</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{96} + g^{54}x^{80} + g^{21}x^{72} + g^{19}x^{68} + g^{2}x^{66} + g^{124}x^{65} + g^{50}x^{48} + g^{75}x^{40} + g^{116}x^{36} + g^{109}x^{34} + g^{21}x^{33} + g^{36}x^{24} + g^{14}x^{20} + g^{57}x^{18} + g^{72}x^{17} + g^{121}x^{12} + g^{45}x^{10} + g^{30}x^{9} + g^{2}x^{6} + g^{82}x^{5} + g^{117}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>423</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{8}x^{96} + g^{95}x^{80} + g^{35}x^{72} + g^{106}x^{68} + g^{71}x^{66} + g^{30}x^{65} + g^{44}x^{48} + g^{110}x^{40} + g^{98}x^{36} + g^{112}x^{34} + g^{122}x^{33} + g^{126}x^{24} + g^{25}x^{20} + g^{115}x^{18} + g^{68}x^{17} + g^{97}x^{12} + g^{42}x^{10} + g^{27}x^{9} + g^{10}x^{6} + g^{117}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>424</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{96} + g^{5}x^{80} + g^{113}x^{72} + g^{106}x^{68} + g^{83}x^{66} + g^{80}x^{65} + g^{112}x^{48} + g^{4}x^{40} + g^{58}x^{36} + x^{34} + g^{20}x^{33} + g^{12}x^{24} + g^{3}x^{20} + g^{106}x^{18} + g^{124}x^{17} + g^{70}x^{12} + g^{44}x^{10} + g^{22}x^{9} + g^{71}x^{6} + g^{28}x^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>425</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{96} + g^{100}x^{80} + g^{86}x^{72} + g^{12}x^{68} + g^{24}x^{66} + g^{42}x^{65} + g^{60}x^{48} + g^{95}x^{40} + g^{5}x^{36} + g^{40}x^{34} + g^{70}x^{33} + g^{44}x^{24} + g^{58}x^{20} + g^{70}x^{18} + g^{64}x^{17} + g^{87}x^{12} + g^{69}x^{10} + g^{44}x^{9} + g^{44}x^{6} + g^{119}x^{5} + g^{122}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>426</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{119}x^{96} + g^{5}x^{80} + g^{23}x^{72} + g^{6}x^{68} + g^{120}x^{66} + g^{85}x^{65} + g^{48}x^{48} + g^{72}x^{40} + g^{89}x^{36} + g^{103}x^{34} + g^{10}x^{33} + g^{25}x^{24} + g^{56}x^{20} + g^{43}x^{18} + g^{113}x^{17} + g^{63}x^{12} + g^{102}x^{10} + g^{28}x^{9} + g^{107}x^{6} + g^{2}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>427</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{41}x^{96} + g^{79}x^{80} + g^{4}x^{72} + g^{122}x^{68} + g^{50}x^{66} + g^{100}x^{65} + g^{75}x^{48} + g^{84}x^{40} + g^{25}x^{36} + g^{39}x^{34} + g^{121}x^{33} + g^{25}x^{24} + g^{121}x^{20} + g^{75}x^{18} + g^{7}x^{17} + g^{27}x^{12} + g^{103}x^{10} + g^{105}x^{9} + x^{6} + g^{98}x^{5} + g^{64}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>428</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{96} + g^{47}x^{80} + g^{16}x^{72} + g^{66}x^{68} + g^{49}x^{66} + g^{61}x^{65} + g^{22}x^{48} + g^{85}x^{40} + g^{72}x^{36} + g^{26}x^{34} + g^{17}x^{33} + g^{92}x^{24} + g^{80}x^{20} + g^{116}x^{18} + g^{76}x^{17} + g^{12}x^{12} + g^{118}x^{10} + g^{81}x^{9} + g^{47}x^{6} + g^{3}x^{5} + g^{109}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>429</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{11}x^{96} + g^{61}x^{80} + g^{53}x^{72} + g^{10}x^{68} + g^{50}x^{66} + g^{51}x^{65} + g^{50}x^{48} + g^{8}x^{36} + g^{38}x^{34} + g^{64}x^{33} + g^{94}x^{24} + g^{5}x^{20} + g^{110}x^{18} + g^{14}x^{17} + g^{53}x^{12} + g^{10}x^{10} + g^{81}x^{9} + g^{64}x^{6} + g^{63}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>430</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{113}x^{96} + g^{21}x^{80} + g^{32}x^{72} + g^{31}x^{68} + g^{64}x^{66} + g^{57}x^{65} + g^{106}x^{48} + g^{9}x^{40} + g^{54}x^{36} + g^{21}x^{34} + g^{82}x^{33} + g^{3}x^{24} + g^{73}x^{20} + g^{65}x^{18} + g^{30}x^{17} + g^{20}x^{12} + g^{52}x^{10} + g^{36}x^{9} + g^{103}x^{6} + g^{77}x^{5} + g^{63}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>431</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{27}x^{96} + g^{46}x^{80} + g^{10}x^{72} + g^{41}x^{68} + g^{13}x^{66} + g^{42}x^{65} + g^{91}x^{48} + g^{57}x^{40} + g^{97}x^{36} + g^{16}x^{34} + g^{6}x^{33} + g^{59}x^{24} + g^{14}x^{20} + g^{77}x^{18} + g^{97}x^{17} + g^{52}x^{12} + g^{91}x^{10} + g^{8}x^{9} + g^{35}x^{6} + g^{8}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>432</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{96} + g^{117}x^{80} + g^{25}x^{72} + g^{94}x^{68} + g^{73}x^{66} + g^{81}x^{65} + g^{73}x^{48} + g^{73}x^{40} + g^{81}x^{36} + g^{36}x^{34} + g^{91}x^{33} + g^{85}x^{24} + g^{52}x^{20} + g^{59}x^{18} + g^{11}x^{17} + g^{9}x^{12} + g^{12}x^{10} + g^{11}x^{9} + g^{49}x^{6} + g^{95}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>433</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{69}x^{96} + g^{92}x^{80} + g^{43}x^{72} + g^{111}x^{68} + g^{107}x^{66} + g^{84}x^{65} + g^{57}x^{48} + g^{98}x^{40} + g^{102}x^{36} + g^{2}x^{34} + g^{75}x^{33} + g^{17}x^{24} + g^{72}x^{20} + g^{7}x^{18} + g^{82}x^{17} + g^{95}x^{12} + g^{105}x^{10} + g^{51}x^{9} + g^{80}x^{6} + g^{63}x^{5} + g^{117}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>434</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{117}x^{96} + g^{76}x^{80} + g^{78}x^{72} + g^{107}x^{68} + g^{8}x^{66} + g^{87}x^{65} + g^{69}x^{48} + g^{45}x^{40} + g^{91}x^{36} + g^{116}x^{34} + g^{56}x^{33} + g^{69}x^{24} + g^{32}x^{20} + g^{33}x^{18} + g^{57}x^{17} + g^{92}x^{12} + g^{22}x^{10} + g^{98}x^{9} + g^{113}x^{6} + g^{10}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>435</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{96} + g^{93}x^{80} + g^{38}x^{72} + g^{114}x^{68} + g^{8}x^{66} + g^{20}x^{65} + g^{72}x^{48} + g^{120}x^{40} + g^{107}x^{36} + g^{82}x^{34} + g^{97}x^{33} + g^{75}x^{24} + x^{20} + g^{73}x^{18} + g^{71}x^{17} + g^{56}x^{12} + g^{48}x^{10} + g^{122}x^{9} + g^{53}x^{6} + g^{120}x^{5} + g^{107}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>436</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{31}x^{96} + g^{107}x^{80} + g^{73}x^{72} + g^{75}x^{68} + g^{49}x^{66} + g^{87}x^{65} + g^{94}x^{48} + g^{57}x^{40} + g^{35}x^{36} + g^{18}x^{34} + g^{12}x^{33} + g^{44}x^{24} + g^{4}x^{20} + g^{24}x^{18} + g^{123}x^{17} + g^{112}x^{12} + g^{68}x^{10} + g^{90}x^{9} + g^{77}x^{6} + g^{10}x^{5} + g^{36}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>437</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{96} + g^{8}x^{80} + g^{105}x^{72} + g^{104}x^{68} + g^{34}x^{66} + g^{47}x^{65} + g^{79}x^{48} + g^{46}x^{40} + g^{5}x^{36} + g^{96}x^{34} + g^{104}x^{33} + g^{29}x^{24} + g^{122}x^{20} + g^{31}x^{18} + g^{68}x^{17} + g^{5}x^{12} + g^{116}x^{10} + g^{114}x^{9} + g^{46}x^{6} + g^{75}x^{5} + g^{91}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>438</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{96} + g^{102}x^{80} + g^{120}x^{72} + g^{74}x^{68} + g^{67}x^{66} + g^{110}x^{65} + g^{42}x^{48} + g^{26}x^{40} + g^{117}x^{36} + g^{40}x^{34} + g^{43}x^{33} + g^{50}x^{24} + g^{83}x^{20} + g^{125}x^{18} + g^{69}x^{17} + g^{56}x^{12} + g^{26}x^{10} + g^{2}x^{9} + g^{74}x^{6} + g^{121}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>439</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{66}x^{96} + g^{24}x^{80} + g^{37}x^{72} + g^{68}x^{68} + g^{79}x^{66} + g^{77}x^{65} + g^{101}x^{48} + g^{15}x^{40} + g^{2}x^{36} + g^{71}x^{34} + g^{76}x^{33} + g^{71}x^{24} + g^{39}x^{20} + g^{58}x^{18} + g^{123}x^{17} + g^{23}x^{12} + g^{57}x^{10} + g^{29}x^{9} + g^{25}x^{6} + g^{38}x^{5} + g^{104}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>440</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{96} + g^{88}x^{80} + g^{53}x^{72} + g^{2}x^{68} + g^{100}x^{66} + g^{78}x^{65} + x^{48} + g^{78}x^{40} + g^{101}x^{36} + g^{20}x^{34} + g^{112}x^{33} + g^{35}x^{24} + g^{55}x^{20} + g^{102}x^{18} + g^{84}x^{17} + g^{29}x^{12} + g^{41}x^{10} + g^{14}x^{9} + g^{27}x^{6} + g^{109}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>441</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{66}x^{96} + g^{123}x^{80} + g^{73}x^{72} + g^{70}x^{68} + g^{89}x^{66} + g^{88}x^{65} + g^{22}x^{48} + g^{104}x^{40} + g^{89}x^{36} + g^{25}x^{34} + g^{107}x^{33} + g^{58}x^{24} + g^{99}x^{20} + g^{77}x^{18} + g^{5}x^{17} + g^{36}x^{12} + g^{10}x^{10} + g^{118}x^{9} + g^{37}x^{6} + g^{30}x^{5} + g^{69}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>442</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{110}x^{96} + g^{27}x^{80} + g^{34}x^{72} + g^{56}x^{68} + g^{45}x^{66} + g^{103}x^{65} + g^{118}x^{48} + g^{87}x^{40} + g^{20}x^{36} + g^{94}x^{34} + g^{69}x^{33} + g^{69}x^{24} + gx^{20} + g^{117}x^{18} + g^{110}x^{17} + g^{49}x^{12} + g^{91}x^{10} + g^{41}x^{9} + g^{7}x^{6} + g^{71}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>443</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{117}x^{96} + x^{80} + g^{36}x^{72} + g^{20}x^{68} + g^{106}x^{66} + g^{6}x^{65} + g^{61}x^{48} + g^{97}x^{40} + g^{81}x^{36} + g^{58}x^{34} + g^{11}x^{33} + g^{115}x^{24} + g^{119}x^{20} + g^{31}x^{18} + g^{91}x^{17} + g^{51}x^{12} + g^{87}x^{10} + g^{36}x^{9} + g^{22}x^{6} + g^{104}x^{5} + g^{13}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>444</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{74}x^{96} + g^{12}x^{80} + g^{36}x^{72} + g^{40}x^{68} + g^{115}x^{66} + g^{4}x^{65} + g^{51}x^{48} + g^{43}x^{40} + g^{6}x^{36} + g^{58}x^{34} + g^{82}x^{33} + g^{116}x^{24} + g^{31}x^{20} + g^{95}x^{18} + g^{50}x^{17} + g^{19}x^{12} + g^{27}x^{10} + g^{113}x^{9} + g^{39}x^{6} + g^{76}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>445</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{95}x^{96} + g^{101}x^{80} + g^{96}x^{72} + g^{46}x^{68} + g^{7}x^{66} + g^{54}x^{65} + g^{86}x^{48} + g^{24}x^{36} + g^{89}x^{34} + g^{99}x^{33} + g^{70}x^{24} + g^{74}x^{20} + g^{69}x^{18} + g^{103}x^{17} + g^{115}x^{12} + g^{40}x^{10} + g^{107}x^{9} + g^{16}x^{6} + g^{9}x^{5} + g^{64}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>446</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{118}x^{96} + g^{78}x^{80} + g^{21}x^{72} + g^{38}x^{68} + g^{5}x^{66} + g^{3}x^{65} + g^{20}x^{48} + g^{126}x^{40} + g^{14}x^{36} + g^{121}x^{34} + g^{7}x^{33} + g^{43}x^{24} + g^{64}x^{20} + g^{106}x^{18} + g^{109}x^{17} + g^{73}x^{12} + g^{6}x^{10} + g^{17}x^{9} + g^{23}x^{6} + g^{96}x^{5} + g^{38}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>447</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{65}x^{96} + g^{64}x^{80} + g^{30}x^{72} + g^{20}x^{68} + g^{108}x^{66} + g^{43}x^{65} + g^{78}x^{48} + g^{126}x^{40} + g^{80}x^{36} + g^{81}x^{34} + g^{119}x^{33} + g^{16}x^{24} + g^{108}x^{20} + g^{86}x^{18} + g^{67}x^{17} + g^{60}x^{12} + g^{8}x^{10} + g^{91}x^{9} + g^{70}x^{6} + g^{23}x^{5} + g^{36}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>448</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{96} + g^{56}x^{80} + g^{25}x^{72} + g^{57}x^{68} + g^{66}x^{66} + g^{93}x^{65} + g^{72}x^{48} + g^{26}x^{40} + g^{17}x^{36} + g^{26}x^{34} + g^{123}x^{33} + g^{43}x^{24} + g^{103}x^{20} + g^{60}x^{17} + g^{35}x^{12} + g^{121}x^{10} + g^{120}x^{9} + g^{46}x^{6} + g^{62}x^{5} + g^{20}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>449</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{108}x^{96} + g^{116}x^{80} + g^{104}x^{72} + g^{121}x^{68} + g^{42}x^{66} + g^{46}x^{65} + g^{119}x^{48} + g^{60}x^{40} + g^{103}x^{36} + g^{41}x^{34} + g^{48}x^{33} + g^{9}x^{24} + g^{50}x^{20} + g^{117}x^{18} + g^{119}x^{17} + g^{11}x^{12} + g^{115}x^{10} + g^{87}x^{9} + g^{74}x^{6} + g^{16}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>450</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{96} + g^{62}x^{80} + g^{8}x^{72} + g^{7}x^{68} + g^{24}x^{66} + g^{53}x^{65} + g^{89}x^{48} + g^{79}x^{40} + g^{57}x^{36} + g^{63}x^{34} + g^{119}x^{33} + g^{12}x^{24} + g^{20}x^{20} + g^{63}x^{18} + g^{20}x^{17} + g^{80}x^{12} + g^{66}x^{10} + g^{92}x^{9} + g^{118}x^{6} + g^{14}x^{5} + g^{19}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>451</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{126}x^{96} + g^{39}x^{80} + g^{68}x^{72} + g^{15}x^{68} + g^{84}x^{66} + g^{88}x^{65} + g^{57}x^{48} + g^{81}x^{40} + g^{83}x^{36} + g^{74}x^{34} + g^{90}x^{33} + g^{32}x^{24} + g^{115}x^{20} + g^{104}x^{18} + g^{88}x^{17} + g^{38}x^{12} + g^{24}x^{10} + g^{26}x^{9} + g^{59}x^{6} + g^{124}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>452</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{62}x^{96} + g^{38}x^{80} + g^{78}x^{72} + g^{98}x^{68} + g^{40}x^{66} + g^{9}x^{65} + g^{31}x^{48} + g^{122}x^{40} + g^{40}x^{36} + g^{64}x^{34} + g^{5}x^{33} + g^{16}x^{24} + g^{85}x^{20} + g^{59}x^{18} + g^{65}x^{17} + g^{107}x^{12} + g^{90}x^{10} + g^{45}x^{9} + g^{54}x^{6} + g^{16}x^{5} + g^{56}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>453</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{61}x^{96} + g^{103}x^{80} + g^{71}x^{72} + g^{68}x^{68} + g^{26}x^{66} + g^{72}x^{65} + g^{38}x^{48} + g^{100}x^{40} + g^{26}x^{36} + g^{67}x^{34} + g^{125}x^{33} + g^{114}x^{24} + g^{87}x^{20} + g^{51}x^{18} + g^{42}x^{17} + g^{94}x^{12} + g^{29}x^{10} + g^{17}x^{9} + g^{13}x^{6} + g^{79}x^{5} + g^{16}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>454</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{114}x^{96} + g^{124}x^{80} + g^{47}x^{72} + g^{53}x^{68} + g^{69}x^{66} + g^{28}x^{65} + g^{71}x^{48} + g^{114}x^{40} + g^{122}x^{36} + x^{34} + g^{25}x^{33} + g^{81}x^{24} + g^{62}x^{20} + g^{11}x^{18} + g^{12}x^{17} + g^{20}x^{12} + g^{120}x^{10} + g^{94}x^{9} + g^{97}x^{6} + g^{41}x^{5} + g^{64}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>455</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{96} + g^{123}x^{80} + g^{71}x^{72} + g^{119}x^{68} + g^{124}x^{66} + g^{69}x^{65} + g^{69}x^{48} + g^{78}x^{40} + g^{78}x^{36} + x^{34} + g^{11}x^{33} + g^{21}x^{24} + g^{44}x^{20} + g^{65}x^{18} + g^{120}x^{17} + g^{13}x^{12} + g^{76}x^{10} + g^{18}x^{9} + g^{67}x^{6} + g^{14}x^{5} + g^{85}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>456</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{83}x^{96} + g^{58}x^{80} + g^{18}x^{72} + g^{48}x^{68} + g^{118}x^{66} + g^{5}x^{65} + g^{53}x^{48} + g^{31}x^{40} + g^{73}x^{36} + g^{47}x^{34} + g^{65}x^{33} + g^{99}x^{24} + g^{116}x^{20} + g^{94}x^{18} + g^{16}x^{17} + g^{6}x^{12} + gx^{10} + g^{85}x^{9} + g^{77}x^{6} + g^{13}x^{5} + g^{29}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>457</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{70}x^{96} + g^{71}x^{80} + g^{9}x^{72} + g^{118}x^{68} + g^{96}x^{66} + g^{108}x^{65} + g^{108}x^{48} + g^{10}x^{40} + g^{114}x^{36} + g^{96}x^{34} + g^{99}x^{33} + g^{22}x^{24} + g^{56}x^{20} + g^{89}x^{18} + g^{75}x^{17} + g^{75}x^{12} + g^{19}x^{10} + g^{28}x^{9} + g^{92}x^{6} + g^{31}x^{5} + g^{15}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>458</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{103}x^{96} + g^{61}x^{80} + g^{114}x^{72} + g^{60}x^{68} + g^{5}x^{66} + g^{35}x^{65} + g^{91}x^{48} + g^{73}x^{40} + g^{58}x^{36} + g^{10}x^{34} + g^{118}x^{33} + g^{72}x^{24} + g^{120}x^{20} + g^{90}x^{18} + g^{86}x^{17} + g^{44}x^{12} + g^{6}x^{10} + g^{85}x^{9} + g^{68}x^{6} + g^{50}x^{5} + g^{7}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>459</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{73}x^{96} + g^{116}x^{80} + g^{120}x^{72} + g^{16}x^{68} + g^{14}x^{66} + g^{76}x^{65} + g^{51}x^{48} + g^{60}x^{40} + g^{58}x^{36} + g^{53}x^{34} + g^{4}x^{33} + g^{84}x^{24} + g^{106}x^{20} + g^{17}x^{18} + g^{119}x^{17} + g^{120}x^{12} + g^{122}x^{10} + g^{95}x^{9} + g^{49}x^{6} + g^{10}x^{5} + g^{31}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>460</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{96} + g^{112}x^{80} + g^{90}x^{72} + g^{9}x^{68} + g^{72}x^{66} + g^{26}x^{65} + g^{79}x^{48} + g^{69}x^{40} + g^{23}x^{36} + g^{97}x^{34} + g^{63}x^{33} + g^{7}x^{24} + g^{113}x^{20} + g^{68}x^{18} + g^{54}x^{17} + g^{16}x^{12} + g^{24}x^{10} + g^{100}x^{9} + g^{88}x^{6} + g^{51}x^{5} + g^{58}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>461</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{38}x^{96} + g^{32}x^{80} + g^{79}x^{72} + g^{70}x^{68} + g^{74}x^{66} + g^{125}x^{65} + g^{7}x^{48} + g^{8}x^{40} + g^{69}x^{36} + g^{88}x^{34} + g^{49}x^{33} + g^{69}x^{24} + g^{120}x^{20} + g^{105}x^{18} + x^{17} + g^{27}x^{12} + g^{87}x^{10} + g^{19}x^{9} + g^{32}x^{6} + x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>462</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{86}x^{96} + g^{71}x^{80} + g^{26}x^{72} + g^{57}x^{68} + g^{78}x^{66} + g^{8}x^{65} + g^{52}x^{48} + g^{101}x^{40} + g^{105}x^{36} + g^{109}x^{34} + g^{70}x^{33} + g^{114}x^{24} + g^{112}x^{20} + g^{106}x^{18} + g^{113}x^{17} + g^{74}x^{12} + g^{37}x^{10} + g^{4}x^{9} + g^{30}x^{6} + g^{11}x^{5} + g^{20}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>463</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{96} + g^{79}x^{80} + g^{96}x^{72} + g^{89}x^{68} + g^{17}x^{66} + g^{36}x^{65} + g^{109}x^{48} + g^{61}x^{40} + g^{83}x^{36} + g^{21}x^{34} + g^{48}x^{33} + g^{86}x^{24} + g^{34}x^{20} + g^{59}x^{18} + g^{18}x^{17} + g^{48}x^{12} + g^{90}x^{10} + g^{39}x^{9} + g^{108}x^{6} + g^{54}x^{5} + g^{50}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>464</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{97}x^{96} + g^{108}x^{80} + g^{61}x^{72} + g^{30}x^{68} + g^{40}x^{66} + g^{77}x^{65} + g^{50}x^{48} + g^{37}x^{40} + g^{106}x^{36} + g^{70}x^{34} + g^{119}x^{33} + g^{77}x^{24} + g^{47}x^{20} + g^{99}x^{18} + g^{116}x^{17} + g^{117}x^{12} + g^{74}x^{10} + g^{95}x^{9} + g^{84}x^{6} + g^{18}x^{5} + g^{109}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>465</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{96} + g^{39}x^{80} + g^{93}x^{72} + g^{49}x^{68} + g^{126}x^{66} + g^{22}x^{65} + g^{3}x^{48} + g^{33}x^{40} + g^{68}x^{36} + g^{94}x^{34} + g^{28}x^{33} + g^{30}x^{24} + g^{69}x^{20} + g^{116}x^{18} + g^{73}x^{17} + g^{113}x^{12} + g^{125}x^{10} + g^{67}x^{9} + g^{97}x^{6} + g^{100}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>466</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{5}x^{96} + g^{107}x^{80} + g^{24}x^{72} + g^{81}x^{68} + g^{102}x^{66} + g^{63}x^{65} + g^{12}x^{48} + g^{117}x^{40} + g^{76}x^{36} + g^{59}x^{34} + g^{35}x^{33} + g^{96}x^{24} + g^{32}x^{20} + g^{40}x^{18} + g^{21}x^{12} + g^{79}x^{10} + g^{92}x^{9} + g^{46}x^{6} + g^{3}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>467</p></td>
<td><p><span class="math notranslate nohighlight">\(gx^{96} + g^{40}x^{80} + g^{89}x^{72} + g^{31}x^{68} + g^{30}x^{66} + g^{20}x^{65} + g^{20}x^{48} + g^{62}x^{40} + g^{92}x^{36} + g^{61}x^{34} + g^{48}x^{33} + g^{8}x^{24} + g^{62}x^{20} + g^{55}x^{18} + g^{46}x^{17} + g^{7}x^{12} + g^{118}x^{10} + g^{103}x^{9} + g^{51}x^{6} + gx^{5} + g^{7}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>468</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{70}x^{96} + g^{33}x^{80} + g^{51}x^{72} + g^{21}x^{68} + g^{60}x^{66} + g^{61}x^{65} + g^{95}x^{48} + g^{104}x^{40} + g^{28}x^{36} + g^{75}x^{34} + g^{11}x^{33} + g^{100}x^{24} + g^{47}x^{20} + g^{51}x^{18} + g^{50}x^{17} + g^{71}x^{12} + g^{111}x^{10} + g^{68}x^{9} + g^{44}x^{6} + g^{79}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>469</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{122}x^{96} + g^{40}x^{80} + g^{104}x^{72} + g^{82}x^{68} + g^{75}x^{66} + g^{15}x^{65} + g^{46}x^{48} + g^{39}x^{40} + g^{65}x^{36} + g^{32}x^{34} + g^{115}x^{33} + g^{26}x^{24} + g^{44}x^{20} + g^{60}x^{18} + g^{119}x^{17} + g^{21}x^{12} + g^{29}x^{10} + g^{107}x^{9} + g^{102}x^{6} + g^{83}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>470</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{96} + g^{116}x^{80} + g^{11}x^{72} + g^{2}x^{68} + g^{8}x^{66} + g^{76}x^{65} + g^{101}x^{48} + g^{94}x^{40} + g^{122}x^{36} + g^{90}x^{34} + g^{50}x^{33} + g^{20}x^{24} + g^{110}x^{20} + g^{95}x^{18} + g^{50}x^{17} + g^{93}x^{12} + g^{126}x^{10} + g^{44}x^{9} + g^{11}x^{6} + g^{67}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>471</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{96} + g^{51}x^{80} + g^{118}x^{72} + g^{45}x^{68} + g^{2}x^{66} + g^{8}x^{65} + g^{56}x^{48} + g^{105}x^{40} + g^{102}x^{36} + g^{62}x^{34} + g^{86}x^{33} + g^{48}x^{24} + g^{97}x^{20} + g^{7}x^{18} + g^{52}x^{17} + g^{38}x^{12} + g^{119}x^{10} + g^{110}x^{9} + g^{14}x^{6} + g^{46}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>472</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{34}x^{96} + g^{5}x^{80} + g^{38}x^{72} + g^{125}x^{68} + g^{16}x^{66} + g^{74}x^{65} + g^{31}x^{48} + g^{73}x^{40} + g^{32}x^{36} + g^{88}x^{34} + g^{27}x^{33} + g^{121}x^{24} + g^{32}x^{20} + g^{60}x^{18} + g^{16}x^{17} + g^{105}x^{12} + g^{107}x^{10} + g^{67}x^{9} + g^{87}x^{6} + g^{117}x^{5} + g^{111}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>473</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{96} + g^{89}x^{80} + g^{39}x^{72} + g^{108}x^{68} + g^{32}x^{66} + g^{94}x^{65} + g^{109}x^{48} + g^{106}x^{40} + g^{92}x^{36} + g^{78}x^{34} + g^{50}x^{33} + g^{90}x^{24} + g^{48}x^{20} + g^{19}x^{17} + g^{21}x^{12} + g^{7}x^{10} + g^{51}x^{9} + g^{15}x^{6} + g^{70}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>474</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{96} + g^{84}x^{80} + g^{39}x^{72} + g^{16}x^{68} + x^{66} + g^{74}x^{65} + g^{5}x^{48} + g^{49}x^{40} + g^{51}x^{36} + g^{121}x^{34} + g^{83}x^{33} + g^{28}x^{24} + g^{40}x^{20} + g^{45}x^{18} + g^{34}x^{17} + g^{55}x^{12} + g^{38}x^{10} + g^{4}x^{9} + g^{80}x^{6} + g^{44}x^{5} + g^{15}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>475</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{90}x^{96} + g^{75}x^{80} + g^{51}x^{72} + g^{70}x^{68} + g^{27}x^{66} + g^{107}x^{65} + g^{88}x^{48} + g^{51}x^{40} + g^{61}x^{36} + g^{25}x^{34} + g^{66}x^{33} + g^{18}x^{24} + g^{64}x^{20} + g^{106}x^{18} + g^{16}x^{17} + g^{85}x^{12} + g^{54}x^{10} + g^{123}x^{9} + g^{72}x^{6} + g^{96}x^{5} + g^{85}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>476</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{14}x^{96} + g^{121}x^{80} + g^{38}x^{72} + g^{101}x^{68} + g^{56}x^{66} + g^{17}x^{65} + g^{58}x^{48} + g^{76}x^{40} + g^{62}x^{36} + g^{11}x^{34} + g^{90}x^{33} + g^{108}x^{24} + g^{108}x^{20} + g^{40}x^{18} + g^{12}x^{17} + g^{112}x^{12} + g^{124}x^{10} + g^{97}x^{9} + g^{122}x^{6} + g^{53}x^{5} + g^{65}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>477</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{96} + g^{6}x^{80} + g^{85}x^{72} + g^{61}x^{68} + g^{37}x^{66} + g^{60}x^{65} + g^{68}x^{48} + g^{73}x^{40} + g^{61}x^{36} + g^{50}x^{34} + g^{83}x^{33} + g^{110}x^{24} + g^{17}x^{20} + g^{85}x^{18} + g^{10}x^{17} + g^{11}x^{12} + g^{23}x^{10} + g^{89}x^{9} + g^{21}x^{6} + g^{120}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>478</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{28}x^{96} + g^{43}x^{80} + g^{11}x^{72} + g^{108}x^{68} + g^{4}x^{66} + g^{87}x^{65} + g^{29}x^{48} + g^{85}x^{40} + g^{41}x^{36} + g^{66}x^{34} + g^{81}x^{33} + g^{56}x^{24} + g^{29}x^{20} + g^{11}x^{18} + g^{116}x^{17} + g^{37}x^{12} + g^{104}x^{10} + g^{88}x^{9} + g^{71}x^{6} + g^{101}x^{5} + g^{51}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>479</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{96} + g^{69}x^{80} + g^{31}x^{72} + g^{87}x^{68} + g^{77}x^{66} + g^{59}x^{65} + g^{13}x^{48} + g^{123}x^{40} + g^{12}x^{36} + g^{74}x^{34} + g^{19}x^{33} + g^{56}x^{24} + g^{101}x^{20} + g^{31}x^{18} + g^{95}x^{17} + g^{3}x^{12} + g^{86}x^{10} + g^{96}x^{9} + g^{82}x^{6} + g^{94}x^{5} + g^{4}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>480</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{30}x^{96} + g^{115}x^{80} + g^{71}x^{72} + g^{2}x^{68} + g^{35}x^{66} + g^{3}x^{65} + g^{115}x^{48} + g^{34}x^{40} + g^{9}x^{36} + g^{79}x^{34} + g^{103}x^{33} + g^{65}x^{24} + g^{58}x^{20} + g^{59}x^{18} + g^{36}x^{17} + g^{50}x^{12} + g^{84}x^{10} + g^{112}x^{9} + g^{87}x^{6} + g^{69}x^{5} + g^{82}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>481</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{96} + g^{11}x^{80} + g^{42}x^{72} + g^{10}x^{68} + g^{68}x^{66} + g^{25}x^{65} + g^{4}x^{48} + g^{117}x^{40} + g^{126}x^{36} + g^{87}x^{34} + g^{50}x^{33} + g^{57}x^{24} + g^{78}x^{20} + g^{90}x^{18} + g^{48}x^{17} + g^{89}x^{12} + g^{40}x^{10} + g^{57}x^{9} + g^{49}x^{6} + g^{115}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>482</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{96} + g^{78}x^{80} + g^{15}x^{72} + g^{115}x^{68} + g^{40}x^{66} + g^{122}x^{65} + g^{68}x^{48} + g^{25}x^{40} + g^{109}x^{36} + g^{60}x^{34} + g^{27}x^{33} + g^{2}x^{24} + g^{2}x^{20} + g^{18}x^{18} + g^{7}x^{17} + g^{28}x^{12} + g^{42}x^{10} + g^{104}x^{9} + g^{26}x^{6} + g^{43}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>483</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{45}x^{96} + g^{33}x^{80} + g^{19}x^{72} + g^{66}x^{68} + g^{108}x^{66} + g^{9}x^{65} + g^{32}x^{48} + g^{115}x^{40} + g^{65}x^{36} + g^{23}x^{34} + g^{23}x^{33} + g^{19}x^{24} + g^{62}x^{20} + g^{18}x^{18} + g^{74}x^{17} + g^{2}x^{12} + g^{82}x^{10} + g^{11}x^{9} + g^{84}x^{6} + g^{119}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>484</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{123}x^{96} + g^{122}x^{80} + g^{90}x^{72} + g^{15}x^{68} + g^{73}x^{66} + g^{18}x^{48} + g^{17}x^{40} + g^{86}x^{36} + g^{52}x^{34} + g^{114}x^{33} + g^{34}x^{24} + g^{97}x^{20} + g^{52}x^{18} + g^{114}x^{17} + g^{81}x^{12} + g^{117}x^{10} + g^{26}x^{9} + g^{76}x^{6} + g^{3}x^{5} + g^{71}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>485</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{96} + g^{121}x^{80} + g^{17}x^{72} + g^{117}x^{68} + g^{44}x^{66} + g^{63}x^{65} + g^{88}x^{48} + g^{39}x^{40} + g^{80}x^{36} + g^{94}x^{34} + g^{94}x^{33} + g^{55}x^{24} + g^{113}x^{20} + g^{116}x^{18} + g^{62}x^{17} + g^{17}x^{12} + g^{110}x^{10} + g^{53}x^{9} + g^{87}x^{6} + g^{25}x^{5} + g^{73}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>486</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{96} + g^{58}x^{80} + g^{47}x^{72} + g^{73}x^{68} + g^{29}x^{66} + g^{120}x^{65} + g^{53}x^{48} + g^{23}x^{40} + g^{49}x^{36} + g^{51}x^{34} + g^{79}x^{33} + gx^{24} + g^{20}x^{20} + g^{46}x^{18} + g^{51}x^{17} + g^{104}x^{12} + g^{8}x^{10} + g^{27}x^{9} + g^{48}x^{6} + g^{108}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>487</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{53}x^{96} + g^{64}x^{72} + g^{50}x^{68} + g^{91}x^{66} + g^{14}x^{65} + g^{4}x^{48} + g^{55}x^{40} + g^{96}x^{36} + g^{57}x^{34} + g^{71}x^{33} + g^{123}x^{24} + g^{27}x^{20} + g^{27}x^{18} + g^{93}x^{17} + gx^{12} + g^{74}x^{10} + g^{14}x^{9} + g^{34}x^{6} + g^{38}x^{5} + g^{78}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>488</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{80} + g^{40}x^{72} + g^{122}x^{68} + g^{70}x^{66} + g^{119}x^{65} + g^{113}x^{48} + g^{69}x^{40} + g^{69}x^{36} + g^{50}x^{34} + g^{38}x^{33} + g^{95}x^{24} + g^{20}x^{20} + g^{100}x^{18} + g^{70}x^{17} + g^{6}x^{12} + g^{57}x^{10} + g^{76}x^{9} + g^{13}x^{6} + g^{61}x^{5} + g^{125}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>489</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{53}x^{96} + g^{95}x^{80} + g^{107}x^{72} + g^{2}x^{68} + g^{88}x^{66} + g^{45}x^{65} + g^{122}x^{48} + g^{65}x^{40} + g^{9}x^{36} + g^{10}x^{34} + g^{107}x^{33} + g^{43}x^{24} + g^{42}x^{20} + g^{77}x^{18} + g^{15}x^{17} + g^{71}x^{12} + g^{21}x^{10} + g^{63}x^{9} + g^{8}x^{6} + g^{41}x^{5} + g^{38}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>490</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{15}x^{96} + g^{3}x^{80} + g^{101}x^{68} + g^{90}x^{66} + g^{106}x^{65} + g^{117}x^{48} + g^{122}x^{40} + g^{122}x^{36} + g^{75}x^{34} + g^{67}x^{33} + g^{126}x^{24} + g^{16}x^{20} + g^{10}x^{18} + g^{61}x^{17} + g^{86}x^{12} + g^{102}x^{10} + g^{124}x^{9} + g^{59}x^{6} + g^{13}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_7/001_500/401_500.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>