
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>701</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{233}x^{192} + g^{134}x^{160} + g^{10}x^{144} + g^{23}x^{136} + g^{207}x^{132} + g^{157}x^{130} + g^{138}x^{129} + g^{223}x^{96} + g^{74}x^{80} + g^{27}x^{72} + g^{16}x^{68} + g^{170}x^{65} + g^{101}x^{48} + g^{143}x^{40} + g^{149}x^{36} + g^{249}x^{34} + g^{135}x^{33} + g^{34}x^{24} + g^{199}x^{20} + g^{106}x^{18} + g^{151}x^{17} + g^{213}x^{12} + g^{60}x^{10} + g^{225}x^{9} + g^{108}x^{6} + g^{86}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>702</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{226}x^{192} + g^{25}x^{160} + g^{234}x^{144} + g^{19}x^{136} + g^{191}x^{132} + g^{149}x^{130} + g^{4}x^{129} + g^{240}x^{96} + g^{79}x^{80} + g^{173}x^{72} + g^{217}x^{68} + g^{190}x^{66} + g^{23}x^{65} + g^{6}x^{48} + g^{34}x^{40} + g^{59}x^{36} + g^{62}x^{34} + g^{114}x^{33} + g^{197}x^{24} + g^{98}x^{20} + g^{214}x^{18} + g^{123}x^{17} + g^{3}x^{12} + g^{47}x^{10} + g^{113}x^{9} + g^{142}x^{6} + g^{10}x^{5} + g^{118}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>703</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{41}x^{192} + g^{67}x^{160} + g^{157}x^{144} + g^{13}x^{136} + g^{174}x^{132} + g^{126}x^{130} + g^{118}x^{129} + g^{190}x^{96} + g^{204}x^{80} + g^{78}x^{72} + g^{49}x^{68} + g^{43}x^{66} + g^{251}x^{65} + g^{72}x^{48} + g^{89}x^{40} + g^{196}x^{36} + g^{24}x^{34} + g^{123}x^{33} + g^{217}x^{24} + g^{91}x^{20} + g^{215}x^{18} + g^{10}x^{17} + g^{213}x^{12} + g^{246}x^{10} + g^{15}x^{9} + g^{27}x^{6} + g^{37}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>704</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{180}x^{192} + x^{160} + g^{195}x^{144} + g^{32}x^{136} + g^{98}x^{132} + g^{39}x^{130} + g^{80}x^{129} + g^{40}x^{96} + g^{126}x^{80} + g^{37}x^{72} + g^{154}x^{68} + g^{111}x^{66} + g^{61}x^{65} + g^{206}x^{48} + g^{175}x^{40} + g^{222}x^{36} + g^{49}x^{34} + g^{75}x^{33} + g^{111}x^{24} + g^{21}x^{20} + g^{22}x^{18} + g^{3}x^{17} + g^{131}x^{12} + g^{182}x^{10} + g^{226}x^{9} + g^{107}x^{6} + g^{31}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>705</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{226}x^{192} + g^{72}x^{160} + g^{222}x^{144} + g^{237}x^{136} + g^{110}x^{132} + g^{81}x^{130} + g^{158}x^{129} + g^{213}x^{96} + g^{146}x^{80} + g^{246}x^{72} + g^{179}x^{68} + g^{113}x^{65} + g^{145}x^{48} + g^{87}x^{40} + g^{191}x^{36} + g^{182}x^{34} + g^{78}x^{33} + g^{78}x^{24} + g^{92}x^{20} + g^{94}x^{18} + g^{232}x^{17} + g^{127}x^{12} + g^{239}x^{10} + g^{63}x^{9} + g^{249}x^{6} + g^{42}x^{5} + g^{99}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>706</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{132}x^{192} + g^{208}x^{160} + g^{109}x^{144} + g^{17}x^{136} + g^{202}x^{132} + g^{19}x^{130} + g^{33}x^{129} + g^{146}x^{96} + g^{183}x^{80} + g^{129}x^{72} + g^{121}x^{68} + g^{173}x^{66} + g^{146}x^{65} + g^{23}x^{48} + g^{226}x^{40} + g^{193}x^{36} + g^{214}x^{34} + g^{50}x^{33} + g^{241}x^{24} + g^{35}x^{20} + g^{206}x^{18} + g^{71}x^{17} + g^{232}x^{12} + g^{232}x^{10} + g^{111}x^{9} + g^{69}x^{6} + g^{165}x^{5} + g^{159}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>707</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{160}x^{192} + g^{203}x^{160} + g^{135}x^{144} + g^{195}x^{136} + g^{224}x^{132} + g^{220}x^{130} + g^{14}x^{129} + g^{26}x^{96} + g^{7}x^{80} + g^{72}x^{72} + g^{109}x^{68} + g^{247}x^{66} + g^{134}x^{65} + g^{104}x^{48} + g^{4}x^{40} + g^{181}x^{36} + g^{81}x^{34} + g^{207}x^{33} + g^{48}x^{24} + g^{200}x^{20} + g^{236}x^{18} + g^{62}x^{17} + g^{114}x^{12} + g^{90}x^{10} + g^{85}x^{9} + g^{142}x^{6} + g^{35}x^{5} + g^{49}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>708</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{164}x^{192} + g^{46}x^{160} + g^{235}x^{144} + g^{61}x^{136} + g^{7}x^{132} + x^{130} + g^{208}x^{129} + g^{132}x^{96} + g^{181}x^{80} + g^{25}x^{72} + g^{215}x^{68} + g^{46}x^{66} + g^{189}x^{65} + g^{36}x^{48} + g^{62}x^{40} + g^{13}x^{36} + g^{80}x^{34} + g^{181}x^{33} + g^{248}x^{24} + g^{234}x^{20} + g^{76}x^{18} + g^{196}x^{17} + g^{215}x^{12} + g^{73}x^{10} + g^{131}x^{9} + x^{6} + g^{173}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>709</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{238}x^{192} + g^{92}x^{160} + g^{176}x^{144} + g^{68}x^{136} + g^{194}x^{132} + g^{156}x^{130} + g^{156}x^{129} + g^{77}x^{96} + g^{190}x^{80} + g^{12}x^{72} + g^{100}x^{68} + g^{105}x^{66} + g^{8}x^{65} + g^{33}x^{48} + g^{200}x^{40} + g^{43}x^{36} + g^{74}x^{34} + g^{234}x^{33} + g^{227}x^{24} + g^{127}x^{20} + g^{250}x^{18} + g^{129}x^{17} + g^{117}x^{12} + g^{123}x^{10} + g^{240}x^{9} + g^{252}x^{6} + g^{40}x^{5} + g^{159}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>710</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{192} + g^{132}x^{160} + g^{132}x^{144} + g^{160}x^{136} + g^{150}x^{132} + g^{116}x^{130} + g^{174}x^{129} + g^{210}x^{96} + g^{70}x^{80} + g^{150}x^{72} + g^{193}x^{68} + g^{62}x^{66} + g^{160}x^{65} + g^{149}x^{48} + g^{213}x^{40} + g^{82}x^{36} + g^{57}x^{34} + g^{249}x^{33} + g^{93}x^{24} + g^{14}x^{20} + g^{71}x^{18} + g^{106}x^{17} + g^{253}x^{12} + g^{232}x^{10} + g^{159}x^{9} + g^{200}x^{6} + g^{204}x^{5} + g^{16}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>711</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{215}x^{192} + g^{153}x^{160} + g^{58}x^{144} + g^{197}x^{136} + g^{20}x^{132} + g^{234}x^{130} + g^{211}x^{129} + g^{185}x^{96} + g^{4}x^{80} + g^{53}x^{72} + g^{67}x^{68} + g^{116}x^{66} + g^{103}x^{65} + g^{231}x^{48} + g^{245}x^{40} + g^{77}x^{36} + g^{113}x^{34} + g^{237}x^{33} + g^{133}x^{24} + g^{141}x^{20} + g^{233}x^{18} + g^{251}x^{17} + g^{243}x^{12} + g^{132}x^{10} + g^{235}x^{9} + g^{240}x^{6} + g^{15}x^{5} + g^{116}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>712</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{220}x^{192} + g^{237}x^{160} + g^{4}x^{144} + g^{250}x^{136} + g^{253}x^{132} + g^{121}x^{130} + g^{61}x^{129} + g^{84}x^{96} + g^{161}x^{80} + g^{147}x^{72} + g^{90}x^{68} + g^{101}x^{66} + g^{132}x^{65} + g^{56}x^{48} + g^{202}x^{40} + g^{168}x^{36} + g^{116}x^{34} + g^{127}x^{33} + g^{166}x^{24} + g^{39}x^{20} + g^{210}x^{18} + g^{45}x^{17} + g^{128}x^{12} + g^{6}x^{10} + g^{111}x^{9} + g^{164}x^{6} + g^{225}x^{5} + g^{209}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>713</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{198}x^{192} + g^{194}x^{160} + g^{213}x^{144} + g^{242}x^{136} + g^{77}x^{132} + g^{39}x^{130} + g^{180}x^{129} + g^{71}x^{96} + g^{64}x^{80} + g^{248}x^{72} + g^{113}x^{68} + g^{136}x^{66} + g^{219}x^{65} + g^{22}x^{48} + g^{143}x^{40} + g^{10}x^{36} + g^{72}x^{34} + g^{208}x^{33} + g^{190}x^{24} + g^{21}x^{20} + g^{123}x^{18} + g^{202}x^{17} + g^{64}x^{12} + g^{227}x^{10} + g^{65}x^{9} + g^{53}x^{6} + g^{218}x^{5} + g^{37}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>714</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{226}x^{192} + g^{233}x^{160} + g^{54}x^{144} + g^{28}x^{136} + g^{27}x^{132} + g^{82}x^{130} + g^{212}x^{129} + g^{106}x^{96} + g^{238}x^{80} + g^{215}x^{72} + g^{71}x^{68} + g^{78}x^{66} + g^{9}x^{65} + g^{174}x^{48} + g^{131}x^{40} + g^{175}x^{36} + g^{153}x^{34} + g^{31}x^{33} + g^{123}x^{24} + g^{105}x^{20} + gx^{18} + g^{228}x^{17} + g^{235}x^{12} + g^{111}x^{10} + g^{222}x^{9} + g^{234}x^{6} + g^{15}x^{5} + g^{34}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>715</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{78}x^{192} + x^{160} + g^{41}x^{144} + g^{31}x^{136} + g^{89}x^{132} + g^{92}x^{130} + g^{37}x^{129} + g^{202}x^{96} + g^{187}x^{80} + g^{114}x^{72} + g^{110}x^{68} + g^{176}x^{66} + g^{205}x^{65} + g^{226}x^{48} + g^{51}x^{40} + g^{162}x^{36} + g^{251}x^{34} + g^{62}x^{33} + g^{145}x^{24} + g^{218}x^{20} + g^{236}x^{18} + g^{221}x^{17} + g^{136}x^{12} + g^{3}x^{10} + g^{171}x^{9} + g^{180}x^{6} + g^{194}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>716</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{3}x^{192} + g^{6}x^{160} + g^{115}x^{144} + g^{223}x^{136} + g^{8}x^{132} + g^{214}x^{130} + g^{92}x^{129} + g^{228}x^{96} + g^{242}x^{80} + g^{225}x^{72} + g^{207}x^{68} + g^{209}x^{66} + g^{174}x^{65} + g^{117}x^{48} + g^{213}x^{40} + g^{123}x^{36} + g^{220}x^{34} + g^{59}x^{33} + g^{231}x^{24} + g^{48}x^{20} + g^{9}x^{18} + g^{173}x^{17} + g^{111}x^{12} + g^{158}x^{10} + g^{205}x^{9} + g^{191}x^{6} + g^{120}x^{5} + g^{245}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>717</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{113}x^{192} + g^{28}x^{160} + g^{125}x^{144} + g^{140}x^{136} + g^{110}x^{132} + g^{166}x^{130} + g^{114}x^{129} + g^{237}x^{96} + g^{44}x^{80} + g^{32}x^{72} + g^{80}x^{68} + g^{130}x^{66} + g^{32}x^{65} + g^{178}x^{48} + g^{14}x^{40} + g^{146}x^{36} + g^{94}x^{34} + g^{244}x^{33} + g^{77}x^{24} + g^{168}x^{20} + g^{148}x^{18} + g^{40}x^{17} + g^{179}x^{12} + g^{45}x^{10} + g^{93}x^{9} + g^{49}x^{6} + g^{81}x^{5} + g^{200}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>718</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{101}x^{192} + g^{159}x^{160} + g^{51}x^{144} + g^{191}x^{136} + g^{221}x^{132} + g^{114}x^{130} + g^{115}x^{129} + g^{34}x^{96} + g^{207}x^{80} + g^{110}x^{72} + g^{152}x^{68} + g^{163}x^{66} + g^{166}x^{65} + g^{142}x^{48} + g^{144}x^{40} + g^{21}x^{36} + g^{243}x^{34} + g^{5}x^{33} + g^{128}x^{24} + g^{170}x^{20} + g^{240}x^{18} + g^{127}x^{17} + g^{204}x^{12} + g^{167}x^{10} + g^{89}x^{9} + g^{130}x^{6} + g^{71}x^{5} + g^{162}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>719</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{192} + g^{154}x^{160} + g^{166}x^{144} + g^{210}x^{136} + g^{212}x^{132} + gx^{130} + g^{43}x^{129} + g^{57}x^{96} + g^{35}x^{80} + g^{129}x^{72} + g^{63}x^{68} + g^{57}x^{66} + g^{139}x^{65} + g^{175}x^{48} + g^{45}x^{40} + g^{120}x^{36} + g^{119}x^{34} + g^{82}x^{33} + g^{127}x^{24} + g^{129}x^{20} + g^{236}x^{18} + g^{106}x^{17} + g^{122}x^{12} + g^{146}x^{10} + g^{28}x^{9} + g^{193}x^{6} + g^{99}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>720</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{188}x^{192} + g^{168}x^{160} + g^{172}x^{144} + g^{186}x^{136} + g^{35}x^{132} + g^{99}x^{130} + g^{105}x^{129} + g^{208}x^{96} + g^{30}x^{80} + g^{52}x^{72} + g^{219}x^{68} + g^{149}x^{66} + g^{189}x^{65} + g^{79}x^{48} + g^{146}x^{40} + g^{72}x^{36} + g^{89}x^{34} + g^{193}x^{33} + g^{28}x^{24} + g^{62}x^{20} + g^{32}x^{18} + g^{11}x^{17} + g^{190}x^{12} + g^{202}x^{10} + g^{222}x^{9} + g^{64}x^{6} + g^{5}x^{5} + g^{60}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>721</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{214}x^{160} + g^{4}x^{144} + g^{248}x^{136} + g^{158}x^{132} + g^{29}x^{130} + g^{74}x^{129} + g^{7}x^{96} + g^{138}x^{80} + g^{91}x^{72} + g^{166}x^{68} + g^{4}x^{66} + g^{234}x^{65} + g^{237}x^{48} + gx^{40} + g^{16}x^{36} + g^{244}x^{34} + g^{68}x^{33} + g^{112}x^{24} + g^{138}x^{20} + g^{134}x^{18} + g^{190}x^{17} + g^{112}x^{12} + g^{7}x^{10} + g^{168}x^{9} + g^{46}x^{6} + g^{165}x^{5} + g^{72}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>722</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{173}x^{192} + g^{68}x^{160} + g^{65}x^{144} + g^{38}x^{136} + g^{100}x^{132} + g^{58}x^{130} + g^{197}x^{129} + g^{62}x^{96} + g^{221}x^{80} + g^{106}x^{72} + g^{8}x^{68} + g^{72}x^{66} + g^{39}x^{65} + g^{73}x^{48} + g^{131}x^{40} + g^{3}x^{36} + g^{5}x^{34} + g^{48}x^{33} + g^{44}x^{24} + g^{7}x^{20} + g^{124}x^{18} + g^{24}x^{17} + g^{190}x^{12} + g^{2}x^{10} + g^{98}x^{9} + g^{163}x^{6} + g^{143}x^{5} + g^{108}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>723</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{188}x^{192} + g^{216}x^{160} + g^{71}x^{144} + g^{157}x^{136} + g^{116}x^{132} + g^{224}x^{130} + g^{116}x^{129} + g^{194}x^{96} + g^{150}x^{80} + g^{13}x^{72} + g^{80}x^{68} + x^{66} + g^{196}x^{65} + g^{157}x^{48} + g^{254}x^{40} + g^{110}x^{36} + g^{61}x^{34} + g^{103}x^{33} + g^{19}x^{24} + g^{156}x^{20} + g^{225}x^{18} + g^{107}x^{17} + g^{37}x^{12} + g^{143}x^{10} + g^{166}x^{9} + g^{137}x^{6} + g^{22}x^{5} + g^{199}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>724</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{152}x^{192} + g^{82}x^{160} + g^{98}x^{144} + g^{91}x^{136} + g^{27}x^{132} + g^{30}x^{130} + g^{161}x^{129} + g^{211}x^{96} + g^{196}x^{80} + g^{144}x^{72} + g^{22}x^{68} + g^{54}x^{66} + g^{229}x^{65} + g^{201}x^{48} + g^{27}x^{40} + g^{76}x^{36} + g^{163}x^{34} + g^{101}x^{33} + g^{242}x^{24} + g^{184}x^{20} + g^{214}x^{18} + g^{43}x^{17} + g^{227}x^{12} + g^{174}x^{10} + g^{222}x^{9} + g^{21}x^{6} + g^{169}x^{5} + g^{212}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>725</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{176}x^{160} + g^{133}x^{144} + g^{233}x^{136} + g^{85}x^{132} + g^{143}x^{130} + g^{135}x^{129} + g^{143}x^{96} + g^{171}x^{80} + g^{160}x^{72} + g^{162}x^{68} + g^{188}x^{66} + g^{104}x^{65} + g^{219}x^{48} + g^{26}x^{40} + g^{168}x^{36} + g^{223}x^{34} + g^{217}x^{33} + g^{116}x^{24} + g^{183}x^{20} + g^{122}x^{18} + g^{220}x^{17} + g^{243}x^{12} + g^{164}x^{10} + g^{12}x^{9} + g^{89}x^{6} + g^{95}x^{5} + g^{35}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>726</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{218}x^{160} + g^{194}x^{144} + g^{105}x^{136} + g^{157}x^{132} + g^{150}x^{130} + g^{139}x^{129} + g^{47}x^{96} + g^{140}x^{80} + g^{159}x^{72} + g^{154}x^{68} + g^{242}x^{66} + g^{137}x^{65} + g^{240}x^{48} + g^{245}x^{40} + g^{88}x^{36} + g^{62}x^{34} + g^{120}x^{33} + g^{193}x^{24} + g^{207}x^{20} + g^{148}x^{18} + gx^{17} + g^{133}x^{12} + g^{234}x^{10} + g^{233}x^{9} + g^{69}x^{6} + g^{204}x^{5} + g^{175}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>727</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{245}x^{160} + g^{89}x^{144} + g^{171}x^{136} + g^{15}x^{132} + g^{25}x^{130} + g^{103}x^{129} + g^{111}x^{96} + g^{135}x^{80} + g^{179}x^{72} + g^{121}x^{68} + g^{241}x^{66} + g^{250}x^{65} + g^{107}x^{48} + g^{203}x^{40} + g^{124}x^{36} + g^{52}x^{34} + g^{58}x^{33} + g^{158}x^{24} + g^{223}x^{20} + g^{246}x^{18} + g^{85}x^{17} + g^{112}x^{12} + g^{28}x^{10} + g^{75}x^{9} + g^{222}x^{6} + g^{83}x^{5} + g^{7}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>728</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{254}x^{192} + g^{173}x^{160} + g^{105}x^{144} + g^{254}x^{136} + g^{100}x^{132} + g^{124}x^{130} + g^{122}x^{129} + g^{51}x^{96} + g^{122}x^{80} + g^{188}x^{72} + g^{203}x^{68} + g^{186}x^{66} + g^{48}x^{65} + g^{221}x^{48} + g^{138}x^{40} + g^{159}x^{36} + g^{116}x^{34} + g^{84}x^{33} + g^{123}x^{24} + g^{113}x^{20} + g^{193}x^{18} + g^{183}x^{17} + g^{140}x^{12} + g^{152}x^{10} + g^{193}x^{9} + g^{127}x^{6} + g^{47}x^{5} + g^{10}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>729</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{144}x^{192} + g^{58}x^{160} + g^{143}x^{144} + g^{120}x^{136} + g^{169}x^{132} + g^{145}x^{130} + g^{55}x^{129} + g^{197}x^{96} + g^{177}x^{80} + g^{191}x^{72} + g^{203}x^{68} + g^{24}x^{66} + g^{188}x^{65} + g^{16}x^{48} + g^{144}x^{40} + g^{28}x^{36} + g^{61}x^{34} + g^{245}x^{33} + g^{230}x^{24} + g^{203}x^{20} + g^{57}x^{18} + g^{56}x^{17} + g^{115}x^{12} + g^{154}x^{10} + g^{127}x^{9} + g^{186}x^{6} + g^{186}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>730</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{73}x^{192} + g^{167}x^{160} + g^{35}x^{144} + g^{164}x^{136} + g^{24}x^{132} + g^{188}x^{130} + g^{65}x^{129} + g^{203}x^{96} + g^{148}x^{80} + g^{243}x^{72} + g^{38}x^{68} + g^{171}x^{66} + g^{74}x^{65} + g^{50}x^{48} + g^{182}x^{40} + g^{241}x^{36} + g^{209}x^{34} + g^{129}x^{33} + g^{135}x^{24} + g^{121}x^{20} + g^{31}x^{18} + g^{11}x^{17} + g^{80}x^{12} + g^{175}x^{10} + g^{84}x^{9} + g^{95}x^{6} + g^{124}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>731</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{71}x^{160} + g^{134}x^{144} + g^{157}x^{136} + g^{177}x^{132} + g^{69}x^{130} + g^{81}x^{129} + g^{192}x^{96} + g^{54}x^{80} + g^{175}x^{72} + g^{148}x^{68} + g^{241}x^{66} + g^{158}x^{65} + g^{136}x^{48} + g^{216}x^{40} + g^{173}x^{36} + g^{61}x^{34} + g^{28}x^{33} + gx^{24} + g^{135}x^{20} + g^{121}x^{18} + g^{138}x^{17} + g^{99}x^{12} + g^{24}x^{10} + g^{3}x^{9} + g^{169}x^{6} + g^{120}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>732</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{167}x^{192} + g^{77}x^{160} + g^{220}x^{144} + g^{189}x^{136} + g^{144}x^{132} + g^{20}x^{130} + g^{196}x^{96} + g^{110}x^{80} + g^{133}x^{72} + g^{146}x^{68} + g^{76}x^{65} + g^{129}x^{48} + g^{228}x^{40} + g^{154}x^{36} + g^{191}x^{34} + g^{185}x^{33} + g^{253}x^{24} + g^{16}x^{20} + g^{104}x^{18} + g^{73}x^{17} + g^{15}x^{12} + g^{51}x^{10} + g^{253}x^{9} + g^{123}x^{6} + g^{183}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>733</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{231}x^{160} + g^{247}x^{144} + g^{146}x^{136} + g^{49}x^{132} + g^{85}x^{130} + g^{177}x^{129} + g^{155}x^{96} + g^{40}x^{80} + g^{189}x^{72} + g^{126}x^{68} + g^{76}x^{66} + g^{73}x^{65} + g^{227}x^{48} + g^{235}x^{40} + g^{248}x^{36} + g^{230}x^{34} + g^{242}x^{33} + g^{67}x^{24} + g^{243}x^{20} + g^{11}x^{18} + g^{241}x^{17} + g^{170}x^{12} + g^{139}x^{10} + g^{141}x^{9} + g^{121}x^{6} + g^{247}x^{5} + g^{148}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>734</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{40}x^{192} + g^{10}x^{160} + g^{204}x^{144} + g^{222}x^{136} + g^{194}x^{132} + g^{30}x^{130} + g^{15}x^{129} + g^{90}x^{96} + g^{90}x^{80} + g^{57}x^{72} + g^{117}x^{68} + g^{62}x^{66} + g^{193}x^{65} + g^{16}x^{48} + g^{86}x^{40} + g^{61}x^{36} + g^{30}x^{34} + g^{72}x^{33} + g^{237}x^{24} + g^{211}x^{20} + g^{111}x^{18} + g^{75}x^{17} + g^{89}x^{12} + g^{168}x^{10} + g^{75}x^{9} + g^{191}x^{6} + g^{161}x^{5} + g^{185}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>735</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{132}x^{160} + g^{47}x^{144} + g^{84}x^{136} + g^{117}x^{132} + g^{190}x^{130} + g^{228}x^{129} + g^{177}x^{96} + g^{47}x^{80} + g^{114}x^{72} + g^{236}x^{68} + g^{140}x^{66} + g^{17}x^{65} + g^{32}x^{48} + g^{78}x^{40} + g^{175}x^{36} + g^{63}x^{34} + g^{162}x^{33} + g^{243}x^{24} + g^{232}x^{20} + g^{148}x^{18} + g^{173}x^{17} + g^{147}x^{12} + g^{185}x^{10} + g^{216}x^{9} + g^{4}x^{6} + g^{192}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>736</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{216}x^{192} + g^{96}x^{160} + g^{142}x^{144} + g^{127}x^{136} + g^{174}x^{132} + g^{253}x^{130} + g^{80}x^{129} + g^{133}x^{96} + g^{138}x^{80} + g^{238}x^{72} + g^{134}x^{68} + g^{30}x^{66} + g^{60}x^{65} + g^{205}x^{48} + g^{22}x^{40} + g^{47}x^{36} + g^{175}x^{34} + g^{142}x^{33} + g^{97}x^{24} + g^{184}x^{20} + g^{163}x^{18} + g^{234}x^{17} + g^{212}x^{12} + g^{248}x^{10} + g^{124}x^{9} + g^{85}x^{6} + g^{44}x^{5} + g^{120}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>737</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{86}x^{192} + g^{211}x^{160} + g^{179}x^{144} + g^{173}x^{136} + g^{45}x^{132} + g^{68}x^{130} + g^{144}x^{129} + g^{82}x^{96} + g^{188}x^{80} + g^{162}x^{72} + g^{63}x^{68} + g^{120}x^{66} + g^{170}x^{65} + g^{175}x^{48} + g^{161}x^{40} + g^{152}x^{36} + g^{237}x^{34} + g^{174}x^{33} + g^{220}x^{24} + g^{13}x^{20} + g^{246}x^{18} + g^{227}x^{17} + g^{244}x^{12} + g^{241}x^{10} + g^{202}x^{9} + g^{26}x^{6} + g^{249}x^{5} + g^{24}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>738</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{220}x^{192} + g^{148}x^{160} + g^{91}x^{144} + g^{4}x^{136} + g^{28}x^{132} + g^{134}x^{130} + g^{27}x^{129} + g^{28}x^{96} + g^{5}x^{80} + g^{171}x^{72} + g^{205}x^{68} + g^{61}x^{66} + g^{95}x^{65} + g^{62}x^{48} + g^{25}x^{40} + g^{140}x^{36} + g^{128}x^{34} + g^{233}x^{33} + g^{8}x^{24} + g^{191}x^{20} + g^{222}x^{18} + g^{240}x^{17} + g^{79}x^{12} + g^{10}x^{10} + g^{248}x^{9} + g^{13}x^{6} + g^{219}x^{5} + g^{132}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>739</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{14}x^{192} + g^{206}x^{160} + g^{25}x^{144} + g^{224}x^{136} + g^{237}x^{132} + g^{38}x^{130} + g^{114}x^{129} + g^{131}x^{96} + g^{43}x^{80} + g^{43}x^{72} + g^{51}x^{68} + g^{210}x^{66} + g^{165}x^{65} + g^{56}x^{48} + g^{88}x^{40} + g^{124}x^{36} + g^{64}x^{34} + g^{100}x^{33} + g^{226}x^{24} + g^{19}x^{20} + g^{43}x^{18} + g^{189}x^{17} + g^{146}x^{12} + g^{222}x^{10} + g^{134}x^{9} + g^{51}x^{6} + g^{192}x^{5} + g^{205}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>740</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{238}x^{192} + g^{74}x^{160} + g^{215}x^{144} + g^{65}x^{136} + g^{150}x^{132} + g^{232}x^{130} + g^{36}x^{129} + g^{46}x^{96} + g^{204}x^{80} + g^{94}x^{72} + g^{77}x^{68} + g^{239}x^{66} + g^{62}x^{65} + g^{224}x^{48} + g^{228}x^{40} + g^{42}x^{36} + g^{173}x^{34} + g^{123}x^{33} + g^{171}x^{24} + g^{153}x^{20} + g^{215}x^{18} + g^{118}x^{17} + g^{114}x^{12} + g^{230}x^{10} + g^{130}x^{9} + g^{16}x^{6} + g^{11}x^{5} + g^{161}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>741</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{84}x^{192} + g^{4}x^{160} + g^{61}x^{144} + g^{99}x^{136} + g^{140}x^{132} + g^{69}x^{130} + g^{44}x^{129} + g^{4}x^{96} + g^{70}x^{80} + g^{116}x^{72} + g^{119}x^{68} + g^{246}x^{66} + g^{23}x^{65} + g^{115}x^{48} + g^{16}x^{40} + g^{65}x^{36} + g^{231}x^{34} + g^{111}x^{33} + g^{202}x^{24} + g^{64}x^{20} + g^{158}x^{18} + g^{136}x^{17} + g^{240}x^{12} + g^{141}x^{10} + g^{219}x^{9} + g^{197}x^{6} + g^{123}x^{5} + g^{57}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>742</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{155}x^{192} + g^{224}x^{160} + g^{108}x^{144} + g^{55}x^{136} + g^{15}x^{132} + g^{161}x^{130} + g^{132}x^{129} + g^{141}x^{96} + g^{54}x^{80} + g^{247}x^{72} + g^{228}x^{68} + g^{235}x^{66} + g^{15}x^{65} + g^{119}x^{48} + g^{34}x^{40} + g^{234}x^{36} + g^{189}x^{34} + g^{97}x^{33} + g^{143}x^{24} + g^{140}x^{20} + g^{62}x^{18} + g^{161}x^{17} + g^{30}x^{12} + g^{22}x^{10} + g^{137}x^{9} + g^{81}x^{6} + g^{88}x^{5} + g^{254}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>743</p></td>
<td><p><span class="math notranslate nohighlight">\(x^{192} + g^{47}x^{160} + g^{170}x^{144} + g^{108}x^{136} + g^{169}x^{132} + g^{102}x^{130} + g^{198}x^{129} + g^{174}x^{96} + g^{227}x^{80} + g^{167}x^{72} + g^{114}x^{68} + g^{191}x^{66} + g^{92}x^{65} + g^{198}x^{48} + g^{174}x^{40} + g^{77}x^{36} + g^{222}x^{34} + g^{181}x^{33} + g^{151}x^{24} + g^{217}x^{20} + g^{230}x^{18} + g^{17}x^{17} + g^{199}x^{12} + g^{144}x^{10} + g^{233}x^{9} + g^{147}x^{6} + g^{174}x^{5} + g^{124}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>744</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{138}x^{192} + g^{42}x^{160} + g^{57}x^{144} + g^{198}x^{136} + g^{226}x^{132} + g^{2}x^{130} + g^{69}x^{129} + g^{209}x^{96} + g^{111}x^{80} + gx^{72} + g^{165}x^{68} + g^{236}x^{66} + g^{67}x^{65} + g^{177}x^{48} + g^{50}x^{40} + g^{137}x^{36} + g^{147}x^{34} + g^{49}x^{33} + g^{231}x^{24} + g^{177}x^{20} + g^{250}x^{18} + g^{16}x^{17} + g^{211}x^{12} + g^{243}x^{10} + g^{194}x^{9} + g^{103}x^{6} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>745</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{138}x^{160} + g^{149}x^{144} + g^{105}x^{136} + g^{82}x^{132} + g^{79}x^{130} + g^{103}x^{129} + g^{100}x^{96} + g^{163}x^{80} + g^{40}x^{72} + g^{11}x^{68} + g^{64}x^{66} + g^{70}x^{65} + g^{97}x^{48} + g^{188}x^{40} + g^{193}x^{36} + g^{153}x^{34} + g^{34}x^{33} + g^{18}x^{24} + g^{129}x^{20} + g^{150}x^{18} + g^{114}x^{17} + g^{210}x^{12} + g^{122}x^{10} + g^{201}x^{9} + g^{79}x^{6} + g^{248}x^{5} + g^{213}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>746</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{42}x^{160} + g^{216}x^{144} + g^{80}x^{136} + g^{224}x^{132} + g^{2}x^{130} + g^{250}x^{129} + g^{249}x^{96} + g^{129}x^{80} + g^{97}x^{72} + g^{227}x^{68} + g^{142}x^{66} + g^{171}x^{65} + g^{134}x^{48} + g^{19}x^{40} + g^{16}x^{36} + g^{146}x^{34} + g^{191}x^{33} + g^{251}x^{24} + g^{141}x^{20} + g^{210}x^{18} + g^{95}x^{17} + g^{75}x^{12} + g^{62}x^{10} + g^{88}x^{9} + g^{140}x^{6} + g^{221}x^{5} + g^{47}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>747</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{230}x^{192} + g^{238}x^{160} + g^{212}x^{144} + g^{49}x^{136} + g^{69}x^{132} + g^{189}x^{130} + g^{191}x^{129} + g^{137}x^{96} + g^{180}x^{80} + g^{214}x^{72} + g^{105}x^{68} + g^{147}x^{66} + g^{30}x^{65} + g^{15}x^{48} + g^{84}x^{40} + g^{220}x^{36} + g^{182}x^{34} + g^{86}x^{33} + g^{181}x^{24} + g^{178}x^{20} + g^{185}x^{18} + g^{245}x^{17} + g^{225}x^{12} + g^{229}x^{10} + g^{160}x^{9} + g^{182}x^{6} + g^{149}x^{5} + g^{83}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>748</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{195}x^{192} + g^{186}x^{160} + g^{19}x^{144} + g^{30}x^{136} + g^{137}x^{132} + g^{104}x^{130} + g^{189}x^{129} + g^{45}x^{96} + g^{21}x^{80} + g^{150}x^{72} + g^{251}x^{68} + g^{62}x^{66} + g^{115}x^{65} + g^{8}x^{48} + g^{216}x^{40} + g^{171}x^{36} + g^{29}x^{34} + g^{213}x^{33} + g^{94}x^{24} + g^{200}x^{20} + g^{53}x^{18} + g^{124}x^{17} + g^{209}x^{12} + g^{243}x^{10} + g^{30}x^{9} + g^{183}x^{6} + g^{233}x^{5} + g^{193}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>749</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{163}x^{192} + g^{99}x^{160} + g^{92}x^{144} + g^{190}x^{136} + g^{191}x^{132} + g^{183}x^{130} + g^{113}x^{129} + g^{179}x^{96} + g^{2}x^{80} + g^{179}x^{72} + g^{129}x^{68} + g^{33}x^{66} + g^{201}x^{65} + g^{247}x^{48} + g^{181}x^{40} + g^{153}x^{36} + g^{107}x^{34} + g^{70}x^{33} + g^{121}x^{24} + g^{2}x^{20} + g^{207}x^{18} + g^{28}x^{17} + g^{94}x^{12} + g^{13}x^{10} + g^{178}x^{9} + g^{160}x^{6} + g^{41}x^{5} + g^{141}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>750</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{106}x^{192} + g^{14}x^{160} + g^{16}x^{144} + g^{197}x^{136} + g^{214}x^{132} + g^{84}x^{130} + g^{223}x^{129} + g^{108}x^{96} + g^{203}x^{80} + g^{11}x^{68} + g^{27}x^{66} + g^{227}x^{65} + g^{44}x^{48} + g^{43}x^{40} + g^{53}x^{36} + g^{63}x^{34} + g^{214}x^{33} + g^{77}x^{24} + g^{243}x^{20} + g^{146}x^{18} + g^{234}x^{17} + g^{212}x^{12} + g^{206}x^{10} + g^{85}x^{9} + g^{134}x^{6} + g^{166}x^{5} + g^{198}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>751</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{243}x^{192} + g^{214}x^{160} + g^{190}x^{144} + g^{236}x^{136} + g^{46}x^{132} + g^{150}x^{130} + g^{43}x^{129} + g^{53}x^{96} + g^{116}x^{80} + g^{12}x^{72} + g^{244}x^{68} + g^{233}x^{66} + g^{53}x^{65} + g^{37}x^{48} + g^{107}x^{40} + g^{189}x^{36} + g^{150}x^{34} + g^{55}x^{33} + g^{250}x^{24} + g^{39}x^{20} + g^{233}x^{18} + g^{19}x^{17} + g^{95}x^{12} + g^{75}x^{10} + g^{172}x^{9} + g^{187}x^{6} + g^{178}x^{5} + g^{63}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>752</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{56}x^{192} + g^{184}x^{160} + g^{22}x^{144} + g^{132}x^{136} + g^{139}x^{132} + g^{214}x^{130} + g^{105}x^{129} + g^{79}x^{96} + g^{214}x^{80} + g^{91}x^{72} + g^{171}x^{68} + g^{213}x^{66} + g^{106}x^{65} + g^{227}x^{48} + g^{57}x^{40} + g^{179}x^{36} + g^{140}x^{34} + g^{100}x^{33} + g^{143}x^{24} + g^{36}x^{20} + g^{56}x^{18} + g^{125}x^{17} + g^{75}x^{12} + g^{175}x^{10} + g^{154}x^{9} + g^{36}x^{6} + g^{122}x^{5} + g^{52}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>753</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{246}x^{192} + g^{75}x^{160} + g^{119}x^{144} + g^{218}x^{136} + g^{132}x^{132} + g^{151}x^{130} + g^{64}x^{129} + g^{197}x^{96} + g^{166}x^{80} + g^{63}x^{72} + g^{16}x^{68} + g^{169}x^{66} + g^{18}x^{65} + g^{63}x^{48} + g^{76}x^{40} + g^{63}x^{36} + g^{225}x^{34} + g^{75}x^{33} + g^{240}x^{24} + g^{115}x^{20} + g^{119}x^{18} + g^{93}x^{17} + g^{191}x^{12} + g^{146}x^{10} + g^{248}x^{9} + g^{218}x^{6} + g^{85}x^{5} + g^{189}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>754</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{192} + g^{214}x^{160} + g^{127}x^{144} + gx^{136} + g^{3}x^{132} + g^{134}x^{130} + g^{155}x^{129} + g^{230}x^{96} + g^{109}x^{80} + g^{171}x^{72} + g^{182}x^{68} + g^{189}x^{66} + g^{166}x^{65} + g^{197}x^{48} + g^{208}x^{40} + g^{2}x^{36} + g^{201}x^{34} + g^{57}x^{33} + g^{247}x^{24} + g^{179}x^{20} + g^{249}x^{18} + g^{27}x^{17} + g^{123}x^{12} + g^{32}x^{10} + g^{198}x^{9} + g^{68}x^{6} + g^{196}x^{5} + g^{87}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>755</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{143}x^{192} + g^{11}x^{160} + g^{15}x^{144} + g^{70}x^{136} + g^{23}x^{132} + g^{243}x^{130} + g^{10}x^{129} + g^{191}x^{96} + g^{206}x^{80} + g^{72}x^{72} + g^{176}x^{68} + g^{195}x^{66} + g^{68}x^{65} + g^{51}x^{48} + g^{173}x^{40} + g^{47}x^{36} + g^{6}x^{34} + g^{201}x^{33} + g^{154}x^{24} + g^{157}x^{20} + g^{69}x^{18} + g^{169}x^{17} + g^{93}x^{12} + g^{217}x^{10} + g^{132}x^{9} + g^{185}x^{6} + g^{168}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>756</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{10}x^{192} + g^{185}x^{160} + g^{151}x^{144} + g^{227}x^{136} + g^{108}x^{132} + g^{57}x^{130} + g^{241}x^{129} + g^{65}x^{96} + g^{221}x^{80} + gx^{72} + g^{49}x^{68} + g^{160}x^{66} + g^{189}x^{65} + g^{235}x^{48} + g^{130}x^{40} + g^{250}x^{36} + g^{16}x^{34} + g^{232}x^{33} + g^{43}x^{24} + g^{38}x^{20} + g^{148}x^{18} + gx^{17} + g^{188}x^{12} + g^{133}x^{10} + g^{220}x^{9} + g^{146}x^{6} + g^{73}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>757</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{136}x^{192} + g^{16}x^{160} + g^{135}x^{144} + g^{220}x^{136} + g^{224}x^{132} + g^{201}x^{130} + g^{193}x^{129} + g^{212}x^{96} + g^{13}x^{80} + g^{65}x^{72} + g^{118}x^{68} + g^{244}x^{66} + g^{175}x^{65} + g^{161}x^{48} + g^{216}x^{40} + g^{187}x^{36} + g^{146}x^{34} + g^{116}x^{33} + g^{235}x^{24} + g^{175}x^{20} + g^{219}x^{18} + g^{23}x^{17} + g^{95}x^{12} + g^{178}x^{10} + g^{232}x^{9} + g^{247}x^{6} + g^{132}x^{5} + g^{58}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>758</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{88}x^{192} + g^{12}x^{160} + g^{49}x^{144} + g^{6}x^{136} + g^{57}x^{132} + g^{145}x^{130} + g^{142}x^{129} + g^{38}x^{96} + g^{175}x^{80} + g^{128}x^{72} + g^{64}x^{68} + g^{107}x^{66} + g^{18}x^{65} + g^{18}x^{48} + g^{243}x^{40} + g^{212}x^{36} + g^{120}x^{34} + g^{182}x^{33} + g^{224}x^{24} + g^{2}x^{20} + g^{146}x^{18} + g^{161}x^{17} + g^{94}x^{12} + g^{223}x^{10} + g^{203}x^{9} + g^{239}x^{6} + g^{33}x^{5} + g^{38}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>759</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{246}x^{192} + g^{137}x^{160} + g^{147}x^{144} + g^{158}x^{136} + g^{116}x^{132} + g^{223}x^{130} + g^{151}x^{129} + g^{246}x^{96} + g^{133}x^{80} + g^{232}x^{72} + g^{61}x^{68} + g^{36}x^{66} + g^{220}x^{65} + g^{90}x^{48} + g^{100}x^{40} + g^{142}x^{36} + g^{228}x^{34} + g^{203}x^{33} + g^{100}x^{24} + g^{209}x^{20} + g^{251}x^{18} + g^{221}x^{17} + g^{167}x^{12} + g^{174}x^{10} + g^{103}x^{9} + g^{160}x^{6} + g^{69}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>760</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{71}x^{192} + g^{192}x^{160} + g^{74}x^{144} + gx^{136} + g^{135}x^{132} + g^{62}x^{130} + g^{243}x^{129} + g^{218}x^{96} + g^{65}x^{80} + g^{126}x^{72} + g^{77}x^{68} + g^{116}x^{66} + g^{218}x^{65} + g^{220}x^{48} + g^{174}x^{40} + g^{187}x^{36} + g^{219}x^{34} + g^{89}x^{33} + g^{146}x^{24} + g^{133}x^{20} + g^{250}x^{18} + g^{86}x^{17} + g^{45}x^{12} + g^{147}x^{10} + g^{4}x^{9} + g^{65}x^{6} + g^{176}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>761</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{95}x^{160} + g^{28}x^{144} + g^{230}x^{136} + g^{146}x^{132} + g^{62}x^{130} + g^{72}x^{129} + g^{134}x^{96} + g^{27}x^{80} + g^{7}x^{72} + g^{144}x^{68} + g^{138}x^{66} + g^{169}x^{65} + g^{218}x^{48} + g^{134}x^{40} + g^{241}x^{36} + g^{77}x^{34} + g^{134}x^{33} + g^{70}x^{24} + g^{13}x^{20} + g^{211}x^{18} + g^{36}x^{17} + g^{31}x^{12} + g^{205}x^{10} + g^{231}x^{9} + g^{152}x^{6} + g^{119}x^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>762</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{8}x^{192} + g^{84}x^{160} + g^{12}x^{144} + g^{220}x^{136} + g^{207}x^{132} + g^{228}x^{130} + g^{55}x^{129} + g^{116}x^{96} + g^{236}x^{80} + g^{114}x^{72} + g^{127}x^{68} + x^{66} + g^{222}x^{65} + g^{159}x^{48} + g^{99}x^{40} + g^{143}x^{36} + g^{141}x^{34} + g^{187}x^{33} + g^{210}x^{24} + g^{46}x^{20} + g^{205}x^{18} + g^{221}x^{17} + g^{122}x^{12} + g^{247}x^{10} + g^{237}x^{9} + g^{54}x^{6} + g^{114}x^{5} + g^{172}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>763</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{207}x^{192} + g^{68}x^{160} + g^{56}x^{136} + g^{49}x^{132} + g^{88}x^{130} + g^{73}x^{129} + g^{253}x^{96} + g^{129}x^{80} + g^{74}x^{72} + g^{57}x^{68} + g^{140}x^{66} + g^{223}x^{65} + g^{148}x^{48} + g^{239}x^{40} + g^{118}x^{36} + g^{185}x^{34} + g^{168}x^{33} + g^{194}x^{24} + g^{8}x^{20} + g^{103}x^{18} + g^{214}x^{17} + g^{110}x^{12} + g^{166}x^{10} + g^{102}x^{9} + g^{203}x^{6} + g^{88}x^{5} + g^{131}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>764</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{143}x^{192} + g^{165}x^{160} + g^{31}x^{144} + g^{148}x^{136} + g^{38}x^{132} + g^{69}x^{130} + g^{67}x^{129} + g^{150}x^{96} + g^{32}x^{80} + g^{22}x^{72} + g^{120}x^{68} + g^{88}x^{66} + g^{51}x^{65} + g^{236}x^{48} + g^{90}x^{40} + g^{19}x^{36} + g^{65}x^{34} + g^{198}x^{33} + g^{234}x^{24} + g^{251}x^{20} + g^{244}x^{18} + g^{37}x^{17} + g^{154}x^{12} + g^{17}x^{10} + g^{138}x^{9} + g^{240}x^{6} + g^{37}x^{5} + g^{178}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>765</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{242}x^{192} + g^{119}x^{160} + g^{168}x^{144} + g^{149}x^{136} + g^{66}x^{132} + g^{250}x^{130} + g^{134}x^{129} + g^{75}x^{96} + g^{69}x^{80} + g^{84}x^{72} + g^{87}x^{68} + g^{122}x^{66} + g^{22}x^{65} + g^{197}x^{48} + g^{195}x^{40} + g^{244}x^{36} + g^{41}x^{34} + g^{250}x^{33} + g^{246}x^{24} + g^{159}x^{20} + g^{92}x^{18} + g^{237}x^{17} + g^{209}x^{12} + g^{84}x^{10} + g^{133}x^{9} + g^{228}x^{6} + g^{16}x^{5} + g^{47}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>766</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{192}x^{192} + g^{163}x^{160} + g^{177}x^{144} + g^{14}x^{136} + g^{214}x^{132} + g^{195}x^{130} + g^{163}x^{129} + g^{225}x^{96} + g^{106}x^{80} + g^{243}x^{72} + g^{154}x^{68} + g^{233}x^{66} + g^{19}x^{65} + g^{16}x^{48} + g^{211}x^{40} + g^{81}x^{36} + g^{73}x^{34} + g^{93}x^{33} + g^{39}x^{24} + g^{137}x^{20} + g^{72}x^{18} + g^{186}x^{17} + g^{171}x^{12} + g^{146}x^{10} + g^{178}x^{9} + g^{118}x^{6} + g^{51}x^{5} + g^{42}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>767</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{187}x^{192} + g^{250}x^{160} + g^{240}x^{144} + g^{74}x^{136} + g^{42}x^{132} + g^{34}x^{130} + g^{196}x^{129} + g^{29}x^{96} + g^{62}x^{80} + g^{61}x^{72} + g^{158}x^{68} + g^{207}x^{66} + g^{173}x^{65} + g^{108}x^{48} + g^{234}x^{40} + g^{222}x^{36} + g^{34}x^{34} + g^{47}x^{33} + g^{106}x^{24} + g^{189}x^{20} + g^{54}x^{18} + g^{56}x^{17} + g^{111}x^{12} + g^{144}x^{10} + g^{18}x^{9} + g^{253}x^{6} + g^{147}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>768</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{102}x^{160} + g^{30}x^{144} + g^{74}x^{136} + g^{167}x^{132} + g^{3}x^{130} + g^{140}x^{129} + g^{48}x^{96} + g^{40}x^{80} + g^{130}x^{72} + g^{42}x^{68} + g^{42}x^{66} + g^{63}x^{65} + g^{238}x^{48} + g^{33}x^{40} + g^{229}x^{36} + g^{203}x^{34} + g^{220}x^{33} + g^{239}x^{24} + g^{90}x^{20} + g^{86}x^{18} + g^{10}x^{17} + g^{23}x^{12} + g^{202}x^{10} + g^{199}x^{9} + g^{153}x^{6} + g^{40}x^{5} + g^{112}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>769</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{243}x^{192} + g^{123}x^{160} + g^{145}x^{144} + g^{215}x^{136} + g^{42}x^{132} + g^{45}x^{130} + g^{236}x^{129} + g^{48}x^{96} + g^{231}x^{80} + g^{13}x^{72} + g^{237}x^{68} + g^{76}x^{66} + g^{69}x^{65} + g^{172}x^{48} + g^{26}x^{40} + g^{51}x^{36} + g^{247}x^{34} + g^{47}x^{33} + g^{29}x^{20} + g^{93}x^{18} + g^{172}x^{17} + g^{38}x^{12} + g^{192}x^{10} + g^{174}x^{9} + g^{71}x^{6} + g^{120}x^{5} + g^{89}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>770</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{223}x^{192} + x^{160} + g^{78}x^{144} + g^{15}x^{136} + g^{212}x^{132} + g^{48}x^{130} + g^{104}x^{129} + g^{183}x^{96} + g^{87}x^{80} + g^{84}x^{72} + g^{79}x^{68} + g^{136}x^{66} + g^{211}x^{65} + g^{206}x^{48} + g^{87}x^{40} + g^{66}x^{36} + g^{62}x^{34} + g^{131}x^{33} + g^{237}x^{24} + g^{143}x^{20} + g^{183}x^{18} + g^{22}x^{17} + g^{16}x^{12} + g^{15}x^{10} + g^{147}x^{9} + g^{94}x^{6} + g^{86}x^{5} + g^{153}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>771</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{93}x^{192} + g^{192}x^{160} + g^{238}x^{144} + g^{246}x^{136} + g^{53}x^{132} + g^{105}x^{130} + g^{182}x^{129} + g^{94}x^{96} + g^{216}x^{80} + g^{201}x^{72} + g^{42}x^{68} + g^{216}x^{66} + g^{171}x^{65} + g^{10}x^{48} + g^{203}x^{40} + g^{77}x^{34} + g^{3}x^{33} + g^{131}x^{24} + g^{228}x^{20} + g^{241}x^{18} + g^{160}x^{17} + g^{159}x^{12} + g^{139}x^{10} + g^{193}x^{9} + g^{24}x^{6} + g^{38}x^{5} + g^{105}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>772</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{68}x^{192} + g^{89}x^{160} + g^{112}x^{144} + g^{115}x^{136} + g^{252}x^{132} + g^{44}x^{130} + g^{140}x^{129} + g^{141}x^{96} + g^{117}x^{80} + g^{242}x^{72} + g^{220}x^{68} + g^{118}x^{66} + g^{124}x^{65} + g^{43}x^{48} + g^{218}x^{40} + g^{224}x^{36} + g^{49}x^{34} + g^{129}x^{33} + g^{180}x^{24} + g^{54}x^{20} + g^{52}x^{18} + g^{186}x^{17} + g^{71}x^{12} + g^{140}x^{10} + g^{13}x^{9} + g^{149}x^{6} + g^{24}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>773</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{212}x^{160} + g^{249}x^{144} + g^{174}x^{136} + g^{62}x^{132} + g^{144}x^{130} + g^{151}x^{129} + g^{228}x^{96} + g^{147}x^{80} + g^{127}x^{72} + g^{175}x^{68} + g^{248}x^{66} + g^{85}x^{65} + g^{65}x^{48} + g^{32}x^{40} + g^{66}x^{36} + g^{95}x^{34} + g^{204}x^{33} + g^{84}x^{24} + g^{14}x^{20} + g^{163}x^{18} + g^{61}x^{17} + g^{137}x^{12} + g^{77}x^{10} + g^{79}x^{9} + g^{182}x^{6} + g^{164}x^{5} + g^{20}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>774</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{102}x^{192} + g^{55}x^{160} + g^{87}x^{144} + g^{154}x^{136} + g^{191}x^{132} + g^{85}x^{130} + g^{117}x^{129} + g^{113}x^{96} + g^{227}x^{80} + g^{76}x^{72} + g^{167}x^{68} + g^{105}x^{66} + g^{70}x^{65} + g^{217}x^{48} + g^{141}x^{40} + g^{248}x^{36} + g^{218}x^{34} + g^{17}x^{33} + g^{184}x^{24} + g^{13}x^{20} + g^{74}x^{18} + g^{26}x^{17} + g^{46}x^{12} + g^{42}x^{10} + g^{159}x^{9} + g^{37}x^{6} + g^{64}x^{5} + g^{162}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>775</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{55}x^{192} + g^{244}x^{160} + g^{88}x^{144} + g^{30}x^{136} + g^{25}x^{132} + g^{241}x^{130} + g^{171}x^{129} + g^{115}x^{96} + g^{144}x^{80} + g^{182}x^{72} + g^{73}x^{68} + g^{172}x^{66} + g^{135}x^{65} + g^{105}x^{48} + g^{227}x^{40} + g^{70}x^{36} + g^{250}x^{34} + g^{245}x^{33} + g^{184}x^{24} + g^{194}x^{20} + g^{33}x^{18} + g^{155}x^{17} + g^{219}x^{12} + g^{143}x^{10} + g^{88}x^{9} + g^{89}x^{6} + g^{114}x^{5} + g^{233}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>776</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{59}x^{160} + g^{98}x^{144} + g^{182}x^{136} + g^{83}x^{132} + g^{211}x^{130} + g^{121}x^{129} + g^{149}x^{96} + g^{185}x^{80} + g^{154}x^{72} + g^{219}x^{68} + g^{215}x^{66} + g^{71}x^{65} + g^{57}x^{48} + g^{246}x^{40} + g^{148}x^{36} + g^{88}x^{34} + g^{188}x^{33} + g^{239}x^{24} + g^{209}x^{20} + g^{6}x^{18} + g^{154}x^{17} + g^{219}x^{12} + g^{199}x^{10} + g^{200}x^{9} + g^{27}x^{6} + g^{151}x^{5} + g^{236}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>777</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{134}x^{192} + g^{238}x^{160} + g^{115}x^{144} + g^{21}x^{136} + g^{174}x^{132} + g^{243}x^{130} + g^{153}x^{129} + g^{42}x^{96} + g^{25}x^{80} + g^{119}x^{72} + g^{222}x^{68} + g^{248}x^{66} + g^{19}x^{65} + g^{45}x^{48} + g^{95}x^{40} + g^{175}x^{36} + x^{34} + g^{135}x^{33} + g^{154}x^{24} + g^{153}x^{20} + g^{194}x^{18} + g^{47}x^{17} + g^{13}x^{12} + g^{95}x^{10} + g^{32}x^{9} + g^{132}x^{6} + g^{81}x^{5} + g^{83}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>778</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{155}x^{192} + g^{200}x^{160} + g^{35}x^{144} + g^{109}x^{136} + g^{194}x^{132} + g^{95}x^{130} + g^{246}x^{129} + g^{117}x^{96} + g^{217}x^{80} + g^{179}x^{72} + g^{200}x^{68} + g^{111}x^{66} + g^{134}x^{65} + g^{109}x^{48} + g^{241}x^{40} + g^{188}x^{36} + g^{204}x^{34} + g^{150}x^{33} + g^{167}x^{24} + g^{152}x^{20} + g^{125}x^{18} + g^{30}x^{17} + g^{253}x^{12} + g^{173}x^{10} + g^{207}x^{9} + g^{165}x^{6} + g^{117}x^{5} + g^{225}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>779</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{47}x^{160} + g^{229}x^{144} + g^{193}x^{136} + g^{46}x^{132} + g^{145}x^{130} + g^{57}x^{129} + g^{110}x^{96} + g^{150}x^{80} + g^{166}x^{72} + g^{94}x^{68} + g^{117}x^{66} + g^{152}x^{65} + g^{189}x^{48} + g^{229}x^{40} + g^{106}x^{36} + g^{152}x^{34} + g^{44}x^{33} + g^{145}x^{24} + g^{131}x^{20} + g^{89}x^{18} + g^{212}x^{17} + g^{82}x^{12} + g^{6}x^{10} + g^{58}x^{9} + g^{188}x^{6} + g^{2}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>780</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{143}x^{192} + g^{241}x^{160} + g^{191}x^{144} + g^{112}x^{136} + g^{222}x^{132} + g^{37}x^{130} + g^{74}x^{129} + g^{191}x^{96} + g^{212}x^{80} + g^{75}x^{72} + g^{235}x^{68} + g^{252}x^{66} + g^{55}x^{65} + g^{121}x^{48} + g^{74}x^{40} + g^{110}x^{36} + g^{38}x^{34} + g^{173}x^{33} + g^{6}x^{24} + g^{211}x^{20} + g^{32}x^{18} + g^{163}x^{17} + g^{90}x^{12} + g^{100}x^{10} + g^{146}x^{9} + g^{83}x^{6} + g^{131}x^{5} + g^{228}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>781</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{191}x^{192} + g^{215}x^{160} + g^{136}x^{144} + g^{171}x^{136} + g^{232}x^{132} + g^{96}x^{130} + g^{173}x^{129} + g^{160}x^{96} + g^{101}x^{80} + g^{209}x^{72} + g^{248}x^{68} + g^{25}x^{66} + g^{220}x^{65} + g^{233}x^{48} + g^{141}x^{40} + g^{188}x^{36} + g^{132}x^{34} + g^{102}x^{33} + g^{149}x^{24} + g^{5}x^{20} + g^{225}x^{18} + g^{186}x^{17} + g^{67}x^{12} + g^{227}x^{10} + g^{72}x^{9} + g^{250}x^{6} + g^{61}x^{5} + g^{197}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>782</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{146}x^{192} + g^{54}x^{160} + g^{218}x^{144} + g^{70}x^{136} + g^{15}x^{132} + g^{2}x^{130} + gx^{129} + g^{5}x^{96} + g^{35}x^{80} + g^{55}x^{72} + g^{161}x^{68} + g^{28}x^{66} + g^{99}x^{65} + g^{69}x^{48} + g^{7}x^{40} + g^{251}x^{36} + g^{248}x^{34} + g^{174}x^{33} + g^{190}x^{24} + g^{45}x^{20} + g^{130}x^{18} + g^{181}x^{17} + g^{123}x^{12} + g^{126}x^{10} + g^{163}x^{9} + g^{27}x^{6} + g^{224}x^{5} + g^{198}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>783</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{50}x^{192} + g^{12}x^{160} + g^{76}x^{144} + g^{179}x^{136} + x^{132} + g^{36}x^{130} + g^{49}x^{129} + g^{206}x^{96} + g^{238}x^{80} + g^{240}x^{72} + g^{236}x^{68} + g^{116}x^{66} + g^{163}x^{65} + g^{32}x^{48} + g^{142}x^{40} + g^{239}x^{36} + g^{164}x^{34} + g^{83}x^{33} + g^{214}x^{24} + g^{27}x^{20} + g^{72}x^{18} + g^{164}x^{17} + g^{215}x^{12} + g^{89}x^{10} + g^{230}x^{9} + g^{131}x^{6} + g^{214}x^{5} + g^{207}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>784</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{172}x^{192} + g^{53}x^{160} + g^{98}x^{144} + g^{208}x^{136} + g^{142}x^{132} + g^{68}x^{130} + g^{243}x^{129} + g^{156}x^{96} + g^{119}x^{80} + g^{174}x^{72} + g^{245}x^{68} + g^{93}x^{66} + g^{206}x^{65} + g^{85}x^{48} + g^{95}x^{40} + g^{180}x^{36} + g^{55}x^{34} + g^{101}x^{33} + g^{149}x^{24} + g^{181}x^{20} + g^{58}x^{18} + g^{119}x^{17} + g^{116}x^{12} + g^{199}x^{10} + g^{223}x^{9} + g^{159}x^{6} + g^{202}x^{5} + g^{209}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>785</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{29}x^{192} + g^{46}x^{160} + g^{168}x^{144} + g^{109}x^{136} + g^{8}x^{132} + g^{185}x^{130} + g^{31}x^{129} + g^{246}x^{96} + g^{5}x^{80} + g^{7}x^{72} + g^{45}x^{68} + g^{76}x^{66} + g^{13}x^{65} + g^{56}x^{48} + g^{90}x^{40} + g^{7}x^{36} + g^{117}x^{34} + g^{157}x^{33} + g^{213}x^{24} + g^{3}x^{20} + g^{35}x^{18} + g^{220}x^{17} + g^{26}x^{12} + g^{82}x^{10} + g^{249}x^{9} + g^{236}x^{6} + g^{70}x^{5} + g^{174}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>786</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{204}x^{160} + g^{86}x^{144} + g^{162}x^{136} + g^{205}x^{132} + g^{93}x^{130} + g^{206}x^{129} + g^{146}x^{96} + g^{233}x^{80} + g^{167}x^{72} + g^{64}x^{68} + x^{66} + g^{174}x^{65} + g^{212}x^{48} + g^{12}x^{40} + g^{138}x^{36} + g^{107}x^{34} + g^{6}x^{33} + g^{126}x^{24} + g^{54}x^{20} + g^{236}x^{18} + g^{155}x^{17} + g^{74}x^{12} + g^{72}x^{10} + g^{226}x^{9} + g^{165}x^{6} + g^{81}x^{5} + g^{182}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>787</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{128}x^{192} + g^{14}x^{160} + g^{238}x^{144} + g^{218}x^{136} + g^{113}x^{132} + g^{114}x^{130} + g^{112}x^{129} + g^{180}x^{96} + g^{40}x^{80} + g^{122}x^{72} + g^{194}x^{68} + g^{178}x^{66} + g^{4}x^{65} + g^{140}x^{48} + g^{246}x^{40} + g^{142}x^{36} + g^{145}x^{34} + g^{142}x^{33} + g^{5}x^{24} + g^{20}x^{20} + g^{21}x^{18} + g^{27}x^{17} + g^{183}x^{12} + g^{23}x^{10} + g^{245}x^{9} + g^{41}x^{6} + g^{186}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>788</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{134}x^{192} + g^{175}x^{160} + g^{15}x^{144} + g^{222}x^{136} + g^{65}x^{132} + g^{182}x^{130} + g^{158}x^{129} + g^{52}x^{96} + g^{169}x^{80} + g^{21}x^{72} + g^{99}x^{68} + g^{82}x^{66} + g^{106}x^{65} + g^{150}x^{48} + g^{14}x^{40} + g^{253}x^{36} + g^{59}x^{34} + g^{85}x^{33} + g^{92}x^{24} + g^{168}x^{20} + g^{137}x^{18} + g^{122}x^{17} + g^{141}x^{12} + g^{111}x^{10} + g^{248}x^{9} + g^{38}x^{6} + g^{107}x^{5} + g^{160}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>789</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{225}x^{192} + g^{190}x^{160} + g^{226}x^{144} + g^{170}x^{136} + g^{232}x^{132} + g^{12}x^{130} + g^{32}x^{129} + g^{71}x^{96} + g^{244}x^{80} + g^{239}x^{72} + g^{172}x^{68} + g^{219}x^{66} + g^{138}x^{65} + g^{204}x^{48} + g^{166}x^{40} + g^{248}x^{36} + g^{73}x^{34} + g^{239}x^{33} + g^{160}x^{24} + g^{174}x^{20} + g^{96}x^{18} + g^{197}x^{17} + g^{56}x^{12} + g^{135}x^{10} + g^{119}x^{9} + g^{160}x^{6} + g^{62}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>790</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{80}x^{192} + g^{4}x^{160} + g^{223}x^{144} + g^{178}x^{136} + g^{230}x^{132} + g^{199}x^{130} + g^{93}x^{129} + g^{209}x^{96} + g^{82}x^{80} + g^{139}x^{72} + g^{62}x^{68} + g^{65}x^{66} + g^{131}x^{65} + g^{129}x^{48} + g^{190}x^{40} + g^{24}x^{36} + g^{174}x^{34} + g^{162}x^{33} + g^{119}x^{24} + g^{148}x^{20} + g^{111}x^{18} + g^{30}x^{17} + g^{32}x^{12} + g^{174}x^{10} + g^{119}x^{9} + g^{203}x^{6} + g^{39}x^{5} + g^{190}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>791</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{28}x^{192} + g^{128}x^{160} + g^{215}x^{144} + g^{141}x^{136} + g^{64}x^{132} + g^{39}x^{130} + g^{188}x^{129} + g^{227}x^{96} + g^{129}x^{80} + g^{39}x^{72} + g^{75}x^{68} + g^{254}x^{66} + g^{97}x^{65} + g^{96}x^{48} + g^{198}x^{40} + g^{102}x^{36} + g^{26}x^{34} + g^{120}x^{33} + g^{197}x^{24} + g^{80}x^{20} + g^{248}x^{18} + g^{61}x^{17} + g^{168}x^{12} + g^{160}x^{10} + g^{28}x^{9} + g^{251}x^{6} + g^{229}x^{5} + g^{220}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>792</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{200}x^{192} + g^{30}x^{160} + g^{226}x^{144} + g^{180}x^{136} + g^{197}x^{132} + g^{78}x^{130} + g^{87}x^{129} + g^{158}x^{96} + g^{252}x^{80} + g^{221}x^{72} + g^{88}x^{68} + g^{12}x^{66} + g^{42}x^{65} + g^{179}x^{48} + g^{20}x^{40} + g^{242}x^{36} + g^{198}x^{34} + g^{153}x^{33} + g^{161}x^{24} + g^{37}x^{20} + g^{214}x^{18} + g^{52}x^{17} + g^{234}x^{12} + g^{58}x^{10} + g^{86}x^{9} + g^{68}x^{6} + g^{228}x^{5} + g^{164}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>793</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{136}x^{192} + g^{56}x^{160} + g^{217}x^{144} + g^{31}x^{136} + g^{199}x^{132} + g^{241}x^{130} + g^{61}x^{129} + g^{114}x^{96} + g^{183}x^{80} + g^{241}x^{72} + g^{235}x^{68} + g^{131}x^{66} + g^{143}x^{65} + g^{183}x^{48} + g^{23}x^{40} + g^{27}x^{36} + g^{202}x^{34} + g^{31}x^{33} + g^{84}x^{24} + g^{92}x^{20} + g^{164}x^{18} + g^{146}x^{17} + g^{229}x^{12} + g^{252}x^{10} + g^{228}x^{9} + g^{153}x^{6} + g^{122}x^{5} + g^{96}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>794</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{82}x^{160} + g^{72}x^{144} + g^{86}x^{136} + g^{110}x^{132} + g^{28}x^{130} + g^{36}x^{129} + g^{91}x^{96} + g^{112}x^{80} + g^{102}x^{72} + g^{6}x^{68} + g^{63}x^{66} + g^{212}x^{65} + g^{153}x^{48} + g^{55}x^{40} + g^{4}x^{36} + g^{167}x^{34} + g^{145}x^{33} + g^{165}x^{24} + g^{153}x^{20} + g^{42}x^{18} + g^{74}x^{17} + g^{139}x^{12} + g^{24}x^{10} + g^{227}x^{9} + g^{86}x^{6} + g^{237}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>795</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{32}x^{192} + g^{162}x^{160} + g^{62}x^{144} + g^{170}x^{136} + g^{185}x^{132} + g^{182}x^{130} + g^{62}x^{129} + g^{142}x^{96} + g^{68}x^{80} + g^{46}x^{72} + g^{72}x^{68} + g^{94}x^{66} + g^{17}x^{65} + g^{120}x^{48} + g^{216}x^{40} + g^{75}x^{36} + g^{123}x^{34} + g^{35}x^{33} + g^{37}x^{24} + g^{245}x^{20} + g^{190}x^{18} + g^{226}x^{17} + g^{64}x^{12} + g^{169}x^{10} + g^{21}x^{9} + g^{152}x^{6} + g^{127}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>796</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{6}x^{192} + g^{140}x^{160} + g^{19}x^{144} + g^{132}x^{136} + g^{35}x^{132} + g^{238}x^{130} + g^{49}x^{129} + g^{93}x^{96} + g^{71}x^{80} + g^{17}x^{72} + g^{244}x^{68} + g^{185}x^{66} + g^{168}x^{65} + g^{91}x^{48} + g^{202}x^{40} + g^{15}x^{36} + g^{236}x^{34} + g^{86}x^{33} + g^{194}x^{24} + g^{51}x^{20} + g^{69}x^{18} + g^{25}x^{17} + g^{45}x^{12} + g^{95}x^{10} + g^{177}x^{9} + g^{137}x^{6} + g^{80}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>797</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{227}x^{192} + g^{123}x^{160} + g^{32}x^{144} + g^{153}x^{136} + g^{17}x^{132} + g^{123}x^{130} + g^{52}x^{129} + g^{206}x^{96} + g^{161}x^{80} + g^{18}x^{72} + g^{49}x^{68} + g^{224}x^{66} + g^{131}x^{65} + g^{227}x^{48} + g^{116}x^{40} + g^{169}x^{36} + g^{222}x^{34} + g^{29}x^{33} + g^{168}x^{24} + g^{223}x^{20} + g^{57}x^{18} + g^{204}x^{17} + g^{5}x^{12} + g^{86}x^{10} + g^{103}x^{9} + g^{232}x^{6} + g^{28}x^{5} + g^{230}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>798</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{236}x^{192} + g^{173}x^{160} + g^{145}x^{144} + g^{111}x^{136} + g^{186}x^{132} + g^{163}x^{130} + g^{53}x^{129} + g^{128}x^{96} + g^{48}x^{80} + g^{26}x^{72} + g^{139}x^{68} + g^{25}x^{66} + g^{97}x^{65} + g^{73}x^{48} + g^{116}x^{40} + g^{209}x^{36} + g^{195}x^{34} + g^{230}x^{33} + g^{244}x^{24} + g^{199}x^{20} + g^{220}x^{18} + g^{193}x^{17} + g^{19}x^{12} + g^{156}x^{10} + g^{130}x^{9} + g^{79}x^{6} + gx^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>799</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{104}x^{192} + g^{138}x^{160} + g^{252}x^{144} + g^{245}x^{136} + g^{66}x^{132} + g^{48}x^{130} + g^{183}x^{129} + g^{115}x^{96} + g^{62}x^{80} + g^{60}x^{72} + g^{157}x^{68} + g^{28}x^{66} + g^{156}x^{65} + g^{168}x^{48} + g^{64}x^{40} + g^{96}x^{36} + g^{131}x^{34} + g^{26}x^{24} + g^{24}x^{20} + g^{133}x^{18} + g^{202}x^{17} + g^{226}x^{12} + g^{226}x^{10} + g^{102}x^{9} + g^{190}x^{6} + g^{189}x^{5} + g^{33}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>800</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{209}x^{192} + g^{39}x^{160} + g^{230}x^{144} + g^{222}x^{136} + g^{227}x^{132} + g^{253}x^{130} + g^{162}x^{129} + g^{15}x^{96} + g^{159}x^{80} + g^{163}x^{72} + g^{5}x^{68} + g^{242}x^{66} + g^{117}x^{65} + g^{170}x^{48} + g^{107}x^{40} + g^{16}x^{36} + gx^{34} + g^{116}x^{33} + g^{225}x^{24} + g^{41}x^{20} + g^{139}x^{18} + g^{125}x^{17} + g^{136}x^{12} + g^{92}x^{10} + g^{144}x^{9} + g^{110}x^{6} + g^{53}x^{5} + g^{136}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/501_1000/701_800.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>