
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>&lt;no title&gt; &#8212; Boolean Functions  documentation</title>
    <link rel="stylesheet" href="../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../_static/pygments.css" type="text/css" />
    
    <script id="documentation_options" data-url_root="../../../../" src="../../../../_static/documentation_options.js"></script>
    <script src="../../../../_static/jquery.js"></script>
    <script src="../../../../_static/underscore.js"></script>
    <script src="../../../../_static/doctools.js"></script>
    <script src="../../../../_static/language_data.js"></script>
    <script src="https://sagecell.sagemath.org/static/embedded_sagecell.js"></script>
    <script src="../../../../_static/sagecell-init.js"></script>
    <script async="async" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
    <script src="../../../../_static/sidebar.js"></script>
    
    <link rel="index" title="Index" href="../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../search.html" /> 
  </head><body>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <table class="docutils align-default">
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>ID</p></th>
<th class="head"><p>F(x)</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>901</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{8}x^{192} + g^{86}x^{160} + g^{217}x^{144} + g^{251}x^{136} + g^{125}x^{132} + g^{167}x^{130} + g^{115}x^{129} + g^{222}x^{96} + g^{223}x^{80} + g^{180}x^{72} + g^{149}x^{68} + g^{116}x^{66} + g^{120}x^{65} + g^{208}x^{48} + g^{27}x^{40} + g^{2}x^{36} + g^{62}x^{34} + g^{151}x^{33} + g^{57}x^{24} + g^{97}x^{20} + g^{59}x^{18} + g^{61}x^{17} + g^{165}x^{12} + g^{184}x^{10} + g^{109}x^{9} + g^{243}x^{6} + g^{164}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>902</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{246}x^{192} + g^{238}x^{160} + g^{29}x^{144} + g^{19}x^{136} + g^{246}x^{132} + g^{125}x^{130} + g^{88}x^{129} + g^{160}x^{96} + g^{106}x^{80} + g^{159}x^{72} + g^{91}x^{68} + g^{37}x^{66} + g^{240}x^{65} + g^{161}x^{48} + g^{24}x^{40} + g^{23}x^{36} + g^{73}x^{34} + g^{6}x^{33} + g^{114}x^{24} + g^{161}x^{20} + g^{109}x^{18} + g^{93}x^{17} + g^{83}x^{12} + g^{88}x^{10} + g^{82}x^{9} + g^{141}x^{6} + g^{81}x^{5} + g^{75}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>903</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{168}x^{192} + g^{109}x^{160} + g^{110}x^{144} + g^{44}x^{136} + g^{95}x^{132} + g^{253}x^{130} + g^{209}x^{129} + g^{76}x^{96} + g^{43}x^{80} + g^{39}x^{72} + g^{109}x^{68} + g^{102}x^{66} + g^{65}x^{65} + g^{155}x^{48} + g^{237}x^{40} + g^{204}x^{36} + g^{225}x^{34} + g^{111}x^{33} + g^{89}x^{24} + g^{129}x^{20} + g^{99}x^{18} + g^{76}x^{17} + g^{120}x^{12} + g^{11}x^{10} + g^{117}x^{9} + g^{244}x^{6} + g^{217}x^{5} + g^{23}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>904</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{249}x^{192} + g^{173}x^{160} + g^{89}x^{144} + g^{216}x^{136} + g^{83}x^{132} + g^{23}x^{130} + g^{50}x^{129} + g^{123}x^{96} + g^{252}x^{80} + g^{162}x^{72} + g^{146}x^{68} + g^{24}x^{66} + g^{36}x^{65} + g^{75}x^{48} + g^{102}x^{40} + g^{69}x^{36} + g^{166}x^{34} + g^{46}x^{33} + g^{226}x^{24} + g^{35}x^{20} + g^{107}x^{18} + g^{233}x^{17} + g^{215}x^{12} + g^{80}x^{10} + x^{9} + g^{232}x^{6} + g^{28}x^{5} + g^{137}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>905</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{185}x^{192} + g^{194}x^{160} + g^{64}x^{144} + g^{236}x^{136} + g^{196}x^{132} + g^{156}x^{130} + g^{189}x^{129} + g^{201}x^{96} + g^{38}x^{80} + g^{78}x^{72} + g^{204}x^{68} + g^{128}x^{66} + g^{53}x^{65} + g^{53}x^{48} + g^{197}x^{40} + g^{129}x^{36} + g^{8}x^{34} + g^{62}x^{33} + g^{183}x^{24} + g^{48}x^{20} + g^{40}x^{18} + g^{184}x^{17} + g^{170}x^{12} + g^{31}x^{10} + g^{61}x^{9} + g^{82}x^{6} + g^{3}x^{5} + g^{115}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>906</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{18}x^{160} + g^{156}x^{144} + g^{33}x^{136} + g^{92}x^{132} + g^{61}x^{130} + x^{129} + g^{77}x^{96} + g^{3}x^{80} + g^{96}x^{72} + g^{184}x^{68} + g^{181}x^{66} + g^{222}x^{65} + g^{90}x^{48} + g^{102}x^{40} + g^{42}x^{36} + g^{102}x^{34} + g^{127}x^{33} + g^{32}x^{24} + g^{40}x^{20} + g^{184}x^{18} + g^{126}x^{17} + g^{87}x^{12} + g^{83}x^{10} + g^{216}x^{9} + g^{144}x^{6} + g^{170}x^{5} + gx^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>907</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{192} + g^{146}x^{160} + g^{9}x^{144} + g^{109}x^{136} + g^{111}x^{132} + g^{131}x^{130} + g^{52}x^{129} + g^{132}x^{96} + g^{129}x^{80} + g^{56}x^{72} + g^{207}x^{68} + g^{252}x^{66} + g^{154}x^{65} + g^{58}x^{48} + g^{46}x^{40} + g^{130}x^{36} + g^{152}x^{34} + g^{231}x^{33} + g^{28}x^{24} + g^{11}x^{20} + g^{74}x^{18} + g^{155}x^{17} + g^{150}x^{12} + g^{114}x^{10} + g^{192}x^{9} + g^{50}x^{6} + g^{22}x^{5} + g^{170}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>908</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{192} + g^{230}x^{160} + g^{139}x^{144} + g^{130}x^{136} + g^{146}x^{132} + g^{89}x^{130} + g^{149}x^{129} + g^{168}x^{96} + g^{27}x^{80} + g^{166}x^{72} + g^{119}x^{68} + g^{228}x^{66} + g^{42}x^{65} + g^{194}x^{48} + g^{219}x^{40} + g^{224}x^{36} + g^{42}x^{34} + g^{24}x^{33} + g^{208}x^{24} + g^{101}x^{20} + g^{37}x^{18} + g^{87}x^{17} + g^{241}x^{12} + g^{191}x^{10} + g^{248}x^{9} + g^{70}x^{6} + g^{207}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>909</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{180}x^{192} + g^{21}x^{160} + g^{234}x^{144} + g^{165}x^{136} + g^{149}x^{132} + g^{119}x^{130} + g^{81}x^{129} + g^{26}x^{96} + g^{196}x^{80} + g^{122}x^{72} + g^{112}x^{68} + g^{200}x^{66} + g^{12}x^{65} + g^{221}x^{48} + g^{25}x^{40} + g^{156}x^{36} + g^{87}x^{34} + g^{173}x^{33} + g^{236}x^{24} + g^{122}x^{20} + g^{191}x^{18} + g^{206}x^{17} + g^{84}x^{12} + g^{80}x^{10} + g^{252}x^{9} + g^{139}x^{6} + g^{247}x^{5} + g^{111}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>910</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{69}x^{192} + g^{247}x^{160} + g^{48}x^{144} + g^{200}x^{136} + g^{122}x^{132} + g^{82}x^{130} + g^{150}x^{129} + g^{185}x^{96} + g^{171}x^{80} + g^{93}x^{72} + g^{140}x^{68} + g^{136}x^{66} + g^{28}x^{65} + g^{167}x^{48} + g^{118}x^{40} + g^{149}x^{36} + g^{231}x^{34} + g^{68}x^{33} + g^{142}x^{24} + g^{73}x^{20} + g^{184}x^{18} + g^{138}x^{17} + g^{90}x^{12} + g^{141}x^{10} + g^{190}x^{9} + g^{181}x^{6} + g^{48}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>911</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{134}x^{192} + g^{151}x^{160} + g^{19}x^{144} + g^{183}x^{136} + g^{43}x^{132} + g^{46}x^{130} + g^{28}x^{129} + g^{127}x^{96} + g^{229}x^{80} + g^{119}x^{72} + g^{62}x^{68} + g^{78}x^{66} + g^{247}x^{65} + g^{185}x^{48} + g^{117}x^{40} + g^{51}x^{36} + g^{26}x^{34} + g^{34}x^{33} + g^{86}x^{24} + g^{22}x^{20} + g^{21}x^{18} + g^{176}x^{17} + g^{222}x^{12} + g^{107}x^{10} + g^{140}x^{9} + g^{68}x^{6} + g^{8}x^{5} + g^{121}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>912</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{180}x^{192} + g^{127}x^{160} + g^{207}x^{144} + g^{204}x^{136} + g^{217}x^{132} + g^{254}x^{130} + g^{171}x^{129} + g^{179}x^{96} + g^{180}x^{80} + g^{110}x^{72} + g^{53}x^{68} + g^{178}x^{66} + g^{171}x^{65} + g^{77}x^{48} + g^{192}x^{40} + g^{42}x^{36} + g^{29}x^{34} + g^{46}x^{33} + g^{217}x^{24} + g^{241}x^{20} + g^{179}x^{17} + g^{97}x^{12} + g^{94}x^{10} + g^{130}x^{9} + g^{180}x^{6} + g^{54}x^{5} + g^{137}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>913</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{54}x^{192} + g^{37}x^{160} + g^{76}x^{144} + g^{3}x^{136} + g^{195}x^{132} + g^{116}x^{130} + g^{78}x^{129} + g^{130}x^{96} + g^{8}x^{80} + g^{10}x^{72} + g^{11}x^{68} + g^{129}x^{66} + g^{67}x^{65} + g^{167}x^{48} + g^{12}x^{40} + g^{167}x^{36} + g^{168}x^{34} + g^{124}x^{33} + g^{90}x^{24} + g^{112}x^{20} + g^{125}x^{18} + g^{163}x^{17} + g^{43}x^{12} + g^{111}x^{10} + g^{252}x^{9} + g^{221}x^{6} + g^{95}x^{5} + g^{58}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>914</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{161}x^{192} + g^{39}x^{160} + g^{51}x^{144} + g^{21}x^{136} + g^{118}x^{132} + g^{56}x^{130} + g^{126}x^{129} + g^{56}x^{96} + g^{33}x^{80} + g^{126}x^{72} + g^{253}x^{68} + g^{180}x^{66} + g^{190}x^{65} + g^{77}x^{48} + g^{171}x^{40} + g^{157}x^{36} + g^{243}x^{34} + g^{167}x^{33} + g^{248}x^{24} + g^{160}x^{20} + g^{238}x^{18} + g^{239}x^{17} + g^{48}x^{12} + g^{189}x^{10} + g^{4}x^{9} + g^{224}x^{6} + g^{90}x^{5} + g^{62}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>915</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{107}x^{160} + g^{154}x^{144} + g^{111}x^{136} + g^{97}x^{132} + g^{230}x^{130} + g^{100}x^{129} + g^{54}x^{96} + g^{111}x^{80} + g^{147}x^{72} + g^{10}x^{68} + g^{229}x^{66} + g^{154}x^{65} + g^{66}x^{48} + g^{160}x^{40} + g^{140}x^{36} + g^{57}x^{34} + g^{122}x^{33} + g^{29}x^{24} + g^{240}x^{20} + g^{57}x^{18} + g^{4}x^{17} + g^{24}x^{12} + g^{71}x^{10} + g^{253}x^{9} + g^{236}x^{6} + g^{175}x^{5} + g^{49}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>916</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{240}x^{192} + g^{249}x^{160} + g^{173}x^{144} + g^{145}x^{136} + g^{239}x^{132} + g^{225}x^{130} + g^{166}x^{129} + g^{148}x^{96} + g^{132}x^{80} + g^{17}x^{72} + g^{15}x^{68} + g^{72}x^{66} + g^{54}x^{65} + g^{144}x^{48} + g^{180}x^{40} + g^{250}x^{36} + g^{5}x^{34} + g^{41}x^{33} + g^{215}x^{24} + g^{75}x^{20} + g^{211}x^{18} + g^{26}x^{17} + g^{47}x^{12} + g^{192}x^{10} + g^{179}x^{9} + g^{44}x^{6} + g^{173}x^{5} + g^{194}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>917</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{134}x^{192} + g^{61}x^{160} + g^{65}x^{144} + g^{206}x^{136} + g^{235}x^{132} + g^{136}x^{130} + g^{65}x^{129} + g^{208}x^{96} + g^{74}x^{80} + g^{150}x^{72} + g^{148}x^{68} + g^{157}x^{66} + g^{85}x^{65} + g^{118}x^{48} + g^{254}x^{40} + g^{33}x^{36} + g^{197}x^{34} + g^{86}x^{33} + g^{109}x^{24} + g^{118}x^{20} + g^{32}x^{18} + g^{69}x^{17} + g^{65}x^{12} + g^{73}x^{10} + g^{154}x^{9} + g^{151}x^{6} + g^{226}x^{5} + g^{95}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>918</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{187}x^{160} + g^{172}x^{144} + g^{68}x^{136} + g^{122}x^{132} + g^{24}x^{130} + g^{219}x^{129} + g^{28}x^{96} + g^{69}x^{80} + g^{132}x^{72} + g^{51}x^{68} + g^{229}x^{66} + g^{222}x^{65} + g^{109}x^{48} + g^{94}x^{40} + g^{171}x^{36} + g^{231}x^{34} + g^{40}x^{33} + g^{33}x^{24} + g^{107}x^{20} + g^{9}x^{18} + g^{194}x^{17} + g^{206}x^{12} + g^{205}x^{10} + g^{115}x^{9} + g^{133}x^{6} + g^{138}x^{5} + g^{9}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>919</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{203}x^{160} + g^{238}x^{144} + g^{247}x^{136} + g^{132}x^{132} + g^{158}x^{130} + g^{25}x^{129} + g^{238}x^{96} + g^{166}x^{80} + g^{251}x^{72} + g^{107}x^{68} + g^{147}x^{66} + g^{133}x^{65} + g^{181}x^{48} + g^{47}x^{40} + g^{68}x^{36} + g^{102}x^{34} + g^{195}x^{33} + g^{134}x^{24} + g^{21}x^{20} + g^{176}x^{18} + x^{17} + g^{21}x^{12} + g^{208}x^{10} + g^{90}x^{9} + g^{212}x^{6} + g^{25}x^{5} + g^{116}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>920</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{159}x^{192} + g^{125}x^{160} + g^{148}x^{144} + g^{234}x^{136} + g^{194}x^{132} + g^{114}x^{130} + g^{201}x^{129} + g^{17}x^{96} + g^{12}x^{80} + g^{2}x^{72} + g^{199}x^{68} + g^{7}x^{66} + g^{167}x^{65} + g^{234}x^{48} + g^{222}x^{40} + g^{118}x^{36} + g^{246}x^{34} + g^{202}x^{33} + g^{208}x^{24} + g^{186}x^{20} + g^{81}x^{18} + g^{24}x^{17} + g^{181}x^{12} + g^{135}x^{10} + g^{190}x^{9} + g^{64}x^{6} + g^{246}x^{5} + g^{63}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>921</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{155}x^{192} + g^{39}x^{160} + g^{238}x^{144} + g^{181}x^{136} + g^{76}x^{132} + g^{26}x^{130} + g^{253}x^{129} + g^{65}x^{96} + g^{201}x^{80} + g^{240}x^{72} + g^{253}x^{68} + g^{245}x^{66} + g^{119}x^{65} + g^{157}x^{48} + g^{126}x^{40} + g^{50}x^{36} + g^{163}x^{34} + g^{188}x^{33} + g^{147}x^{24} + g^{9}x^{20} + g^{141}x^{18} + g^{7}x^{17} + g^{97}x^{12} + g^{49}x^{10} + g^{96}x^{9} + g^{177}x^{6} + g^{171}x^{5} + g^{48}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>922</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{240}x^{160} + g^{62}x^{144} + g^{246}x^{136} + g^{192}x^{132} + g^{198}x^{130} + g^{151}x^{129} + g^{251}x^{96} + g^{217}x^{80} + g^{26}x^{72} + g^{82}x^{68} + g^{179}x^{66} + g^{211}x^{65} + g^{216}x^{48} + g^{8}x^{40} + g^{148}x^{36} + g^{171}x^{34} + g^{118}x^{33} + g^{169}x^{24} + g^{149}x^{20} + g^{235}x^{18} + g^{13}x^{17} + g^{114}x^{12} + g^{45}x^{10} + g^{87}x^{9} + g^{181}x^{6} + g^{47}x^{5} + g^{84}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>923</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{153}x^{192} + g^{154}x^{160} + g^{92}x^{144} + g^{10}x^{136} + g^{107}x^{132} + g^{86}x^{130} + g^{118}x^{129} + g^{71}x^{96} + g^{156}x^{80} + g^{160}x^{72} + g^{203}x^{68} + g^{176}x^{66} + g^{126}x^{65} + g^{226}x^{48} + g^{99}x^{40} + g^{69}x^{36} + g^{142}x^{34} + g^{171}x^{33} + g^{20}x^{24} + g^{191}x^{20} + g^{134}x^{18} + g^{245}x^{17} + g^{218}x^{12} + g^{226}x^{10} + g^{152}x^{9} + g^{72}x^{6} + g^{137}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>924</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{100}x^{192} + g^{88}x^{160} + g^{87}x^{144} + g^{130}x^{136} + g^{159}x^{132} + g^{110}x^{130} + g^{10}x^{129} + g^{63}x^{96} + g^{93}x^{80} + g^{208}x^{72} + g^{74}x^{68} + g^{157}x^{66} + g^{82}x^{65} + g^{103}x^{48} + g^{95}x^{40} + g^{195}x^{36} + g^{241}x^{34} + g^{80}x^{33} + g^{84}x^{24} + g^{53}x^{20} + g^{200}x^{18} + g^{16}x^{17} + g^{64}x^{12} + g^{189}x^{10} + g^{66}x^{9} + g^{35}x^{6} + g^{73}x^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>925</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{59}x^{192} + g^{153}x^{160} + g^{65}x^{144} + g^{190}x^{136} + g^{33}x^{132} + g^{213}x^{130} + g^{81}x^{129} + g^{92}x^{96} + g^{46}x^{80} + g^{14}x^{72} + g^{191}x^{68} + g^{149}x^{66} + g^{157}x^{65} + g^{75}x^{48} + g^{164}x^{40} + g^{213}x^{36} + g^{27}x^{34} + g^{47}x^{33} + g^{81}x^{24} + g^{117}x^{20} + g^{127}x^{18} + g^{18}x^{17} + g^{23}x^{12} + g^{223}x^{10} + g^{8}x^{9} + g^{102}x^{6} + x^{5} + g^{184}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>926</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{21}x^{160} + g^{193}x^{144} + g^{89}x^{136} + g^{52}x^{132} + g^{111}x^{130} + g^{60}x^{129} + g^{190}x^{96} + g^{10}x^{80} + g^{235}x^{72} + g^{136}x^{68} + g^{79}x^{66} + g^{47}x^{65} + g^{172}x^{48} + g^{134}x^{40} + g^{221}x^{36} + g^{32}x^{34} + g^{27}x^{33} + g^{141}x^{24} + g^{236}x^{20} + g^{179}x^{18} + g^{5}x^{17} + g^{19}x^{12} + g^{125}x^{10} + g^{248}x^{9} + g^{141}x^{6} + g^{90}x^{5} + g^{39}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>927</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{108}x^{192} + g^{50}x^{160} + g^{199}x^{144} + g^{249}x^{136} + g^{122}x^{132} + g^{101}x^{130} + g^{183}x^{129} + g^{101}x^{96} + g^{212}x^{80} + g^{160}x^{72} + g^{86}x^{68} + g^{119}x^{66} + g^{3}x^{65} + g^{15}x^{48} + g^{54}x^{40} + g^{234}x^{36} + g^{187}x^{34} + g^{212}x^{33} + g^{238}x^{24} + g^{45}x^{20} + g^{140}x^{18} + g^{32}x^{17} + g^{145}x^{12} + g^{165}x^{10} + g^{183}x^{9} + g^{225}x^{6} + g^{121}x^{5} + g^{53}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>928</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{244}x^{192} + g^{216}x^{160} + g^{133}x^{144} + g^{239}x^{136} + g^{45}x^{132} + g^{48}x^{130} + g^{89}x^{129} + g^{74}x^{96} + g^{207}x^{80} + g^{142}x^{72} + g^{214}x^{68} + g^{84}x^{66} + g^{241}x^{65} + g^{94}x^{48} + g^{2}x^{40} + g^{207}x^{36} + g^{217}x^{34} + g^{139}x^{33} + g^{42}x^{24} + g^{245}x^{20} + g^{196}x^{18} + g^{92}x^{17} + g^{15}x^{12} + g^{45}x^{10} + g^{26}x^{9} + g^{147}x^{6} + g^{148}x^{5} + g^{172}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>929</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{167}x^{192} + g^{95}x^{160} + g^{36}x^{144} + g^{68}x^{136} + g^{104}x^{132} + g^{193}x^{130} + g^{13}x^{129} + g^{28}x^{96} + g^{193}x^{80} + g^{75}x^{72} + g^{99}x^{68} + g^{251}x^{66} + g^{103}x^{65} + g^{193}x^{48} + g^{2}x^{40} + g^{55}x^{36} + g^{164}x^{34} + g^{189}x^{33} + g^{172}x^{24} + g^{248}x^{20} + g^{23}x^{18} + g^{130}x^{17} + g^{95}x^{12} + g^{19}x^{10} + g^{210}x^{9} + g^{167}x^{6} + g^{210}x^{5} + g^{113}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>930</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{225}x^{192} + g^{2}x^{160} + g^{207}x^{144} + g^{243}x^{136} + g^{153}x^{132} + g^{69}x^{130} + g^{111}x^{129} + g^{167}x^{96} + g^{87}x^{80} + g^{55}x^{72} + g^{165}x^{68} + g^{206}x^{66} + g^{38}x^{65} + g^{10}x^{48} + g^{106}x^{40} + g^{132}x^{36} + g^{240}x^{34} + g^{148}x^{24} + g^{13}x^{20} + g^{232}x^{18} + g^{190}x^{17} + g^{114}x^{12} + g^{88}x^{10} + g^{113}x^{9} + g^{35}x^{6} + g^{125}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>931</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{189}x^{192} + g^{171}x^{160} + g^{11}x^{144} + g^{150}x^{136} + g^{164}x^{132} + g^{98}x^{130} + g^{173}x^{129} + g^{98}x^{96} + g^{238}x^{80} + g^{3}x^{72} + g^{229}x^{68} + g^{180}x^{66} + g^{131}x^{65} + g^{205}x^{48} + g^{139}x^{40} + g^{230}x^{36} + g^{107}x^{34} + g^{123}x^{33} + g^{224}x^{24} + g^{117}x^{20} + g^{209}x^{18} + g^{5}x^{17} + g^{42}x^{12} + g^{239}x^{10} + g^{185}x^{9} + x^{6} + g^{106}x^{5} + g^{240}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>932</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{205}x^{160} + g^{77}x^{144} + g^{63}x^{136} + g^{198}x^{132} + g^{250}x^{130} + g^{25}x^{129} + g^{114}x^{96} + g^{216}x^{80} + g^{141}x^{72} + g^{52}x^{68} + g^{44}x^{66} + g^{218}x^{65} + g^{34}x^{48} + g^{206}x^{40} + g^{145}x^{36} + g^{86}x^{34} + g^{79}x^{33} + g^{134}x^{24} + g^{119}x^{20} + g^{131}x^{18} + g^{243}x^{17} + g^{105}x^{12} + g^{214}x^{10} + g^{169}x^{9} + g^{193}x^{6} + g^{239}x^{5} + g^{18}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>933</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{203}x^{192} + g^{51}x^{160} + g^{36}x^{144} + g^{143}x^{136} + g^{126}x^{132} + gx^{130} + g^{20}x^{129} + g^{66}x^{96} + g^{103}x^{80} + g^{140}x^{72} + g^{171}x^{68} + g^{166}x^{66} + g^{232}x^{65} + g^{175}x^{48} + g^{17}x^{40} + g^{214}x^{36} + g^{149}x^{34} + g^{29}x^{33} + g^{230}x^{24} + g^{29}x^{20} + g^{127}x^{18} + g^{117}x^{17} + g^{180}x^{12} + g^{178}x^{10} + g^{28}x^{9} + g^{56}x^{6} + g^{165}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>934</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{169}x^{192} + g^{91}x^{160} + g^{211}x^{144} + g^{173}x^{136} + g^{186}x^{132} + g^{116}x^{130} + g^{180}x^{129} + g^{97}x^{96} + g^{159}x^{80} + g^{244}x^{72} + g^{77}x^{68} + g^{222}x^{66} + g^{9}x^{65} + g^{245}x^{48} + g^{64}x^{40} + g^{185}x^{36} + g^{193}x^{34} + g^{110}x^{33} + g^{254}x^{24} + g^{71}x^{20} + g^{231}x^{18} + g^{149}x^{17} + g^{117}x^{12} + g^{240}x^{10} + g^{201}x^{9} + g^{119}x^{6} + g^{168}x^{5} + g^{211}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>935</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{33}x^{192} + g^{249}x^{160} + g^{176}x^{144} + g^{40}x^{136} + g^{204}x^{132} + g^{111}x^{130} + g^{199}x^{129} + g^{121}x^{96} + g^{13}x^{80} + g^{122}x^{72} + g^{47}x^{68} + g^{172}x^{66} + g^{95}x^{65} + g^{238}x^{48} + g^{168}x^{40} + g^{13}x^{36} + g^{73}x^{34} + g^{185}x^{33} + g^{112}x^{24} + g^{254}x^{20} + g^{138}x^{18} + g^{110}x^{17} + g^{196}x^{12} + g^{163}x^{10} + g^{229}x^{9} + g^{26}x^{6} + g^{163}x^{5} + g^{6}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>936</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{129}x^{192} + g^{83}x^{160} + g^{227}x^{144} + g^{234}x^{136} + g^{245}x^{132} + g^{173}x^{130} + g^{209}x^{129} + g^{254}x^{96} + g^{182}x^{80} + g^{209}x^{72} + g^{252}x^{68} + g^{71}x^{66} + g^{33}x^{65} + g^{60}x^{48} + g^{53}x^{40} + g^{69}x^{36} + g^{10}x^{34} + g^{214}x^{33} + g^{64}x^{24} + g^{87}x^{20} + g^{69}x^{18} + g^{191}x^{17} + g^{126}x^{12} + g^{183}x^{10} + g^{213}x^{9} + g^{3}x^{6} + g^{143}x^{5} + g^{101}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>937</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{23}x^{192} + g^{58}x^{160} + g^{45}x^{144} + g^{110}x^{136} + g^{67}x^{132} + gx^{130} + g^{31}x^{129} + g^{123}x^{96} + g^{68}x^{80} + g^{10}x^{72} + g^{68}x^{68} + g^{104}x^{66} + g^{77}x^{65} + g^{43}x^{48} + g^{89}x^{40} + g^{89}x^{36} + g^{3}x^{34} + g^{51}x^{33} + g^{35}x^{24} + g^{137}x^{20} + g^{153}x^{18} + g^{166}x^{17} + g^{247}x^{12} + g^{37}x^{10} + g^{87}x^{9} + g^{178}x^{6} + g^{102}x^{5} + g^{21}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>938</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{192}x^{192} + g^{142}x^{160} + g^{218}x^{144} + g^{78}x^{136} + g^{70}x^{132} + g^{218}x^{130} + g^{66}x^{129} + g^{189}x^{96} + g^{180}x^{80} + g^{105}x^{72} + g^{60}x^{68} + g^{34}x^{66} + g^{252}x^{65} + g^{158}x^{48} + g^{163}x^{40} + g^{115}x^{36} + g^{47}x^{34} + g^{70}x^{33} + g^{110}x^{24} + g^{251}x^{20} + g^{135}x^{18} + g^{38}x^{17} + g^{172}x^{12} + g^{125}x^{10} + g^{126}x^{9} + g^{73}x^{6} + g^{225}x^{5} + g^{102}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>939</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{71}x^{192} + g^{103}x^{160} + g^{104}x^{144} + g^{102}x^{136} + g^{149}x^{132} + g^{5}x^{130} + g^{149}x^{129} + g^{234}x^{96} + g^{13}x^{80} + g^{18}x^{72} + g^{8}x^{68} + g^{239}x^{66} + g^{168}x^{65} + g^{215}x^{48} + g^{2}x^{40} + g^{40}x^{36} + g^{62}x^{34} + g^{143}x^{33} + g^{57}x^{24} + g^{119}x^{20} + g^{7}x^{18} + g^{201}x^{17} + g^{109}x^{12} + g^{177}x^{10} + g^{88}x^{9} + g^{100}x^{6} + g^{232}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>940</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{63}x^{192} + g^{229}x^{160} + g^{134}x^{144} + g^{214}x^{136} + g^{62}x^{132} + g^{71}x^{130} + g^{108}x^{129} + g^{57}x^{96} + g^{204}x^{80} + g^{218}x^{72} + g^{156}x^{68} + g^{105}x^{66} + g^{182}x^{65} + g^{50}x^{48} + g^{57}x^{40} + g^{242}x^{36} + g^{228}x^{34} + g^{54}x^{33} + g^{153}x^{24} + g^{144}x^{20} + g^{137}x^{18} + g^{60}x^{17} + g^{178}x^{12} + g^{165}x^{10} + g^{128}x^{9} + g^{231}x^{6} + g^{122}x^{5} + g^{170}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>941</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{83}x^{192} + g^{202}x^{160} + g^{184}x^{144} + g^{229}x^{136} + g^{160}x^{132} + g^{89}x^{130} + g^{158}x^{129} + g^{121}x^{96} + g^{2}x^{80} + g^{75}x^{72} + g^{31}x^{68} + g^{188}x^{66} + g^{12}x^{65} + g^{19}x^{48} + g^{181}x^{40} + g^{79}x^{36} + g^{224}x^{34} + g^{241}x^{33} + g^{43}x^{24} + g^{141}x^{20} + g^{226}x^{18} + g^{175}x^{17} + g^{139}x^{12} + g^{114}x^{10} + g^{142}x^{9} + g^{74}x^{6} + g^{43}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>942</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{124}x^{192} + g^{23}x^{160} + g^{40}x^{144} + g^{33}x^{136} + g^{45}x^{132} + g^{248}x^{130} + g^{56}x^{129} + g^{198}x^{96} + g^{22}x^{80} + g^{177}x^{72} + g^{42}x^{68} + g^{244}x^{66} + g^{210}x^{65} + gx^{48} + g^{187}x^{40} + g^{86}x^{36} + g^{130}x^{34} + g^{146}x^{33} + g^{146}x^{24} + g^{57}x^{20} + g^{36}x^{18} + g^{91}x^{17} + g^{138}x^{12} + g^{202}x^{10} + g^{50}x^{9} + g^{69}x^{6} + g^{7}x^{5} + g^{188}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>943</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{90}x^{192} + g^{63}x^{160} + g^{64}x^{144} + g^{232}x^{136} + g^{58}x^{132} + g^{237}x^{130} + g^{212}x^{129} + g^{188}x^{96} + g^{163}x^{80} + g^{128}x^{72} + g^{51}x^{68} + g^{179}x^{66} + g^{222}x^{65} + g^{245}x^{48} + g^{56}x^{40} + g^{218}x^{36} + g^{124}x^{34} + g^{207}x^{33} + g^{152}x^{24} + g^{81}x^{20} + g^{203}x^{18} + g^{202}x^{17} + g^{58}x^{12} + g^{12}x^{10} + g^{155}x^{9} + g^{57}x^{6} + g^{94}x^{5} + g^{168}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>944</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{196}x^{192} + g^{193}x^{160} + g^{84}x^{144} + g^{215}x^{136} + g^{101}x^{132} + g^{132}x^{130} + g^{89}x^{129} + g^{95}x^{96} + g^{155}x^{80} + g^{21}x^{72} + g^{38}x^{68} + g^{118}x^{66} + g^{250}x^{65} + g^{102}x^{48} + g^{57}x^{40} + g^{123}x^{36} + g^{60}x^{34} + g^{125}x^{33} + g^{5}x^{24} + g^{161}x^{20} + g^{82}x^{18} + g^{247}x^{17} + g^{39}x^{12} + g^{143}x^{10} + g^{88}x^{9} + g^{211}x^{6} + g^{240}x^{5} + g^{185}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>945</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{120}x^{192} + g^{9}x^{160} + g^{42}x^{144} + g^{203}x^{136} + g^{72}x^{132} + g^{98}x^{130} + g^{183}x^{129} + g^{93}x^{96} + g^{195}x^{80} + g^{217}x^{72} + g^{205}x^{68} + g^{141}x^{66} + g^{124}x^{65} + g^{46}x^{48} + g^{66}x^{40} + g^{219}x^{36} + g^{87}x^{34} + g^{15}x^{33} + g^{21}x^{24} + g^{126}x^{20} + g^{21}x^{18} + g^{3}x^{17} + g^{119}x^{12} + g^{156}x^{10} + g^{106}x^{9} + g^{197}x^{6} + g^{74}x^{5} + g^{80}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>946</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{216}x^{192} + g^{121}x^{160} + g^{128}x^{144} + g^{86}x^{136} + g^{49}x^{132} + g^{163}x^{130} + g^{13}x^{129} + g^{192}x^{96} + g^{83}x^{80} + g^{32}x^{72} + g^{148}x^{68} + g^{145}x^{66} + g^{234}x^{65} + g^{50}x^{48} + g^{170}x^{40} + g^{172}x^{36} + g^{132}x^{34} + g^{235}x^{33} + g^{135}x^{24} + g^{37}x^{20} + g^{186}x^{18} + g^{54}x^{17} + g^{246}x^{12} + g^{159}x^{10} + g^{212}x^{9} + g^{90}x^{6} + g^{189}x^{5} + g^{183}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>947</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{140}x^{192} + g^{124}x^{160} + g^{201}x^{144} + g^{126}x^{136} + g^{148}x^{132} + g^{128}x^{130} + g^{45}x^{129} + g^{7}x^{96} + g^{217}x^{80} + g^{109}x^{72} + g^{247}x^{68} + g^{170}x^{66} + g^{131}x^{65} + g^{51}x^{48} + g^{61}x^{40} + g^{160}x^{36} + g^{246}x^{34} + g^{220}x^{33} + g^{26}x^{24} + g^{246}x^{20} + g^{81}x^{18} + g^{33}x^{17} + g^{86}x^{12} + g^{112}x^{10} + g^{125}x^{9} + g^{182}x^{6} + g^{86}x^{5} + g^{173}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>948</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{65}x^{192} + g^{243}x^{160} + g^{48}x^{144} + g^{64}x^{136} + g^{181}x^{132} + g^{44}x^{130} + g^{33}x^{129} + g^{92}x^{96} + g^{158}x^{80} + g^{190}x^{72} + g^{45}x^{68} + g^{62}x^{66} + g^{120}x^{65} + g^{133}x^{48} + g^{192}x^{40} + g^{214}x^{36} + g^{199}x^{34} + g^{66}x^{33} + g^{89}x^{24} + g^{178}x^{20} + g^{219}x^{18} + g^{108}x^{17} + g^{141}x^{12} + g^{249}x^{10} + g^{4}x^{9} + g^{8}x^{6} + g^{154}x^{5} + g^{55}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>949</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{249}x^{192} + g^{20}x^{160} + g^{183}x^{144} + g^{132}x^{136} + g^{122}x^{132} + g^{182}x^{130} + g^{213}x^{129} + g^{130}x^{96} + g^{129}x^{80} + g^{169}x^{72} + g^{30}x^{68} + g^{107}x^{66} + g^{207}x^{65} + g^{210}x^{48} + g^{45}x^{40} + g^{99}x^{36} + g^{25}x^{34} + g^{199}x^{33} + g^{105}x^{24} + g^{214}x^{20} + g^{77}x^{18} + g^{40}x^{17} + g^{141}x^{12} + g^{57}x^{10} + g^{2}x^{9} + g^{59}x^{6} + g^{211}x^{5} + g^{199}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>950</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{208}x^{192} + g^{56}x^{160} + g^{244}x^{144} + g^{224}x^{136} + g^{94}x^{132} + g^{251}x^{130} + g^{82}x^{129} + g^{86}x^{96} + g^{129}x^{80} + g^{25}x^{72} + g^{230}x^{68} + g^{248}x^{66} + g^{213}x^{65} + g^{163}x^{48} + g^{41}x^{40} + g^{29}x^{36} + g^{86}x^{34} + g^{173}x^{33} + g^{9}x^{24} + g^{121}x^{20} + g^{142}x^{18} + g^{58}x^{17} + g^{220}x^{12} + g^{88}x^{10} + g^{148}x^{9} + g^{230}x^{6} + g^{200}x^{5} + g^{150}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>951</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{107}x^{192} + g^{208}x^{160} + g^{167}x^{144} + g^{8}x^{136} + g^{223}x^{132} + g^{52}x^{130} + g^{235}x^{129} + g^{169}x^{96} + g^{161}x^{80} + g^{15}x^{72} + g^{121}x^{68} + g^{124}x^{66} + g^{207}x^{65} + g^{73}x^{48} + g^{149}x^{40} + g^{78}x^{36} + g^{241}x^{34} + g^{49}x^{33} + g^{221}x^{24} + g^{57}x^{20} + g^{26}x^{18} + g^{205}x^{17} + g^{32}x^{12} + g^{72}x^{10} + g^{20}x^{9} + g^{33}x^{6} + g^{6}x^{5} + g^{133}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>952</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{157}x^{160} + g^{48}x^{144} + g^{165}x^{136} + g^{160}x^{132} + g^{81}x^{130} + g^{121}x^{129} + g^{182}x^{96} + g^{39}x^{80} + g^{213}x^{72} + g^{154}x^{68} + g^{12}x^{66} + g^{212}x^{65} + g^{197}x^{48} + g^{245}x^{40} + g^{178}x^{36} + g^{220}x^{34} + g^{223}x^{33} + g^{36}x^{24} + g^{227}x^{20} + g^{146}x^{18} + g^{249}x^{17} + g^{159}x^{12} + g^{107}x^{10} + g^{183}x^{9} + g^{54}x^{6} + gx^{5} + g^{54}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>953</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{22}x^{192} + g^{87}x^{160} + g^{83}x^{144} + g^{160}x^{136} + g^{215}x^{132} + g^{132}x^{130} + g^{122}x^{129} + g^{37}x^{96} + g^{78}x^{80} + g^{3}x^{72} + g^{101}x^{68} + g^{116}x^{66} + g^{244}x^{65} + g^{141}x^{48} + g^{215}x^{40} + g^{150}x^{36} + g^{15}x^{34} + g^{237}x^{33} + g^{209}x^{24} + g^{172}x^{20} + g^{36}x^{18} + g^{18}x^{17} + g^{208}x^{12} + g^{227}x^{10} + g^{51}x^{9} + g^{200}x^{6} + g^{48}x^{5} + g^{156}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>954</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{239}x^{192} + g^{186}x^{160} + g^{160}x^{144} + g^{97}x^{136} + g^{109}x^{132} + g^{245}x^{130} + g^{228}x^{129} + g^{77}x^{96} + g^{96}x^{80} + g^{207}x^{72} + g^{149}x^{68} + g^{227}x^{66} + g^{20}x^{65} + g^{205}x^{48} + g^{25}x^{40} + g^{16}x^{36} + g^{127}x^{34} + g^{97}x^{33} + g^{55}x^{24} + g^{237}x^{20} + g^{42}x^{18} + g^{138}x^{17} + g^{31}x^{12} + g^{212}x^{10} + g^{124}x^{9} + g^{95}x^{6} + g^{212}x^{5} + g^{88}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>955</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{252}x^{192} + g^{121}x^{160} + g^{241}x^{144} + g^{167}x^{136} + g^{91}x^{132} + g^{219}x^{130} + g^{64}x^{129} + g^{112}x^{96} + g^{37}x^{80} + g^{99}x^{72} + g^{104}x^{68} + g^{198}x^{66} + g^{45}x^{65} + g^{240}x^{48} + g^{223}x^{40} + g^{147}x^{36} + g^{254}x^{34} + g^{206}x^{33} + g^{77}x^{24} + g^{107}x^{20} + g^{146}x^{18} + g^{68}x^{17} + g^{187}x^{12} + g^{212}x^{10} + g^{92}x^{9} + g^{127}x^{6} + g^{15}x^{5} + g^{126}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>956</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{67}x^{192} + g^{252}x^{160} + g^{2}x^{144} + g^{108}x^{136} + g^{157}x^{132} + g^{4}x^{130} + g^{8}x^{129} + g^{103}x^{96} + g^{221}x^{80} + g^{104}x^{72} + g^{73}x^{68} + g^{123}x^{66} + g^{147}x^{65} + g^{127}x^{48} + g^{211}x^{40} + g^{248}x^{36} + g^{157}x^{34} + g^{196}x^{33} + g^{70}x^{24} + g^{232}x^{20} + g^{135}x^{18} + g^{46}x^{17} + g^{201}x^{12} + g^{42}x^{10} + g^{236}x^{9} + g^{160}x^{6} + g^{138}x^{5} + g^{125}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>957</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{204}x^{192} + g^{51}x^{160} + g^{79}x^{144} + g^{13}x^{136} + g^{154}x^{132} + g^{40}x^{130} + g^{158}x^{129} + g^{75}x^{96} + g^{101}x^{80} + g^{207}x^{72} + g^{157}x^{68} + g^{25}x^{66} + g^{166}x^{65} + g^{20}x^{48} + g^{140}x^{40} + g^{197}x^{36} + g^{136}x^{34} + g^{103}x^{33} + g^{115}x^{24} + g^{14}x^{20} + g^{129}x^{18} + g^{198}x^{17} + g^{67}x^{12} + g^{53}x^{10} + g^{194}x^{9} + g^{29}x^{6} + g^{56}x^{5} + g^{6}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>958</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{186}x^{192} + g^{23}x^{160} + g^{208}x^{144} + g^{112}x^{136} + g^{149}x^{132} + g^{207}x^{130} + g^{26}x^{129} + g^{116}x^{96} + g^{2}x^{80} + g^{30}x^{72} + g^{172}x^{68} + g^{79}x^{66} + g^{127}x^{65} + g^{88}x^{48} + g^{96}x^{40} + g^{47}x^{36} + g^{108}x^{34} + g^{34}x^{33} + g^{151}x^{24} + g^{5}x^{20} + g^{202}x^{18} + g^{91}x^{17} + g^{173}x^{12} + g^{232}x^{10} + g^{121}x^{9} + g^{133}x^{6} + g^{105}x^{5} + g^{253}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>959</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{224}x^{192} + g^{137}x^{160} + g^{206}x^{144} + g^{55}x^{136} + g^{218}x^{132} + g^{53}x^{130} + g^{177}x^{129} + g^{128}x^{96} + x^{80} + g^{31}x^{72} + g^{49}x^{68} + g^{101}x^{66} + g^{171}x^{65} + g^{81}x^{48} + g^{17}x^{40} + g^{42}x^{36} + g^{43}x^{34} + g^{137}x^{33} + g^{231}x^{24} + g^{247}x^{20} + g^{4}x^{18} + g^{16}x^{17} + g^{187}x^{12} + g^{22}x^{10} + g^{107}x^{9} + g^{66}x^{6} + g^{34}x^{5} + g^{97}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>960</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{142}x^{192} + g^{181}x^{160} + g^{72}x^{144} + g^{66}x^{136} + g^{89}x^{132} + g^{84}x^{130} + g^{5}x^{129} + g^{143}x^{96} + g^{166}x^{80} + g^{65}x^{72} + g^{98}x^{68} + g^{92}x^{66} + g^{63}x^{65} + g^{30}x^{48} + g^{170}x^{40} + g^{2}x^{36} + g^{207}x^{34} + g^{252}x^{33} + g^{182}x^{24} + g^{240}x^{20} + g^{4}x^{18} + g^{65}x^{17} + g^{183}x^{12} + g^{28}x^{10} + g^{15}x^{9} + g^{23}x^{6} + g^{76}x^{5} + g^{29}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>961</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{62}x^{192} + g^{159}x^{160} + g^{118}x^{144} + g^{51}x^{136} + g^{215}x^{132} + g^{118}x^{130} + g^{12}x^{129} + g^{143}x^{96} + g^{48}x^{80} + g^{94}x^{72} + g^{136}x^{68} + g^{135}x^{66} + g^{218}x^{65} + g^{145}x^{48} + g^{201}x^{40} + g^{223}x^{36} + g^{57}x^{34} + g^{229}x^{33} + g^{119}x^{24} + g^{22}x^{20} + g^{19}x^{18} + g^{141}x^{17} + g^{147}x^{12} + g^{230}x^{10} + g^{47}x^{9} + g^{47}x^{6} + g^{139}x^{5} + g^{185}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>962</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{98}x^{192} + g^{94}x^{160} + g^{105}x^{144} + g^{245}x^{136} + g^{91}x^{132} + g^{233}x^{130} + g^{224}x^{129} + g^{42}x^{96} + g^{251}x^{80} + x^{72} + g^{122}x^{68} + g^{129}x^{66} + g^{17}x^{65} + g^{55}x^{48} + g^{14}x^{40} + g^{133}x^{36} + g^{24}x^{34} + g^{253}x^{33} + g^{35}x^{24} + g^{200}x^{20} + g^{134}x^{18} + g^{107}x^{17} + g^{16}x^{12} + g^{223}x^{10} + g^{4}x^{9} + g^{236}x^{6} + g^{175}x^{5} + g^{68}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>963</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{192} + g^{146}x^{160} + g^{162}x^{144} + g^{176}x^{136} + g^{104}x^{132} + g^{189}x^{130} + gx^{129} + g^{167}x^{96} + g^{170}x^{80} + g^{66}x^{72} + g^{184}x^{68} + g^{197}x^{66} + g^{211}x^{65} + g^{232}x^{48} + g^{85}x^{40} + g^{107}x^{36} + g^{33}x^{34} + g^{32}x^{33} + g^{204}x^{24} + g^{3}x^{20} + g^{17}x^{18} + g^{232}x^{17} + g^{177}x^{12} + g^{165}x^{10} + g^{191}x^{9} + g^{95}x^{6} + g^{214}x^{5} + g^{179}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>964</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{138}x^{192} + g^{45}x^{160} + g^{222}x^{144} + g^{18}x^{136} + g^{95}x^{132} + g^{247}x^{130} + g^{89}x^{129} + g^{40}x^{96} + g^{72}x^{80} + g^{135}x^{72} + g^{96}x^{68} + g^{102}x^{66} + g^{239}x^{65} + g^{53}x^{48} + g^{246}x^{40} + g^{175}x^{36} + g^{202}x^{34} + g^{40}x^{33} + g^{219}x^{24} + g^{222}x^{20} + g^{104}x^{18} + g^{153}x^{17} + g^{161}x^{12} + g^{225}x^{10} + g^{251}x^{9} + g^{135}x^{6} + g^{94}x^{5} + g^{187}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>965</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{241}x^{192} + g^{93}x^{160} + g^{241}x^{144} + g^{196}x^{136} + g^{179}x^{132} + g^{94}x^{130} + g^{239}x^{129} + g^{180}x^{96} + g^{135}x^{80} + g^{32}x^{72} + g^{8}x^{68} + g^{75}x^{66} + g^{177}x^{65} + g^{210}x^{48} + g^{36}x^{40} + g^{183}x^{36} + g^{31}x^{34} + g^{64}x^{33} + g^{188}x^{24} + g^{239}x^{20} + g^{160}x^{18} + g^{236}x^{17} + g^{118}x^{12} + g^{85}x^{10} + g^{111}x^{9} + g^{19}x^{6} + g^{143}x^{5} + g^{191}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>966</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{4}x^{192} + g^{153}x^{160} + g^{93}x^{144} + g^{90}x^{136} + g^{131}x^{132} + g^{92}x^{130} + g^{214}x^{129} + g^{249}x^{96} + g^{158}x^{80} + g^{68}x^{72} + g^{197}x^{68} + g^{100}x^{65} + g^{177}x^{48} + g^{123}x^{40} + g^{82}x^{36} + g^{246}x^{34} + g^{78}x^{33} + g^{157}x^{24} + g^{223}x^{20} + g^{81}x^{18} + g^{78}x^{17} + g^{46}x^{12} + g^{21}x^{10} + g^{247}x^{9} + g^{100}x^{6} + g^{95}x^{5} + g^{145}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>967</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{65}x^{192} + g^{80}x^{160} + g^{123}x^{144} + g^{191}x^{136} + g^{177}x^{132} + g^{52}x^{130} + g^{43}x^{129} + g^{48}x^{96} + g^{117}x^{80} + g^{157}x^{72} + g^{216}x^{68} + g^{209}x^{66} + g^{45}x^{65} + g^{161}x^{48} + g^{83}x^{40} + g^{209}x^{36} + g^{64}x^{34} + g^{250}x^{33} + g^{234}x^{24} + g^{102}x^{20} + g^{103}x^{18} + g^{116}x^{17} + g^{240}x^{12} + g^{215}x^{10} + g^{132}x^{9} + g^{139}x^{6} + g^{126}x^{5} + g^{169}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>968</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{3}x^{192} + g^{84}x^{160} + g^{94}x^{144} + g^{129}x^{136} + g^{208}x^{132} + g^{152}x^{130} + g^{73}x^{129} + g^{242}x^{96} + g^{231}x^{80} + g^{216}x^{72} + g^{18}x^{68} + g^{164}x^{66} + g^{33}x^{65} + g^{80}x^{48} + g^{187}x^{40} + g^{230}x^{36} + g^{32}x^{34} + g^{181}x^{33} + g^{152}x^{24} + g^{59}x^{20} + g^{142}x^{18} + g^{188}x^{17} + g^{55}x^{12} + g^{96}x^{10} + g^{9}x^{9} + g^{198}x^{6} + g^{131}x^{5} + g^{132}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>969</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{29}x^{192} + g^{130}x^{160} + g^{214}x^{144} + g^{183}x^{136} + g^{142}x^{132} + g^{140}x^{130} + g^{206}x^{129} + g^{9}x^{96} + g^{57}x^{80} + g^{20}x^{72} + g^{114}x^{68} + g^{247}x^{66} + g^{160}x^{65} + g^{78}x^{48} + g^{105}x^{40} + g^{225}x^{36} + g^{248}x^{34} + g^{225}x^{33} + g^{16}x^{24} + g^{97}x^{20} + g^{98}x^{18} + g^{86}x^{17} + g^{121}x^{12} + g^{196}x^{10} + g^{36}x^{9} + g^{61}x^{6} + g^{77}x^{5} + g^{205}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>970</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{51}x^{192} + g^{220}x^{160} + g^{69}x^{144} + g^{10}x^{136} + g^{12}x^{132} + x^{130} + g^{189}x^{129} + g^{72}x^{96} + g^{50}x^{80} + g^{120}x^{72} + g^{228}x^{68} + g^{137}x^{66} + g^{217}x^{65} + g^{88}x^{48} + g^{170}x^{40} + g^{77}x^{36} + g^{152}x^{34} + g^{211}x^{33} + g^{102}x^{24} + g^{27}x^{20} + g^{16}x^{18} + g^{225}x^{17} + g^{72}x^{12} + g^{245}x^{10} + g^{26}x^{9} + g^{34}x^{6} + g^{93}x^{5} + x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>971</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{12}x^{192} + g^{142}x^{160} + g^{87}x^{144} + g^{196}x^{136} + g^{138}x^{132} + g^{210}x^{130} + g^{225}x^{129} + g^{229}x^{96} + g^{38}x^{80} + g^{143}x^{72} + x^{68} + g^{4}x^{66} + g^{140}x^{65} + g^{69}x^{48} + g^{69}x^{40} + g^{10}x^{36} + g^{250}x^{34} + g^{42}x^{33} + g^{221}x^{24} + g^{4}x^{20} + g^{178}x^{18} + g^{126}x^{17} + g^{98}x^{12} + g^{65}x^{10} + g^{70}x^{9} + g^{132}x^{6} + g^{87}x^{5} + g^{218}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>972</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{149}x^{192} + g^{178}x^{160} + g^{228}x^{144} + g^{177}x^{136} + g^{111}x^{132} + g^{166}x^{130} + g^{161}x^{129} + g^{91}x^{96} + g^{63}x^{80} + g^{200}x^{72} + g^{207}x^{68} + g^{240}x^{66} + g^{76}x^{65} + g^{134}x^{48} + g^{11}x^{40} + g^{198}x^{36} + g^{184}x^{34} + g^{239}x^{33} + g^{177}x^{24} + g^{169}x^{20} + x^{18} + g^{199}x^{17} + g^{83}x^{12} + g^{33}x^{10} + g^{192}x^{9} + g^{131}x^{6} + g^{19}x^{5} + g^{149}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>973</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{189}x^{192} + g^{237}x^{160} + g^{93}x^{144} + g^{42}x^{136} + g^{87}x^{132} + g^{184}x^{130} + g^{83}x^{129} + g^{28}x^{96} + g^{187}x^{80} + g^{40}x^{72} + g^{172}x^{68} + g^{236}x^{66} + g^{97}x^{65} + g^{247}x^{48} + g^{152}x^{40} + g^{246}x^{36} + g^{58}x^{34} + g^{71}x^{33} + g^{192}x^{24} + g^{172}x^{20} + g^{103}x^{18} + g^{116}x^{17} + g^{79}x^{12} + g^{79}x^{10} + g^{174}x^{9} + g^{171}x^{6} + g^{85}x^{5} + g^{171}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>974</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{99}x^{192} + g^{214}x^{160} + g^{62}x^{144} + g^{168}x^{136} + x^{132} + g^{117}x^{130} + g^{10}x^{129} + g^{208}x^{96} + g^{121}x^{80} + g^{234}x^{72} + g^{82}x^{68} + g^{189}x^{66} + g^{49}x^{65} + g^{190}x^{48} + g^{213}x^{40} + g^{232}x^{36} + g^{10}x^{34} + g^{47}x^{33} + g^{160}x^{24} + g^{67}x^{20} + g^{70}x^{18} + g^{75}x^{17} + g^{127}x^{12} + g^{163}x^{10} + g^{171}x^{9} + g^{47}x^{6} + g^{141}x^{5} + g^{214}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>975</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{2}x^{192} + g^{97}x^{160} + g^{214}x^{144} + g^{136}x^{136} + g^{218}x^{132} + g^{9}x^{130} + g^{174}x^{129} + g^{161}x^{96} + g^{136}x^{80} + g^{248}x^{72} + g^{185}x^{68} + g^{208}x^{66} + gx^{65} + g^{201}x^{48} + g^{202}x^{40} + g^{145}x^{36} + g^{96}x^{34} + g^{154}x^{33} + g^{147}x^{24} + gx^{20} + g^{45}x^{18} + g^{109}x^{17} + g^{193}x^{12} + g^{52}x^{10} + g^{242}x^{9} + g^{211}x^{6} + g^{91}x^{5} + g^{220}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>976</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{241}x^{160} + g^{28}x^{144} + g^{59}x^{136} + g^{141}x^{132} + g^{219}x^{130} + g^{203}x^{129} + g^{195}x^{96} + g^{70}x^{80} + g^{133}x^{72} + g^{149}x^{68} + g^{122}x^{66} + g^{98}x^{65} + g^{117}x^{48} + g^{9}x^{40} + g^{118}x^{36} + g^{136}x^{34} + g^{240}x^{33} + g^{129}x^{24} + g^{82}x^{20} + g^{40}x^{18} + g^{23}x^{17} + g^{209}x^{12} + g^{161}x^{10} + g^{21}x^{9} + g^{185}x^{6} + g^{28}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>977</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{234}x^{192} + g^{138}x^{160} + g^{179}x^{144} + g^{83}x^{136} + g^{200}x^{132} + g^{121}x^{130} + g^{247}x^{129} + g^{239}x^{96} + g^{10}x^{80} + g^{134}x^{72} + g^{232}x^{68} + g^{122}x^{66} + g^{147}x^{65} + g^{76}x^{48} + g^{129}x^{40} + g^{196}x^{36} + g^{56}x^{34} + g^{22}x^{33} + g^{116}x^{24} + g^{150}x^{20} + g^{141}x^{18} + g^{171}x^{17} + g^{141}x^{12} + g^{142}x^{10} + g^{183}x^{9} + g^{15}x^{6} + g^{82}x^{5} + g^{135}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>978</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{80}x^{192} + g^{236}x^{160} + g^{173}x^{144} + g^{12}x^{136} + g^{108}x^{132} + g^{183}x^{130} + g^{31}x^{129} + g^{48}x^{96} + g^{247}x^{80} + g^{93}x^{72} + g^{194}x^{68} + g^{43}x^{66} + g^{58}x^{65} + g^{153}x^{48} + g^{142}x^{40} + g^{65}x^{36} + g^{231}x^{34} + g^{167}x^{33} + g^{29}x^{24} + g^{94}x^{20} + g^{199}x^{18} + g^{77}x^{17} + g^{57}x^{12} + g^{112}x^{10} + g^{197}x^{9} + g^{74}x^{6} + g^{45}x^{5} + g^{79}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>979</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{125}x^{192} + g^{218}x^{160} + g^{85}x^{144} + g^{45}x^{136} + g^{144}x^{132} + g^{192}x^{130} + g^{243}x^{129} + g^{116}x^{96} + g^{65}x^{80} + g^{228}x^{72} + g^{148}x^{68} + g^{164}x^{66} + g^{12}x^{65} + g^{251}x^{48} + g^{74}x^{40} + g^{77}x^{36} + g^{21}x^{34} + g^{65}x^{33} + g^{136}x^{24} + g^{110}x^{20} + g^{107}x^{18} + g^{100}x^{17} + g^{82}x^{12} + g^{125}x^{10} + g^{81}x^{9} + g^{181}x^{6} + g^{162}x^{5} + g^{100}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>980</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{133}x^{192} + g^{55}x^{160} + g^{235}x^{144} + g^{75}x^{136} + g^{31}x^{132} + g^{128}x^{130} + x^{129} + g^{108}x^{96} + g^{68}x^{80} + g^{245}x^{72} + g^{53}x^{68} + g^{12}x^{66} + g^{172}x^{65} + g^{170}x^{48} + g^{226}x^{40} + g^{168}x^{36} + g^{243}x^{34} + g^{230}x^{33} + g^{135}x^{24} + g^{180}x^{20} + g^{180}x^{18} + g^{37}x^{17} + g^{97}x^{12} + g^{192}x^{10} + g^{214}x^{9} + g^{25}x^{6} + g^{171}x^{5} + g^{123}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>981</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{14}x^{192} + g^{131}x^{160} + g^{144}x^{144} + g^{141}x^{136} + g^{81}x^{132} + g^{52}x^{130} + g^{227}x^{129} + g^{35}x^{96} + g^{220}x^{80} + g^{39}x^{72} + g^{74}x^{68} + g^{131}x^{66} + g^{220}x^{65} + g^{247}x^{48} + g^{19}x^{40} + g^{129}x^{36} + g^{90}x^{34} + g^{244}x^{33} + g^{217}x^{24} + g^{114}x^{20} + g^{100}x^{18} + g^{199}x^{17} + g^{75}x^{12} + g^{238}x^{10} + g^{227}x^{9} + g^{228}x^{6} + g^{20}x^{5} + g^{220}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>982</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{87}x^{192} + g^{68}x^{160} + g^{136}x^{144} + g^{151}x^{136} + g^{143}x^{132} + g^{220}x^{130} + g^{232}x^{129} + g^{237}x^{96} + g^{207}x^{80} + g^{225}x^{72} + g^{228}x^{68} + g^{62}x^{66} + g^{128}x^{65} + g^{127}x^{48} + g^{30}x^{40} + g^{252}x^{36} + g^{196}x^{34} + g^{245}x^{33} + g^{119}x^{24} + g^{76}x^{20} + g^{149}x^{18} + g^{174}x^{17} + g^{105}x^{12} + g^{144}x^{10} + g^{78}x^{9} + g^{204}x^{6} + g^{118}x^{5} + g^{52}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>983</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{69}x^{192} + g^{172}x^{160} + g^{231}x^{144} + g^{108}x^{136} + g^{217}x^{132} + g^{191}x^{130} + g^{227}x^{129} + g^{124}x^{96} + g^{154}x^{80} + g^{167}x^{72} + g^{132}x^{68} + g^{99}x^{66} + g^{89}x^{65} + g^{226}x^{48} + g^{21}x^{40} + g^{97}x^{36} + g^{119}x^{34} + g^{138}x^{33} + g^{210}x^{24} + g^{167}x^{20} + g^{64}x^{18} + g^{228}x^{17} + g^{149}x^{12} + g^{101}x^{10} + g^{74}x^{9} + g^{161}x^{6} + g^{141}x^{5} + g^{226}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>984</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{115}x^{192} + g^{170}x^{160} + g^{159}x^{144} + g^{132}x^{136} + g^{129}x^{132} + g^{79}x^{130} + g^{244}x^{129} + g^{75}x^{96} + g^{234}x^{80} + g^{214}x^{72} + g^{152}x^{68} + g^{200}x^{66} + g^{206}x^{65} + g^{33}x^{48} + g^{10}x^{40} + g^{117}x^{36} + g^{11}x^{34} + g^{192}x^{33} + g^{229}x^{24} + g^{209}x^{20} + g^{63}x^{18} + g^{198}x^{17} + g^{82}x^{12} + g^{129}x^{10} + g^{79}x^{9} + g^{90}x^{6} + g^{107}x^{5} + g^{241}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>985</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{150}x^{192} + g^{121}x^{160} + g^{223}x^{144} + g^{253}x^{136} + g^{193}x^{132} + g^{99}x^{130} + g^{17}x^{129} + g^{164}x^{96} + g^{59}x^{80} + g^{190}x^{72} + g^{81}x^{68} + g^{52}x^{66} + g^{76}x^{65} + g^{148}x^{48} + g^{18}x^{40} + g^{159}x^{36} + g^{220}x^{34} + g^{85}x^{33} + g^{63}x^{24} + g^{217}x^{20} + g^{85}x^{18} + g^{77}x^{17} + g^{52}x^{12} + g^{74}x^{10} + g^{176}x^{9} + g^{147}x^{6} + g^{51}x^{5} + g^{32}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>986</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{172}x^{192} + g^{209}x^{160} + g^{197}x^{144} + g^{81}x^{136} + g^{171}x^{132} + g^{66}x^{130} + g^{193}x^{129} + g^{129}x^{96} + g^{229}x^{80} + g^{13}x^{72} + g^{9}x^{68} + g^{253}x^{66} + g^{194}x^{65} + g^{124}x^{48} + g^{5}x^{40} + g^{62}x^{36} + g^{88}x^{34} + g^{61}x^{33} + g^{155}x^{24} + g^{197}x^{20} + g^{212}x^{18} + g^{11}x^{17} + g^{105}x^{12} + g^{23}x^{10} + g^{26}x^{9} + g^{157}x^{6} + g^{237}x^{5} + g^{149}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>987</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{134}x^{192} + g^{181}x^{160} + g^{151}x^{144} + g^{85}x^{136} + g^{207}x^{132} + g^{254}x^{130} + g^{227}x^{129} + g^{230}x^{96} + g^{29}x^{80} + g^{94}x^{68} + g^{10}x^{66} + g^{16}x^{65} + g^{124}x^{48} + g^{121}x^{40} + g^{31}x^{36} + g^{102}x^{34} + g^{230}x^{33} + g^{169}x^{24} + g^{151}x^{20} + g^{66}x^{18} + g^{213}x^{17} + g^{151}x^{12} + g^{208}x^{10} + g^{200}x^{9} + g^{251}x^{6} + g^{54}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>988</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{94}x^{192} + g^{14}x^{160} + g^{59}x^{144} + g^{36}x^{136} + g^{11}x^{132} + g^{178}x^{130} + g^{18}x^{129} + g^{88}x^{96} + g^{42}x^{80} + g^{107}x^{72} + g^{79}x^{68} + g^{22}x^{66} + g^{207}x^{65} + g^{211}x^{48} + g^{119}x^{40} + g^{132}x^{36} + g^{251}x^{34} + g^{178}x^{33} + g^{118}x^{24} + g^{194}x^{20} + g^{57}x^{18} + g^{82}x^{17} + g^{241}x^{12} + g^{184}x^{10} + g^{32}x^{9} + g^{184}x^{6} + g^{66}x^{5} + g^{50}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>989</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{49}x^{192} + g^{120}x^{160} + g^{208}x^{144} + g^{193}x^{136} + g^{5}x^{132} + g^{188}x^{130} + g^{109}x^{129} + g^{2}x^{96} + g^{137}x^{80} + g^{94}x^{72} + g^{191}x^{68} + g^{63}x^{66} + g^{253}x^{65} + g^{122}x^{48} + g^{110}x^{40} + g^{94}x^{36} + g^{207}x^{34} + g^{15}x^{33} + g^{183}x^{24} + g^{135}x^{20} + g^{193}x^{18} + g^{175}x^{17} + g^{211}x^{12} + g^{213}x^{10} + g^{213}x^{9} + g^{97}x^{6} + g^{227}x^{5} + g^{5}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>990</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{154}x^{192} + g^{104}x^{160} + g^{231}x^{144} + g^{199}x^{136} + g^{26}x^{132} + g^{85}x^{130} + g^{10}x^{129} + g^{138}x^{96} + g^{249}x^{80} + g^{98}x^{72} + g^{73}x^{68} + g^{156}x^{66} + g^{55}x^{65} + g^{51}x^{48} + g^{46}x^{40} + g^{167}x^{36} + g^{52}x^{34} + g^{184}x^{33} + g^{220}x^{24} + g^{155}x^{20} + g^{47}x^{18} + g^{66}x^{17} + g^{6}x^{12} + g^{206}x^{10} + g^{107}x^{9} + g^{167}x^{6} + g^{85}x^{5} + g^{202}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>991</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{70}x^{192} + g^{232}x^{160} + g^{55}x^{144} + g^{179}x^{136} + g^{51}x^{132} + g^{95}x^{130} + g^{200}x^{129} + g^{6}x^{96} + g^{83}x^{80} + g^{53}x^{72} + g^{239}x^{66} + g^{142}x^{65} + g^{189}x^{48} + g^{192}x^{40} + g^{62}x^{36} + g^{239}x^{34} + g^{164}x^{33} + g^{203}x^{24} + g^{105}x^{20} + g^{187}x^{18} + g^{120}x^{17} + g^{151}x^{12} + g^{175}x^{10} + g^{219}x^{9} + g^{2}x^{6} + g^{106}x^{5} + g^{16}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>992</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{96}x^{192} + g^{160}x^{160} + g^{174}x^{144} + g^{22}x^{136} + g^{94}x^{132} + g^{194}x^{130} + g^{12}x^{129} + g^{108}x^{96} + g^{99}x^{80} + g^{104}x^{72} + g^{91}x^{68} + g^{81}x^{66} + g^{10}x^{65} + g^{208}x^{48} + g^{186}x^{40} + g^{92}x^{36} + g^{242}x^{34} + g^{237}x^{33} + g^{217}x^{24} + g^{99}x^{20} + g^{200}x^{18} + g^{179}x^{17} + g^{186}x^{12} + g^{200}x^{10} + g^{151}x^{9} + g^{210}x^{6} + g^{131}x^{5} + g^{26}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>993</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{74}x^{192} + g^{6}x^{160} + g^{34}x^{144} + g^{11}x^{136} + g^{14}x^{132} + g^{66}x^{130} + g^{59}x^{129} + g^{230}x^{96} + g^{170}x^{80} + g^{229}x^{72} + g^{8}x^{68} + g^{203}x^{66} + g^{115}x^{65} + g^{156}x^{48} + g^{132}x^{40} + g^{115}x^{36} + g^{206}x^{34} + g^{166}x^{33} + g^{38}x^{24} + g^{116}x^{20} + g^{25}x^{18} + g^{230}x^{17} + g^{57}x^{12} + g^{102}x^{10} + g^{140}x^{9} + g^{75}x^{6} + g^{106}x^{5} + g^{110}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>994</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{115}x^{192} + g^{39}x^{160} + g^{103}x^{144} + g^{112}x^{136} + g^{152}x^{132} + g^{48}x^{130} + g^{229}x^{129} + g^{196}x^{96} + g^{87}x^{80} + g^{224}x^{72} + g^{71}x^{68} + g^{144}x^{66} + g^{30}x^{65} + g^{84}x^{48} + g^{249}x^{40} + g^{28}x^{36} + g^{72}x^{34} + g^{52}x^{33} + g^{92}x^{24} + g^{153}x^{20} + g^{254}x^{18} + g^{171}x^{17} + g^{193}x^{12} + g^{19}x^{10} + g^{16}x^{9} + g^{92}x^{6} + g^{245}x^{5} + g^{6}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>995</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{143}x^{192} + g^{127}x^{160} + g^{74}x^{144} + g^{136}x^{136} + g^{140}x^{132} + g^{44}x^{130} + g^{55}x^{129} + g^{83}x^{96} + g^{211}x^{80} + g^{86}x^{72} + g^{130}x^{68} + g^{13}x^{66} + g^{153}x^{65} + g^{220}x^{48} + g^{191}x^{40} + g^{38}x^{36} + g^{189}x^{34} + g^{169}x^{33} + g^{33}x^{24} + g^{6}x^{20} + g^{8}x^{18} + g^{60}x^{17} + g^{188}x^{12} + g^{23}x^{10} + g^{63}x^{9} + g^{149}x^{6} + g^{126}x^{5} + g^{143}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>996</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{171}x^{192} + g^{36}x^{160} + g^{220}x^{144} + g^{149}x^{136} + g^{186}x^{132} + g^{147}x^{130} + g^{86}x^{129} + g^{30}x^{96} + g^{166}x^{80} + g^{117}x^{72} + g^{57}x^{68} + g^{62}x^{66} + g^{97}x^{65} + g^{75}x^{48} + g^{191}x^{40} + g^{35}x^{36} + g^{111}x^{34} + g^{135}x^{33} + g^{58}x^{24} + g^{106}x^{20} + g^{4}x^{18} + g^{47}x^{17} + g^{126}x^{12} + g^{23}x^{10} + g^{75}x^{9} + g^{160}x^{6} + g^{143}x^{5} + g^{3}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>997</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{234}x^{192} + g^{77}x^{160} + g^{32}x^{144} + g^{131}x^{136} + g^{16}x^{132} + g^{108}x^{130} + g^{243}x^{129} + g^{21}x^{96} + g^{49}x^{80} + g^{39}x^{72} + g^{11}x^{68} + g^{94}x^{66} + g^{65}x^{65} + g^{97}x^{48} + g^{67}x^{40} + g^{149}x^{36} + g^{119}x^{34} + g^{242}x^{33} + g^{145}x^{24} + g^{128}x^{20} + g^{175}x^{18} + g^{138}x^{17} + g^{46}x^{12} + g^{60}x^{10} + g^{140}x^{9} + g^{40}x^{6} + g^{127}x^{5} + g^{134}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>998</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{71}x^{192} + g^{34}x^{160} + g^{71}x^{144} + g^{24}x^{136} + g^{31}x^{132} + g^{107}x^{130} + g^{246}x^{129} + g^{141}x^{96} + g^{18}x^{80} + g^{108}x^{72} + g^{181}x^{68} + g^{187}x^{66} + g^{130}x^{65} + g^{250}x^{48} + g^{24}x^{40} + g^{248}x^{36} + g^{17}x^{34} + g^{8}x^{33} + g^{243}x^{24} + g^{156}x^{20} + gx^{18} + g^{172}x^{17} + g^{112}x^{12} + g^{216}x^{10} + g^{132}x^{9} + g^{38}x^{6} + g^{58}x^{5} + g^{79}x^{3}\)</span></p></td>
</tr>
<tr class="row-even"><td><p>999</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{9}x^{192} + g^{70}x^{160} + g^{56}x^{144} + g^{114}x^{136} + g^{10}x^{132} + g^{153}x^{130} + g^{86}x^{129} + g^{220}x^{96} + g^{79}x^{80} + g^{38}x^{72} + g^{253}x^{68} + g^{206}x^{66} + g^{222}x^{65} + g^{149}x^{48} + g^{177}x^{40} + g^{21}x^{36} + g^{25}x^{34} + g^{88}x^{33} + g^{57}x^{24} + g^{81}x^{20} + g^{141}x^{18} + g^{159}x^{17} + g^{245}x^{12} + g^{77}x^{10} + g^{193}x^{9} + g^{140}x^{6} + g^{147}x^{5} + g^{140}x^{3}\)</span></p></td>
</tr>
<tr class="row-odd"><td><p>1000</p></td>
<td><p><span class="math notranslate nohighlight">\(g^{92}x^{192} + g^{57}x^{160} + g^{30}x^{144} + g^{184}x^{136} + g^{97}x^{132} + g^{107}x^{130} + g^{136}x^{129} + g^{238}x^{96} + g^{150}x^{80} + g^{49}x^{72} + g^{53}x^{68} + g^{173}x^{66} + g^{240}x^{65} + g^{220}x^{48} + g^{100}x^{40} + g^{110}x^{36} + g^{209}x^{34} + g^{167}x^{33} + g^{150}x^{24} + g^{229}x^{20} + g^{58}x^{18} + g^{105}x^{17} + g^{235}x^{12} + g^{253}x^{10} + g^{55}x^{9} + g^{112}x^{6} + g^{198}x^{5} + g^{17}x^{3}\)</span></p></td>
</tr>
</tbody>
</table>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../_sources/content/_includes/known_instances_apn_gf2_8/501_1000/901_1000.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" />
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="../../../../index.html">Boolean Functions  documentation</a> &#187;</li> 
      </ul>
    </div>
  <div class="footer" role="contentinfo"><p>&copy; 2026, Tiago Siqueira.</p>
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 2.4.4.

    <p style="margin: 0.6em 0 0 0;">
      Work in progress: I am improving
      <a href="https://boolean.wiki.uib.no/Main_Page">https://boolean.wiki.uib.no</a>.
    </p>
  </div>
  </body>
</html>